@charset "utf-8";
/* CSS Document */
* {
    margin:0px;
    padding:0px
}
body {
    font-family:'微软雅黑',arial, verdana, sans-serif;
    color:#222222;
    font-size:14px;
    line-height:24px;
    margin:0 auto;
    background:url(../Images/bg.gif) repeat 0 0 #8e0000;
}
body, div, p.span, ul, li, h2, h3, h4 {
    margin:0px;
    padding:0px
}
em, h1, h2, h3 {
    font-style:normal
}
ul, li {
    list-style:none
}
img {
    border:none
}
a {
    text-decoration:none;
    color:#000
}
.clear {
    clear:both;
    height:0px;
    line-height:0px;
    font-size:0px
}
.news_header {
    width:100%;
    display:inline-block;
    height:44px;
    position:fixed;
    background:url(../Images/home_header_bg.png) repeat-x left top;
    -webkit-background-size:auto 44px;
            background-size:auto 44px;
    top:0px;
    -webkit-box-shadow: #ccc 0px 3px 3px;
    box-shadow: #ccc 0px 3px 3px;
    z-index:99988
}
.news_menu {
    padding:7px 5px 0px 5px;
    position:relative
}
.news_menu h1 {
    color:#fff;
    font-size:20px;
    text-align:center;
    line-height:30px;/*text-shadow:#277eb2 0 -1px 0*/
}
.lb {
    width:52px;
    height:30px;
    background:url(../Images/return-normal.png) no-repeat left center;
    text-align:center;
    color:#fff;
    float:left;
    line-height:29px;
    font-weight:bold;
    position:absolute
}
.zuojiao {
    display:block;
    width:42px;
    padding-left:8px;
    text-align:center
}
.ren_icon {
    display:block;
    background:url(../Images/r39x40.png) no-repeat center center;
    -webkit-background-size:20px 20px;
            background-size:20px 20px;
    width:48px;
    height:28px;
}
.lback {
    width:61px;
    height:29px;
    background:url(http://a.xmhouse.com/images/Loupan/lbt.png) no-repeat left bottom;
    text-align:center;
    color:#fff;
    line-height:29px;
    font-weight:bold;
    position:absolute;
}
.rb {
    width:48px;
    height:28px;
    background:url(../Images/r52x30.png) no-repeat left center;
    -webkit-background-size:48px 28px;
            background-size:48px 28px;
    text-align:center;
    color:#fff;
    line-height:29px;
    font-weight:bold;
    position:absolute;
    right:6px
}
.c_icon {
    display:block;
    height:29px;
    width:50px;
    background:url(http://a.xmhouse.com/images/Loupan/c52x44.png) no-repeat center center;
    -webkit-background-size:24px 19px;
            background-size:24px 19px
}
.body_bg {
    background:#ffd27d url(../Images/bodi_bg.png) repeat-x
}
.bobing_bg {
    background:#FFFFE1
}
.bb_main {
    width:100%;
    background:url(../Images/320x480.png) no-repeat center top;
    min-height:480px;
    position:relative
}
.mypos {
    position:absolute;
    width:100%;
    top:203px;
    height:40px;
}
.bbbl {
    display:block;
    margin:0px auto;
    width:180px;
    height:40px;
}
.p_1 {
    position:absolute;
    left:75px;
    top:160px;
    z-index:70
}
.p_2 {
    position:absolute;
    left:130px;
    top:150px;
    z-index:60
}
.p_3 {
    position:absolute;
    left:130px;
    top:185px;
    z-index:50
}
.p_4 {
    position:absolute;
    left:190px;
    top:162px;
    z-index:40
}
.p_5 {
    position:absolute;
    left:170px;
    top:120px;
    z-index:30
}
.p_6 {
    position:absolute;
    left:100px;
    top:120px;
    z-index:20
}
.logo {
    position:absolute;
    width:150px;
    height:47px;
    left:75px;
    top:40px;
    z-index:1
}
.startRoll{
    cursor:pointer;
}
.refer h4 {
    color: #CA0A01;
    font-size: 14px;
    padding-bottom: 2px;
}
/**************博饼列表************/
.touchcarousel ul li span {
    background: #fcf3a8 url("../Images/wanbg.jpg") no-repeat;
    display: block;
    height: 178px;
    width: 100%;
}
.touchcarousel ul li span img {
    height: 182px;
    width: 320px;
}
.name {
    border-bottom: 1px dashed #F28686;
    color: #777777;
    padding: 5px 10px 3px;
    position: relative;
}
.name h3 a {
    color: #3A3A3A;
    font-family: "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
}
.name font {
    color: #FF0000;
    font-size: 15px;
    font-weight: bold;
}
.name b {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D3D3D3;
    -webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
            border-radius: 0.3em 0.3em 0.3em 0.3em;
    color: #666666;
    line-height: 23px;
    padding: 0 5px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 20px;
}
.touchcarousel ul li p {
    color: #777777;
    height: 105px;
    line-height: 21px;
    overflow: hidden;
    padding: 6px 10px;
}
.touchcarousel ul li em {
    display: block;
    font-style: normal;
    padding: 0 0 0 12px;
}
a.bobing_bt {
    background: url("../Images/btn1.jpg") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 33px;
    text-align: center;
    text-decoration: none;
    width: 96px;
}
.b1 {
    margin-left: 10px;
}
.shang,.xia {
    background: -webkit-linear-gradient(top, #fa2b2a, #e40e0e);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fa2b2a), to(#e40e0e));
    background: -moz-linear-gradient(top, #fa2b2a, #e40e0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fa2b2a', EndColorStr='#e40e0e'); /* IE6–IE9 */
    padding:0px 10px;
    height:30px;
    line-height:30px;
    font-weight:bold;
    color:#fff;
    font-family:'微软雅黑';
    font-size:14px;
    text-align:center;
    cursor:pointer;
    display:inline-block;
    -webkit-border-radius:16px;
            border-radius:16px
}
.shang {
    margin-right:8px
}
.xia {
    margin-left:8px
}
.boyiba {
    background: -webkit-linear-gradient(top, #fa2b2a, #e40e0e);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fa2b2a), to(#e40e0e));
    background: -moz-linear-gradient(top, #fa2b2a, #e40e0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fa2b2a', EndColorStr='#e40e0e'); /* IE6–IE9 */
    padding:0px 24px;
    height:38px;
    line-height:38px;
    font-weight:bold;
    color:#fff;
    font-family:'微软雅黑';
    font-size:18px;
    text-align:center;
    cursor:pointer;
    display:inline-block;
    -webkit-border-radius:20px;
            border-radius:20px
}
.quitLogin {
    background: -webkit-linear-gradient(top, gray, gray);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(gray), to(gray));
    background: -moz-linear-gradient(top, gray, gray);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='gray', EndColorStr='gray'); /* IE6–IE9 */
    padding:0px 24px;
    height:38px;
    line-height:38px;
    font-weight:bold;
    color:#fff;
    font-family:'微软雅黑';
    font-size:18px;
    text-align:center;
    cursor:pointer;
    display:inline-block;
    -webkit-border-radius:20px;
            border-radius:20px
}
.note {
    /* background: none repeat scroll 0 0 #FFFFFF;
    border: 2px dotted #c00017; */
    color: #EA4706;
    font-size: 13px;
   /*  font-weight: bold; */
    line-height: 1.5em;
    margin: 10px 0 12px 0px;
    padding: 5px 0;
    text-align: left;
}


/*排行榜*/
.tab1_ft {
    margin:0 auto;
    background:url(../Images/ph1_03.jpg) no-repeat center bottom;
    padding-bottom:11px;
    width:320px;
    overflow:hidden
}
.business_box3_ct {
    width:320px;
    margin:0 auto;
    background:url(../Images/ph1_02.jpg) repeat-y center 0;
}
.business_box3_ft h4 {
    background:url(../Images/ph1.jpg) no-repeat center top;
    color: #ffd24d;
    font-family: "Microsoft Yahei";
    font-size: 18px;
    font-weight:bold;
    line-height: 59px;
    height:44px;
    text-align: center
}
.business_box8_hd {
    text-align:center;
    width:280px;
    margin:0 auto
}
.business_box8_hd ul li {
    height:28px;
    line-height:28px;
    border-bottom:1px dashed #dea214;
    width:280px;
    color:#9e4c08;
    overflow:hidden
}
.business_box8_hd ul li span {
    float:left;
    width:130px;
    text-align:left;
    overflow:hidden
}
.business_box8_hd ul li a {
    text-decoration:none;
}
.business_box8_hd ul li a:hover {
    text-decoration:underline;
}
.business_box8_hd ul li em {
    float:right;
    font-style:normal;
}
.business_box8_hd p {
    padding:2px 35px 0 0;
    text-align:right;
}
.business_box8_hd p a {
    font-family:Verdana, Geneva, sans-serif;
    color:#fe4c4c;
}
.nTab{
width: 320px;
margin: 0 auto;
background-position:left;
background-repeat:repeat-y;
text-align:center;
}
.nTab .TabTitle{
    margin:0 auto;
     width:288px;
clear: both;
height:26px;
overflow: hidden;
line-height:24px;
}
.nTab .TabTitle ul{
border:0;
margin:0;
padding:0;
}
.nTab .TabTitle li{
float: left;
width: 72px;
cursor: pointer;
height:20px;
list-style-type: none;
}
.nTab .TabTitle .active{background:#ffe7af;text-align:center;}
.nTab .TabTitle .normal{background:#dcdcdd;border-top:1px solid #d9ad00; text-align:center; font-size:14px;}
.nTab .TabContent{
width:auto;background:#fff;
margin: 0px auto;
}
.none {display:none;}
/*百度商桥*/
#BDBridgeIconWrap{display:none !important;}
#BDBridgeInviteWrap{display:none !important;}
#BDBridgeMess{display:none !important;}

/*底部菜单*/
.top_bar { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; }
.top_menu { display:-webkit-box; border-top: 1px solid #3D3D46; display: block; width: 100%; background: rgba(255, 255, 255, 0.7); height: 40px; display: -webkit-box; display: box; margin:0; padding:0; -webkit-box-orient: horizontal; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; }
.top_bar .top_menu>li { -webkit-box-flex:1; background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.15))); ; -webkit-background-size:1px 100%, 1px 100%; background-size:1px 100%, 1px 100%; background-position: 1px center, 2px center; background-repeat: no-repeat; position:relative; text-align:center; }
.top_menu li:first-child { background:none; }
.top_bar .top_menu li a { line-height:40px; display:block; text-align:center; color:#FFF; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.3); -webkit-box-flex:1; }
.top_bar .top_menu li a label { padding:3px 0 0 3px; font-size:12px; overflow:hidden; }
.top_bar .top_menu>li>a img { display: inline-block; height: 20px; width: 20px; margin-top:-2px; color: #fff; line-height: 40px; vertical-align:middle; }
.top_bar li:first-child a { display: block; }
.menu_font { text-align:left; position:absolute; right:10px; z-index:500; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); -webkit-border-radius: 5px; border-radius: 5px; width: 120px; margin-top: 10px; padding: 0; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }
.menu_font.hidden { display:none; }
.menu_font { top:inherit !important; bottom:55px; }
.menu_font li a { text-align: left !important; }
.top_menu li:last-of-type a { background: none; }
.menu_font:after { top: inherit!important; bottom: -6px; border-color: #464A53 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); border-width: 6px 6px 0; position: absolute; content: ""; display: inline-block; width: 0; height: 0; border-style: solid; left: 70%; }
.menu_font li { border-top: 1px solid rgba(255, 255, 255, 0.1); border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
.menu_font li:first-of-type { border-top: 0; }
.menu_font li:last-of-type { border-bottom: 0; }
.menu_font li a { height: 40px; line-height: 40px !important; position: relative; color: #fff; display: block; width: 100%; text-indent: 10px; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; }
.menu_font li a img { width: 20px; height:20px; display: inline-block; margin-top:-2px; color: #fff; line-height: 40px; vertical-align:middle; }
#menu_list0 { right:0; left:10px; }
#menu_list0:after { left: 20%; }
#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }
#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }
.top_bar .top_menu>li>a:hover, .top_bar .top_menu>li>a:active { background-color:#333; }
.menu_font li a:hover, .menu_font li a:active { background-color:#333; }
.menu_font li:first-of-type a { -webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0; }
.menu_font li:last-of-type a { -webkit-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px; }

/*积分兑换页面*/
.exchange-list ul li {
    padding: 10px 0 10px 15px;
}
.exchange-list ul li span {
    display: block;
    text-align: center;
}
.exchange-note {
    background-color: #f8c297;
    border: 1px solid #ff8e66;
    color: #c13220;
    margin: 0 25px;
    padding: 8px 14px 5px;
    text-align: left;
}

.exchange_btn_red, .exchange_btn_gray {
    color: #fff;
    display: inline-block;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    margin-top: 5px;
    padding: 0 12px;
}
.exchange_btn_red {
    background-color: #e54836;
    background-image: -moz-linear-gradient(center top , #fa2b2a, #e40e0e);
}
.exchange_btn_gray {
    background-color: #a09f9f;
    background-image: -moz-linear-gradient(center top , #acacac, #959393);
}


.exchange_btn_red:hover, .exchange_btn_gray:hover {
    text-decoration: none;
}

.mark-note {
    color: #f00;
    padding: 0 5px;
}


/*炫耀确认框*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.Prompt {
    border: 5px solid #999999;
    width: 300px;
}
.PromptTitle {
    background: none repeat scroll 0 0 #f3f3f3;
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    position: relative;
}
.PromptTitle i {
    background: url("../Images/closeMast.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 14px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 14px;
}
.Prompt dl {
    padding: 15px 0 15px 30px;
}
.Prompt dl dt {
    float: left;
    width: 48px;
}
.Prompt dl dd {
    float: left;
    padding-left: 12px;
}
.Prompt dl dd h2 {
    font-size: 14px;
    font-weight: bold;
}
.Prompt dl dd p {
    padding: 5px 0;
}
.Prompt dl dd p a {
    color: #005ea7;
}


.bowl{position:relative;z-index:0;width:90%;margin:0 auto;}
.bowl img{width:100%;max-width:100%;}
.dice{position:absolute;top:51%;left:30%;width:10%;height:10%;z-index:2;display:none;}
.dice1.active{animation:r1ac 1s linear;-moz-animation:r1ac 1s linear;-webkit-animation:r1ac 1s linear;}
@keyframes r1ac{
    0%{top:14%;left:20%;-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    10%{top:40%;left:20%;-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    25%{top:20%;left:40%;-webkit-transform:rotate(180deg);transform:rotate(180deg);}
    40%{top:26%;left:50%;-webkit-transform:rotate(360deg);transform:rotate(360deg);}
    60%{top:40%;left:55%;-webkit-transform:rotate(720deg);transform:rotate(720deg);}
    80%{top:57%;left:40%;-webkit-transform:rotate(1080deg);transform:rotate(1080deg);}
    100%{top:51%;left:30%;-webkit-transform:rotate(1440deg);transform:rotate(1440deg);}
}
@-webkit-keyframes r1ac{
    0%{top:14%;left:20%;-webkit-transform:rotate(0deg);}
    10%{top:40%;left:20%;-webkit-transform:rotate(0deg);}
    25%{top:20%;left:40%;-webkit-transform:rotate(180deg);}
    40%{top:26%;left:50%;-webkit-transform:rotate(360deg);}
    60%{top:40%;left:55%;-webkit-transform:rotate(720deg);}
    80%{top:57%;left:40%;-webkit-transform:rotate(1080deg);}
    100%{top:51%;left:30%;-webkit-transform:rotate(1440deg);}
}
.dice2.active{animation:r2ac 1s linear;-moz-animation:r2ac 1s linear;-webkit-animation:r2ac 1s linear;}
@keyframes r2ac{
    0%{top:14%;left:35%;-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    10%{top:40%;left:35%;-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    25%{top:45%;left:20%;-webkit-transform:rotate(180deg);transform:rotate(180deg);}
    40%{top:51%;left:40%;-webkit-transform:rotate(360deg);transform:rotate(360deg);}
    60%{top:45%;left:55%;-webkit-transform:rotate(720deg);transform:rotate(720deg);}
    80%{top:40%;left:40%;-webkit-transform:rotate(1080deg);transform:rotate(1080deg);}
    100%{top:45%;left:55%;-webkit-transform:rotate(1440deg);transform:rotate(1440deg);}
}
@-webkit-keyframes r2ac{
    0%{top:14%;left:35%;-webkit-transform:rotate(0deg);}
    10%{top:40%;left:35%;-webkit-transform:rotate(0deg);}
    25%{top:45%;left:20%;-webkit-transform:rotate(180deg);}
    40%{top:51%;left:40%;-webkit-transform:rotate(360deg);}
    60%{top:45%;left:55%;-webkit-transform:rotate(720deg);}
    80%{top:40%;left:40%;-webkit-transform:rotate(1080deg);}
    100%{top:45%;left:55%;-webkit-transform:rotate(1440deg);}
}
.dice3.active{animation:r3ac 1s linear;-moz-animation:r3ac 1s linear;-webkit-animation:r3ac 1s linear;}
@keyframes r3ac{
    0%{top:14%;left:50%;-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    10%{top:40%;left:50%;-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    25%{top:45%;left:20%;-webkit-transform:rotate(180deg);transform:rotate(180deg);}
    40%{top:28%;left:40%;-webkit-transform:rotate(360deg);transform:rotate(360deg);}
    60%{top:37%;left:55%;-webkit-transform:rotate(720deg);transform:rotate(720deg);}
    80%{top:45%;left:40%;-webkit-transform:rotate(1080deg);transform:rotate(1080deg);}
    100%{top:54%;left:45%;-webkit-transform:rotate(1440deg);transform:rotate(1440deg);}
}
@-webkit-keyframes r3ac{
    0%{top:14%;left:50%;-webkit-transform:rotate(0deg);}
    10%{top:40%;left:50%;-webkit-transform:rotate(0deg);}
    25%{top:45%;left:20%;-webkit-transform:rotate(180deg);}
    40%{top:28%;left:40%;-webkit-transform:rotate(360deg);}
    60%{top:37%;left:55%;-webkit-transform:rotate(720deg);}
    80%{top:45%;left:40%;-webkit-transform:rotate(1080deg);}
    100%{top:54%;left:45%;-webkit-transform:rotate(1440deg);}
}
.dice4.active{animation:r4ac 1s linear;-moz-animation:r4ac 1s linear;-webkit-animation:r4ac 1s linear;}
@keyframes r4ac{
    0%{top:28%;left:20%;-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    10%{top:52%;left:20%;-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    25%{top:34%;left:40%;-webkit-transform:rotate(180deg);transform:rotate(180deg);}
    40%{top:43%;left:50%;-webkit-transform:rotate(360deg);transform:rotate(360deg);}
    60%{top:54%;left:35%;-webkit-transform:rotate(720deg);transform:rotate(720deg);}
    80%{top:45%;left:20%;-webkit-transform:rotate(1080deg);transform:rotate(1080deg);}
    100%{top:41%;left:40%;-webkit-transform:rotate(1440deg);transform:rotate(1440deg);}
}
@-webkit-keyframes r4ac{
    0%{top:28%;left:20%;-webkit-transform:rotate(0deg);}
    10%{top:52%;left:20%;-webkit-transform:rotate(0deg);}
    25%{top:34%;left:40%;-webkit-transform:rotate(180deg);}
    40%{top:43%;left:50%;-webkit-transform:rotate(360deg);}
    60%{top:54%;left:35%;-webkit-transform:rotate(720deg);}
    80%{top:45%;left:20%;-webkit-transform:rotate(1080deg);}
    100%{top:41%;left:40%;-webkit-transform:rotate(1440deg);}
}
.dice5.active{animation:r5ac 1s linear;-moz-animation:r5ac 1s linear;-webkit-animation:r5ac 1s linear;}
@keyframes r5ac{
    0%{top:28%;left:35%;-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    10%{top:52%;left:35%;-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    25%{top:54%;left:50%;-webkit-transform:rotate(180deg);transform:rotate(180deg);}
    40%{top:34%;left:40%;-webkit-transform:rotate(360deg);transform:rotate(360deg);}
    60%{top:45%;left:35%;-webkit-transform:rotate(720deg);transform:rotate(720deg);}
    80%{top:55%;left:50%;-webkit-transform:rotate(1080deg);transform:rotate(1080deg);}
    100%{top:58%;left:60%;-webkit-transform:rotate(1440deg);transform:rotate(1440deg);}
}
@-webkit-keyframes r5ac{
    0%{top:28%;left:35%;-webkit-transform:rotate(0deg);}
    10%{top:52%;left:35%;-webkit-transform:rotate(0deg);}
    25%{top:54%;left:50%;-webkit-transform:rotate(180deg);}
    40%{top:34%;left:40%;-webkit-transform:rotate(360deg);}
    60%{top:45%;left:35%;-webkit-transform:rotate(720deg);}
    80%{top:55%;left:50%;-webkit-transform:rotate(1080deg);}
    100%{top:58%;left:60%;-webkit-transform:rotate(1440deg);}
}
.dice6.active{animation:r6ac 1s linear;-moz-animation:r6ac 1s linear;-webkit-animation:r6ac 1s linear;}
@keyframes r6ac{
    0%{top:28%;left:50%;-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    10%{top:52%;left:50%;-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    25%{top:40%;left:60%;-webkit-transform:rotate(180deg);transform:rotate(180deg);}
    40%{top:43%;left:30%;-webkit-transform:rotate(360deg);transform:rotate(360deg);}
    60%{top:57%;left:55%;-webkit-transform:rotate(720deg);transform:rotate(720deg);}
    80%{top:55%;left:30%;-webkit-transform:rotate(1080deg);transform:rotate(1080deg);}
    100%{top:62%;left:35%;-webkit-transform:rotate(1440deg);transform:rotate(1440deg);}
}
@-webkit-keyframes r6ac{
    0%{top:28%;left:50%;-webkit-transform:rotate(0deg);}
    10%{top:52%;left:50%;-webkit-transform:rotate(0deg);}
    25%{top:40%;left:60%;-webkit-transform:rotate(180deg);}
    40%{top:43%;left:30%;-webkit-transform:rotate(360deg);}
    60%{top:57%;left:55%;-webkit-transform:rotate(720deg);}
    80%{top:55%;left:30%;-webkit-transform:rotate(1080deg);}
    100%{top:62%;left:35%;-webkit-transform:rotate(1440deg);}
}