@charset "utf-8";
@import "../mySassWare/_variable";
@import "../mySassWare/_mixin";
@import "../mySassWare/_function";

.prize-box{
    text-align: center;
    .pl-top{
        padding:0.5rem 0;
        @include border($position:bottom);
        font-size: 0.9rem;
        font-weight: bold;
        color:$mainColor; 
    }
}
.prize-list{
    .rows{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
}