.index_reg{background-color: rgb(244,244,244)\0}

#div_wind_id > .box_row{
    margin-top: 20px\0;
}
#div_wind_id > .box_row:first-child{margin-top: 0\0;}

.container > div.content1 .content1_body {
    border-right: 1px dashed #e1e1e1;
    float: left;
    height: 384px;
    /*padding-right: 60px;*/
    width: 50%;
}
.content1_body h1 {
    color: #aba9a9;
    font-size: 16px;
    font-weight: 500;
    height: 60px;
}
.softWare .head01{background: none;}

.input_account input#tel_input{
    width: 120px;
    display: inline-block;
}

.input_account input#pass_input{
    width: 120px;
    display: inline-block;
}
.bookKeeping .contact{
    background:rgb(20,20,20);
}
