.index_reg{background-color: rgb(244,244,244)\0}

#div_wind_id > .box_row{
    margin-top: 20px\0;
}
#div_wind_id > .box_row:first-child{margin-top: 0\0;}

.container > div.content1 .content1_body {
    border-right: 1px dashed #e1e1e1;
    float: left;
    height: 384px;
    /*padding-right: 60px;*/
    width: 50%;
}
.content1_body h1 {
    color: #aba9a9;
    font-size: 16px;
    font-weight: 500;
    height: 60px;
}
.softWare .head01{background: none;}

.input_account input#tel_input{
    width: 120px;
    display: inline-block;
}

.input_account input#pass_input{
    width: 120px;
    display: inline-block;
}
.bookKeeping .contact{
    background:rgb(20,20,20);
}

@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
    .new_pic_title{
        background-color:#fff;
        filter:Alpha(opacity=50);
        position:static; 
        *zoom:1; 
      }
    .product_r .product_details {
        height: 62px;
        line-height: 20px;
    }
    .container .contact, .container01 .contact {
        background-color: rgb(104,104,104);
    }
    /*.glide--horizontal .glide__arrow.prev,
    .glide--horizontal .glide__arrow.next {
        
        top: -45px;
    }*/
}