@charset "UTF-8";
/*字体图标*/
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1467102503_588627.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1467102503_588627.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1467102503_588627.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1467102503_588627.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1467102503_588627.svg#iconfont') format('svg'); /* iOS 4.1- */
}
*{box-sizing: border-box;}
.g-header .logo{height: 102px;}
.g-topbar .arrow_down img{
	margin-left: 4px;
    margin-bottom: 3px;
}
.ad{margin-top: 14px;}
/*dropdown*/
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-left: 10px;
}
.dropdown-backdrop{top: 0;left: 0;bottom: 0;right: 0;position: absolute;}
.dropDownMenu{
	background-color: #fff;
	float: left;
	position: relative;
	width: 76px;
	height: 45px;
	border: 2px solid #f48000;
	border-right: none;
	text-align: center;
}
.dropDownMenu .dropDownbutton{display: block;width: 100%;height: 100%;}
.dropDownMenu ul{
    float: left;
	display: block;
	position: absolute;
	top:100%;
	width: 77px;
	list-style: none;
	z-index: 9999;
	background-color: #fff;
	border: 2px solid #f48000;
	margin-left: -2px;
	display: none;
}
.dropDownMenu ul li{text-align: center;}
/*search*/
.search{width: 821px;height: 83px;float: right;}                                     
.search input{
  position: relative;
  
  float: left;
  width: 525px;
  margin-bottom: 0;
  height: 45px;
  line-height: 39px;
  display: table-cell;
  border: 2px solid #f48000;
  border-left: none;
}

.search .input_group,.search a.need{
	margin-top: 16px;margin-bottom: 8px;float: left;
	height: 45px;
	line-height: 39px;
}
.search input[type="submit"]{padding-left: 0;color: #fff;font-size: 16px}
.search a.need{
	width: 121px;margin-left: 16px;background-color: #00aa3c;
	color: #fff;
}
.search input:active,.input_group input:focus{box-shadow: inset 0 1px 1px 2px rgba(0,0,0,.075), 0 0 8px 2px rgba(102, 175, 233, .6);outline: 0}
.search .addon{
    background: #f48000 ;
    font-size: 1rem;
    font-weight: 400;
    margin-left: -2px;
    color: #55595c;
    text-align: center;
    
    border: 1px solid #ccc;
    white-space: nowrap;
    vertical-align: middle;
    
    width: 84px;
   
    line-height: 1.3333333;
    
}
.search .addon img{
	margin-bottom: -3px;
}
.search>span{font-size:12px;color:#827E7E;margin-right: 5px;}                 
                   
/* 公告 */



.all_data{ margin:20px 0 20px 10px; }
.all_data li{ line-height:35px;}
.all_data li .data_lable{ font-size:16px; text-align:left; }
.all_data li .data_number{ font-size:20px; float:right; color:#ff761a; font-weight:bold}
.all_data li .font{ font-size:12px; float:right; margin-left:5px;}


/* 公告*/
.index_reg{
	position:absolute; bottom:0px; 
	right:21.8%;
	top:53px; 
	padding:13px 18px 20px 27px; width:303px; 
	background-color: rgba(244,244,244,.9); z-index:9999;
	width:326px;
	height: 248px;
}
.index_reg .news_title{border-bottom: none;}	
.index_reg h1{ 
	font-size:22px; color:#fff; border-bottom: 1px solid #E2E0E0;
	margin-bottom: 14px
}
.index_reg h1 .more{
	margin: 16px 15px 0 0;
	float:right; 
	
	background-size: 100% 100%;
	font-size:12px; color:#333;
	width:58px;
	height: 20px;
	display: block;
	
	text-align: center;
}
.index_reg .index_reg_row {font-size: 13px;height: 27px;line-height: 27px}
.index_reg .index_reg_row span{color: #f48000;margin-right: 5px;}




.box_row:before,.box_row:after{content:" ";display:table;}
.box_row:after{clear:both;}
.box_row{width: 100%!important}

.container .floatWindow{
	min-height: 1px;width:100%;
	position: relative;
}
.container .floatWindow>div{position: absolute;z-index: 999;}
.container .floatWindow>div.window_l{left:92px;top: 141px;}
.container .floatWindow>div.window_r{right:92px;top: 141px;}
.close{width:20px;height: 20px;position: absolute;top:10px;right: 10px;}

.container .floatWindow .quickBar{
	background-color: #333;height: 333px;width: 63px;
	position: fixed;
	right: 0;
	top: 30%;
}
.quickBar ul{display: block;height:100%;list-style: none;}
.quickBar ul li{height: 16.6%;width:100%;}
.quickBar ul li a{display: block;width:100%;height:100%;border: 1px solid #444}
.quickBar ul li a img{
	margin-left: 14px;
    margin-top: 10px;
}
/* jobs */
.container .jobs{
	height: 680px;
	margin-top: 40px;
	margin-bottom: 50px;
}
.jobs .news_row{
	height: 127px;
	padding: 25px 0;
	border-bottom: 1px dashed #d9d9d9;		
}
.jobs .news_row:last-child{border-bottom: none;}
.jobs>div{
	height: 100%;position: relative;float:left; background:#fff; 
	width: 50%;
}
.jobs .news_l{
	padding-right: 21px;
}
.jobs .news_r {
	padding-left: 21px;
}
.jobs_r{width:228px;background:#fff;}
.jobs_l h1+div,
.jobs_r h1+div{
	height: 302px;
}
.news_right{
	width:498px;padding-left: 21px;
	margin-top: -10px;
}
.policy_header span:last-child a{color:#ff8702;float: right;margin-right: -10px;}
.jobs .policy_body img{margin-left: 5px;vertical-align: middle;margin-top: -5px;}
.jobs .policy_body .pay{color: #ff8702;margin-left: 12px;}
.policy_body span{
	display: inline-block;
	text-align: right;
}
/*product*/
.product .product_r.show{display: block;}
.product .product_r.hide{display: none;}
.product_r .pic_main.avoidTop{padding-top: 0;}
.product_r .pic_main.avoidBottom{padding-bottom: 0;}
.product{
	height: 677px;	
}

.product h1{margin-bottom: 25px;}
.product h1 .news_title.on{border-bottom-color: #f48000;color:#f48000; }
.product h1 .news_title.off{border:none; }
.product h1 .news_title.service{margin-left: 39px}
.product>div{
	height:595px;position: relative;float:left; background:#fff; 	
}
.product .product_l{width: 241px;}
.product .product_r{width: 959px;}
.product_l>div{width: 149px;height: 45px;left:46px;bottom: 85px;position: absolute;}

.product_r div.pic_main{
	width: 25%;
	height:50%;
	float: left;
	padding:0 5px 5px 0;
}
.product_r div.pic_main .new_pic{
	
	padding-top: 0;
	border:1px solid #E2E0E0;
	height: 100%;
}
.product_r .pic_wrapper{height: 220px;width: 100%;position: relative;}
.product_r .product_details{height: 58px;background-color: #f0f0f0;padding:10px;}
.product_r .pic_wrapper .new_pic_title{color:#f48000;font-size: 18px;}
.product_r .pic_wrapper .new_pic_title span{float: right;color: #fff;font-size: 13px;}
.product_r>div img{height:100%;width: 100%}

/*train*/
.train{height: 830px;}
.train .news_title{margin-right: 40px}
.train .news_title_s{font-size: 18px;font-weight: 500;}
.train>div {
    
    position: relative;
    float: left;
    background: #fff;
}
.train .product_r{
	width: 100%;
	margin: 25px 0;
	height: 770px;
}
.train .product_r .new_pic{
	background-color: #f4f4f4;position: relative;
}
.train .product_r .new_pic .bg{
	position: absolute;top: 0;right: 0;bottom: 0;left: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 99;
	display: none;
}
.train .product_r .new_pic:hover .bg{display: block;}
.train .product_r .new_pic .bg .plus{
	width: 64px;
	height: 64px;
	top: 155px;
    left: 114px;
	position: absolute;
	background:#fff url(../img/bg_plus.png);	
}

.train .product_r .pic_wrapper{height: 244px;width: 100%;position: relative;}
.train .train_details{padding:10px;line-height: 24px;}
.train .train_details p{
	text-align: center;color: #000;font-size: 20px;
	height: 55px;
	line-height: 55px;
}

/*news*/

.container .news{height: 437px;margin-top: 11px;}
.news .news_left{
	width: 135px;
	height: 87px;
}
.news .news_right{
	width:443px;
}
.news .news_ad{height: 108px;width: 578px;}
.news_l h1,.news_r h1,.product h1,.friend_link h1,.train h1{ 
	width: 100%;
	height: 57px;
	border-bottom:1px solid #E2E0E0;
	font-size: 23px;
	
}
.news_title{
	display: inline-block;
	padding:6px;
	font-weight: 500;
	width: 105px;
	height: 100%;
	color: #3d3d3d;
	border-radius: 5px 5px 0 0;
	border-bottom: 2px solid #3d3d3d;
}
.policy .news_list{
	margin-top:23px;margin-left: 12px;
}
.policy{
	position: relative;
}
.news_list li{
	padding-left: 20px;
	height: 39px;
	margin-left: -12px;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	background:url(../../img/point_single.png)repeat-y; background-position: 0 9px;
}
.news_list li span{color: #ff6700;}
.news_ad{position: absolute;bottom: 0}
/*友情链接*/
.friend_link{

	padding: 34px 0;
	height: 163px;
}
.friend_link h1{margin-bottom: 30px;}
.friend_link div span{font-size: 15px;margin-right: 20px;}
.jobs_l h1 .more,.jobs h1 .more,.product h1 .more,.train h1 .more,.friend_link h1 .more{ 
	margin: 13px 15px 0 0;
	float:right; 
	
	background-size: 100% 100%;
	font-size:12px; color:#333;
	width:58px;
	height: 20px;
	display: block;
	
	text-align: center;
}

/*contact*/
.container .post_demands{
	 height: 163px;
	 width: 100%;
	 cursor: pointer;
	 position: relative;
	 margin-top: -163px;

}
.container .post_demands img{margin-top: -108px;}

.container .contact{
	 display: none;
	 height: 163px;
	 background-color: rgba(104,104,104,.9);
	 position: relative;
	 margin-top: -163px;
}
.container .contact>div{position: absolute;height: 163px;}
.contact .contact_l{width: 768px;margin-top: 0;}
.contact .contact_r{
	width: 432px;background-color:rgba(72,72,72,.5);margin-left: 768px;
	padding:33px 13px 33px 23px;	
}
.contact .contact_r>form .input_box,.contact .contact_r>form .contact_button{
	float: left;height: 96px;
	margin-left: 5px;	
}
.contact_r .input_box{width:314px;}
.contact_button{width:72px;}
.contact .input_group{margin-bottom: 10px;}
.input_account .addon.icon_account{
    background:#fff url(../img/icon_need.png) no-repeat scroll 9px 14px;
}
.input_account .addon.icon_tel{
	background: #fff url("../img/icon_tel.png") no-repeat scroll 14px 12px;
}
.input_account .addon.icon_pass{
    background: #fff url("../img/icon_name.png") no-repeat scroll 12px 12px;

}
/*map*/
.container .map{
	background-color: #3a3a3a;
	height: 235px;
	position: relative;

}
.map>div{height: 100%;position: absolute;color:#e4e4e4;padding: 34px 0 ;}
.map .map_l{width:507px; }
.map .map_l>div{
	width: 33%;text-align: center;float: left;
	border-right: 1px solid #686868;	
	height: 160px;
}
.map .map_l>div:first-child{border-left: 1px solid #686868;	}
.map .map_l>div h1{margin-bottom: 15px;}
.map .map_l>div span{margin:0 auto;display: block;height: 32px;line-height:32px;font-size: 15px;}
.map .map_r{width: 695px;margin-left: 537px;}
.map .map_r>div{float: left;margin-right: 20px;}
.map .map_r .counseling{
	width: 287px;
	height: 116px;

}
.counseling p{margin-bottom: 15px}
.counseling .title{font-size: 19px}
.counseling .hotline{font-size: 45px;font-weight: 700;line-height: 45px;height: 45px;}
.counseling .time{font-size: 16px;}
/*footer*/
.footer{height: 125px;background-color: #222;padding-top: 21px;}

.footer_l{width:179px;height: 46px;margin-top: 35px}
.footer_l img{width:100%;height: 100%;}
.footer_r{width: 826px;height:98px;text-align: right;}
.fooer_qr,.footer_address{float: right;}
.fooer_qr{margin-left:16px;margin-top: 14px;width: 89px;height: 91px;border:3px solid #4d4d4d;}
.fooer_qr img{width: 100%;height: 100%;}
.footer_address{margin-top: 30px;color: #8F8C8C;line-height: 20px;}

.org{text-align: center;}
.org img{margin-right: 10px;}
.copyRight{text-align: center;color: #7e7e7e;margin-top: 16px}
.more a{
	line-height: 20px;height: 20px;display: block;font-size: 12px;
	color:#C2C1C1;

}	
	


/*新闻_l缩略图*/
ul.new_thumb{
	display: block;width:100%;}
ul.new_thumb li{
	float: left;display: block;margin:0;width:25%; 
	padding: 8px 5px 5px 5px;	
}
ul.new_thumb li:first-child{padding-left: 0}
ul.new_thumb li:last-child{padding-right: 0}
ul.new_thumb li a{
	height: 65px; display:inline-block; vertical-align:middle; border:none; border-bottom:1px #eee dashed;
}
ul.new_thumb li a.active{border:3px solid #940e15;position: relative;}
ul.new_thumb li a.active:after{
	position: absolute;
	top:-14px;
	left: 44%;
	content: " ";
	width: 0;
	height: 0;
	border: 6px solid transparent;
    border-bottom-color:#940e15;
}

.new_pic .new_pic_lg{width:100%;height:267px;position: relative;}
.new_pic .new_pic_lg img{width:100%;height: 100%;}
.new_pic_title{
	display: block;
	position: absolute;bottom: 0;width: 100%;height: 37px;
	background-color: rgba(0,0,0,0.5);/* IE9、标准浏览器、IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂 */
	padding: 8px;
	z-index: 0;
	color:#fff;
}
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
 .new_pic_title{
    background-color:#000000;
    filter:Alpha(opacity=50);
    position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
  }
}

/*新闻_m新闻列表*/
.news_head{
	position: relative;
	width: 100%;
	height: 107px;
	border-bottom: 1px  dotted #A9A3A3;
	overflow: hidden;display: block;text-overflow: ellipsis;
	text-indent:20px;
	padding:10px;
	text-align: justify;
	line-height: 23px;

}
.details_button{
	display: inline-block;
	position: absolute;bottom: 4px;right: 0;color: #940e15;
	background-color: #fff;
	
	width: 149px;
	text-align: left;
}


/*news_r新闻*/
.boardWrapper{
	padding: 20px 18px;
	border: 1px  solid #dfdcdc;
}
.board{
	width: 100%;
	height: 304px;
	list-style: none;
}	
.board li{
	padding:0px 0px 0px 10px;
	font-size: 18px;
	color:#9b5225;
	margin-bottom: 15px;	
	height: 38px;
	line-height: 38px;
	background:url(../../img/public_bg.png)no-repeat;
	border-radius: 5px;

}
.board li span{
	float: left;
	
	width: 27px;
	height: 27px;
	margin-top: 5px;
	margin-right: 18px;
	display: table-cell;
	
	text-align: center ;
	vertical-align: top;

}

.board li span i{color:#9b5225;width:15px;height: 15px;}

.slogan{width:100%;height: 150px;margin:16px 0;position: relative;}
.slogan>div{width:283px;height:28px;position: absolute;right: 40.6%;bottom: 16px;}

/*公益视频，公益传递，公益法规等*/
.new_pic .news_flash{width:100%;}
.new_pic .news_flash img,.new_pic .news_flash video{width:100%;height: 100%;}



/*精选图片*/
.full_container{width:100%;}
.selected_pic{height: 204px;margin-top: 29px;}
.selected_pic div.selected_pic_wrapper{
	width:1024px;
	height: 159px;
	overflow: hidden;
	white-space: nowrap;
}
.selected_pic_wrapper ul,.selected_pic_wrapper li{display:inline;}
.selected_pic .pic_box{
	height: 100%;
	float: left;
	position: relative;
	
	overflow: hidden;
	text-align: center;
	padding:17px 4px 0 4px;
}
.selected_pic_wrapper{padding-top: 17px;}
.selected_pic li:first-child{padding-left: 0}
.selected_pic li:last-child{padding-right: 0}
.selected_pic li{width:169px;height: 108px;position: relative;text-align: center;}
.selected_pic_wrapper li span{position:absolute;bottom:-25px;left:0px;width:166px;overflow: hidden;
	white-space: nowrap;text-overflow: ellipsis;padding-left: 10px}
.selected_pic img{width:169px;height: 108px;}

.selected_pic_wrapper{white-space: nowrap; }
#scroll_begin,#scroll_begin ul,#scroll_begin ul li,#scroll_end,#scroll_end ul,#scroll_end ul li{display: inline;}

/*友情链接*/
.link{margin-top: 23px;}
.link .link_box{
	height: 130px;padding: 26px 19px;border:1px solid rgb(224,224,224);
	overflow: hidden;
}
.link_box .arrow_left,.link_box .arrow_right{margin-top: 8px;}
.link_content{padding: 0 24px;width:100%;height: 100%;white-space: nowrap;}
.link_content ul{overflow: visible;}
.link_content li{display: inline;padding:7px;}
.link_content li img{width:217px;height: 74px;}



.ind_icobox{float:left; background:#fff; width:240px;height:315px; border-left:1px #eee solid; padding:7px; position:relative;}
.ind_newboxc{ background:#fff; height:315px;margin: 0 290px 0 241px !important;padding:7px;}
.ind_quesboxr{ float:right; width:280px;height:315px; background:#fff;padding:7px;}


.news_l a img{ width:100%; height:100%;}
.indico_arrow{ position:absolute; bottom:0px; left:0px; width:100%; height:40px; text-align:center;}
.indico_arrow img{ cursor:pointer;}


/* link */
.indlink { height:150px; padding:10px;}
.indlink h1{height:35px; line-height:35px; border-bottom:1px #558de9 solid; text-align:left; padding-left:20px; font-size:16px; font-weight:normal; }
.indlink a{display:inline-block; vertical-align:middle; width:180px; height:50px;  border:none; margin:5px;margin-top: 20px; }
.indlink a img{ width:100%; height:100%;}


/*******************************************************************************
						************about.html************
***************************************************************************/
.about_banner{height:330px;min-width:1000px;position: relative; clear:both;background-color: #f1f1f1;}
.about_content{margin-top: 21px;}
.about_content>div{float: left;position: relative;}
.about_content_l{width:229px;}
.about_content_r{width:794px;}
.about_content_l>div{padding-left: 15px;color:#fff;font-weight: 500;margin-bottom: 3px;}
.about_content_l .div01{
    height:57px;background-color: #b9000e;font-size: 21px;line-height: 57px;
    
}
.about_content_l .div02{
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    background:url(../img/yellow_button.PNG);
}
.about_content_l .div03{
   
    line-height: 35px;
    font-size: 15px;
    color:#000;
    border: 1px solid #E0DDDD;
    padding-left: 0;
}
.about_content_l .div04{
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    color:#000;
    border-bottom: 1px dashed #D1CDCD;
    padding-left: 15px;
}
.about_content_r .div_title{
    height: 44px;
    line-height: 44px;
    color:#B9000d;
    font-size: 21px;
    font-weight: 500;
    padding:0 39px;
    border-bottom: 1px solid #D1CDCD;
}
.div_title .location{
    font-size: 12px;
    color: #565555;
    float: right;
}
.about_content_r .div_content{
   padding: 19px 45px 0;   
}
.about_content_r .div_content h4{text-align: center;font-size: 26px;margin-bottom: 30px;}
.about_content_r .div_content p{text-indent: 33px; font-size:15px;line-height: 35px;}

.div_content .organization{
  background:url(../img/organization.png);
  width:579px;
  height: 327px;
  margin: 53px auto;
  

}

/*******************************************************************************
						************details.html************
***************************************************************************/

.reader_article{
	width: 444px;
	height: 18px;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	margin: 0 auto;
	font-size: 10px;
	color:#9E9E9E;
	margin-bottom: 36px;
}
.details_title{
	text-align: center;
	font-size: 20px;
	color:#000;
	font-weight: 700;
	margin-bottom: 22px;
}
.notification{font-weight: bold;font-size: 16px;margin-bottom: 5px;line-height: 28px}
.editor{border-bottom: 1px solid #eaeaea;padding-bottom: 35px;}
.editor p{color: #999999;margin-top: 17px;text-align: right;}

.share{height: 140px;border-bottom: 1px solid #eaeaea;font-size: 16px}
.share>p{margin-top: 15px;}
.share .line_01{padding-top: 8px;}
.share .line_02 span{color:#ffaf6a;font-size: 15px}
.share span{margin-left: 5px;}
.share img{vertical-align: middle;}

/*******************************************************************************
						************keywords.html************
***************************************************************************/
.keyWords_content{width: 100%;padding: 8px 33px 0px;}
.keyWords_content>div{margin-top: 18px;}
.keyWords_title{
	height: 44px;
    line-height: 44px;
    color:#B9000d;
    font-size: 23px;
    font-weight: 700;
    
}
.keyWords_title .location{
	font-size: 12px;
    color: #565555;
    float: right;
    font-weight: normal;
}
.result_title{font-size: 16px;font-weight: 700;color: #000;}
span.keyWord,span.resultNum{ color:#B9000d;}
.result_list ul{list-style-type: square;margin-left: 15px;}
.result_list ul li{text-align: left;margin-top: 25px;}
.result_list ul li span:first-child{margin-left: -14px;font-size: 14px;font-weight: 600;}
.result_list ul li span:last-child{float: right;color: #B0ADAD}


/*******************************************************************************
						************policy.html************
***************************************************************************/
#policy_content{
	padding-right: 0px;
	color: #2a2829;
}
.div_content .news_row{

	border-bottom: 1px solid #eaeaea;
	padding: 30px 0;
}

.news_fullwidth{width: 100%;}
/*.news_fullwidth .policy_header{font-size: 20px;}
.news_fullwidth .policy_header span{float: right;font-size: 15px;font-weight: normal;}*/


.jobs .news_row>div{
	float: left;
	position: relative;	
	
}
.news_left{
	width:80px;
	height: 80px;
	
}
.news_left img{width: 100%;height: 100%;}


.policy_header{font-size: 17px;font-weight: 600;height: 44px;line-height: 44px;}
.policy_header span{font-size: 16px;}


.policy_body{line-height: 25px;font-weight: 500;}


/***********************************************************************************
*********************************taxTool财税工具************************************
***********************************************************************************/
.container .sloganWrapper{
	border-top: 4px solid #F48000;
	width:100%;
}
.ad11{
	width:1200px;
	margin:0 auto;
    height: 100px;
    position: relative;
    
}
.ad11 .adButton{
	background:url(../img/button02.png) no-repeat;
	width:138px;
	height: 41px;
	position: absolute;
	top: 31px;
    right: 43px;
	
}
.taxTool{
	height: 1234px;	
	padding-top: 15px;
}
.taxToolWrapper{
	margin:0 -30px;
	float: left;
}
.taxTool h1 .taxTool_title.on {
    color: #f48000;
}
.taxTool_title {
    display: inline-block;
    padding: 12px 22px 0;
    font-weight: 500;
    width: 205px;
    height: 100%;
    color: #3d3d3d;
    border-radius: 5px 5px 0 0;
    
}
.taxTool h1{
	  
    width: 100%;
    height: 57px;
    border-bottom: 1px solid #f48000;
    font-size: 23px;
    }
.taxTool h1 .more{
	margin: 19px 28px 0 0;
    float: right;
    background-size: 100% 100%;
    font-size: 12px;
    color: #333;
    width: 337px;
    text-align: right;
    height: 20px;
    display: block;
    text-align: right;
}
.taxTool h1 .more a{
	padding-left: 6px;
    line-height: 20px;
    height: 20px;
    display: inline;
    font-size: 15px;
    color: #C2C1C1;
}

.taxTool_link{
	padding: 30px 29px 0;
	width: 419px;
	height: 342px;
	position: relative;
	float: left;
	
}
.taxTool_link img{width:100%;}
.taxTool_link .icon_brand_wrapper{

	position: absolute;
	bottom: 70px;
	width:367px;	
}
.taxTool_link .icon_brand{
	text-align: center;
	line-height: 52px;
	font-size: 23px;
	color: #004e93;
	font-weight: 700;
	margin:0 auto;
	display: block;
	width: 216px;
	height: 52px;
	background:url(../img/title_bg.png) no-repeat;	
}
.tool_title{
	text-align: center;
	line-height: 52px;
	font-size: 21px;
	
	font-weight: 700;
	margin:0 auto;
	display: block;
	width: 216px;
	height: 52px;
}

/***********************************************************************************
*********************************demandRelease财税工具******************************
***********************************************************************************/

.resume{
	border:1px solid #e9e9e9;
	padding: 41px;
	margin-top:22px;
}

/***********************************************************************************
*********************************news新闻资讯******************************
***********************************************************************************/
.row:before,.row:after{content:" ";display:table;}
.row:after{clear:both;}
}

.taxNews{
	/*height: 1525px;*/
    padding-top: 15px;
}
.taxNews>div{
	float: left;
}
.taxNews .news_row>div{
	float: left;
    position: relative;	
}
.taxNews .newsLeft{
	width:935px;
	padding: 0 26px;
}
.taxNews .news_row{
	height: 193px;
	padding:31px 0;
	border-bottom: 1px dashed #d1d1d1;
}
.taxNews .newsLeft .img_left{
	width: 224px;
	height: 134px;
}
.taxNews .newsLeft .text_right {
    width: 658px;
    padding-left: 21px;
    margin-top: -10px;
}
.taxNews .newsLeft .text_right .policy_header {
    font-size: 17px;
    font-weight: 600;
    height: 50px;
    /* line-height: 58px; */
    padding-top: 8px;
}
.taxNews .newsLeft .text_right .policy_body {
    line-height: 27px;
    font-weight: 500;
    font-size: 15px;
    height: 61px;
    color: #6E6D6D;
}
.taxNews .newsLeft .text_right .policy_footer{
	color: #999999;
	font-size: 15px;
}

.taxNews .adRight{
	width: 259px;
	margin-top: 31px;
	border-left: 1px solid #dddddd;
	/*height: 1313px;*/
}
.taxNews .adRight>div{
	padding-left: 23px
}
.taxNews .adRightImg{
	padding-top: 23px
}
.taxNews .adRight .adRight_title{
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	border-bottom: 1px solid #dddddd;
}
.taxNews .adRight .adRight_title.on{
	color: #f7731a
}
.adRightButton{
	width: 118px;
	height: 33px;
	margin:-50px auto 0;

}


ul.pagination{
	color: #9a9a9a;
	list-style: none;margin: 60px auto 75px;height: 28px;
	text-align: center;
	display: block;
	position: relative;
}
ul.pagination li{
	display:inline-block;
	margin-left:10px;
	background-color: #fdfdfd;
	border:1px solid #C9C8C8;
	padding-top: 11px;
	width:40px;
	height: 40px;	
	font-size: 17px;
	font-weight: 700;
	border-radius: 3px;
}
ul.pagination .ellipsis{
	color: #000;
	font-size: 20px;
	margin:0;
	border:0;
	width: 26px
}
ul.pagination .ellipsis+li{margin-left: 0}
ul.pagination .jumpTo {
   	color: #989191;
    font-size: 15px;
    margin: 0;
    border: 0;
    width: 88px;
    font-weight: normal;
    text-align: right;
}
ul.pagination .pageInput{
	border: 0;padding-top: 0;
	margin-top: -5px;
	position: relative;
}
ul.pagination .pageInput input{
	width: 49px;
    height: 38px;
    border: 1px solid #C9C8C8;
    position: absolute;
    top: 14px;
    left: -3px;
    text-align: center;

}
.inset {
    -moz-box-shadow: inset 0 2px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 2px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 2px 8px rgba(0,0,0,.4);
}
ul.pagination li.active{background-color: #ffba00;color: #fff;}



/***********************************************************************************
*********************************news新闻资讯******************************
***********************************************************************************/
.taxNewsDetails{
	height: auto;
    padding-top: 15px;
}
.newsContent{width: 100%;padding:0 33px;}
.newsDetails_title{
	text-align: center;
    color: #f48000;
    font-size: 24px;
    height: 90px;
    line-height: 100px;
}
.newsDetails_info{
	text-align: center;color: #D1CFCF;
	border-bottom: 1px solid #E7E5E5;
	height: 40px;
	line-height: 40px;
	

}
.abstract{
	color: #ADAAAA;
	background-color: #efefef;
	margin-top: 17px;
	padding:29px 39px;
	font-size: 15px;
}
.newsDetails_summary{
	font-size: 15px;
    text-indent: 32px;
    line-height: 30px;
    padding-top: 20px;
    color: #222222;
}
.newsDetails_rules{
	
    line-height: 24px;
    font-size: 15px;
    padding: 20px 0 30px;
    color: #222222;
    border-bottom: 1px solid #DEDCDC
}
.newsDetails_rules p{text-indent: 31px;}


.shareBox {
	padding-top: 7px;
}
.shareText{
	float:left;
	font-size: 16px;
	margin-top: 6px;

}

.otherChapter{
	border: 1px dashed #D0CDCD;
    margin-top: 27px;
    padding: 11px 27px;
    font-size: 16px;
    line-height: 27px;
}
.otherChapter span{
	color:#f48000;
}

.relatedReading{
	padding-top: 30px;
}
.relatedReading header{
	position: relative;	
}
.relatedReading header img{
	vertical-align: top;
	
}
.relatedReading header span{
	position: absolute;
    font-size: 17px;
    bottom: -1px;
    left: 15px;
}
.relatedReading section{
	padding-top: 20px;
	
}
.relatedPic{
	text-align: center;
	position: relative;
	width: 25%;
	float: left;
	position: relative;


}

.relatedPicText{
	height: 40px;line-height: 40px;
	font-size: 16px;
}


/***********************************************************************************
*********************************mall商城******************************
***********************************************************************************/
#adScreen{
	height: 434px;
	width: 100%;
	position: relative;
}
.ad19{
	position: absolute;
    left: 30%;
    top: 66%;
    width: 33%;
    height: 33%;
    background-size: cover;
}
a.adButton{
	display:inline-block; 
	width: 132px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-size: 15px;
	color: #327aba;
	background:url(../img/bg09.png) no-repeat;
	margin-right: 20px;
}
.hotTitle{padding-top: 30px;}
.hotTitle>span{display:inline-block;}

.hotTitle .fire{font-size:20px;} 
.hotTitle .fire img{vertical-align:middle;margin-top: -7px;} 
.hotTitle .fire .fireText{margin-left: 11px;} 
.hotTitle .leftRight{
	background:url(../img/leftRight.png);
	width: 63px;
	height: 20px;
	float: right; 
}
.leftRight .leftButton,.leftRight .RightButton{
	display: block;
	float: left;
	width: 50%;
	height: 100%;
}
/*common*/
/*picRow01:无文字*/
.picRow01{width:100%;height: 100%;white-space: nowrap;overflow: hidden;}
.picRow01 ul{overflow: visible;font-size:0px;/*li间有空隙*/}
.picRow01 li{
	display: inline-block;
    width: 240px;
    height: 325px;
}
.picRow01 li img{width:100%;height: 100%;}


/*picRow02:有文字*/
.picRow02{width:100%;height: 100%;white-space: nowrap;overflow: hidden;padding-top: 16px;}
.picRow02 ul{
	overflow: visible;font-size:0px;/*li间有空隙*/
	display: block;
}
.picRow02>ul>li{
	font-size:15px;
	display: inline-block;
    width: 240px;
    height: 325px;
    border:1px solid #E9E6E6;
}
.picRow02 li .picBox{
	height: 211px;
}
.picRow02 li .textBox{
	white-space: normal;
	width: 100%;
	padding: 25px 20px;
	height: 115px;
	color: #000;
}
.picRow02 li .textBox .textRow{
	display: block;
    text-align: left;
    line-height: 23px;
}
.picRow02 li .textBox .textRow.price{
	color:#f7a244;font-size: 16px;

}
.picRow02 li .picBox img{width:100%;height: 100%;}

.productBox{padding-top: 44px;}
/*brandPic01*/
.brandPic{
	height: 515px;
}
.brandPic>div{
	float: left;
    width: 100%;
}
.brandPic>div.brandPic_left{
	width: 320px;
	position: relative;
}
.adButton{
	width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    background: url(../img/buttonBg05.png);
    position: absolute;
    top: 36%;
    left: 11%;
    text-align: center;
}
.adButton img{margin-left: 20px;}
.brandPic>div.brandPic_right{
	width: 880px;
	border:1px solid #dadada;
	border-top: none;
}
.brandPicBox{
	height: 476px;
}
/*nav01*/
.navTitle{
	border-bottom: 2px solid #f48000;
	border-right: 1px solid #dadada;
}
.navTitle .brandPic_title{
	float: left;	
	display: block;
	height: 37px;
	font-size: 19px;
}

.navTitle .navBox{
	float: right;		
}
.nav01{
	list-style: none;
    display: inline-block;
    
    height: 37px;
    line-height: 37px;
    border-top:1px solid #dadada;
    
}
.nav01 li{
	display: block;
    float: left;
    
    height: 37px;
    line-height: 37px;
   
}
.nav01 li.on{
	border-top: 2px solid #f48000;
    border-left: 1px solid #f48000;
    border-right: 1px solid #f48000;
    border-bottom: 2px solid #fff;
    height: 100px;
    z-index: 99;
    background: #fff;
}
.nav01 li.on a,
.nav01 li.on+li a{background-image: none;}
.nav01 li a{
	color:#999999;
	font-size: 13px;
	padding:0 7px;
	background: url(../img/line01.png) no-repeat;}
.nav01 li:first-child a,.nav01 li:last-child a{
	background-image: none;
}
.nav01 li.more{
	float: right;
    margin-left: 13px;
    
	
}
.nav01 li.more a{
	color: #f48000;
    font-size: 12px;
    margin-top: 9px;
}

/*覆盖·修改*/
.brandPic_right .brandPicBox{    height: 477px;}
.brandPic_right .picRow02{
	padding-top: 0;
    height: 50%;
    overflow: visible;
   
}
.brandPic_right .picRow02>ul>li{
	width: 25%;
    display: block;
    float: left;
    height: 239px;
    border-top: none;
    border-left: none;
}
.brandPic_right .picRow02 li.twoLi{width:50%;}
.brandPic_right .picRow02 li .picBox{
	height: 55%;
}
.brandPic_right .picRow02 li .textBox .textRow {
    color:#666;
    font-size: 12px;
}
.brandPic_right .picRow02 li .textBox .textRow.price{
	color: #f60;
    font-weight: 600;
    font-size: 13px;
}

/*glide slider*/
.picRow02 .glide__arrow.next,.picRow02 .glide__arrow.prev{
	background-color: #fff;
	width:25px;
	height: 25px;
	border-radius: 0;
}
.picRow02 .glide__arrow.next img{margin-top: -5px;}
.picRow02 .glide__arrow.prev img{margin-top: -5px;margin-left: -5px;}
.picRow02 .glide--horizontal .glide__arrow.next {
    right: -18px;
}
.picRow02 .glide--horizontal .glide__arrow.prev {
    left: -18px;
}

.picRow02 .glide__bullets > *.active {
  background-color: #ffae00
}



.glide{overflow: hidden;}
.glide li{font-size: 10px;}
.glide li.glide__slide{height: 100%;}
.box {
	color: #fff;
	font-size: 3vw;
	display: flex;
    align-items: center;
    justify-content: center;
}
.box img{width:100%;height: 100%;}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}


