<div class="pagination03 align-right" >
    <div class="pinfo">
        共<span class="r">13</span>页<span class="r">125</span>条记录，每页<span class="b">10</span>条记录，当前第<span class="b">1</span>页
    </div>          
    <ul>
        <li class="pgray"><a>首页</a></li>
        <li class="left pgray"><a>上一页</a></li>
        
        
        <li class="right"><a>下一页</a></li>
        <li class="last"><a>尾页</a></li>
    </ul>
   
    <form class="numWrapper">
        <span class="text">跳转到</span> 
        <input class="num" type="text" name="" value="1">
        <span class="text">页</span>   
        <button type="submit" class="go">GO</button>
    </form>
    
</div>