@charset "UTF-8";
/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
.sm-button2 .text, .sm-button1 .text, .md-button1 .text, .lg-button1 .text, .buttonheart .text {
  position: absolute; }

.sm-button2 .text, .sm-button1 .text, .md-button1 .text, .lg-button1 .text, .buttonheart .text {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
.sm-button2 .text, .sm-button1 .text, .md-button1 .text, .lg-button1 .text, .buttonheart .text {
  position: absolute; }

.sm-button2 .text, .sm-button1 .text, .md-button1 .text, .lg-button1 .text, .buttonheart .text {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.sm-button2 {
  position: relative;
  width: 30px;
  color: #945c00; }
  .sm-button2 img {
    display: block; }
  .sm-button2 .text {
    font-size: 0.65rem;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.sm-button1 {
  position: relative;
  width: 70%;
  margin: 0 auto; }
  .sm-button1.grayBg {
    color: #999; }
  .sm-button1.blueBg {
    color: #fdfffc; }
  .sm-button1 img {
    display: block; }
  .sm-button1 .text {
    font-size: 0.65rem;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.md-rows {
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem; }

.md-button1 {
  position: relative;
  width: 90%;
  margin: 0 auto; }
  .md-button1.yellowBg {
    color: #521c7c; }
  .md-button1.blueBg {
    color: #fdfffc; }
  .md-button1 img {
    display: block; }
  .md-button1 .text {
    font-size: 0.85rem;
    font-weight: bold;
    margin-top: -0.1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .md-button1 + .lg-button1 {
    margin-top: 0.5rem; }

.lg-button1 {
  position: relative;
  width: 70%;
  margin: 0 auto; }
  .lg-button1.yellowBg {
    color: #521c7c; }
  .lg-button1.blueBg {
    color: #fdfffc; }
  .lg-button1 img {
    display: block; }
  .lg-button1 .text {
    font-size: 0.85rem;
    font-weight: bold;
    margin-top: -0.1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .lg-button1 + .lg-button1 {
    margin-top: 0.5rem; }

.rule-btn-row {
  width: 80%;
  margin: 0 auto;
  padding-top: 0.5rem; }

.buttonheart {
  position: relative;
  display: inline-block;
  color: #fff;
  line-height: 1.2; }
  .buttonheart + .buttonheart {
    margin-left: 1rem; }
  .buttonheart.sm {
    width: auto;
    font-size: 0.8rem; }
  .buttonheart img {
    display: block; }
  .buttonheart .text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .buttonheart + .lg-button1 {
    margin-top: 0.8rem; }

/*# sourceMappingURL=maps/cButton.css.map */
