@charset "utf-8";

@import "mySassWare/_variable";
@import "mySassWare/_mixin";
@import "mySassWare/_function";
$sb02_p:48px;
$side_pl:$content_main_p;

.i-brand{
  background:#fcfcfc;
  padding:$content_main_p/2;
  @include border();
  text-align: center;
  .title{
      color:#000;
      font-weight:bold;
      font-size: $mediumSize;
  }
  .info{
    padding-top:10px;
    span + span{
        margin-left: 30px;
    }
    .font{
      a{&+a{
            margin-left:15px;
            &.on{color:$blue;}
          }
      }
    }
  }
}
  

