@font-face {font-family: 'iconfont';
    src: url('iconfont/iconfont.eot'); /* IE9*/
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: 'iconfont02';
    src: url('iconfont02/iconfont.eot'); /* IE9*/
    src: url('iconfont02/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont02/iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont02/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont02/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  /*-webkit-text-stroke-width: 0.2px;*/
  -moz-osx-font-smoothing: grayscale;
}
.iconfont02 {
  font-family:"iconfont02" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  /*-webkit-text-stroke-width: 0.2px;*/
  -moz-osx-font-smoothing: grayscale;
}
.icon-dianhua:before { content: "\e600"; }
.icon-caidan:before { content: "\e601"; }
.icon-sousuo:before { content: "\e602"; }
.icon-jiance:before { content: "\e603"; }
.icon-langdu:before { content: "\e604"; }
.icon-shouye:before { content: "\e605"; }
.icon-zhengfuxinxigongkai:before { content: "\e606"; }
.icon-daohang:before { content: "\e607"; }
.icon-fanhui:before { content: "\e608"; }
.icon-jiantouyou:before { content: "\e60c"; }
.icon-about:before { content: "\e609"; }
.icon-caidan-copy:before { content: "\e60a"; }
.icon-jingyingfanweiicon:before { content: "\e60b"; }