.m-iconLink01,.m-news01{
	padding-top: 1rem;
}
.m-news01{padding-top: 0rem;}
/*m-logoRow start*/
.m-logoRow{width: 100%;padding-top:0.5rem;padding-bottom:0.5rem;}
.m-logoRow img{display: block;}
/*m-logoRow end*/

/*m-slideBox01 start*/
.m-slideBox01 .swiper-pagination-bullet{opacity: 1;background-color: #fff}
.m-slideBox01 .swiper-pagination-bullet.swiper-pagination-bullet-active {
	 background: rgb(110, 185, 43); color: rgb(255, 255, 255); 
}
/*m-slideBox01 end*/


/*m-iconLink01 start*/
.m-iconLink01  .link-zone:nth-child(1) .link-wrapper .Linkpic{background-color: #005bac}
.m-iconLink01  .link-zone:nth-child(2) .link-wrapper .Linkpic{background-color: #379fa0}
.m-iconLink01  .link-zone:nth-child(3) .link-wrapper .Linkpic{background-color: #fdb111}
.m-iconLink01  .link-zone:nth-child(4) .link-wrapper .Linkpic{background-color: #e84c3d}
.m-iconLink01  .link-zone:nth-child(5) .link-wrapper .Linkpic{background-color: #1e8fcb}
.m-iconLink01  .link-zone:nth-child(6) .link-wrapper .Linkpic{background-color: #6eb92b}
.m-iconLink01 .link-wrapper{display: block;padding:0 0 1rem;}
.m-iconLink01 .link-wrapper .Linkpic{
width: 70%;
margin:0 auto;
border-radius: 50%;
overflow:hidden;
position: relative;
}
.m-iconLink01 .link-wrapper .Linkpic:after {
content: '';
display: block;
margin-top: 100%; /* margin 百分比相对父元素宽度计算 */
}
.m-iconLink01 .link-wrapper .Linkpic img{width:50%;height: 50%;display: block;}
.m-iconLink01 .link-wrapper .LinkText{text-align: center;padding-top: .7rem;}
/*m-iconLink01 end*/

/*swiperGroup01 start*/
.swiperGroup01 #swiper-container02{width: 80%;margin-left: 0;}
.swiperGroup01 #swiper-container02 .tabRow .tab {
    text-align: center;
    padding: 6px;}
.swiperGroup01 #swiper-container02 .swiper-slide-active{color:#005bac;border-bottom: 2px solid #005bac}
.moreLink{
  float: right;
  margin-top: 7px;
  margin-right: 9px;
}
.swiperGroup01 #swiper-container03{
  padding: 1rem 0 0 0;
}
.swiperGroup01 #swiper-container03 .newsPic{position: relative;}
.swiperGroup01 #swiper-container03 .newsPic .newsPic_t{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.6);
  margin:0;
  color:#fff;
  padding:.5rem .6rem;
  font-size: .5rem;
}
/*swiperGroup01 end*/
/*.news-list01 start*/
.news-list01 {
	max-height: 240px;
}
.news-list01 ul {
	padding-top: 10px;
	text-align: left;
}
.news-list01 li {
	display: block;
    height: 36px;
    line-height: 30px;
    padding-left: 15px;
    background: url(../img/iconbg02.png) 1px 35% no-repeat;
    background-size: 5px;
}
.news-list01 li .list-text {
	width: 90%;
}
/*.news-list01 end*/

 .more-Row{text-align: center;padding:.4rem 0;}


/*m-testRange01 start*/
.middleTable{display: table;}
.middleTable .middleRow{display: table-cell;vertical-align: middle;}
.mar-r-20{margin-right: 20px;}
.mar-center { margin: 0px auto; }
.btn-num01 { width: 30px; height: 30px; line-height: 30px; text-align: center; border-radius: 50%; font-size: 12px; 
  background-color: #fff; color: #c8c8c8; 
  display: inline-block; 
}
.m-testRange01 .typeRow{
  margin-top: 1rem;
  position: relative;
  height: 7rem; 
  display: block;
}
.m-testRange01 .typeRow .typePic {width: 40%;height: 100%;}
.m-testRange01 .typeRow .typePic img{height: 100%;width: 100%;}
.m-testRange01 .typeRow .typeName{
    width: 60%;
    text-align: center;
    background-color: #eaf7ff;
    height: 100%;
}
.m-testRange01 .typeRow .typeName .typeNameText{padding-left: -1rem;}
.m-testRange01 .tRange {
    display: inline-block;
    color: #005bac;
    border-bottom: 2px solid #005bac;
    text-align: center;
    padding:6px .7rem;
}
/*m-testRange01 end*/

/*footer start*/
.f_content{padding:1.5rem 0;}
.f_content .tech_surport{font-size: .8rem;text-align: center;/*padding:.7rem 0 0 0;*/}
.b_logo{
  padding:0 0 1.5rem 0 ;
  width: 57%;
  margin: 0 auto;
}

/*footer end*/

/*bottomBar start*/
.affix_p_bottom{position: relative;min-height: 1px;z-index: 99;}
.affix_p_bottom.affix{
  position: fixed;
  bottom:0;
  width: 100%;  
}
.affix_p_bottom .bottomBar{position: absolute;left: 0;right: 0;bottom: 0;}

.bottomBar{z-index: 99;width: 100%;text-align: center;border-bottom:1px solid #4c8dc5}
.bottomBar .bb_btn{width: 50%;float: left;height: 3rem;line-height: 3rem;}
.bb_btn .iconfont{font-size: 1rem;margin-right: .4rem;}
.bb_btn .icon-sousuo{font-size: 1.3rem;}
.bb_btn .icon-dianhua{font-size: 1.6rem}
/*bottomBar end*/

