.m-iconLink01,.m-news01{
	padding-top: 1rem;
}
.m-news01{padding-top: 0rem;}
/*m-logoRow start*/
.m-logoRow{width: 100%;padding-top:0.5rem;padding-bottom:0.5rem;}
.m-logoRow img{display: block;}
/*m-logoRow end*/

/*m-slideBox01 start*/
.m-slideBox01 .swiper-pagination-bullet{opacity: 1;background-color: #fff}
.m-slideBox01 .swiper-pagination-bullet.swiper-pagination-bullet-active {
	 background: rgb(110, 185, 43); color: rgb(255, 255, 255); 
}
/*m-slideBox01 end*/


/*m-iconLink01 start*/
.m-iconLink01  .link-zone:nth-child(1) .link-wrapper .Linkpic{background-color: #005bac}
.m-iconLink01  .link-zone:nth-child(2) .link-wrapper .Linkpic{background-color: #379fa0}
.m-iconLink01  .link-zone:nth-child(3) .link-wrapper .Linkpic{background-color: #fdb111}
.m-iconLink01  .link-zone:nth-child(4) .link-wrapper .Linkpic{background-color: #e84c3d}
.m-iconLink01  .link-zone:nth-child(5) .link-wrapper .Linkpic{background-color: #1e8fcb}
.m-iconLink01  .link-zone:nth-child(6) .link-wrapper .Linkpic{background-color: #6eb92b}
.m-iconLink01 .link-wrapper{display: block;padding:0 0 1rem;}
.m-iconLink01 .link-wrapper .Linkpic{
width: 70%;
margin:0 auto;
border-radius: 50%;
overflow:hidden;
position: relative;
}
.m-iconLink01 .link-wrapper .Linkpic:after {
content: '';
display: block;
margin-top: 100%; /* margin 百分比相对父元素宽度计算 */
}
.m-iconLink01 .link-wrapper .Linkpic img{width:50%;height: 50%;display: block;}
.m-iconLink01 .link-wrapper .LinkText{text-align: center;padding-top: .7rem;}
/*m-iconLink01 end*/

/*swiperGroup01 start*/
.swiperGroup01 #swiper-container02{width: 80%;margin-left: 0;}
.swiperGroup01 #swiper-container02 .tabRow .tab {
    text-align: center;
    padding: 6px;}
.swiperGroup01 #swiper-container02 .swiper-slide-active{color:#005bac;border-bottom: 2px solid #005bac}
.moreLink{
  float: right;
  margin-top: 7px;
  margin-right: 9px;
}
.swiperGroup01 #swiper-container03{
  padding: 1rem 0 0 0;
}
.swiperGroup01 #swiper-container03 .newsPic{position: relative;}
.swiperGroup01 #swiper-container03 .newsPic .newsPic_t{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.6);
  margin:0;
  color:#fff;
  padding:.5rem .6rem;
  font-size: .5rem;
}
/*swiperGroup01 end*/
/*.news-list01 start*/
.news-list01 {
	max-height: 240px;
}
.news-list01 ul {
	padding-top: 10px;
	text-align: left;
}
.news-list01 li {
	display: block;
    height: 36px;
    line-height: 30px;
    padding-left: 15px;
    background: url(../img/iconbg02.png) 1px 35% no-repeat;
    background-size: 5px;
}
.news-list01 li .list-text {
	width: 90%;
}
/*.news-list01 end*/

 .more-Row{text-align: center;padding:.4rem 0;}


/*m-testRange01 start*/
.middleTable{display: table;}
.middleTable .middleRow{display: table-cell;vertical-align: middle;}
.mar-r-20{margin-right: 20px;}
.mar-center { margin: 0px auto; }
.btn-num01 { width: 30px; height: 30px; line-height: 30px; text-align: center; border-radius: 50%; font-size: 12px; 
  background-color: #fff; color: #c8c8c8; 
  display: inline-block; 
}
.m-testRange01 .typeRow{
  margin-top: 1rem;
  position: relative;
  height: 7rem; 
  display: block;
}
.m-testRange01 .typeRow .typePic {width: 40%;height: 100%;}
.m-testRange01 .typeRow .typePic img{height: 100%;width: 100%;}
.m-testRange01 .typeRow .typeName{
    width: 60%;
    text-align: center;
    background-color: #eaf7ff;
    height: 100%;
}
.m-testRange01 .typeRow .typeName .typeNameText{padding-left: -1rem;}
.m-testRange01 .tRange {
    display: inline-block;
    color: #005bac;
    border-bottom: 2px solid #005bac;
    text-align: center;
    padding:6px .7rem;
}
/*m-testRange01 end*/

/*footer start*/
.f_content{padding:1.5rem 0;}
.f_content .tech_surport{font-size: 1rem;text-align: center;padding:.3rem 0 0 0;}
.b_logo{
  padding:0 0 1.5rem 0 ;
  width: 57%;
  margin: 0 auto;
}

/*footer end*/

/*bottomBar start*/
.affix_p_bottom{position: relative;min-height: 1px;z-index: 98;}
.affix_p_bottom.affix{
  position: fixed;
  bottom:0;
  width: 100%;  
}
.affix_p_bottom .bottomBar{position: absolute;left: 0;right: 0;bottom: 0;}

.bottomBar{z-index: 99;width: 100%;text-align: center;border-bottom:1px solid #4c8dc5}
.bottomBar .bb_btn{width: 50%;float: left;height: 3rem;line-height: 3rem;}
.bb_btn .iconfont{font-size: 1rem;margin-right: .4rem;}
.bb_btn .icon-sousuo{font-size: 1.3rem;}
.bb_btn .icon-dianhua{font-size: 1.6rem}
/*bottomBar end*/

/*.siderBar01 start*/
.affix_p_sideBar .siderBar01{
  position: fixed;left: 0;top: 0;
  background:#f7fbff;  
  height: 50%;
  z-index: 99;  
  width: 0;
  visibility: hidden;
  transition: all .1s;
  opacity: 0;
}  
  
.affix_p_sideBar .siderBar01.on{width: 45%;visibility: visible;opacity: 1;}
.affix_p_sideBar .siderBar01 .item{}
.affix_p_sideBar .siderBar01 .item a{
  display: block;width: 100%;padding:.5rem 0 .5rem 1rem;
  border-left: 3px solid transparent;
}
.affix_p_sideBar .siderBar01 .item a.on{border-left: 3px solid #005bac;background-color: #cdddee}
.affix_p_sideBar .siderBar01 .item a i{margin-right: .5rem}
.affix_p_sideBar{position: relative;white-space: nowrap;z-index: 99;}
.affix_p_sideBar.affix,
.affix_p_sideBar.affix-top{
  position: fixed;
  bottom:3.5rem;
  width: 100%;  
  z-index: 99;
  padding: .5rem 0 0 1rem;
}
.affix_p_sideBar.affix-top .siderBar01{top:56px; }
.affix_p_sideBar .sideBarBtn .iconfont{
  font-size: 1.8rem;position:absolute;left: 1rem;bottom:0;
}
/*.siderBar01 end*/
/*.m_header02 start*/
.m_header02{
  height: 2.5rem;line-height: 2.5rem;
  padding-left: 1.5rem;
  position: relative;
}
.leftBorder:before{
  position: absolute;
  content: " ";
  width: 0px;
  height: 60%;
  border-left: 3px solid #fff;
  top: 20%;
  left: .5rem;
}
.m_header02 .iconfont{font-size: 1.4rem;}
/*.m_header02 end*/

.m-testRange01 .trDetails{padding-top:1rem;padding-bottom:1rem;}
.m-testRange01 .trDetails .trd-img{width: 35%;padding-right:.5rem;}
.text-lh{line-height: 1.7;color:#868686;}
.trPlan{min-height: 20rem;}
.trPlan .trpHead{padding-top:.4rem;padding-bottom:.4rem;}



 .m-testRange01 .typeRow02 {
      margin-top: 1rem;
      position: relative;
      
      display: block;
  }

  .typeRow02  .tagRow .tag{
    padding:.2rem .5rem; text-align: center;position: relative;
  }
  .typeRow02  .tagRow .text02{margin-right: 1rem;}
  .typeRow02  .tagRow .tag:after{
    position: absolute;
    left: 100%;
    top: 34%;
    content: " ";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left: 5px solid #6fba2a;
  }

  .m-testRange01 .typeRow02 .text-row{padding:1rem 0;}
  .m-testRange01 .typeRow02 .dBtn-row{display: block;text-align: center;padding:.5rem;border-bottom: 1px dashed #c0c0c0}
  .m-testRange01 .typeRow02 .typePic02 {
      width: 40%;
      height: 100%;
  }
  .typeRow02  .text03{margin-left:42%;text-indent: 2rem;max-height: 5.8rem; overflow: hidden;}
  .typeRow02  .tagRow{text-align: right;}

  /*relative-link start*/
  .relative-link .l-item{display: block;text-align: center;padding:.3rem 0;border:1px solid #fff;border-top: none;}
  
  /*relative-link end*/

  /*about start*/
  .about-body{padding-top: 1rem;padding-bottom: 1rem;}
  .about-text{text-indent: 2rem;padding: 1rem 0;text-align:justify; }
  /*about end*/

  .labBox{border-bottom: 1px solid #ddd;}
  .lab{width:75%;margin:0 auto;padding:1rem 0;}
  .lab .lab-text{line-height: 2rem;padding-top: 1rem;width: 90%;margin:0 auto;}
  .relative-article{padding-top:1rem;padding-bottom: 3rem;}
  .relative-article .r-link{display: block;padding:.5rem 0;}

  .mlab-inf {
      text-indent: 2rem;
      padding: .5rem 0;
      text-align: justify;
  }
  .mlab .honorPic .hp-item{padding-top: 1rem;}

  .swiperGroup01 #swiper-container04 {
       width: 100%;
       margin-left: 0;
  }
  .swiperGroup01 #swiper-container04 .tabRow .tab {
       text-align: center;
       padding: 6px;
  }
  .swiperGroup01 #swiper-container04 .swiper-slide-active {
       color: #005bac;
       border-bottom: 2px solid #005bac;
  }
  .swiperGroup01 #swiper-container05 {
      /* padding: 1rem 0 0 0;*/
  }
  .m-center .cnews-row {height: 5.6rem;margin:1rem 0 2rem 0;overflow: hidden;}
  .m-center .cnews-row .cnews-pic{width: 30%;}
  .m-center .cnews-row .cnews-content{margin-left: 32%;}  
  .m-center .cnews-row .cnews-content .cnews-title{font-weight: 700;height: 2.6rem;}

  .cd-wrapper .cd-article{padding-bottom: 5rem;}
  .cd-wrapper .cd-article .cda-head {text-align: center;padding:2rem 0;}
  .cd-wrapper .cd-article .cda-head .cda-head-t{font-size: 1.1rem;}
  .cd-wrapper .cd-article .cda-head .cda-head-inf{padding-top: 1rem;}

  .bg.on{
  background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    opacity: .5;
  }