@charset "utf-8";

@import "../mySassWare/_variable";
@import "../mySassWare/_mixin";
@import "../mySassWare/_function";

.roundBtn01{
  display: inline-block;
  $rb01p:35px;
  color:$blue;
  @include border($color:$blue,$width:2px);
  @include radius($rb01p);
  padding:$rb01p/4 $rb01p;
  font-size: $mediumSize;
}

.btnGroup{
    text-align: center;
   .button{ 
       @include button_groupBeta($height:37px,$width:110px,$gutter:10px,$direction:v);
       background:$orange;
       color:#fff;
       display: inline-block;
       @include border($color:$orange);
       &.white-bg{
        background:#fff;
        color:$orange;
   
       }
    } 
}