@charset "UTF-8";
/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
.info_wrapper .info_form_inner .tips .tips-left {
  float: left; }

.info_wrapper .info_form_inner .tips {
  position: relative; }

.info_wrapper .info_form_inner .tips .tips-left {
  float: left; }

/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
.info_wrapper .info_form_inner .tips .tips-left {
  float: left; }

.info_wrapper .info_form_inner .tips {
  position: relative; }

.info_wrapper .info_form_inner .tips .tips-left {
  float: left; }

/* prize start */
.info_wrapper {
  width: 90%;
  margin-top: 0.6rem; }
  .info_wrapper img {
    display: block; }
  .info_wrapper .info_form {
    width: 85%;
    display: block; }
    .info_wrapper .info_form .button {
      display: block;
      color: #fff;
      width: 100%; }
  .info_wrapper .info_form_inner {
    padding: 0 1rem 1rem 1rem;
    background: #fff;
    -webkit-border-radius: 0 0 0.6rem 0.6rem;
    border-radius: 0 0 0.6rem 0.6rem; }
    .info_wrapper .info_form_inner .ab {
      padding: 0.3rem 0; }
    .info_wrapper .info_form_inner .tips {
      font-size: 0.72rem; }
      .info_wrapper .info_form_inner .tips {
        overflow: hidden; }
      .info_wrapper .info_form_inner .tips .tips-left, .info_wrapper .info_form_inner .tips .tips-right {
        min-height: 1px; }
      .info_wrapper .info_form_inner .tips .tips-left {
        width: 10%;
        text-align: left;
        height: auto; }
      .info_wrapper .info_form_inner .tips .tips-right {
        margin-left: 10%;
        height: auto; }
    .info_wrapper .info_form_inner input, .info_wrapper .info_form_inner select {
      display: block;
      -webkit-border-radius: .5rem;
      border-radius: .5rem;
      width: 100%;
      height: 2rem;
      background: #f9f9f9;
      padding: 0 0.5rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #ddd; }
    .info_wrapper .info_form_inner label {
      display: block;
      margin-left: -0.6rem;
      padding-left: 0.6rem; }
      .info_wrapper .info_form_inner label.required {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA3klEQVRYhe3SIW4CQRTG8THzDc0iKiDZUObbEUgO0AP0MByht6hA9gAVlRWIigrEigoEmeW9cABEj4DYmoUb7JI275eMGPX+M3nOGWOM+ct2yd3nVJQ3C5AKG2HY3i4g+i8h9oMNzKkoNaJWhtcmYqkV3qTCJs/DQqNfC/F9SKPUW4DO3EQYtkK03TkJw48QZyHOGlEfH+7mvQVc5FSUEv2qG9weiOc8dePeB18Dpm6sEbUQ+24PToO8/ELpP4VoG46emuQfu5/YDRYgxLvQv1zv0a+U+BgswBhjzL/yCxATSyiwYZ2SAAAAAElFTkSuQmCC");
        background-position: -0.6rem center;
        background-repeat: no-repeat; }
      .info_wrapper .info_form_inner label + label input, .info_wrapper .info_form_inner label + label select {
        margin-top: 0.3rem; }

/* prize end */

/*# sourceMappingURL=maps/cForm.css.map */
