@charset "UTF-8";
/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
.i-header .i-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

/* clearfix*/
/* 闭合子元素的浮动*/
.header .header-left ul:before, .header .header-left ul:after {
  content: " ";
  display: table; }

.header .header-left ul:after {
  clear: both; }

.header, .header .header-right .addonImg {
  position: relative; }

.header .header-right {
  float: right; }

/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
.i-header .i-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

/* clearfix*/
/* 闭合子元素的浮动*/
.header .header-left ul:before, .header .header-left ul:after {
  content: " ";
  display: table; }

.header .header-left ul:after {
  clear: both; }

.header, .header .header-right .addonImg {
  position: relative; }

.header .header-right {
  float: right; }

.i-header {
  padding: 0.6rem 0;
  border-bottom: 1px solid #ddd; }
  .i-header .i-title {
    color: #333;
    font-size: 0.96rem; }
    .i-header .i-title .button {
      margin-left: 0.3rem; }
    .i-header .i-title .icon {
      margin-right: 0.3rem; }

.pl-first {
  color: #019bfd;
  font-size: 0.64rem;
  text-align: center;
  overflow: hidden;
  background: #e5f2fd;
  padding: 0.2rem 0; }

.header4 {
  color: #e7585a;
  font-size: 0.96rem;
  padding: 0.3rem 0; }

.header3 {
  color: #019bfd;
  font-size: 0.96rem;
  padding: 0.3rem 0; }

.header2 img {
  vertical-align: middle;
  margin-right: 0.2rem; }

.header1 {
  background: #019bfd;
  color: #fff;
  -webkit-border-radius: 0.6rem 0.6rem 0 0;
  border-radius: 0.6rem 0.6rem 0 0;
  padding: 0.3rem 0; }

.header {
  color: #333; }
  .header {
    overflow: hidden; }
  .header .header-left, .header .header-right {
    min-height: 1px; }
  .header .header-right {
    width: 15%;
    text-align: left;
    height: auto; }
  .header .header-left {
    margin-right: 15%;
    height: auto; }
  .header .header-left {
    text-align: center; }
    .header .header-left .hl-inner {
      padding-left: 8.82353%; }
    .header .header-left ul if($margin) {
      margin-left: -5px;
      margin-right: -5px; }
    .header .header-left ul li {
      width: 33.33333%;
      float: left;
      min-height: 1px; }
    .header .header-left ul .str-inner {
      padding-left: 5px;
      padding-right: 5px; }
    .header .header-left ul li .block {
      border-bottom: 2px solid transparent;
      border-top: 2px solid transparent; }
    .header .header-left ul li.on .block {
      color: #019bfd;
      border-bottom: 2px solid #019bfd; }
  .header .header-right {
    text-align: center; }
    .header .header-right .addonImg {
      display: inline-block;
      vertical-align: middle; }
      .header .header-right .addonImg img {
        display: block; }
      .header .header-right .addonImg:after {
        position: absolute;
        right: 0px;
        width: auto;
        color: #e21939;
        content: "●";
        font-size: 15px;
        right: -0.21333rem;
        top: 0;
        font-size: 0.64rem;
        line-height: 1px; }
  .header .block {
    padding: 0.4rem 0;
    font-weight: bold;
    display: inline-block; }

/*# sourceMappingURL=maps/cheader.css.map */
