@charset "utf-8";

@import "./_variable";
@import "./_mixin";
@import "./_function";


$sideBar_p_top:18px; 
.sideBarContent,.sideListContent{
    padding-top:$sideBar_p_top;
    .list{
        @include rel_ajust($value:-7px);
    }
}
.mainBody{background:url(#{$baseImgUrl}bg.png) no-repeat 50% 0;padding-top:260px;}
.mainContentBody{
    padding:20px 27px;
    background:#fff;
}


.riBlock{

    
    .riBlock-bottom{
    
        padding:15px 12px;
    }
}
$mainRight:307px;
$mainLeft:400px;
$mainP:8px;
$mainRowRate:($mainLeft+$mainP) ($mainLeft+$mainP*2) ($mainRight+$mainP);

.wrow{
    & + .wrow{
        margin-top: $mainP*2;
    }
} 
.row1{
    $height:64px;
    @include f_pictext_rowNew($width:$mainRight,$height:$height,$fpos:"right",$mar-gutter:$mainP*2);
    .hot{
        text-align: center;
        @include lheightM($height:$height);
        @include f_pictext_rowNew($width:55px,$height:$height,$fpos:"left",$mar-gutter:0);
        .hot-left{
            background:$mainColor;color:#fff;text-align:center;
            line-height: 1.5;
            .hot-leftInner{padding-top:11px;}
        }
        .hot-right{
            background:#f4f4f4;
            font-size:$bigTitle;
            font-family: ""
        }
    }
}
.row2{
    @include f_pictext_rowNew($width:$mainRight,$height:auto,$fpos:"right",$mar-gutter:$mainP*2);
    .news1{
        @include f_pictext_rowNew($width:$mainLeft,$height:245px,$fpos:"left",$mar-gutter:$mainP*2);
        .news1-right{
            padding-right:$mainP*2;
            li{display:none;} 
        }
        @include border();
        .news1-title{
            color:$mainColor;
            font-weight: bold;
            font-size: $bigSize;
            text-align: center;
            padding:20px 0 10px;
        }
        .news1-text{
            text-align: justify;
        }
    }
    
}

.row3{
     
    @include un_row($rateArr:$mainRowRate,$padding:$mainP,$string:"un-block");
    .riBlock-bottom{height: 180px;}
    
}
.row2-right,.row3 .un-block-3,.row5 .un-block-3{
    .riBlock{
        @include border();
        border-top: none;
    }
    
} 


.row5{
    $row5h:300px;
    @include f_pictext_rowNew($width:135px,$height:auto,$fpos:"right",$mar-gutter:$mainP*2);
    .news1{
        @include f_pictext_rowNew($width:$mainLeft,$height:$row5h,$fpos:"left",$mar-gutter:$mainP*2);
        .news1-right{
            padding-right:$mainP*2;
        }
        @include border();
        .news1-title{
            color:$mainColor;
            font-weight: bold;
            font-size: $bigSize;
            text-align: center;
            padding:20px 0 10px;
        }
        .news1-text{
            text-align: justify;
        }
    }
        
    .slideBox03 .bd li a img {
        height: $row5h;
    }

    .btnGroup{
        text-align: center;
       .button{
           $btg-gutter:11px; 
           $btgh:($row5h - 3*$btg-gutter )/4 ;
           @include button_groupBeta($height:$btgh,$width:100%,$gutter:$btg-gutter,$direction:v);
              
           color:#fff;
           display: inline-block;
           img{vertical-align:middle;margin-right:10px;}
           a{width:100%;height:100%;display:block;}
           &.white-bg{
            background:#fff;
            color:$orange;
       
           }
           @include radius(5px);
        } 
    }
}


.mainContent{
    padding:$content_main_p*0.8 $content_main_p;
    padding-bottom:0;
    .i-contentPart{
        padding-top:$content_main_p/2;
    }
}
.mainLrWrapper{
    @include border();
    padding-bottom:30px;
}
.mainLrWrapper{
  .pagination03{margin-top:15px;}  
}
.sideListContent{
    @include f_pictext_row($width:225px,$height:auto,$fpos:"right",$mar-gutter:0);
    .sideListContent_left{
        @include border($position:right);
        .inner{
            padding:0 $content_main_p;    
        }
        
    }
    .sideListContent_right{
        
        .inner{
            padding:0 $content_main_p /4*2;    
        }
        
    }
}


.sideBarContent{
    @include f_pictext_row($width:225px,$height:auto,$fpos:"left",$mar-gutter:0);
    padding-top:$sideBar_p_top;
   
    .sideBarContent_left{
        .inner{
            padding-left:$content_main_p;    
        }
        
    }
    .sideBarContent_right{
        @include border($position:left);
        .inner{
            padding:0 $content_main_p /4*3;    
        }
        .sideBarContent_right_content{
            padding:$content_main_p 0;
        }
    }
    
}  

.hr_row1{
    @include f_pictext_row($width:percentage(2/3),$height:auto,$fpos:"right",$mar-gutter:1%);
}

.img-center{position:absolute;top:0;bottom:0;right:0;left:0;max-height:100%;max-width:100%;*height:100%;*width:100%;margin:auto;}
.container-auto{
    padding-right: 15px;
    padding-left: 15px;
}

.info_fail{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.info_success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.info_box>div.info{
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}

.container-p-15{
    padding: 15px;
}
.container1000 {
    width: 1000px;
    margin: 0 auto;
}
.container1100 {
    width: 1100px;
    margin: 0 auto;
}
.container1140{
    width:1140px;margin:0 auto;
    @extend %clear;
}
.container1200{
    width:1200px;margin:0 auto;
    @extend %clear;
}
.container-1200{
    @extend .container1200;
}

.line{
    margin:0 -15px;
}
.column{float:left;}

.width66{width:66%;}
.block{
    padding-left:15px;padding-right: 15px;float: left;position: relative;
    min-height: 1px;
}
.block-1{width:100%;}
.block-2{width:50%;}
.block-3{width:33.3333333333%;}
.block-4{width:25%;}
.box{padding:10px;/*text-align: center;*/position: relative;}

.container-auto:before,.container-auto:after,
.container1200:before,.container1200:after,
.column:before,.column:after,
.line:before,.line:after,
.block:before,.block:after{
    content:" ";display:table;  
}

.container-auto:after,
.column:after,
.line:after,
.block:after{
    clear:both;
}

.centerBg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(#{$baseImgUrl}background.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    overflow: hidden;
}

.input-base{
    background-color: #FFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    -webkit-border-radius: 1px;
            border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    -webkit-transition:border-color .15s ease-in-out 0s,-webkit-box-shadow .15s ease-in-out 0s;
    transition:border-color .15s ease-in-out 0s,-webkit-box-shadow .15s ease-in-out 0s;
    -o-transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s,-webkit-box-shadow .15s ease-in-out 0s;
    width: 150px;
    font-size: 14px;
}

.full-width{width:100%;}
.extend-width{margin: 0 -9999px;padding: 0 9999px;}
.mar-center{margin:0 auto;}

.hide{display: none;}

.over-flow {overflow: auto;zoom: 1;}
.clear:before,.clear:after{content:" ";display:table;}
.clear:after{clear:both;}

$rowNum:12;
$row_gutter:15px;
.rows{
    &.minusM{margin:{left:-$row_gutter;right:-$row_gutter;}}
    .innerBlock{padding:{left:$row_gutter;right:$row_gutter;}}
    @extend %clear;
}   
@for $i from 1 through $rowNum {
        .row-block-#{$i},.row-#{$i}-block{
            min-height: 1px;
            @extend %float-l;
            @extend %relative;
            @extend %clear;
        }   
        .row-block-#{$i}{
            width:percentage($i/$rowNum); /* eg:1除以12 */
        }
        .block-pull-l-#{$i}{
            margin-left: percentage($i/$rowNum);
        }
        .block-pull-r-#{$i}{
            margin-right: percentage($i/$rowNum);
        }
        .row-#{$i}-block{
            width:percentage(1/$i);    /* eg:十分之一 */
        }          
}

.rowInner{padding:11px 16px}
.border-row{
    @include border();
}   




