@charset "utf-8";

@import "../mySassWare/_variable";
@import "../mySassWare/_mixin";
@import "../mySassWare/_function";

.header1{
  background:$mainColor;
  color:$white;
  -webkit-border-radius:$mainRadius $mainRadius 0 0;
          border-radius:$mainRadius $mainRadius 0 0;
  padding:$mainRadius/2 0;
} 

.header{ 
    $widthr:15;
    @include f_pictext_row_percentage($width:$widthr,$height:auto,$fpos:"right",$mar-gutter:0);
    color:$black; 
    .header-left{
      text-align:center;
      .hl-inner{padding-left:percentage(1/(100-$widthr)*$widthr/2)}
      ul{
          @include str_width($str:"li",$num:3,$padding:5px,$margin:false); 
          li{
            &.on{
              .block{
                color:$mainColor;

                @include border($position:bottom,$width:2px,$color:$mainColor);
              }
            } 
          }
      }
    }
    .header-right{
      text-align: center;
      .addonImg{
        display: inline-block;
        img{display:block;}
      }  
    }
    
    .block{padding:0.8rem 0;font-weight:bold;display: inline-block;} 
}
  
  

