@charset "utf-8";

@import "../mySassWare/_variable";
@import "../mySassWare/_mixin";
@import "../mySassWare/_function";

.i-header{
    padding:$mainPadding 0;
    @include border($position:bottom);
    .i-title{
      color:$black;
      font-size: $mediumSize;  
      .button{margin-left:$mainPadding/2;}
      .icon{margin-right:$mainPadding/2;}
      @extend %flexMiddle;
    }  
}


.pl-first{
  color:$mainColor;font-size:$smallSize;text-align:center;
  overflow: hidden;
  background:#e5f2fd;
  padding:$mainPadding/3 0;
}

.header4{
  color:#e7585a;
  font-size: $mediumSize;
  padding:$mainPadding/2 0;
  
}

.header3{
  color:$mainColor;
  font-size: $mediumSize;
  padding:$mainPadding/2 0;
}

.header2{
  img{vertical-align:middle;margin-right:$mainPadding/3;}
}

.header1{
  background:$mainColor;
  color:$white;
  -webkit-border-radius:$mainRadius $mainRadius 0 0;
          border-radius:$mainRadius $mainRadius 0 0;
  padding:$mainRadius/2 0;
} 

.header{ 
    $widthr:15;
    @include f_pictext_row_percentage($width:$widthr,$height:auto,$fpos:"right",$mar-gutter:0);
    color:$black; 
    .header-left{
      text-align:center;
      .hl-inner{padding-left:percentage(1/(100-$widthr)*$widthr/2)}
      ul{
          @include str_width($str:"li",$num:3,$padding:5px,$margin:false); 
          li{
            $borderWidth:2px;
            .block{
              border-bottom:$borderWidth solid transparent;
              border-top:$borderWidth solid transparent;
            }
            &.on{
              .block{
                color:$mainColor;
                @include border($position:bottom,$width:$borderWidth,$color:$mainColor);
              }
            } 
          }
      }
    }
    .header-right{
      text-align:center;
      .addonImg{
        display: inline-block;
        vertical-align: middle;
        img{display:block;}
        @include persudo($color:$red,$content:"●",$position:after,$bg:none){
          right:-$smallSize/3;
          top:0; 
          font-size: $smallSize;
        };
      }  
    }
    
    .block{padding:$mainPadding/1.5 0;font-weight:bold;display: inline-block;} 
}
  
  

