@charset "utf-8";

@import "../mySassWare/_variable";
@import "../mySassWare/_mixin";
@import "../mySassWare/_function";

.iconGroup1{
   @include str_width($str:".block",$num:3,$padding:15px,$margin:true);
   .brand{
      color:#fff;
      @include radius($mainRadius);
      overflow: hidden;
      position:relative;
      &:after {
          content: '';
          display: block;
          margin-top: 100%; 
      }
      .body{
          @extend %absfull;
          -webkit-box-orient:vertical;
          -webkit-box-direction:normal;
          -webkit-flex-direction:column;
              -ms-flex-direction:column;
                  flex-direction:column;
          @extend %flexCenter;
      }
   }
}

