@charset "UTF-8";
/*----------------------------------------------------- */
/* setting scss*/
.navBar_wrapper .navbar-line02 .naver_0 .nav_erc li {
  text-transform: capitalize; }

.navbar-line02 .navbar-block, .footer .fridend_link .right a {
  text-transform: uppercase; }

.sideBar03 .sideBar_li .srow p {
  line-height: 22px; }

/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
.navBar_wrapper .navbar-line02 .naver_0 .nav_erc {
  background: #fff; }

/* color end */
.footer .fridend_link {
  display: inline-block; }

.navBar_wrapper .navbar-line02 .naver_0 .nav_erc li .link {
  display: block; }

.navBar_wrapper .navbar-line02 .naver_0 .nav_erc li .link .inner, .navBar_wrapper .navbar-line02 .naver_0 .nav_erc li .link span, .slideBox03 .bd li .slideTitle .link {
  display: block;
  *display: inline;
  /*zoom: 1;
  text-align:center;
  max-width: 100%;
  line-height: 100%; */
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

/* clearfix*/
/* 闭合子元素的浮动*/
.project_wrapper .un-block-1, .project_wrapper .un-block-2, .imgText01 .imgText01-left, .imgText .imgText-left {
  float: left; }

.row6 .flink:before, .row5 .sWrapper:before, .row5 .serviceRow:before, .textTab02 .hd:before, .row4 .hrWrapper:before, .list05 li:before, .row3 .internetContent:before, .guideTagWrapper:before, .input_box01:before, .project_wrapper:before, .tab06 .hd ul:before, .tab05 .hd ul:before, .tab05 .bd .bottom:before, .textTab01 .hd:before, .navBar_wrapper .navbar-line02 .naver_0 .nav_erc:before, .middlePart .row1:before, .middlePart .row2:before, .row6 .flink:after, .row5 .sWrapper:after, .row5 .serviceRow:after, .textTab02 .hd:after, .row4 .hrWrapper:after, .list05 li:after, .row3 .internetContent:after, .guideTagWrapper:after, .input_box01:after, .project_wrapper:after, .tab06 .hd ul:after, .tab05 .hd ul:after, .tab05 .bd .bottom:after, .textTab01 .hd:after, .navBar_wrapper .navbar-line02 .naver_0 .nav_erc:after, .middlePart .row1:after, .middlePart .row2:after {
  content: " ";
  display: table; }

.row6 .flink:after, .row5 .sWrapper:after, .row5 .serviceRow:after, .textTab02 .hd:after, .row4 .hrWrapper:after, .list05 li:after, .row3 .internetContent:after, .guideTagWrapper:after, .input_box01:after, .project_wrapper:after, .tab06 .hd ul:after, .tab05 .hd ul:after, .tab05 .bd .bottom:after, .textTab01 .hd:after, .navBar_wrapper .navbar-line02 .naver_0 .nav_erc:after, .middlePart .row1:after, .middlePart .row2:after {
  clear: both; }

.textTab02 .hd ul li + li .hdInner, .list05 li .date, .guideTagWrapper .link .iconfont, .sideBar03 .sideBar_li .srow, .sideBar03 .sideBar_li .srow .iconfont, .project_wrapper .hasTitle, .imgText01, .imgText, .textTab01 .hd ul li + li .hdInner, .list02 li .inner, .topbar03 .iconfont, .navbar-line02 .navbar-block a.navLink, .navbar-line02 .navbar-block a.navLink.divider, .footer .fridend_link, .footer .fridend_link .right a {
  position: relative; }

.imgText01 .imgText01-left img, .imgText .imgText-left img {
  display: block;
  width: 100%;
  height: 100%; }

.sideBar03 .sideBar_li .srow p, .navBar_wrapper .navbar-line02 .naver_0 .nav_erc {
  text-align: left; }

.sideBar03 .sideBar_li, .footer, .footer .fridend_link .right a + a {
  text-align: center !important; }

.project_wrapper .un-block-1, .project_wrapper .un-block-2, .imgText01 .imgText01-left, .imgText .imgText-left {
  float: left; }

.middlePart .row1 {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  vertical-align: middle;
  color: #333; }

/*----------------------------------------------------- */
/* setting scss*/
.navBar_wrapper .navbar-line02 .naver_0 .nav_erc li {
  text-transform: capitalize; }

.navbar-line02 .navbar-block, .footer .fridend_link .right a {
  text-transform: uppercase; }

.sideBar03 .sideBar_li .srow p {
  line-height: 22px; }

/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
.navBar_wrapper .navbar-line02 .naver_0 .nav_erc {
  background: #fff; }

/* color end */
.footer .fridend_link {
  display: inline-block; }

.navBar_wrapper .navbar-line02 .naver_0 .nav_erc li .link {
  display: block; }

.navBar_wrapper .navbar-line02 .naver_0 .nav_erc li .link .inner, .navBar_wrapper .navbar-line02 .naver_0 .nav_erc li .link span, .slideBox03 .bd li .slideTitle .link {
  display: block;
  *display: inline;
  /*zoom: 1;
  text-align:center;
  max-width: 100%;
  line-height: 100%; */
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

/* clearfix*/
/* 闭合子元素的浮动*/
.project_wrapper .un-block-1, .project_wrapper .un-block-2, .imgText01 .imgText01-left, .imgText .imgText-left {
  float: left; }

.row6 .flink:before, .row5 .sWrapper:before, .row5 .serviceRow:before, .textTab02 .hd:before, .row4 .hrWrapper:before, .list05 li:before, .row3 .internetContent:before, .guideTagWrapper:before, .input_box01:before, .project_wrapper:before, .tab06 .hd ul:before, .tab05 .hd ul:before, .tab05 .bd .bottom:before, .textTab01 .hd:before, .navBar_wrapper .navbar-line02 .naver_0 .nav_erc:before, .middlePart .row1:before, .middlePart .row2:before, .row6 .flink:after, .row5 .sWrapper:after, .row5 .serviceRow:after, .textTab02 .hd:after, .row4 .hrWrapper:after, .list05 li:after, .row3 .internetContent:after, .guideTagWrapper:after, .input_box01:after, .project_wrapper:after, .tab06 .hd ul:after, .tab05 .hd ul:after, .tab05 .bd .bottom:after, .textTab01 .hd:after, .navBar_wrapper .navbar-line02 .naver_0 .nav_erc:after, .middlePart .row1:after, .middlePart .row2:after {
  content: " ";
  display: table; }

.row6 .flink:after, .row5 .sWrapper:after, .row5 .serviceRow:after, .textTab02 .hd:after, .row4 .hrWrapper:after, .list05 li:after, .row3 .internetContent:after, .guideTagWrapper:after, .input_box01:after, .project_wrapper:after, .tab06 .hd ul:after, .tab05 .hd ul:after, .tab05 .bd .bottom:after, .textTab01 .hd:after, .navBar_wrapper .navbar-line02 .naver_0 .nav_erc:after, .middlePart .row1:after, .middlePart .row2:after {
  clear: both; }

.textTab02 .hd ul li + li .hdInner, .list05 li .date, .guideTagWrapper .link .iconfont, .sideBar03 .sideBar_li .srow, .sideBar03 .sideBar_li .srow .iconfont, .project_wrapper .hasTitle, .imgText01, .imgText, .textTab01 .hd ul li + li .hdInner, .list02 li .inner, .topbar03 .iconfont, .navbar-line02 .navbar-block a.navLink, .navbar-line02 .navbar-block a.navLink.divider, .footer .fridend_link, .footer .fridend_link .right a {
  position: relative; }

.imgText01 .imgText01-left img, .imgText .imgText-left img {
  display: block;
  width: 100%;
  height: 100%; }

.sideBar03 .sideBar_li .srow p, .navBar_wrapper .navbar-line02 .naver_0 .nav_erc {
  text-align: left; }

.sideBar03 .sideBar_li, .footer, .footer .fridend_link .right a + a {
  text-align: center !important; }

.project_wrapper .un-block-1, .project_wrapper .un-block-2, .imgText01 .imgText01-left, .imgText .imgText-left {
  float: left; }

.middlePart .row1 {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  vertical-align: middle;
  color: #333; }

.hr-basicInfo {
  padding: 5px 0; }
  .hr-basicInfo span {
    position: relative; }
    .hr-basicInfo span + span {
      padding-left: 36px; }
      .hr-basicInfo span + span:before {
        position: absolute;
        content: "|";
        left: 0px;
        width: 1px;
        color: inherit; }
      .hr-basicInfo span + span:before {
        left: 16px; }

.basicContent .p {
  padding: 15px 10px; }

.resourceBtnGroup {
  padding-bottom: 50px; }

.row6 .flink {
  padding: 30px;
  background: #f3f3f3;
  border: 1px solid #ddd; }
  .row6 .flink .title {
    color: #0080d8;
    font-weight: bold;
    float: left;
    margin-right: 15px; }
  .row6 .flink select {
    float: left;
    width: 155px;
    height: 25px; }
    .row6 .flink select + select {
      margin-left: 15px; }

.row5 .sWrapper {
  margin-left: -5px;
  margin-right: -5px; }
  .row5 .sWrapper .service_wrapper {
    width: 60.08772%;
    float: left; }
  .row5 .sWrapper .serviceCompany_wrapper {
    width: 39.91228%;
    float: left; }
  .row5 .sWrapper .str-inner {
    padding-left: 5px;
    padding-right: 5px; }
  .row5 .sWrapper .str-border {
    border: 1px solid #ddd;
    border-top: none; }

.row5 .serviceRow {
  position: relative; }
  .row5 .serviceRow .serviceList01 {
    width: 39.68254%;
    float: left; }
  .row5 .serviceRow .serviceList02 {
    width: 39.68254%;
    float: left; }
  .row5 .serviceRow .serviceList_btn {
    width: 20.63492%;
    float: left; }
  .row5 .serviceRow .list03 ul {
    padding: 0; }
    .row5 .serviceRow .list03 ul .text {
      width: 95%; }
  .row5 .serviceRow .more {
    position: absolute;
    right: 0;
    bottom: 0; }

.serviceList_btn .btnGroup {
  padding-top: 50px; }

.table01 {
  /* @extend %resetTable; */
  width: 100%;
  padding-bottom: 15px;
  border-spacing: 2px; }
  .table01 td {
    vertical-align: middle;
    text-align: center;
    /* &.name{@extend %align-left;} */
    color: #333; }
    .table01 td:nth-child(1) {
      width: 24.44444%; }
  .table01 td {
    vertical-align: middle;
    text-align: center;
    /* &.name{@extend %align-left;} */
    color: #333; }
    .table01 td:nth-child(2) {
      width: 53.33333%; }
  .table01 td {
    vertical-align: middle;
    text-align: center;
    /* &.name{@extend %align-left;} */
    color: #333; }
    .table01 td:nth-child(3) {
      width: 22.22222%; }
  .table01 tr:nth-child(1) {
    background: #eee; }
    .table01 tr:nth-child(1) td {
      padding: 5px 25px;
      color: #000; }
  .table01 tr + tr td {
    border-bottom: 1px dotted #ddd;
    padding: 5px 0; }
    .table01 tr + tr td:last-child {
      font-size: 12px; }

/* textTab02 start */
.textTab02 {
  height: auto;
  border-bottom: none;
  text-align: left; }
  .textTab02 .hd {
    border-bottom: 1px solid #ddd;
    height: 40px;
    position: relative; }
    .textTab02 .hd ul li {
      float: left;
      height: 40px;
      cursor: pointer;
      width: 20%;
      font-size: 15.6px; }
      .textTab02 .hd ul li .iconfont {
        color: #0080d8;
        margin-right: 10px;
        font-size: 18.72px; }
      .textTab02 .hd ul li .hdInner {
        padding: 8px 0;
        text-align: center; }
      .textTab02 .hd ul li + li .hdInner:before {
        position: absolute;
        left: 0px;
        width: auto;
        color: #dbdbdb;
        content: "|";
        font-size: 15px;
        left: -2px; }
      .textTab02 .hd ul li.on {
        background: url(../img/aslionbg.png) center 100% no-repeat;
        color: #0080d8; }
  .textTab02 .bd .switch {
    padding: 13px; }
  .textTab02 .bd ul.switch {
    padding: 15px 0px;
    zoom: 1; }
  .textTab02 .bd li .stb-text {
    height: 30px;
    line-height: 23px;
    font-size: 15px;
    font-weight: 600; }

/* textTab02 end */
.row4 .border-row {
  border-top: none; }

.row4 .hrWrapper {
  margin-left: 0;
  margin-right: 0; }
  .row4 .hrWrapper .hr {
    width: 33.33333%;
    float: left;
    min-height: 1px; }
  .row4 .hrWrapper .str-inner {
    padding-left: 0;
    padding-right: 0; }
  .row4 .hrWrapper .hr + .hr .hriw {
    border-left: 1px solid #ddd; }
  .row4 .hrWrapper .hriw {
    padding: 11px 16px; }

/* list05 start */
.list05 ul {
  text-align: left; }

.list05 li {
  display: block;
  padding: 2px 0; }
  .list05 li .icon {
    float: left; }
    .list05 li .icon img {
      display: block;
      vertical-align: middle; }

.list05 li .date {
  float: right;
  font-size: 12px;
  color: #999999;
  left: 6px; }

.list05 li .text {
  width: 210px;
  height: 25px;
  line-height: 25px;
  float: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

/* list05 end */
.row3 .internetContent {
  height: 267px;
  border: 1px solid #ddd;
  border-top: none; }
  .row3 .internetContent .project_wrapper {
    width: 54.3058%;
    float: left; }
  .row3 .internetContent .bguide_wrapper {
    width: 45.6942%;
    float: left; }
  .row3 .internetContent .bg_inner {
    padding: 0 10px 0 20px; }

.guideTagWrapper {
  margin-left: -5px;
  margin-right: -5px; }
  .guideTagWrapper .guideLink {
    width: 33.33333%;
    float: left;
    min-height: 1px; }
  .guideTagWrapper .str-inner {
    padding-left: 5px;
    padding-right: 5px; }
  .guideTagWrapper .link {
    text-align: center;
    background: #e6f2ff;
    font-weight: bold;
    color: #0080d8;
    padding: 10px 20px; }
    .guideTagWrapper .link .iconfont {
      margin-right: 10px;
      font-size: 18.72px;
      top: 3px; }
  .guideTagWrapper .str-inner {
    padding-bottom: 10px; }

.input_box01 {
  background: #e6f2ff;
  padding: 5px 0; }
  .input_box01 .input_set_text {
    float: left;
    line-height: 28px;
    text-align: center;
    padding: 0 28px; }
  .input_box01 .input-set-l {
    height: 28px; }
  .input_box01 .input-set input {
    display: inline-block;
    float: left;
    height: 100%;
    font-weight: 500;
    border: 1px solid #ddd; }
  .input_box01 .input-set input.input {
    width: 280px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .input_box01 .input-set input.button {
    background: #2b96dc;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px; }

.hr-search {
  text-align: center;
  padding: 20px 0; }

.guideStatus {
  padding-top: 20px; }
  .guideStatus p {
    margin-bottom: 5px; }
    .guideStatus p span {
      margin-right: 30px;
      font-size: 12.6px; }

.sideBar03 .sideBar_li {
  display: block;
  height: 65px;
  line-height: 65px;
  cursor: pointer;
  background: #e6f2ff; }

.sideBar03 .sideBar_li .srow {
  border-left: 5px solid #e6f2ff;
  padding-right: 5px;
  height: 100%; }
  .sideBar03 .sideBar_li .srow .iconfont {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24.336px;
    top: 3px; }

.sideBar03 .sideBar_li:hover, .sideBar03 .sideBar_li.on {
  background: #c4dcf7; }
  .sideBar03 .sideBar_li:hover .srow, .sideBar03 .sideBar_li.on .srow {
    border-left: 5px solid #0080d8;
    color: #0080d8; }

.sideBar03 .sideBar_li + .sideBar_li {
  border-top: 1px solid #c4dcf7; }

.project_wrapper .un-block-1 {
  width: 28.125%;
  min-height: 1px; }

.project_wrapper .un-block-2 {
  width: 71.875%;
  min-height: 1px; }

.project_wrapper .un-line {
  margin-left: -10px;
  margin-right: -10px; }

.project_wrapper .un-inner {
  padding-left: 10px;
  padding-right: 10px; }

.project_wrapper .list03 li .text {
  width: 75%; }

.project_wrapper .titleImg {
  /* @include un_row($pw_arr1,$padding:$project_p,$string:"two-inner"); */ }

.project_wrapper .hasTitle .t {
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); }
  .project_wrapper .hasTitle .t .t_inner {
    padding: 0 20px; }
  .project_wrapper .hasTitle .t .t01 {
    padding: 10px 0 5px; }
  .project_wrapper .hasTitle .t .t02 {
    padding: 10px 0; }

.project_wrapper .projectImg {
  height: 490px; }

.project_wrapper .sp_img {
  height: 235px; }
  .project_wrapper .sp_img + .sp_img {
    margin-top: 20px; }

.head02 .brand {
  display: inline-block;
  padding: 9px 24px 7px 0;
  font-size: 15.6px; }
  .head02 .brand .text {
    margin-right: 10px; }

.head01 {
  background: #e6f2ff;
  border-bottom: 2px solid #0080d8; }
  .head01 .brand {
    background: #0080d8;
    display: inline-block;
    padding: 10px 24px;
    font-size: 15.6px;
    color: #fff; }

.row2 .isWrapper {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-top: none; }

/* policyWrapper start */
.tab05 .bottom .list03, .tab06 .bottom .list03 {
  padding-left: 15px; }
  .tab05 .bottom .list03 ul, .tab06 .bottom .list03 ul {
    padding: 15px 0 0 0; }

/* tab06 start */
.tab06.case02 {
  height: auto;
  border-bottom: none; }

.tab06.case02 .list01 {
  border-top: 1px dashed #ddd; }

.tab06.case02 .bd ul.switch {
  padding: 0px 0;
  zoom: 1; }

.tab06 {
  text-align: left;
  border-bottom: 1px dashed #ddd;
  height: 142px; }

.tab06 .hd {
  height: 35px;
  line-height: 35px;
  position: relative; }

.tab06 .hd ul {
  height: 37px;
  margin-left: -5px;
  margin-right: -5px; }
  .tab06 .hd ul li {
    width: 50%;
    float: left;
    min-height: 1px;
    text-align: center; }
  .tab06 .hd ul .str-inner {
    padding-left: 5px;
    padding-right: 5px; }
  .tab06 .hd ul li {
    cursor: pointer;
    background: #e6f2ff; }
    .tab06 .hd ul li.on {
      background: #fff;
      color: #0080d8; }

.tab06 .bd {
  /* .top{
            padding:15px 0;
            @include f_pictext_rowNew($width:185px,$height:120px,$fpos:"left",$mar-gutter:15px);
            .top-left{
                img{@extend %full;}
            }
            .stb-info{height:66px;overflow:hidden;}
        } */ }
  .tab06 .bd ul.switch {
    padding: 15px 0;
    zoom: 1; }
    .tab06 .bd ul.switch li .s-general {
      padding: 10px 0 15px; }
    .tab06 .bd ul.switch li .stb-text {
      height: 30px;
      line-height: 23px;
      font-size: 15px;
      color: #0080d8; }

/* tab06 end */
/* policyWrapper end */
/* introduceWrapper start */
/* tab05 start */
.tab05.case02 {
  height: auto;
  border-bottom: none; }

.tab05.case02 .list01 {
  border-top: 1px dashed #ddd; }

.tab05.case02 .bd ul.switch {
  padding: 0px 0;
  zoom: 1; }

.tab05 {
  text-align: left;
  border-bottom: 1px dashed #ddd;
  height: 142px; }

.tab05 .hd {
  height: 35px;
  line-height: 35px;
  position: relative; }

.tab05 .hd ul {
  height: 37px;
  margin-left: -5px;
  margin-right: -5px; }
  .tab05 .hd ul li {
    width: 50%;
    float: left;
    min-height: 1px; }
  .tab05 .hd ul .str-inner {
    padding-left: 5px;
    padding-right: 5px; }
  .tab05 .hd ul li {
    cursor: pointer; }
    .tab05 .hd ul li .btn {
      background: #0081cc;
      color: #fff;
      text-align: center; }
    .tab05 .hd ul li.on .btn {
      background: #e6f2ff;
      color: #000; }

.tab05 .bd .switch {
  padding: 15px 0 0 0;
  zoom: 1; }
  .tab05 .bd .switch .s-general {
    padding: 10px 0 15px; }
  .tab05 .bd .switch .stb-text {
    height: 30px;
    line-height: 23px;
    font-size: 15px;
    color: #0080d8; }

.tab05 .bd .bottom .brandTitle {
  width: 5.88235%;
  float: left; }

.tab05 .bd .bottom .listWrapper {
  width: 94.11765%;
  float: left; }

.tab05 .bd .bottom .brandTitle {
  background: #0080d8;
  color: #fff; }
  .tab05 .bd .bottom .brandTitle .btinner {
    padding: 11px 4px;
    text-align: center;
    line-height: 1.2; }

.tab05 .bd .bottom .list03 {
  margin-top: -20px; }

.imgText01 {
  padding: 0 0 15px 0; }
  .imgText01 .imgText01-left, .imgText01 .imgText01-right {
    min-height: 1px; }
  .imgText01 .imgText01-left {
    width: 125px;
    text-align: left;
    height: 80px; }
  .imgText01 .imgText01-right {
    margin-left: 140px;
    height: 80px; }
  .imgText01 .stb-info {
    height: 66px;
    overflow: hidden; }

.imgText {
  padding: 0 0 15px 0; }
  .imgText .imgText-left, .imgText .imgText-right {
    min-height: 1px; }
  .imgText .imgText-left {
    width: 185px;
    text-align: left;
    height: 120px; }
  .imgText .imgText-right {
    margin-left: 200px;
    height: 120px; }
  .imgText .stb-info {
    height: 66px;
    overflow: hidden; }

/* tab05 end */
/* introduceWrapper end  */
.row1 .more, .row2 .more, .row3 .more {
  color: #999;
  float: right; }

.row1 .more {
  height: 40px;
  line-height: 40px; }

/* activitiesWrapper start */
.textTab01 {
  height: auto;
  border-bottom: none;
  text-align: left; }

.textTab01 .hd {
  border-bottom: 1px solid #ddd;
  height: 40px;
  position: relative; }
  .textTab01 .hd ul {
    float: left; }
    .textTab01 .hd ul li {
      float: left;
      height: 40px;
      cursor: pointer;
      font-size: 15.6px; }
      .textTab01 .hd ul li .iconfont {
        color: #0080d8;
        margin-right: 10px;
        font-size: 18.72px; }
      .textTab01 .hd ul li .hdInner {
        padding: 8px 20px; }
      .textTab01 .hd ul li + li .hdInner:before {
        position: absolute;
        left: 0px;
        width: auto;
        color: #dbdbdb;
        content: "|";
        font-size: 15px;
        left: -2px; }
      .textTab01 .hd ul li.on {
        background: url(../img/aslionbg.png) center 100% no-repeat;
        color: #0080d8; }

.textTab01 .bd .switch {
  padding: 13px; }

.textTab01 .bd ul.switch {
  padding: 15px 0px;
  zoom: 1; }

.textTab01 .bd li .stb-text {
  height: 30px;
  line-height: 23px;
  font-size: 15px;
  font-weight: 600; }

/* activitiesWrapper end */
/* publicWrapper start */
.publicWrapper .pheader {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  border-bottom: 1px solid #ddd; }

.list02 ul {
  text-align: left; }

.list02 li {
  display: block;
  padding: 3px 12px; }
  .list02 li .inner {
    padding-left: 10px;
    border-bottom: 1px dotted #ddd; }
    .list02 li .inner:before {
      position: absolute;
      left: 0px;
      width: auto;
      color: #000;
      content: "▪";
      font-size: 15px;
      top: 1px;
      left: 0; }
    .list02 li .inner:hover .list-text, .list02 li .inner:hover:before {
      color: #0080d8; }
  .list02 li .list-text {
    width: 245px;
    padding: 1px 0; }
  .list02 li .intro {
    color: #999;
    font-size: 12px;
    height: 35px;
    line-height: 1.3;
    overflow: hidden;
    padding: 3px 0; }

/* publicWrapper end */
/* topbar03 start */
.topbar03 {
  height: 33px;
  line-height: 30px;
  font-size: 12px;
  background-color: #f5f5f5;
  text-align: left; }
  .topbar03 .tl_wrapper {
    margin-left: 20px; }
  .topbar03 td {
    vertical-align: middle; }
  .topbar03 .topbar_link {
    position: relative;
    padding: 0 10px;
    color: #0080d8; }
    .topbar03 .topbar_link span {
      height: 15px;
      line-height: 15px; }
      .topbar03 .topbar_link span img {
        vertical-align: middle;
        height: 15px;
        margin-left: 5px; }
    .topbar03 .topbar_link + .topbar_link:before {
      position: absolute;
      content: "|";
      left: 0px;
      width: 1px;
      color: inherit; }
    .topbar03 .topbar_link + .topbar_link:before {
      left: -4px; }
    .topbar03 .topbar_link:last-child {
      padding-right: 0; }
  .topbar03 span {
    display: inline-block; }
    .topbar03 span + span {
      margin-left: 15px; }
  .topbar03 .iconfont {
    top: 2px; }

.topbar03 span.title-g {
  margin-left: 0px; }

/* topbar03 end */
/* input set05  start  */
.input-set05 {
  height: 25px; }
  .input-set05 input {
    display: inline-block;
    float: left;
    height: 100%; }
    .input-set05 input.input {
      width: 180px;
      padding-left: 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .input-set05 input.button {
      width: 75px; }
  .input-set05 .input {
    border: 1px solid #0080d8;
    border-right: none; }
  .input-set05 .button {
    background: url(../img/isearch.png) no-repeat 12px 50% #0080d8;
    padding-left: 15px; }

/* input set  end  */
/* navbar start */
.navBar_wrapper {
  background: #0080d8; }
  .navBar_wrapper .navbar-line02 {
    padding-left: 20px;
    position: relative;
    /* nav_erc0 start*/
    /*nav_erc0 end */ }
    .navBar_wrapper .navbar-line02 .naver_0 {
      display: none;
      position: absolute;
      z-index: 99;
      top: 100%;
      min-width: 100%;
      max-width: 200%;
      left: 0;
      border-bottom: 1px solid #ddd; }
      .navBar_wrapper .navbar-line02 .naver_0 .nav_erc {
        border-top: none;
        /* display: inline-block; */ }
        .navBar_wrapper .navbar-line02 .naver_0 .nav_erc li {
          font-size: 14.4px;
          font-weight: normal;
          text-align: center;
          float: left;
          display: block; }
          .navBar_wrapper .navbar-line02 .naver_0 .nav_erc li:hover {
            /* .link{background:url(../img/irightArrow.png) 0px 50% no-repeat;} */ }
          .navBar_wrapper .navbar-line02 .naver_0 .nav_erc li .link {
            white-space: nowrap;
            color: #666;
            padding: 20px 25px;
            display: inline-block; }
            .navBar_wrapper .navbar-line02 .naver_0 .nav_erc li .link, .navBar_wrapper .navbar-line02 .naver_0 .nav_erc li .link .inner {
              height: 22px;
              line-height: 22px; }
            .navBar_wrapper .navbar-line02 .naver_0 .nav_erc li .link:hover {
              color: #0080d8; }
            .navBar_wrapper .navbar-line02 .naver_0 .nav_erc li .link i.fa {
              margin-right: 8px;
              top: -1px;
              position: relative; }
            .navBar_wrapper .navbar-line02 .naver_0 .nav_erc li .link span {
              line-height: 1; }

.navbar-line02 .navbar-block {
  float: left;
  min-height: 1px;
  cursor: pointer;
  display: block;
  width: 14.28571%;
  color: #fff; }
  .navbar-line02 .navbar-block .bg {
    width: 153px;
    height: 60px;
    bottom: 0;
    right: 0;
    position: absolute; }
  .navbar-line02 .navbar-block .text {
    z-index: 999;
    position: relative; }

.navbar-line02 .navbar-block.on .naver_0 {
  display: block; }

.navbar-line02 .navbar-block.on .bg,
.navbar-line02 .navbar-block .navLink:hover .bg {
  background: url(../img/navBg.png) no-repeat 50% 0; }

.navbar-line02 .navbar-block a.navLink {
  display: block;
  text-align: center;
  font-size: 15.6px;
  color: #fff;
  padding: 13px 0; }
  .navbar-line02 .navbar-block a.navLink.divider:before {
    position: absolute;
    left: 0px;
    width: auto;
    color: #dbdbdb;
    background: url(../img/ndivider.png) no-repeat;
    content: " ";
    font-size: 15px; }
  .navbar-line02 .navbar-block a.navLink.divider:before {
    width: 3px;
    height: 40px;
    top: 6px; }

/* navbar end */
.slideWrapper .inner {
  padding: 10px; }

/* slideBox start  */
.slideBox03 {
  overflow: hidden;
  position: relative;
  text-align: right; }
  .slideBox03 .hd {
    text-align: right;
    right: 0;
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    z-index: 1; }

.slideBox03 .hd ul {
  overflow: hidden;
  zoom: 1;
  display: inline-block; }

.slideBox03 .hd ul li {
  float: left;
  margin-right: 12px;
  width: 22px;
  color: #fff;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-size: 12px;
  position: relative; }
  .slideBox03 .hd ul li.on {
    background: #ff9200;
    color: white; }

.slideBox03 .bd {
  position: relative;
  width: 100%;
  z-index: 0; }
  .slideBox03 .bd li {
    width: 100%;
    display: block;
    vertical-align: middle;
    position: relative; }
    .slideBox03 .bd li .slideTitle {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      text-align: left;
      padding: 10px 20px; }
      .slideBox03 .bd li .slideTitle .link {
        width: 70%; }

.slideBox03 .bd li a {
  width: 100%;
  display: block; }

.slideBox03 .bd li a img {
  width: 100%;
  display: block; }

/* slideBox end */
.logoRow {
  padding: 50px 0 25px; }

body {
  background: url(../img/bg.png) no-repeat 50% 0; }

.middlePart {
  background: #fff; }
  .middlePart .row1 {
    width: 100%; }
    .middlePart .row1 .slideWrapper {
      width: 38.38738%; }
    .middlePart .row1 .activitiesWrapper {
      width: 36.63453%; }
    .middlePart .row1 .publicWrapper {
      width: 24.97809%; }
    .middlePart .row1 td {
      border: 1px solid #ddd;
      vertical-align: top; }
  .middlePart .row2 {
    margin-left: -5px;
    margin-right: -5px; }
    .middlePart .row2 .introduceWrapper {
      width: 50%;
      float: left;
      min-height: 1px; }
    .middlePart .row2 .str-inner {
      padding-left: 5px;
      padding-right: 5px; }
    .middlePart .row2 .policyWrapper {
      width: 50%;
      float: left;
      min-height: 1px; }
    .middlePart .row2 .str-inner {
      padding-left: 5px;
      padding-right: 5px; }

.da_banner {
  padding: 6px 0; }
  .da_banner img {
    display: block; }

.rmp {
  margin-bottom: 6px; }

.selectRow {
  margin: 6px 0; }

/*footer start*/
.footer {
  background: #0080d8;
  padding: 40px 0;
  color: #fff;
  border-top: 1px solid #ddd; }
  .footer .fridend_link .right {
    padding: 10px 0 0; }
  .footer .fridend_link .right a {
    font-weight: 700;
    padding: 0 15px; }
    .footer .fridend_link .right a:first-child {
      padding-left: 0; }
    .footer .fridend_link .right a + a:before {
      position: absolute;
      content: "|";
      left: 0px;
      width: 1px;
      color: #dbdbdb; }
    .footer .fridend_link .right a + a:before {
      left: -3px; }
  .footer .copyRight {
    text-align: center;
    font-size: 12px;
    padding: 2px 0; }

/* footer end */

/*# sourceMappingURL=maps/home.css.map */
