@charset "UTF-8";
/* CSS Document */

.slider {
	position: relative;
	width: 100%;
	height:360px;
	overflow: hidden;
}
.slides {
	height: 100%;
	/* Simple clear fix */
	overflow: hidden;
	/**	
	 * Prevent blinking issue
	 * Not tested. Experimental.
	 */
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	/**
	 * Here is CSS transitions 
	 * responsible for slider animation in modern broswers
	 */
	-webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.slide {
	height: 100%;
	float: left;
	clear: none;
}
.slider-arrows {
}
.slider-arrow {
	position: absolute;
	display: block;
	margin-bottom: -20px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 2em;
	background-color: #333;
	background-color: rgba(50,50,50,.0);
	border-radius: 50%;
}
.slider-arrow--right {
	bottom: 50%;
	right: 30px;
}
.slider-arrow--left {
	bottom: 50%;
	left: 30px;
}
.slider-nav {
	position: absolute;
	bottom: 30px;
}
.slider-nav__item {
	width: 12px;
	height: 12px;
	float: left;
	clear: none;
	display: block;
	margin: 0 5px; border-radius:20px; border:2px #fff solid;
}
.slider-nav__item:hover {
	background: #ff761a;border:2px #ff761a solid;
}
.slider-nav__item--current {
	background: #ff761a;border:2px #ff761a solid;
}
.box {
	width: 100%;
	height: 100%;
	line-height: 5;
	text-align: center;
	font-size: 5em;
	color: #fff;
	text-transform: capitalize;
	vertical-align: middle;
}

.img-pointer {
	cursor: pointer;
}

.box-img1 {
	background-image: url(../images/banner7.jpg);
}
.box-img2 {
	background-image: url(../images/banner5.jpg);
}
.box-img3 {
	background-image: url(../images/banner4.jpg);
}
.box-img4 {
	background-image: url(../images/banner2.jpg);
}
.box-img8 {
	background-image: url(../images/banner8.jpg);
}


.fullbg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}