@charset "UTF-8";
/* CSS Document */
body { margin:0px; padding:0px;font-family: "Helvetica Neue", Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial,sans-serif; overflow-x: hidden;font-size: 14px; -webkit-font-smoothing: antialiased; background:#f5f5f5;}
ul,h1, h2, h3, h4, h5, h6{ margin:0px;}
h1 { font-size: 1.5em; }

*{ margin: 0; padding: 0; border: 0; }
*, :before, :after {-webkit-box-sizing: border-box;box-sizing: border-box;}
hr, iframe, img, legend {border: 0;}
a{ text-decoration:none; color:#007dc7;}
a:hover {text-decoration: none;}
input {line-height: normal;}
img {border: 0;}
table,td,tr,th{font-size:14px;}
table{border-collapse:collapse;padd:expression(this.cellPadding=0);padd:expression(this.cellSpacing=0);}
table th, table td{padding:0;}
button, input, optgroup, select, textarea {color:inherit;font:inherit;margin:0;}
em {font-style: normal;}
ol,ul {padding: 0;}
ol,ul,li{list-style: none; } 
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block;}
.clearfix:after {display: block;clear: both;visibility: hidden;height:0;content: '';}
.clearfix {zoom: 1;}
.l-left {float: left;}
.l-right {float: right;}
.l-container {width: 1000px;margin: 0 auto;position:relative; }
.w_contbo{ min-height:500px; background:#fff; border:1px #eaeaea solid; margin-top:30px; position:relative;  }
.w_cont_page{ min-height:500px; background:#fff; border:1px #eaeaea solid;  position:relative;  }
.mar_w{ margin-left:120px; width:400px; text-align:center; margin-bottom:10px;}
.mar_wm{ margin:0 auto;  width:400px; text-align:center; margin-bottom:10px;}
.border_no{ border:none;}
.mar_l10{ margin-left:10px;}
.mar_r10{ margin-right:10px;}
.mar_l30{ margin-left:30px;}
.mar_l20{ margin-left:20px;}
.mar_r20{ margin-right:20px;}
.mar_t30{ margin-top:30px;}
.mar_t40{ margin-top:40px;}
.mar_t20{ margin-top:20px;}
.mar_t10{ margin-top:10px;}
.mar_l50{ margin-left:50px;}
.mar_l60{ margin-left:60px;}
.mar_b20{ margin-bottom:20px;}
.mar_b50{ margin-bottom:50px;}
.mar_l110{ margin-left:110px;}
.pad_t10{padding-top: 10px;}
.pad_l20{ padding-left:20px;}
input[type=text]:focus{-webkit-appearance: none;}
input[type=text]:focus{border: 1px solid #6bafff;}
.w250{ width:250px;}
.w310{ width:310px;}
.yellow_color{ color:#F60}
.grey_color{color:#737373;}
.green_color{ color:#69af32;}
.black_color{ color:#333;}
.yell_bg{ background:#F60}
.grey_bg{ background:#cccccc}

.dis_m{ display:inline-block; vertical-align:middle;}


/* header*/
.g-topbar {height: 30px;line-height: 30px;font-size: 12px;background: #3f454f;}
.g-service {height: 30px;margin: 0;color:#fff;}
.g-topbar-nav {height: 30px;margin: 0;}
.g-topbar-nav a{ position:relative;}
.g-topbar-nav-link {margin: 0 10px;color: #fff; }
.ico16{ width:16px; height:16px; display:inline-block; vertical-align: middle; margin-right:10px;}
.service_ico{ background:url(../images/samll.png) no-repeat -16px -0;}
.phone_ico{background:url(../images/samll.png) no-repeat -0px -0;}
/* header-menu*/
.g-header { height:65px; background:#fff;}
.g-header-logo {display:block;float:left;width:120px;height:65px; padding-top:4px;}
.g-header-nav {float: right;height:65px;}
.g-header-nav-link {display: inline-block;position: relative;height:60px;line-height:60px;padding: 0 12px;margin: 0 6px;border-bottom: 4px solid #fff;
  font-size: 18px;color: #333;}
.g-header-nav-link.on,.g-header-nav-link:hover {color: #ff6633;border-bottom: 4px solid #ff6633; text-decoration: none;transition: all .2s ease-in-out;}

/* banner*/

.banner{min-width:1000px;position: relative; clear:both}


/* footer*/
.g-footer {min-width:1000px;padding: 10px 0;font-size: 14px;color: #ffffff;background: #3f454f;}
.g-footer-section {float: left;width: 150px;}
.g-footer-title {font-size: 16px;color: #fff;margin: 14px 0;}
.g-footer-list {margin: 10px 0;}
.g-footer-link {padding: 5px 0;color: #93969d;}
.g-footer-section_r {float: left;}
.g-footer-list_l{ float:left; margin:0px 10px 0 0;}
.footerico{ width:48px; height:48px; display:block;}
.weixin{ background:url(../images/samll.png) no-repeat -0px -152px;}
.qq{ background:url(../images/samll.png) no-repeat -58px -152px;}
.weibo{ background:url(../images/samll.png) no-repeat -116px -152px;}
.weibo:hover,.qq:hover,.weixin:hover{opacity: .8;}

.service_pho_ico{width:48px; height:48px; background:url(../images/bottpho_ico.png) no-repeat; display:inline-block; vertical-align:middle}
.service_phofont{display:inline-block; vertical-align:middle; color:#93969d;}
.service_phofont p{ margin-left:5px;}
.service_phofont .pho_maxfont{ font-size:30px;}
.g-footer-safeguard {margin-top: 10px;padding-top: 10px;border-top: 1px solid #525965; text-align:center; font-size:12PX;}

/* 弹窗*/
.win_bg{position:absolute; top:0; bottom:0; width:100%; background:rgba(0,0,0,0.3); z-index:1;}
.win_box{width:800px; min-height:350px;position:absolute; top:50%; left:50%; z-index:999;background:#fff; margin-left:-400px;margin-top:-150px; -webkit-box-shadow: 0 0 20px #334338;
  -moz-box-shadow: 0 0 20px #334338;box-shadow: 0 0 20px #334338; border-radius:3px;}
.win_minbox{width:500px; min-height:250px;position:absolute; top:50%; left:50%; z-index:999;background:#fff; margin-left:-400px;margin-top:-150px; -webkit-box-shadow: 0 0 20px #334338;
  -moz-box-shadow: 0 0 20px #334338;box-shadow: 0 0 20px #334338; border-radius:3px;}
.close{ background:#ff761a; width:25px; height:25px; position:absolute;right:-10px; top:-10px; border-radius:35px; font-size:22px; text-align:center; font-weight:bold; color:#fff; line-height:20px; cursor:pointer;}
.close:hover{background:#ec660c;}
.wintitle_h{ background:#fff9f3;font-weight:normal; color:#ff761b; font-size:16px; border-bottom:1px #feba8d solid; height:40px; line-height:40px; text-align:left; padding-left:20px; border-top-left-radius:5px;border-top-right-radius:5px;}
.mare{ color:#333; font-size:14px;}
.wincont_userbg{ background:url(../images/register_bg.png) no-repeat right bottom; background-size:380px 280px;width:800px; min-height:350px;position:absolute; top:50%; left:50%; z-index:999;background-color:#fff; margin-left:-400px;margin-top:-150px; -webkit-box-shadow: 0 0 20px #334338;
  -moz-box-shadow: 0 0 20px #334338;box-shadow: 0 0 20px #334338; border-radius:3px;}
 /* 弹窗－登录*/ 
.win_loginbox{width:500px; min-height:400px;position:absolute; top:50%; left:50%; z-index:999;background:#fff; margin-left:-250px;margin-top:-200px; border: 12px solid rgba(255,255,255,0.3);
  border-radius: 10px;-moz-background-clip: border;-webkit-background-clip: border;background-clip: border-box;-moz-background-clip: padding;-webkit-background-clip: padding;background-clip: padding-box;-moz-background-clip: content; padding:10px;}
.win_titleq{ height:35px; line-height:35px; font-size:16px; padding-left:80px; color:#59afe6;  border-bottom:1px #eee solid;} 
/*提示弹窗*/
.tiwin_box{width:350px; min-height:180px;position:absolute; top:50%; left:50%; z-index:999;background:#fff; margin-left:-175px;margin-top:-90px; -webkit-box-shadow: 0 0 20px #334338;
  -moz-box-shadow: 0 0 20px #334338;box-shadow: 0 0 20px #334338; border-radius:5px;}
.tiwin_fontcont{ text-align:center; font-size:16px; margin:30px 10px;} 
.tiwin_buttc{ text-align:center;}
  
/* 注册*/
.b_s{border:1px #dcdcdc solid}
.header-clean {height: 70px;}
.header-clean .sub-title,.g-header .sub-title {display: block;float: left;padding-top:20px;padding-left: 180px;font-size: 24px;color: #666;}

.page-register {background: #fff;border: 10px solid #eee; overflow:hidden;}
.login-link {position: absolute;color:#ff761a;font-size: 14px;bottom:0px;right: 0px;}

.page-register .reg-area {position: relative;padding:0px;}
.page-register .psp-form-reg {float: left;width: 590px; }
.page-register .psp-prompt-reg {float: right;width: 375px;height: 489px; background:#fcfcfc; border-left:1px #ddd dashed;}

.reg-form-list { margin: 20px 0;position: relative;}
.reg-form-list .list-title {margin-right: 10px;float: left;width: 100px;text-align: right;letter-spacing: 2px;font-size: 16px;color: #4c4b4b;vertical-align: top;line-height: 42px;
}
.list-input {line-height: 16px;float:left;width: 250px;margin-right:0px;padding: 10px 4px;border: 1px solid #c4c5c5;font-size: 14px;color: #666;outline: none;
}
.list-select{float: left;width: 250px;border: 1px solid #c4c5c5;font-size: 14px;color: #666;outline: none;height: 35px; background: #fff; margin-top:3px;}
.reg-form-list .lable_r{float: left;font-size: 14px;color: #666; line-height:42px;}
.reg-form-list .list-inputw{float:left;width:150px;margin-right:0px;padding:10px 4px;border:1px solid #c4c5c5;font-size:14px;color:#666;outline: none; }
.form_group{float: left; position:relative;}
.group_w{ width:406px;}
.input-group-btn{background:#0099f4; position: absolute; left:150px; top:0; height:38px; line-height:38px; width:100px; text-align:center; color:#fff;border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;}
.reg-form-list .err-area {color: #a4a4a4;line-height: 42px;float: left;font-size: 14px;margin-left:5px;}
.reg-form-list .err-tips {padding: 4px 0 4px 23px;background: url(../images/samll.png) no-repeat;}
.reg-form-list.err .err-tips{background-position: -0px -73px;}
.reg-form-list.ok .err-tips{color: transparent;background-position: -0px -47px;}
.short-err .err-tips{font-size: 12px;padding: 4px 0 8px 30px;}
.feedback-err{display: none;margin: 0;}
.feedback-err .err-area{margin: 0px 0px 15px 142px;line-height: 25px;}
.reg-form-list .ie-holder{left: 140px;}

.help-block {display: block;margin-top: 5px;margin-bottom:0px; clear:both}
.reg-form-list .list-checkbox {float: left;margin: -10px 0 0 110px;}
.reg-form-list .list-checkbox label a {color: #f63;}
.psp-form-reg .btn {margin-left: 110px;text-indent: 0;}
.btn{display: block;border: none; cursor:pointer;height: 36px;line-height: 36px;font-size: 18px;color: #fff;text-align: center;width: 212px;background:#ff761a;letter-spacing: 6px;text-indent: 6px;outline: none;}
.btn:hover {opacity: .8;}

.page-register .textmsg-notice {margin-bottom: 10px;margin-left: 110px; color:#999;margin-top:-10px;}

.register_banner{ width: 335px;height: 449px; margin:20px 0 0 20px;}
.register_banner img{ width:100%; height:100%;}

.yu_font{line-height: 40px; margin-left: 10px;}

.logininer{ color:#f63; font-size:14px; margin-left:20px; cursor:pointer;}
.logininer:hover{color:#ff8b65;}

/* 注册成功*/
.register-succed{ height:489px; background:url(../images/register_bg.png) no-repeat right bottom; text-align:center; vertical-align:middle; padding:145px;}
.register-succed h1{ height:50px;  font-size:28px; font-weight:normal; color:#666666; margin-bottom:10px;}
.register-succed h1 i{ width:70px; height:68px;  display:inline-block; vertical-align:middle; margin-right:30px;background:url(../images/correct_ico.png) no-repeat;}
.register-succed h1 .light_ico{width:50px; height:58px;  display:inline-block; vertical-align:middle; margin-right:10px;background:url(../images/light_ico.png) no-repeat; background-size:40px 58px;}
.register-succed p{ color:#ff5400; margin-left:-40px;}
.but_blue{background: #0080cc;color: #fff;}
.but_yellow{background: #ff761a;color: #fff;}
.button{ border-radius:5px; border: none;cursor: pointer;height: 36px;line-height: 36px;font-size: 18px;text-align: center;letter-spacing: 2px;text-indent: 6px;outline: none; padding:0 10px;}
.button:hover,.button_n:hover,.button_n_cz:hover{opacity: .8;}
.button_n{display: inline-block;border: none; cursor:pointer;height: 36px;line-height: 36px;font-size: 18px;color: #fff;text-align: center;background:#ff761a;letter-spacing:2px;text-indent: 6px;outline: none;padding:0 10px;}
.boradius{ border-radius:5px; margin:0 5px;}

.select-list{float:left;margin-right:0px;padding: 10px 4px;border: 1px solid #c4c5c5;font-size: 14px;color:#666;outline:none;
height: 35px;background: #fff;margin-top: 5px;}
.select_w250{width: 250px;}
.select_w100{width: 114px;}
.input_w179{width: 179px;}
.input_w380{ width:380px;}


.choose_box{ width:20px; height:19px; display:inline-block; vertical-align:middle; cursor:pointer; margin-right:5px;}
.nochoose_ico{ background:url(../images/nochoose_ico.png) no-repeat;}
.selechoose_ico{ background:url(../images/selechoose_ico.png) no-repeat;}

/* 多列表格*/
.table_col{ width:96%; max-width: none !important; margin:10px auto; margin-top:10px;}
.table_col th{border-top:1px #f9dcc8 solid;height:35px; text-align:center;  color:#F60}
.table_col td{ height:35px;border-bottom:1px #e4e4e4  dashed; text-align:center; }
.table_col th{ background:#fafbfc;  font-weight:normal;}
.table_col-striped tbody>tr:nth-child(odd)>td, .table_col-striped tbody>tr:nth-child(odd)>th {background-color: #f9f9f9;  }



.tab_ti{ padding:4px 4px; width:50px;  color:#fff; border-radius:3px; margin:0 auto; cursor:pointer;}
.tab_ti:hover{filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;}
.bl_bg{background:#6abfea;}
.yl_bg{ background:#ff8400}
.gr_bg{ background:#69c3be}


/*翻页*/

.scott {
    PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.scott A {
  COLOR: #ff761a;
  MARGIN-RIGHT: 5px;
  TEXT-DECORATION: none;
  border: #ddd 1px solid;
  padding: 5px 10px;background: #fff;}
.scott A:hover {
    BORDER-RIGHT: #ff761a 1px solid; BORDER-TOP: #ff761a 1px solid; BORDER-LEFT: #ff761a 1px solid; COLOR: #ff761a; BORDER-BOTTOM: #ff761a 1px solid; BACKGROUND-COLOR: #fff7f1
}

.scott SPAN.current {
  FONT-WEIGHT: bold;
  COLOR: #fff;
  MARGIN-RIGHT: 5px;  
  border: #ff761a 1px solid;
  background: #ff761a;
  padding: 4px 10px;}
.scott SPAN.disabled {
  COLOR: #ccc;
  MARGIN-RIGHT: 5px; 
  padding: 5px 10px;
  border: #f3f3f3 1px solid;}
  
  
 /*内页标题－page*/ 
.page_th1{ font-size:14px; height:40px; line-height:40px;  text-align:left; font-weight:normal; margin-top:15px;}
.page_th1 a{ display:inline-block; vertical-align: middle; margin:0 5px; }
.page_th1 i{width:3px; height:16px; display:inline-block; vertical-align:middle; background:#ff761a;}
 
/* 列表 －头部选择*/
.nav-block{position: relative; margin-top:5px;}
.nav-block .block-head {position: absolute;left:19px;top:9px;color: #333; }
.nav-block .block-body {height: 40px;overflow: hidden;padding: 0 10px 0 90px;text-align: left;}
.nav-block .params-cont {padding: 5px 0; color:#333; }
.nav-block .params-cont span {text-align: left;margin: 0px 2px;max-width: 140px;display: inline-block;white-space: nowrap;padding: 4px 10px; cursor:pointer;}
.nav-block .params-cont span:hover{background: #ededed; border-radius:5px;}
.sele-all {background: #ededed; border-radius:5px;}
.sele_item {background: #1da0e3;color:#fff;border-radius:5px;}
.nav-block .params-cont font{ display:inline-block; vertical-align:middle; margin-left:10px;}


/* 公告列表*/
.unotice_list{padding:0px; margin:10px 20px;}
.unotice_list li{ border-bottom:1px #ddd dashed; height:38px; line-height:38px; padding-left:15px; color:#333; cursor:pointer;}
.unotice_list li span{ float:left; margin-right:20px; color:#999}

.unotice_list li:hover{ background:#fdf5ef}

/*进度条*/
.Bar{ position: relative; width:150PX;  /* 宽度 */ border:1PX #EEE solid; background:#f5f5f5; padding: 1px; display:inline-block; vertical-align:middle; color:#333;}
.Bar div{ display: block; position: relative; background:#ff761a;/* 进度条背景颜色 */  height: 20px; /* 高度 */ line-height: 20px;  /* 必须和高度一致，文本才能垂直居中 */ }
.Bar div span{ position: absolute; width: 150px; /* 宽度 */ text-align: center;  }
.cent{ margin:0 auto; width:300px; overflow:hidden}



/*进度条1*/
.project-base .Bar{ position: relative; width:100PX;  /* 宽度 */ border: none; background:#f5f5f5; padding: 1px; display:inline-block; vertical-align:middle; color:#333; font-size:14px;}
.project-base .Bar div{ display: block; position: relative; background:#ff761a;/* 进度条背景颜色 */  height: 20px; /* 高度 */ line-height: 20px;  /* 必须和高度一致，文本才能垂直居中 */ }
.project-base .Bar div span{ position: absolute; width: 100px; /* 宽度 */ text-align: center; left:0px;  }
.project-base .cent{ margin:0 auto; width:300px; overflow:hidden}

.page_htitle{ margin:10px 20px; padding:10px 10px 10px 10px; text-align:left; border-bottom:1px #eee solid;}
.page_htitle span{ display:inline-block; vertical-align:middle; }
.page_htitle_minfont{font-size:16px; font-weight:bold; color:#666}

/*详情页*/
.posts {margin: 30px 0;padding: 30px 60px; background-color: #fff; min-height:500px;}
.posts h1 {padding-bottom: 30px;text-align: center;color: #f63;font-size: 18px;}
.posts h1 P{ display:block; margin-top:2px; font-size:14px; color:#adadad; font-weight:normal;}
.posts p {color: #666;font-size: 14px;line-height: 28px;}


.tis{position:absolute; z-index:999;  background:#fff8f0; min-height:25px; line-height:25px; font-size:12px;  top:37px; border:1px #fcb16e solid; padding-left:10px;}

.w250t{width:250px;left:110px;}
.w380t{width:380px;left:110px;}
.w179t{ width:179px;}
.pos_re{ position:relative;}


/*弹窗1*/
.win_wre20{ margin:20px;}
.win_wre20 .win_formgroup{ margin:0px; padding:0px;}
.win_wre20 .win_formgroup label{ display:inline-block; vertical-align:middle; width:90px;}
.win_wre20 .win_formgroup .inputgroup{display:inline-block; vertical-align:middle; }
.win_wre20 .win_formgroup .inputgroup .list-inputw{ float:left;width:120px;margin-right:0px;padding:5px 4px;border:1px solid #c4c5c5;font-size:14px;color:#666;outline: none;  }
.win_wre20 .win_formgroup .inputgroup .form_group img{ width:65px;}


.title_co_i{ width:25px; height:25px; display:inline-block; vertical-align:middle; margin-right:5px; margin-bottom:5px;}
.nar_01{ background:url(../images/nar_01.png) no-repeat; background-size:25px;}
.nar_02{ background:url(../images/nar_02.png) no-repeat; background-size:25px;}
.nar_03{ background:url(../images/nar_03.png) no-repeat; background-size:25px;}

.g-service span{ width:16px; height:16px; display:inline-block; vertical-align:middle; margin-left:10px;}
.qq_ico{ background:url(../images/qq_white.png) no-repeat center; background-size:16px; cursor:pointer;}
.weixin_ico{ background:url(../images/weixin_white.png) no-repeat center; background-size:16px;cursor:pointer;}
.qq_ico:hover{ background:url(../images/qq_blue.png) no-repeat center; background-size:16px;}
.weixin_ico:hover{ background:url(../images/weixin_blue.png) no-repeat center; background-size:16px;}
.g-topbar-social-account {display:none; position: absolute; top: 30px;left:153px;width: 200px;padding: 10px 0;line-height: 20px;border: 1px solid #ccc;border-radius: 5px;z-index: 200;background: #ffffff;color: #666666;text-align: center;}
.g-topbar-social-account.weixin1::before {
  left: 20%;
}

.g-topbar-social-account::before {
  content: " ";
  position: absolute;
  top: -13px;
  border: 1px solid #ccc;
  width: 0;
  height: 0;
  border: 7px solid;
  border-color: transparent transparent #ffffff transparent;
}

.center_about .guide-h1 {
  line-height: 45px;
  font-size: 18px;
  padding-left: 20px;
  border: 0;
}

.center_about .guide-p {
  border-bottom: 1px #eee solid;
  padding-left: 40px;
  padding-bottom: 12px;
  font-size: 14px;
}

