@charset "UTF-8";
/* CSS Document */
.form {display: block; margin:20px 0;}


/* 登录*/
.login_bg{ min-width:1000px; height:542px; background:url(../images/login_bg.png) no-repeat  center; background-size:1100px 542px; background-color:#78d1ff; position:relative;}
.login_box {position: absolute; width:380px;height:400px;background: #fff;top: 43px;right:20px;padding: 25px; border: 12px solid rgba(255,255,255,0.3); border-radius:10px;
-moz-background-clip: border; /* Firefox 3.6 */ 
-webkit-background-clip: border; /* Safari 4? Chrome 6? */ 
background-clip: border-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */ 
-moz-background-clip: padding; /* Firefox 3.6 */ 
-webkit-background-clip: padding; /* Safari 4? Chrome 6? */ 
background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */ 
-moz-background-clip: content; /* Firefox 3.6 */ }

.login_user {position: relative;margin-bottom: 22px;margin-top: 6px;width: 300px;}
.login_user input{width: 300px;height: 40px;line-height:40px; border: 1px solid #ccc;color:#666666;font-size:16px;background: url(../images/login.png) no-repeat;padding-left: 50px;}
#userName{background-position: 0 4px;}
#password{background-position: 0 -30px;}
#code{background-position: 0 -70px;}
#loginName_win{background-position: 0 4px;}
#password_win{background-position: 0 -30px;}
#code_win{background-position: 0 -70px;}
.login_user label {position: absolute;width:234px;height:40px;top:2px;left:50px;line-height: 39px;font-size: 16px;color: #c4c4c4;}
.login_error {border: 1px solid #ffa8a8;background: #ffebeb;color: #ff0000;height:20px;line-height:20px;font-size: 12px;padding-left: 10px;}
.err_h{ height:20px}
.messCode_but{ position:absolute; text-align:center; line-height:40px; width:90px;  height:40px;
color:#fff; font-size:14px; right:0px; text-decoration:none; text-align:right}
.login_but{ text-align:center; line-height:45px; background:#ff761b; color:#fff; width:300px; display:inline-block;letter-spacing:5px; height:45px; font-size:20px; vertical-align:middle; font-weight: normal; text-decoration:none;}
.login_but:hover{opacity: .8;text-decoration:none;}

/* 实名认证*/
.certify_box{}
.certify_w{ float:left; width:399px; min-height:350px;}
.certify_rcont{ background:#fcfcfc;  border-left:1px #999 dashed;}
.certify_h1{text-align:center; margin-top:60px; font-weight:normal;}
.certify_rul{ margin:20px 10px 10px 50px; padding:0px; }
.certify_rul li{ margin:10px 0; text-align:left;}
.certify_rul li span{ width:16px; height:16px; display:inline-block; margin-right:10px; vertical-align:middle; text-align:center; background:#F90; color:#fff; border-radius:3px;}

/* 忘记密码*/
.w_passform{margin:70px auto; width:600px;}
.steps {height:56px;border-bottom:2px solid #e6e6e6;position:relative;  margin: 20px 50px;}
.steps ol {width: 600px;margin: 0 auto;}
.steps-4 ol li {width: 150px;padding-left: 30px;}
.steps ol li {display: inline;float: left;width: 200px;height: 56px;line-height: 56px;font-size: 16px;font-weight: 700;color: #999;
font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial;}
.steps ol li.active {color: #3e3e3e;border-bottom: 2px solid #ff761a;}
.steps ol li.active i {background-image: url(../images/ico-circle1.png);}
.steps ol li i {display: inline-block;zoom: 1;margin-right: 5px;width: 30px;height: 30px;text-align: center;font-style: normal;line-height:30px;font-size: 14px;
font-weight: 700;color: #FFF;background: url(../images/ico-circle2.png) no-repeat 0 0;}

.w_passform h1{ margin-left:100px; font-weight:normal; margin-bottom:30px;}
.page_h{ height:489px;}


/* 投资理财*/
.lrjh-list{padding: 20px 0;}
.lrjh-list .g-h2 {margin-bottom:8px;}
.g-h2 {position: relative;height: 25px;line-height: 25px;color: #f63;font-size: 20px;font-weight: bold;}

.project1 {width: 680px;padding: 15px 0px;margin-bottom: 15px;border: 1px solid #ddd;background: #fff;}
.project {width: 680px;padding: 17px 20px;margin-bottom: 15px;border: 1px solid #ddd;background: #fff;}
.project-title {position: relative;padding-bottom: 10px;border-bottom: 1px dashed #ccc;font-size: 18px;font-weight: normal;}
.title-link {color: #333;}
.project-tags {display: inline-block;margin-left: 10px;}
.hd-tag-container {position: relative;z-index: 10;}
.hd-tag {padding: 3px 10px;margin-right: 5px; border: 1px solid #f96;border-radius: 20px;background: #fff;color: #f63;font-size: 13px;text-decoration: none;}
.g-rate {font-size: 28px;color: #f63;}
.g-rate .percent {font-size: 18px;}
.project-base {display: inline-block;height: 70px;color: #666666;text-align: center;}
.project-base .line1 {padding-top: 15px;padding-bottom: 10px;font-size: 20px;}
.project-base.rate {width: 15%;margin-right:1%;}
.project-base.days {width: 15%;}
.project-base.amount {width:28%;margin-right: 1%;}
.project-base.buy {width: 20%;position: relative;}
.project-base .g-btn {position: absolute;width: 100px;right: 0;top: 30px;display: block;color: #fff;border-radius: 5px;text-align: center;}
.project-base .g-btn:hover {text-decoration: none;opacity: 0.8;filter:alpha(opacity="80");}

.project-basey {display: inline-block;color: #666666;text-align: center; margin-bottom:5PX;}
.project-basey .line2 {padding-top:0px;padding-bottom:0px;font-size: 16px;}
.project-basey.ye_nu {width:31%;margin-right:1%;}

.ma_fit{  margin:0px; padding:10px 20px; margin-left:20px; border-top:1px #DDD  dashed}
.ma_fitgroup{ margin-left:20px; }
.ma_fitw{ width:50%; float:left; color:#333; padding:3PX 0;}
.ma_fitw label,.ma_fitw span{display:inline-block; vertical-align:middle}
/*按钮*/
.g-btn-medium-major {
	height: 36px;
	font-size: 16px;
	line-height: 2.25;
	background: #f63;
	letter-spacing: 1px;
	text-indent: 1px;
}
.g-btn-grey {
  background: #aaa;
}

/*右侧*/
.m-aside {width: 305px;padding: 10px;margin-bottom: 15px;border: 1px solid #ddd;background: #fff;}
.posts-list {width:100%;margin-left:5px;}
.posts-item {margin: 15px 0; position:relative;}
.h165{ height:165px;}
.m-aside img{ width:100%; height:100%}
.posts-item em,.tuhao-items em{ display:inline-block;width:14px;height:14px; border-radius:30PX; color:#FFF; text-align:center; line-height:14px; float:left;margin-right: 5px;margin-top: 3px;}
.posts-link {display: inline-block;width:80%;float: left;color: #666666;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.posts-link:hover {color: #f63;}
.posts-time {display: inline-block;color:#ccc;}

.tuhao-list {width: 90%;margin: 0 auto;}
.tuhao-items {width: 100%;margin: 15px 0;}
.tuhao-item.money { width: 40%;float:right;}
.tuhao-item.user {width: 30%;margin-right: 10%;}

/* 投资理财-page*/
/* 左-page*/
.prj-info{ width:100%; background:#fff; padding:20px;}
.prj-base { width: 560px;}
.prj-base h1 { font-size:18px;}
.prj-base h1 a{ float:right; color:#ff761a; font-weight:normal; text-decoration:underline; font-size:14px;}
.prj-buy { width: 359px;border-left: 1px solid #eee;}
.prj-base, .prj-buy {height: 400px;}

.rate1 {width: 250px;height: 200px;margin: 0 0 20px 150px;position: relative;background: url(../images/prj_rate_v3.png) no-repeat ;}
.rate1.two {background-position: 0 -200px;}
.rate1 .center,.rate2 .center{position: absolute;top: 70px;left: 0;right: 0;margin-left: auto;margin-right: auto;}
.rate1 .center .rate-number, .rate1 .center .title ,.rate2 .center .rate-number,.rate2 .center .title{margin: 0;text-align: center;}
.rate-number{ color:#F60}
.g-rate-black{  font-size: 30px;color: #333;}
.rate1 .center .title ,.rate2 .center .title {color: #999999;}
.rate1 .base ,.rate2 .base{left: -39px;top: 27px;}
.rate1 .platform ,.rate2 .platform{right: -52px;top: 142px;}
.rate1 .extra,.rate2 .extra { position: absolute;}

.rate2 {width: 250px;height: 200px;margin: 0 0 20px 150px;position: relative;background: url(../images/prj_rate_v1.png) no-repeat 20px;}

/* 右-page*/
.risk-tips {margin: 0;text-align: left;font-size: 12px;color: #ff761a; background:#fef3dd; padding:5px; margin-left:10px; border:1px #f7e6c5 solid }


.all_data1{ margin:40px 10px 0px 30px;}
.all_data1 li{ line-height:35px;}
.all_data1 li .data_lable{ font-size:16px; text-align:left; }
.all_data1 li .data_number{ font-size:20px; float:right; color:#ff761a; font-weight:bold}
.all_data1 li .yuan{font-style: normal;font-size: 14px;color: #333333;margin-left:5px;float:right;}
.data1_inputtext{height:35px; float:right; width:250px;padding: 5px 4px;border: 1px solid #c4c5c5;font-size: 14px;color: #666; text-align:center;}
.all_data2{ margin:8px 20px 0px 20px;}
.all_data2 li{ line-height:35px;}
.all_data2 li .data_lable{ font-size:16px; text-align:left; }
.all_data2 li .data_number{ font-size:20px; float:right; color:#ff761a; font-weight:bold}
.all_data2 li .yuan{font-style: normal;font-size: 14px;color: #333333;margin-left: 5px;float:right;}
.risk_cz{ margin-right:10px; margin-bottom:10px;}
.risk_cz a{ color:#F60; text-decoration:underline;}
.risk_cz a:hover{text-decoration: none;}
.risk_cz1{ margin-right:20px; margin-bottom:10px;}
.risk_cz1 a{ color:#F60; text-decoration:underline;}
.risk_cz1 a:hover{text-decoration: none;}
.risk_cznumber{ text-align:right; padding-right:10px; line-height:30px;}
.risk_cznumber font{ color:#F60}
.risk_cznumber1{ text-align:right; padding-right:20px; line-height:30px;}
.risk_cznumber1 font{ color:#F60}
.list-input_ma {float:left;width:320px;margin-right:0px; text-align:center;padding: 10px 4px;border: 1px solid #c4c5c5;font-size: 14px;color: #666;outline: none;line-height: 16px;
}

.sy-available {margin:0px 0; border:1px #eee dashed; margin-left:30px; margin-right:10px; font-size:15px; height:35px; line-height:35px; padding-left:10px; background:#f9f9f9;}
.sy-available1 {margin:0px 0; border:1px #eee dashed; margin-left:20px; margin-right:20px; font-size:15px; height:35px; line-height:35px; padding-left:10px; background:#f9f9f9;}
.available {font-weight: normal;color: #333;}


.button_n_cz {
  display: inline-block;
  border: none;
  cursor: pointer;
  height: 46px;
  line-height: 36px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background: #ff761a;
  letter-spacing: 2px;
  text-indent: 6px;
  outline: none;
  padding: 0 10px;
}
.button_n_cz_grey {
  display: inline-block;
  border: none;
  height: 46px;
  line-height: 36px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background: #aaa;
  letter-spacing: 2px;
  text-indent: 6px;
  outline: none;
  padding: 0 10px;
}
/* 底-tab*/
.prj-detail {width: 1000px;margin-top: 20px;background: #fff;}
.detail-type {height: 50px;border-bottom: 1px solid #eee;}
.type-link1 {float: left;width: 124px;height:50px;line-height:50px;border-top: 5px solid #fff;border-right: 1px solid #eee;font-size: 16px;text-align: center;color: #333333;
  cursor: pointer;}
  
.detail-content1 {width: 900px;padding: 20px 40px 50px 40px;position: relative;}
.type-link1.cur {border-top: 5px solid #ff6633;border-bottom: 1px solid #fff;color:#ff6633;background:#fff;}
.ltz-text h1 {margin-top:5px;margin-bottom:10px;font-size: 16px;color:#ff6633; font-weight:normal;}
.ltz-text p { margin: 10px 0;font-size: 14px;line-height: 1.5;}


/*变现购买*/
.zlbx-intro{position:relative;margin-bottom:25px; background:#fff; padding-left:30px;}

/* 左-page*/
.zlbx-base { width: 560px;}
.zlbx-base h1 { font-size:18px; margin-top:30px; margin-left:20px;}
.zlbx-base h1 a{ color:#ff761a; font-weight:normal; text-decoration:underline; font-size:16px; margin-left:20px;}
.zlbx-buy { width: 359px;border-left: 1px dashed #eee; background:#fcfcfc;}
.zlbx-base, .zlbx-buy {height: 360px;}

.zlbx-intro .info-tablez {width: 500px;margin-top: 30px; margin-left:20px;}
.info-tablez {font-size: 16px;text-align: left;}
.zlbx-intro .info-tablez th:nth-child(1) {width: 120px;}
.zlbx-intro .info-tablez th:nth-child(2) {width: 120px;}
.zlbx-intro .info-tablez th:nth-child(3) {width: 120px;}
.info-tablez th {color: #666;text-align: left;}

.info-tablez td, .info-tablez a {color:#999;}
.info-tablez .c-pink, .info-tablez .c-blk {font-size: 22px;}
.c-pink {color: #ff761a;}
.line-thr{text-decoration: line-through;}

.zlbx-intro .extra-info {margin-top: 30px;color: #666;font-size: 16px; margin-left:20px;}
.c-org { color: #ff761a;}

.zlbx-detail {position: relative;padding-top: 50px;font-size: 14px;color: #666; background:#fff; text-align:center; padding-bottom:20px;}

.zlbx-detail .banner {width: 100%; height:250px;margin-top: -15px;margin-bottom: 35px;background: url(../images/bann1.png) center top no-repeat; background-size:900px 250px;}

/*变现展示*/
.bxsort {margin-top:0px;padding: 0 15px;height: 45px;line-height: 45px;border: 1px solid #ddd;background-color: #fff;width: 982px;}
.bxsort > span {margin-right: 0px;font-size: 14px;color: #616161;}
.bxsort > a {margin: 0 10px;padding: 0 20px;display: inline-block;text-align: center;text-decoration: none;color: #333;}
.bxsort > a:hover { color: #f63;}
.bxsort > a.active {color: #ff6633;}
.bxdown.active {background: url(../images/s_sprites.png) no-repeat right;}
.bxup {background: url(../images/g_sprites.png) no-repeat right;}

.bxproject-list {padding-top: 15px;}
.bxproject-list > li {margin-bottom: 20px;padding: 0 15px;height: 156px;background-color: #ffffff;border: 1px solid #cccccc;}

.bxpro-head {padding-top: 10px;padding-bottom: 7px;line-height: 40px;border-bottom: 1px dashed #cccccc;}
.bxpro-head h4 {margin: 0;font-size: 18px;font-weight: normal;}
.bxpro-head h4 > a {color: #ff761a;text-decoration: none; margin-left:10px;}
.bxproject-tags {display: inline-block;margin-left: 15px;vertical-align: middle;margin-top: -4px;position: relative;}
.bxhd-tag {display: block;width: 86px;height: 29px;line-height: 29px;font-size: 14px;color: #f95640;background: url(../images/tag_bg.png) no-repeat center 0px;}
.bxhd-tag > span {display: inline-block;width: 29px;text-align: center;font-size: 16px;margin-right: 4px;}
.bxpro-head .g-btn {width: 120px;display: block;color: #fff;border-radius: 5px;text-align: center;}
.g-btn:hover {text-decoration: none;opacity: 0.8;filter: alpha(opacity="80");}


.bxproject-info .info-one {width: 190px;}
.bxproject-info .info-two {width: 240px;}
.bxproject-info .info-three {width: 240px;}
.bxproject-info .info-four { width: 280px;}
.bxproject-info > div {padding-top: 20px;padding-left: 6px;float: left; text-align:center; height:100px;}
.bxproject-info .fco {color: #ff761a;}
.bxproject-info .info-num { font-size: 22px; height:35px; line-height:35px;}

.disp_h{height:35px; line-height:35px; text-align: left; padding-left:30px; margin-top:10px;}
.h_yellow{ height:35px; line-height:35px; font-weight:normal; color:#ff7600; font-size:16px; font-weight:bold; margin:0px 0px; background:#feebdb; padding-left:15px;}
.zlbx-detail-01 {position: relative;font-size: 14px;color: #666; background:#fff;  padding-bottom:20px;}
.zlbx-detail-01 .titleh1{ height:40px; line-height:40px; border-bottom:1px #EEE solid; color:#F60; text-align:left; font-size:16px; padding-left:20px; font-weight:bold;}


.zl-btn-border {
  display: block;
  width: auto;
  border-radius: 5px;
  text-align: center;margin: 0 20px;
}
.zl-btn-yellow-border {
  height: 30px;
  font-size: 14px;
  line-height: 2.142857143;
  border: 1px #ff761a solid;
  color: #ff761a;
  cursor: pointer;
}
.zl-btn-yellow-border:hover{ background:#ff761a; color:#fff;}
/*确认投资*/
.g-cross-h3 {width: 250px;margin: 0 auto 25px;color: #f63;font-size: 18px;text-align: center;border-bottom: solid 1px #ccc;height: 13px; margin-top:30px;}
.g-cross-h3 em {background: #fff;padding: 0 10px;}
.confirm-note {margin: 5px auto;text-align: center;color: #666;}
.confirm-note em {color: #f63;}
.l-confirm-box {position: relative;width: 870px;margin: 0 auto; padding-top: 30px; border:1px #ddd dashed;  border-radius:5px; margin-bottom:50px;}
.g-intro-yibao {position: absolute;top: 25px;right: 50px;padding-left: 30px;font-size: 14px;color: #393;background: url(../images/alert_icon.png) no-repeat 2px center;}
.l-confirm-box .box-bd {width: 840px;margin: 0 auto;padding-bottom: 30px;border-top: none; border-bottom: none;overflow: hidden;}
.prj_info {padding: 30px 50px 30px 10px;border-bottom: solid 1px #eee;margin: 0 10px 20px;}
.prj_info .line {font-size: 16px;line-height: 45px;}
.prj_info .line .left {display: inline-block;width: 200px;text-align: right;color: #999;}
.prj_info .line .right {display: inline-block;margin-left: 10px;text-align: left; color: #333;vertical-align: top;}

.recharge-limit-note {height: 34px;line-height: 34px;margin: 20px 15px;text-align: center;font-size: 13px;background: #fff3ea;color: #f63;}
.invest_info { margin-right: 50px;font-size: 16px;text-align: right;}
.invest_info .balance {color: #999;padding: 0 35px;}
.invest_info .invest {color: #333;}
.invest_info .high {color: #f63;font-size: 18px;}
.recharge-summary {margin-right: 50px;text-align: right;}
.recharge-summary .note {margin: 15px 0;}
.recharge-summary .g-btn {display: inline-block;width: 180px;color: #fff;border-radius: 5px;text-align: center;}
.g-btn-small-major {height: 30px;font-size: 14px;line-height: 2.142857143; background: #f63;}


/*服务协议*/
.xycont_bg{  background:url(../images/fbg.jpg) repeat; padding:50px 30px 90px 30px; position:relative;}
.xycont_bg h1{ font-size:28px; text-align:center; color:#333; font-weight:normal;border-bottom:1px #ddd solid; margin-bottom:5px; padding-bottom:15px;}
.xycont_bg h1 .timefont{ font-size:12px; color:#333; text-align:right;}
.xycont_bg h2{ font-size:14px; line-height:35px;}
.xycont_bg p{line-height:30px;}


.ba_rgbak{position:absolute; z-index:1; top:0px; left:0px; width:100%; height:400px; background:rgba(0,0,0,0.1);}
.ba_contbox{position:absolute; z-index:999; top:50%; left:50%; width:242px; height:205px; margin-left:-121PX; margin-top:-102PX;}
.fk_pic{ background:url(../images/fk_ico.png) no-repeat; }
.yl_pic{ background:url(../images/yl_ico.png) no-repeat; }
.end_pic{ background:url(../images/js_ico.png) no-repeat; }