@charset "UTF-8";
/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
.row1 .hot .hot-left, .row2 .news1 .news1-left, .row3 .un-block-1, .row3 .un-block-2, .row3 .un-block-3, .row5 .news1 .news1-left, .sideBarContent .sideBarContent_left, .row-block-1, .row-1-block, .row-block-2, .row-2-block, .row-block-3, .row-3-block, .row-block-4, .row-4-block, .row-block-5, .row-5-block, .row-block-6, .row-6-block, .row-block-7, .row-7-block, .row-block-8, .row-8-block, .row-block-9, .row-9-block, .row-block-10, .row-10-block, .row-block-11, .row-11-block, .row-block-12, .row-12-block {
  float: left; }

.row1:before, .row1 .hot:before, .row2:before, .row2 .news1:before, .row3:before, .row5:before, .row5 .news1:before, .sideListContent:before, .sideBarContent:before, .hr_row1:before, .container1140:before, .container1200:before, .rows:before, .row-block-1:before, .row-1-block:before, .row-block-2:before, .row-2-block:before, .row-block-3:before, .row-3-block:before, .row-block-4:before, .row-4-block:before, .row-block-5:before, .row-5-block:before, .row-block-6:before, .row-6-block:before, .row-block-7:before, .row-7-block:before, .row-block-8:before, .row-8-block:before, .row-block-9:before, .row-9-block:before, .row-block-10:before, .row-10-block:before, .row-block-11:before, .row-11-block:before, .row-block-12:before, .row-12-block:before, .row1:after, .row1 .hot:after, .row2:after, .row2 .news1:after, .row3:after, .row5:after, .row5 .news1:after, .sideListContent:after, .sideBarContent:after, .hr_row1:after, .container1140:after, .container1200:after, .rows:after, .row-block-1:after, .row-1-block:after, .row-block-2:after, .row-2-block:after, .row-block-3:after, .row-3-block:after, .row-block-4:after, .row-4-block:after, .row-block-5:after, .row-5-block:after, .row-block-6:after, .row-6-block:after, .row-block-7:after, .row-7-block:after, .row-block-8:after, .row-8-block:after, .row-block-9:after, .row-9-block:after, .row-block-10:after, .row-10-block:after, .row-block-11:after, .row-11-block:after, .row-block-12:after, .row-12-block:after {
  content: " ";
  display: table; }

.row1:after, .row1 .hot:after, .row2:after, .row2 .news1:after, .row3:after, .row5:after, .row5 .news1:after, .sideListContent:after, .sideBarContent:after, .hr_row1:after, .container1140:after, .container1200:after, .rows:after, .row-block-1:after, .row-1-block:after, .row-block-2:after, .row-2-block:after, .row-block-3:after, .row-3-block:after, .row-block-4:after, .row-4-block:after, .row-block-5:after, .row-5-block:after, .row-block-6:after, .row-6-block:after, .row-block-7:after, .row-7-block:after, .row-block-8:after, .row-8-block:after, .row-block-9:after, .row-9-block:after, .row-block-10:after, .row-10-block:after, .row-block-11:after, .row-11-block:after, .row-block-12:after, .row-12-block:after {
  clear: both; }

.sideBarContent .list, .sideListContent .list, .row1, .row1 .hot, .row2, .row2 .news1, .row5, .row5 .news1, .sideListContent, .sideBarContent, .hr_row1, .row-block-1, .row-1-block, .row-block-2, .row-2-block, .row-block-3, .row-3-block, .row-block-4, .row-4-block, .row-block-5, .row-5-block, .row-block-6, .row-6-block, .row-block-7, .row-7-block, .row-block-8, .row-8-block, .row-block-9, .row-9-block, .row-block-10, .row-10-block, .row-block-11, .row-11-block, .row-block-12, .row-12-block {
  position: relative; }

.row5 .btnGroup .button {
  text-align: center !important; }

.row1 .hot .hot-left, .row2 .news1 .news1-left, .row3 .un-block-1, .row3 .un-block-2, .row3 .un-block-3, .row5 .news1 .news1-left, .sideBarContent .sideBarContent_left, .row-block-1, .row-1-block, .row-block-2, .row-2-block, .row-block-3, .row-3-block, .row-block-4, .row-4-block, .row-block-5, .row-5-block, .row-block-6, .row-6-block, .row-block-7, .row-7-block, .row-block-8, .row-8-block, .row-block-9, .row-9-block, .row-block-10, .row-10-block, .row-block-11, .row-11-block, .row-block-12, .row-12-block {
  float: left; }

.row1 .row1-right, .row2 .row2-right, .row5 .row5-right, .sideListContent .sideListContent_right, .hr_row1 .hr_row1_right {
  float: right; }

/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
.row1 .hot .hot-left, .row2 .news1 .news1-left, .row3 .un-block-1, .row3 .un-block-2, .row3 .un-block-3, .row5 .news1 .news1-left, .sideBarContent .sideBarContent_left, .row-block-1, .row-1-block, .row-block-2, .row-2-block, .row-block-3, .row-3-block, .row-block-4, .row-4-block, .row-block-5, .row-5-block, .row-block-6, .row-6-block, .row-block-7, .row-7-block, .row-block-8, .row-8-block, .row-block-9, .row-9-block, .row-block-10, .row-10-block, .row-block-11, .row-11-block, .row-block-12, .row-12-block {
  float: left; }

.row1:before, .row1 .hot:before, .row2:before, .row2 .news1:before, .row3:before, .row5:before, .row5 .news1:before, .sideListContent:before, .sideBarContent:before, .hr_row1:before, .container1140:before, .container1200:before, .rows:before, .row-block-1:before, .row-1-block:before, .row-block-2:before, .row-2-block:before, .row-block-3:before, .row-3-block:before, .row-block-4:before, .row-4-block:before, .row-block-5:before, .row-5-block:before, .row-block-6:before, .row-6-block:before, .row-block-7:before, .row-7-block:before, .row-block-8:before, .row-8-block:before, .row-block-9:before, .row-9-block:before, .row-block-10:before, .row-10-block:before, .row-block-11:before, .row-11-block:before, .row-block-12:before, .row-12-block:before, .row1:after, .row1 .hot:after, .row2:after, .row2 .news1:after, .row3:after, .row5:after, .row5 .news1:after, .sideListContent:after, .sideBarContent:after, .hr_row1:after, .container1140:after, .container1200:after, .rows:after, .row-block-1:after, .row-1-block:after, .row-block-2:after, .row-2-block:after, .row-block-3:after, .row-3-block:after, .row-block-4:after, .row-4-block:after, .row-block-5:after, .row-5-block:after, .row-block-6:after, .row-6-block:after, .row-block-7:after, .row-7-block:after, .row-block-8:after, .row-8-block:after, .row-block-9:after, .row-9-block:after, .row-block-10:after, .row-10-block:after, .row-block-11:after, .row-11-block:after, .row-block-12:after, .row-12-block:after {
  content: " ";
  display: table; }

.row1:after, .row1 .hot:after, .row2:after, .row2 .news1:after, .row3:after, .row5:after, .row5 .news1:after, .sideListContent:after, .sideBarContent:after, .hr_row1:after, .container1140:after, .container1200:after, .rows:after, .row-block-1:after, .row-1-block:after, .row-block-2:after, .row-2-block:after, .row-block-3:after, .row-3-block:after, .row-block-4:after, .row-4-block:after, .row-block-5:after, .row-5-block:after, .row-block-6:after, .row-6-block:after, .row-block-7:after, .row-7-block:after, .row-block-8:after, .row-8-block:after, .row-block-9:after, .row-9-block:after, .row-block-10:after, .row-10-block:after, .row-block-11:after, .row-11-block:after, .row-block-12:after, .row-12-block:after {
  clear: both; }

.sideBarContent .list, .sideListContent .list, .row1, .row1 .hot, .row2, .row2 .news1, .row5, .row5 .news1, .sideListContent, .sideBarContent, .hr_row1, .row-block-1, .row-1-block, .row-block-2, .row-2-block, .row-block-3, .row-3-block, .row-block-4, .row-4-block, .row-block-5, .row-5-block, .row-block-6, .row-6-block, .row-block-7, .row-7-block, .row-block-8, .row-8-block, .row-block-9, .row-9-block, .row-block-10, .row-10-block, .row-block-11, .row-11-block, .row-block-12, .row-12-block {
  position: relative; }

.row5 .btnGroup .button {
  text-align: center !important; }

.row1 .hot .hot-left, .row2 .news1 .news1-left, .row3 .un-block-1, .row3 .un-block-2, .row3 .un-block-3, .row5 .news1 .news1-left, .sideBarContent .sideBarContent_left, .row-block-1, .row-1-block, .row-block-2, .row-2-block, .row-block-3, .row-3-block, .row-block-4, .row-4-block, .row-block-5, .row-5-block, .row-block-6, .row-6-block, .row-block-7, .row-7-block, .row-block-8, .row-8-block, .row-block-9, .row-9-block, .row-block-10, .row-10-block, .row-block-11, .row-11-block, .row-block-12, .row-12-block {
  float: left; }

.row1 .row1-right, .row2 .row2-right, .row5 .row5-right, .sideListContent .sideListContent_right, .hr_row1 .hr_row1_right {
  float: right; }

.sideBarContent, .sideListContent {
  padding-top: 18px; }
  .sideBarContent .list, .sideListContent .list {
    top: -7px; }

.mainBody {
  background: url(../img/bg.png) no-repeat 50% 0;
  padding-top: 260px; }

.mainContentBody {
  padding: 20px 27px;
  background: #fff; }

.riBlock .riBlock-bottom {
  padding: 15px 12px; }

.wrow + .wrow {
  margin-top: 16px; }

.row1 .row1-left, .row1 .row1-right {
  min-height: 1px; }

.row1 .row1-right {
  width: 307px;
  text-align: left;
  height: 64px; }

.row1 .row1-left {
  margin-right: 323px;
  height: 64px; }

.row1 .hot {
  text-align: center;
  height: 64px;
  line-height: 64px; }
  .row1 .hot .hot-left, .row1 .hot .hot-right {
    min-height: 1px; }
  .row1 .hot .hot-left {
    width: 55px;
    text-align: left;
    height: 64px; }
  .row1 .hot .hot-right {
    margin-left: 55px;
    height: 64px; }
  .row1 .hot .hot-left {
    background: #00732f;
    color: #fff;
    text-align: center;
    line-height: 1.5; }
    .row1 .hot .hot-left .hot-leftInner {
      padding-top: 11px; }
  .row1 .hot .hot-right {
    background: #f4f4f4;
    font-size: 27.6px;
    font-family: ""; }

.row2 .row2-left, .row2 .row2-right {
  min-height: 1px; }

.row2 .row2-right {
  width: 307px;
  text-align: left;
  height: auto; }

.row2 .row2-left {
  margin-right: 323px;
  height: auto; }

.row2 .news1 {
  border: 1px solid #ddd; }
  .row2 .news1 .news1-left, .row2 .news1 .news1-right {
    min-height: 1px; }
  .row2 .news1 .news1-left {
    width: 400px;
    text-align: left;
    height: 245px; }
  .row2 .news1 .news1-right {
    margin-left: 416px;
    height: 245px; }
  .row2 .news1 .news1-right {
    padding-right: 16px; }
    .row2 .news1 .news1-right li {
      display: none; }
  .row2 .news1 .news1-title {
    color: #00732f;
    font-weight: bold;
    font-size: 18.72px;
    text-align: center;
    padding: 20px 0 10px; }
  .row2 .news1 .news1-text {
    text-align: justify; }

.row3 .un-block-1 {
  width: 35.8209%;
  min-height: 1px; }

.row3 .un-block-2 {
  width: 36.52327%;
  min-height: 1px; }

.row3 .un-block-3 {
  width: 27.65584%;
  min-height: 1px; }

.row3 .un-line {
  margin-left: -8px;
  margin-right: -8px;
  overflow: hidden; }

.row3 .un-inner {
  padding-left: 8px;
  padding-right: 8px; }

.row3 .riBlock-bottom {
  height: 180px; }

.row2-right .riBlock, .row3 .un-block-3 .riBlock, .row5 .un-block-3 .riBlock {
  border: 1px solid #ddd;
  border-top: none; }

.row5 .row5-left, .row5 .row5-right {
  min-height: 1px; }

.row5 .row5-right {
  width: 135px;
  text-align: left;
  height: auto; }

.row5 .row5-left {
  margin-right: 151px;
  height: auto; }

.row5 .news1 {
  border: 1px solid #ddd; }
  .row5 .news1 .news1-left, .row5 .news1 .news1-right {
    min-height: 1px; }
  .row5 .news1 .news1-left {
    width: 400px;
    text-align: left;
    height: 300px; }
  .row5 .news1 .news1-right {
    margin-left: 416px;
    height: 300px; }
  .row5 .news1 .news1-right {
    padding-right: 16px; }
  .row5 .news1 .news1-title {
    color: #00732f;
    font-weight: bold;
    font-size: 18.72px;
    text-align: center;
    padding: 20px 0 10px; }
  .row5 .news1 .news1-text {
    text-align: justify; }

.row5 .slideBox03 .bd li a img {
  height: 300px; }

.row5 .btnGroup {
  text-align: center; }
  .row5 .btnGroup .button {
    display: block;
    height: 66.75px;
    line-height: 66.75px;
    width: 100% !important;
    color: #fff;
    display: inline-block;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    .row5 .btnGroup .button + .button {
      margin-top: 11px; }
    .row5 .btnGroup .button img {
      vertical-align: middle;
      margin-right: 10px; }
    .row5 .btnGroup .button a {
      width: 100%;
      height: 100%;
      display: block; }
    .row5 .btnGroup .button.white-bg {
      background: #fff;
      color: #ff8003; }

.mainContent {
  padding: 28px 35px;
  padding-bottom: 0; }
  .mainContent .i-contentPart {
    padding-top: 17.5px; }

.mainLrWrapper {
  border: 1px solid #ddd;
  padding-bottom: 30px; }

.mainLrWrapper .pagination03 {
  margin-top: 15px; }

.sideListContent .sideListContent_left, .sideListContent .sideListContent_right {
  min-height: 1px; }

.sideListContent .sideListContent_right {
  width: 225px;
  text-align: left;
  height: auto; }

.sideListContent .sideListContent_left {
  margin-right: 225px;
  height: auto; }

.sideListContent .sideListContent_left {
  border-right: 1px solid #ddd; }
  .sideListContent .sideListContent_left .inner {
    padding: 0 35px; }

.sideListContent .sideListContent_right .inner {
  padding: 0 17.5px; }

.sideBarContent {
  padding-top: 18px; }
  .sideBarContent .sideBarContent_left, .sideBarContent .sideBarContent_right {
    min-height: 1px; }
  .sideBarContent .sideBarContent_left {
    width: 225px;
    text-align: left;
    height: auto; }
  .sideBarContent .sideBarContent_right {
    margin-left: 225px;
    height: auto; }
  .sideBarContent .sideBarContent_left .inner {
    padding-left: 35px; }
  .sideBarContent .sideBarContent_right {
    border-left: 1px solid #ddd; }
    .sideBarContent .sideBarContent_right .inner {
      padding: 0 26.25px; }
    .sideBarContent .sideBarContent_right .sideBarContent_right_content {
      padding: 35px 0; }

.hr_row1 .hr_row1_left, .hr_row1 .hr_row1_right {
  min-height: 1px; }

.hr_row1 .hr_row1_right {
  width: 66.66667%;
  text-align: left;
  height: auto; }

.hr_row1 .hr_row1_left {
  margin-right: 67.66667%;
  height: auto; }

.img-center {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  *height: 100%;
  *width: 100%;
  margin: auto; }

.container-auto {
  padding-right: 15px;
  padding-left: 15px; }

.info_fail {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

.info_success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.info_box > div.info {
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.container-p-15 {
  padding: 15px; }

.container1000 {
  width: 1000px;
  margin: 0 auto; }

.container1100 {
  width: 1100px;
  margin: 0 auto; }

.container1140 {
  width: 1140px;
  margin: 0 auto; }

.container1200 {
  width: 1200px;
  margin: 0 auto; }

.line {
  margin: 0 -15px; }

.column {
  float: left; }

.width66 {
  width: 66%; }

.block {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  position: relative;
  min-height: 1px; }

.block-1 {
  width: 100%; }

.block-2 {
  width: 50%; }

.block-3 {
  width: 33.3333333333%; }

.block-4 {
  width: 25%; }

.box {
  padding: 10px;
  /*text-align: center;*/
  position: relative; }

.container-auto:before, .container-auto:after,
.container1200:before, .container1200:after,
.column:before, .column:after,
.line:before, .line:after,
.block:before, .block:after {
  content: " ";
  display: table; }

.container-auto:after,
.column:after,
.line:after,
.block:after {
  clear: both; }

.centerBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/background.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden; }

.input-base {
  background-color: #FFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  -webkit-transition: border-color .15s ease-in-out 0s,-webkit-box-shadow .15s ease-in-out 0s;
  transition: border-color .15s ease-in-out 0s,-webkit-box-shadow .15s ease-in-out 0s;
  -o-transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
  transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
  transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s,-webkit-box-shadow .15s ease-in-out 0s;
  width: 150px;
  font-size: 14px; }

.full-width {
  width: 100%; }

.extend-width {
  margin: 0 -9999px;
  padding: 0 9999px; }

.mar-center {
  margin: 0 auto; }

.hide {
  display: none; }

.over-flow {
  overflow: auto;
  zoom: 1; }

.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.rows.minusM {
  margin-left: -15px;
  margin-right: -15px; }

.rows .innerBlock {
  padding-left: 15px;
  padding-right: 15px; }

.row-block-1, .row-1-block {
  min-height: 1px; }

.row-block-1 {
  width: 8.33333%;
  /* eg:1除以12 */ }

.block-pull-l-1 {
  margin-left: 8.33333%; }

.block-pull-r-1 {
  margin-right: 8.33333%; }

.row-1-block {
  width: 100%;
  /* eg:十分之一 */ }

.row-block-2, .row-2-block {
  min-height: 1px; }

.row-block-2 {
  width: 16.66667%;
  /* eg:1除以12 */ }

.block-pull-l-2 {
  margin-left: 16.66667%; }

.block-pull-r-2 {
  margin-right: 16.66667%; }

.row-2-block {
  width: 50%;
  /* eg:十分之一 */ }

.row-block-3, .row-3-block {
  min-height: 1px; }

.row-block-3 {
  width: 25%;
  /* eg:1除以12 */ }

.block-pull-l-3 {
  margin-left: 25%; }

.block-pull-r-3 {
  margin-right: 25%; }

.row-3-block {
  width: 33.33333%;
  /* eg:十分之一 */ }

.row-block-4, .row-4-block {
  min-height: 1px; }

.row-block-4 {
  width: 33.33333%;
  /* eg:1除以12 */ }

.block-pull-l-4 {
  margin-left: 33.33333%; }

.block-pull-r-4 {
  margin-right: 33.33333%; }

.row-4-block {
  width: 25%;
  /* eg:十分之一 */ }

.row-block-5, .row-5-block {
  min-height: 1px; }

.row-block-5 {
  width: 41.66667%;
  /* eg:1除以12 */ }

.block-pull-l-5 {
  margin-left: 41.66667%; }

.block-pull-r-5 {
  margin-right: 41.66667%; }

.row-5-block {
  width: 20%;
  /* eg:十分之一 */ }

.row-block-6, .row-6-block {
  min-height: 1px; }

.row-block-6 {
  width: 50%;
  /* eg:1除以12 */ }

.block-pull-l-6 {
  margin-left: 50%; }

.block-pull-r-6 {
  margin-right: 50%; }

.row-6-block {
  width: 16.66667%;
  /* eg:十分之一 */ }

.row-block-7, .row-7-block {
  min-height: 1px; }

.row-block-7 {
  width: 58.33333%;
  /* eg:1除以12 */ }

.block-pull-l-7 {
  margin-left: 58.33333%; }

.block-pull-r-7 {
  margin-right: 58.33333%; }

.row-7-block {
  width: 14.28571%;
  /* eg:十分之一 */ }

.row-block-8, .row-8-block {
  min-height: 1px; }

.row-block-8 {
  width: 66.66667%;
  /* eg:1除以12 */ }

.block-pull-l-8 {
  margin-left: 66.66667%; }

.block-pull-r-8 {
  margin-right: 66.66667%; }

.row-8-block {
  width: 12.5%;
  /* eg:十分之一 */ }

.row-block-9, .row-9-block {
  min-height: 1px; }

.row-block-9 {
  width: 75%;
  /* eg:1除以12 */ }

.block-pull-l-9 {
  margin-left: 75%; }

.block-pull-r-9 {
  margin-right: 75%; }

.row-9-block {
  width: 11.11111%;
  /* eg:十分之一 */ }

.row-block-10, .row-10-block {
  min-height: 1px; }

.row-block-10 {
  width: 83.33333%;
  /* eg:1除以12 */ }

.block-pull-l-10 {
  margin-left: 83.33333%; }

.block-pull-r-10 {
  margin-right: 83.33333%; }

.row-10-block {
  width: 10%;
  /* eg:十分之一 */ }

.row-block-11, .row-11-block {
  min-height: 1px; }

.row-block-11 {
  width: 91.66667%;
  /* eg:1除以12 */ }

.block-pull-l-11 {
  margin-left: 91.66667%; }

.block-pull-r-11 {
  margin-right: 91.66667%; }

.row-11-block {
  width: 9.09091%;
  /* eg:十分之一 */ }

.row-block-12, .row-12-block {
  min-height: 1px; }

.row-block-12 {
  width: 100%;
  /* eg:1除以12 */ }

.block-pull-l-12 {
  margin-left: 100%; }

.block-pull-r-12 {
  margin-right: 100%; }

.row-12-block {
  width: 8.33333%;
  /* eg:十分之一 */ }

.rowInner {
  padding: 11px 16px; }

.border-row {
  border: 1px solid #ddd; }

/*# sourceMappingURL=maps/frame.css.map */
