@import "_variable";

.pageWrapper-bg{
    position:relative;
}

.pageMain{
    position: relative;
    padding-bottom: 15%;
}

.full-width{width:100%;}
.extend-width{margin: 0 -9999px;padding: 0 9999px;}
.mar-center{margin:0 auto;}

.hide{display: none;}

.over-flow {overflow: auto;zoom: 1;}
.clear:before,.clear:after{content:" ";display:table;}
.clear:after{clear:both;}

$rowNum:12;
$row_gutter:15px;
.rows{
    &.minusM{margin:{left:-$row_gutter;right:-$row_gutter;}}
    .innerBlock{padding:{left:$row_gutter;right:$row_gutter;}}
    @extend %clear;
}   
@for $i from 1 through $rowNum {
        .row-block-#{$i},.row-#{$i}-block{
            min-height: 1px;
            @extend %float-l;
            @extend %relative;
            @extend %clear;
        }   
        .row-block-#{$i}{
            width:percentage($i/$rowNum); /* eg:1除以12 */
        }
        .block-pull-l-#{$i}{
            margin-left: percentage($i/$rowNum);
        }
        .block-pull-r-#{$i}{
            margin-right: percentage($i/$rowNum);
        }
        .row-#{$i}-block{
            width:percentage(1/$i);    /* eg:十分之一 */
        }          
}   




