@charset "utf-8";

@import "../mySassWare/_variable";
@import "../mySassWare/_mixin";
@import "../mySassWare/_function";

.fixed{
  overflow-y: hidden !important;
}

.wheel{
  position:relative;
  width:85%;
  margin:0 auto;
  img{display:block;}
  .start{
    width:25%;
    @extend %absCenter;
  }
}

.bridge-box2{
  position:relative;
  canvas{position:absolute;left:0;right:0;bottom:0;}
}

.bgMusic{
  position:fixed;
  $padding:1rem;
  $size:38px;
  right: $padding;
  top:$padding;
  width:$size;
  height: $size;
  background:url(../img/musicOn.png) center center no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  &.off{
    background:url(../img/musicOff.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  }
}

.avatar{
  $width:8rem;
  width:$width;
  margin:0 auto;
  position: relative;
  .bg{display:block;}
  .name{width:$width*8/10;text-align:center;}
  .text{
        @extend %absfull;
        color:#fff;
        font-size: 0.65rem;
        font-weight:bold; 
        
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
  }
}
.avatar1{
    $nuheight1:6rem;
    width:30px;
    margin:0 auto;
    @include radius($nuheight1);
    
    img{
      @extend %full;
      @include radius($nuheight1);
      display: block;

    }
}


.brandbg{
  width:95%;
  margin:0 auto;
  background:url(../img/brandbg.png) 0 0 no-repeat /100% 100%;

  .brandbg-ul{
      padding:0.7rem;
      $blockp:0.1rem;
      $scale:1.2;
      li{
        margin-bottom:$blockp*2;
        .brand{
            background:#fff;
            overflow: hidden;
            position:relative;
            @include radius($blockp*2);
            &:after {
                content: '';
                display: block;
                margin-top: 100%;
            }
            img{
               $animation-iteration-count:2;
               @extend %absCenter;
               &.shown{
                  -webkit-animation: pound 2.5s $animation-iteration-count;
                          animation: pound 2.5s $animation-iteration-count;
               }
            }
        }
      }
      @include rowBeta($num:6,$outer_gutter:$blockp,$plusM:true,$height:false);  
  }
  
  
}

.fadeIn{
   
}

.shine{
  position:relative;
  
  @include persudo($color:#dbdbdb,$content:" ",$position:before,$bg:none){
      left:50%;
      top:50%;
      
      z-index: -1;
      -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      padding:100rem;              
      background:url(../img/shine.png) center center no-repeat;
      opacity: 0.5;
  };
    
  
}

.bridge-box{
    padding-top: 45%;
    position:relative;
    .fly-birds{position:absolute;bottom:0;left:0;right:0;}
}

.canvasZone{
  
  position: relative;
  z-index: 99;
  .bird-img{
    width:90px;
  }
  &+.pageMain{
    margin-top: -10%
  }
}

.grayfilter{
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-filter: gray;
          filter: gray;
}


@-webkit-keyframes pound {
    50% { -webkit-transform: scale(1.1); transform: scale(1.1); }
}
@keyframes pound {
    50% { -webkit-transform: scale(1.1); transform: scale(1.1); }
}