@charset "UTF-8";
/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
.form1 .form-row .un-block-1, .form1 .form-row .un-block-1 a.baseInput, .form1 .form-row .un-block-1 button.baseInput, .form1 .form-row .un-block-2, .form1 .form-row .un-block-2 a.baseInput, .form1 .form-row .un-block-2 button.baseInput, .form1 .form-row .un-block-3, .form1 .form-row .un-block-3 a.baseInput, .form1 .form-row .un-block-3 button.baseInput, .form2 .form-row .un-block-1, .form2 .form-row .un-block-1 a.baseInput, .form2 .form-row .un-block-1 button.baseInput, .form2 .form-row .un-block-2, .form2 .form-row .un-block-2 a.baseInput, .form2 .form-row .un-block-2 button.baseInput, .form2 .form-row .un-block-3, .form2 .form-row .un-block-3 a.baseInput, .form2 .form-row .un-block-3 button.baseInput {
  display: block; }

/* clearfix*/
/* 闭合子元素的浮动*/
.form1 .form-row .un-block-1, .form1 .form-row .un-block-1 .baseInput, .form1 .form-row .un-block-2, .form1 .form-row .un-block-2 .baseInput, .form1 .form-row .un-block-3, .form1 .form-row .un-block-3 .baseInput, .form2 .form-row .un-block-1, .form2 .form-row .un-block-1 .baseInput, .form2 .form-row .un-block-2, .form2 .form-row .un-block-2 .baseInput, .form2 .form-row .un-block-3, .form2 .form-row .un-block-3 .baseInput {
  float: left; }

.login_banner .loginZone .login-form .form-row:before, .form1 .form-row:before, .form2 .form-row:before, .ca_table:before, .login_banner .loginZone .login-form .form-row:after, .form1 .form-row:after, .form2 .form-row:after, .ca_table:after {
  content: " ";
  display: table; }

.login_banner .loginZone .login-form .form-row:after, .form1 .form-row:after, .form2 .form-row:after, .ca_table:after {
  clear: both; }

.login_banner .loginZone .login-form .login.button {
  margin: 0 auto; }

.form1 .form-row .un-block-1 a.baseInput, .form1 .form-row .un-block-1 button.baseInput, .form1 .form-row .un-block-2 a.baseInput, .form1 .form-row .un-block-2 button.baseInput, .form1 .form-row .un-block-3 a.baseInput, .form1 .form-row .un-block-3 button.baseInput, .form2 .form-row .un-block-1 a.baseInput, .form2 .form-row .un-block-1 button.baseInput, .form2 .form-row .un-block-2 a.baseInput, .form2 .form-row .un-block-2 button.baseInput, .form2 .form-row .un-block-3 a.baseInput, .form2 .form-row .un-block-3 button.baseInput {
  text-align: center !important; }

.form1 .form-row .un-block-1, .form1 .form-row .un-block-1 .baseInput, .form1 .form-row .un-block-2, .form1 .form-row .un-block-2 .baseInput, .form1 .form-row .un-block-3, .form1 .form-row .un-block-3 .baseInput, .form2 .form-row .un-block-1, .form2 .form-row .un-block-1 .baseInput, .form2 .form-row .un-block-2, .form2 .form-row .un-block-2 .baseInput, .form2 .form-row .un-block-3, .form2 .form-row .un-block-3 .baseInput {
  float: left; }

.ca_table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  vertical-align: middle;
  color: #333; }

/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
.form1 .form-row .un-block-1, .form1 .form-row .un-block-1 a.baseInput, .form1 .form-row .un-block-1 button.baseInput, .form1 .form-row .un-block-2, .form1 .form-row .un-block-2 a.baseInput, .form1 .form-row .un-block-2 button.baseInput, .form1 .form-row .un-block-3, .form1 .form-row .un-block-3 a.baseInput, .form1 .form-row .un-block-3 button.baseInput, .form2 .form-row .un-block-1, .form2 .form-row .un-block-1 a.baseInput, .form2 .form-row .un-block-1 button.baseInput, .form2 .form-row .un-block-2, .form2 .form-row .un-block-2 a.baseInput, .form2 .form-row .un-block-2 button.baseInput, .form2 .form-row .un-block-3, .form2 .form-row .un-block-3 a.baseInput, .form2 .form-row .un-block-3 button.baseInput {
  display: block; }

/* clearfix*/
/* 闭合子元素的浮动*/
.form1 .form-row .un-block-1, .form1 .form-row .un-block-1 .baseInput, .form1 .form-row .un-block-2, .form1 .form-row .un-block-2 .baseInput, .form1 .form-row .un-block-3, .form1 .form-row .un-block-3 .baseInput, .form2 .form-row .un-block-1, .form2 .form-row .un-block-1 .baseInput, .form2 .form-row .un-block-2, .form2 .form-row .un-block-2 .baseInput, .form2 .form-row .un-block-3, .form2 .form-row .un-block-3 .baseInput {
  float: left; }

.login_banner .loginZone .login-form .form-row:before, .form1 .form-row:before, .form2 .form-row:before, .ca_table:before, .login_banner .loginZone .login-form .form-row:after, .form1 .form-row:after, .form2 .form-row:after, .ca_table:after {
  content: " ";
  display: table; }

.login_banner .loginZone .login-form .form-row:after, .form1 .form-row:after, .form2 .form-row:after, .ca_table:after {
  clear: both; }

.login_banner .loginZone .login-form .login.button {
  margin: 0 auto; }

.form1 .form-row .un-block-1 a.baseInput, .form1 .form-row .un-block-1 button.baseInput, .form1 .form-row .un-block-2 a.baseInput, .form1 .form-row .un-block-2 button.baseInput, .form1 .form-row .un-block-3 a.baseInput, .form1 .form-row .un-block-3 button.baseInput, .form2 .form-row .un-block-1 a.baseInput, .form2 .form-row .un-block-1 button.baseInput, .form2 .form-row .un-block-2 a.baseInput, .form2 .form-row .un-block-2 button.baseInput, .form2 .form-row .un-block-3 a.baseInput, .form2 .form-row .un-block-3 button.baseInput {
  text-align: center !important; }

.form1 .form-row .un-block-1, .form1 .form-row .un-block-1 .baseInput, .form1 .form-row .un-block-2, .form1 .form-row .un-block-2 .baseInput, .form1 .form-row .un-block-3, .form1 .form-row .un-block-3 .baseInput, .form2 .form-row .un-block-1, .form2 .form-row .un-block-1 .baseInput, .form2 .form-row .un-block-2, .form2 .form-row .un-block-2 .baseInput, .form2 .form-row .un-block-3, .form2 .form-row .un-block-3 .baseInput {
  float: left; }

.ca_table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  vertical-align: middle;
  color: #333; }

.login_banner {
  width: 100%;
  height: 534px;
  margin-bottom: 60px; }
  .login_banner .loginZone {
    width: 365px;
    left: 50%;
    margin-left: 150px;
    height: 100%;
    position: relative;
    -webkit-box-shadow: #ddd 0px 0px 10px;
    box-shadow: #ddd 0px 0px 10px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #ddd; }
    .login_banner .loginZone .loginInner {
      padding: 40px 15px; }
    .login_banner .loginZone .logoZone {
      text-align: center; }
    .login_banner .loginZone .login-form .form-row + .form-row {
      margin-top: 15px; }
    .login_banner .loginZone .login-form .form-row input.input-base {
      border: 1px solid #ddd;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      outline: none;
      height: 35px;
      line-height: inherit;
      width: 100%;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    .login_banner .loginZone .login-form .form-row.auto-login-row {
      line-height: 15px; }
    .login_banner .loginZone .login-form .form-row .check {
      margin-right: 3px; }
    .login_banner .loginZone .login-form .err-row {
      padding: 3px 12px;
      font-size: 12px;
      padding-top: 50px; }
    .login_banner .loginZone .login-form .quick_sign_up {
      color: #1296db;
      padding: 5px 0;
      font-size: 12px; }
    .login_banner .loginZone .login-form .login.button {
      display: block;
      width: 100%;
      margin-top: 15px;
      background: #1296db;
      border-color: #1a7bb9;
      color: white;
      height: 40px;
      -webkit-border-radius: 25px;
      border-radius: 25px;
      font-size: 15.6px;
      font-weight: 700; }

.form1 {
  font-size: 15.6px;
  color: #000; }
  .form1 .form-row {
    height: 35px;
    line-height: 35px; }
    .form1 .form-row + .form-row {
      margin-top: 20px; }
    .form1 .form-row .un-block-1 {
      min-height: 1px;
      width: 400px;
      height: 100%;
      line-height: 35px; }
      .form1 .form-row .un-block-1 .baseInput {
        border: 1px solid #ddd;
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 35px;
        line-height: inherit;
        width: 100%;
        padding: 0px 10px; }
      .form1 .form-row .un-block-1 a.baseInput, .form1 .form-row .un-block-1 button.baseInput {
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 35px;
        line-height: inherit;
        width: 100%;
        line-height: 35px; }
      .form1 .form-row .un-block-1 textarea.baseInput {
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 100%;
        line-height: inherit;
        width: 100%;
        width: 100%;
        height: 130px; }
        .form1 .form-row .un-block-1 textarea.baseInput[type="text"] {
          padding: 10px 10px; }
    .form1 .form-row .un-block-2 {
      min-height: 1px;
      width: 340px;
      height: 100%;
      line-height: 35px; }
      .form1 .form-row .un-block-2 .baseInput {
        border: 1px solid #ddd;
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 35px;
        line-height: inherit;
        width: 100%;
        padding: 0px 10px; }
      .form1 .form-row .un-block-2 a.baseInput, .form1 .form-row .un-block-2 button.baseInput {
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 35px;
        line-height: inherit;
        width: 100%;
        line-height: 35px; }
      .form1 .form-row .un-block-2 textarea.baseInput {
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 100%;
        line-height: inherit;
        width: 100%;
        width: 100%;
        height: 130px; }
        .form1 .form-row .un-block-2 textarea.baseInput[type="text"] {
          padding: 10px 10px; }
    .form1 .form-row .un-block-3 {
      min-height: 1px;
      width: auto;
      height: 100%;
      line-height: 35px; }
      .form1 .form-row .un-block-3 .baseInput {
        border: 1px solid #ddd;
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 35px;
        line-height: inherit;
        width: 100%;
        padding: 0px 10px; }
      .form1 .form-row .un-block-3 a.baseInput, .form1 .form-row .un-block-3 button.baseInput {
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 35px;
        line-height: inherit;
        width: 100%;
        line-height: 35px; }
      .form1 .form-row .un-block-3 textarea.baseInput {
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 100%;
        line-height: inherit;
        width: 100%;
        width: 100%;
        height: 130px; }
        .form1 .form-row .un-block-3 textarea.baseInput[type="text"] {
          padding: 10px 10px; }
    .form1 .form-row.height-auto {
      height: auto;
      line-height: inherit; }
      .form1 .form-row.height-auto input.baseInput {
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 35px;
        line-height: inherit;
        width: 100%; }
    .form1 .form-row.h-auto {
      height: auto; }
      .form1 .form-row.h-auto .un-block-1, .form1 .form-row.h-auto .un-block-2, .form1 .form-row.h-auto .un-block-3 {
        line-height: 1; }
    .form1 .form-row .un-block-1 {
      text-align: right;
      padding-right: 15px; }
  .form1 input[type=submit] {
    background: #218ad5;
    color: #fff;
    height: 40px;
    width: 100%; }
  .form1 #checkWrapper {
    font-size: 14.04px; }
    .form1 #checkWrapper label {
      margin-bottom: 10px;
      display: inline-block;
      width: 125px; }
      .form1 #checkWrapper label input {
        vertical-align: top; }

.form2 {
  font-size: 15.6px;
  color: #000;
  padding-top: 45px; }
  .form2 .form-row {
    height: 30px;
    line-height: 30px; }
    .form2 .form-row + .form-row {
      margin-top: 20px; }
    .form2 .form-row .un-block-1 {
      min-height: 1px;
      width: 185px;
      height: 100%;
      line-height: 30px; }
      .form2 .form-row .un-block-1 .baseInput {
        border: 1px solid #ddd;
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 30px;
        line-height: inherit;
        width: 100%;
        padding: 0px 10px; }
      .form2 .form-row .un-block-1 a.baseInput, .form2 .form-row .un-block-1 button.baseInput {
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 30px;
        line-height: inherit;
        width: 100%;
        line-height: 30px; }
      .form2 .form-row .un-block-1 textarea.baseInput {
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 100%;
        line-height: inherit;
        width: 100%;
        width: 100%;
        height: 130px; }
        .form2 .form-row .un-block-1 textarea.baseInput[type="text"] {
          padding: 10px 10px; }
    .form2 .form-row .un-block-2 {
      min-height: 1px;
      width: 730px;
      height: 100%;
      line-height: 30px; }
      .form2 .form-row .un-block-2 .baseInput {
        border: 1px solid #ddd;
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 30px;
        line-height: inherit;
        width: 100%;
        padding: 0px 10px; }
      .form2 .form-row .un-block-2 a.baseInput, .form2 .form-row .un-block-2 button.baseInput {
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 30px;
        line-height: inherit;
        width: 100%;
        line-height: 30px; }
      .form2 .form-row .un-block-2 textarea.baseInput {
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 100%;
        line-height: inherit;
        width: 100%;
        width: 100%;
        height: 130px; }
        .form2 .form-row .un-block-2 textarea.baseInput[type="text"] {
          padding: 10px 10px; }
    .form2 .form-row .un-block-3 {
      min-height: 1px;
      width: auto;
      height: 100%;
      line-height: 30px; }
      .form2 .form-row .un-block-3 .baseInput {
        border: 1px solid #ddd;
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 30px;
        line-height: inherit;
        width: 100%;
        padding: 0px 10px; }
      .form2 .form-row .un-block-3 a.baseInput, .form2 .form-row .un-block-3 button.baseInput {
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 30px;
        line-height: inherit;
        width: 100%;
        line-height: 30px; }
      .form2 .form-row .un-block-3 textarea.baseInput {
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 100%;
        line-height: inherit;
        width: 100%;
        width: 100%;
        height: 130px; }
        .form2 .form-row .un-block-3 textarea.baseInput[type="text"] {
          padding: 10px 10px; }
    .form2 .form-row.height-auto {
      height: auto;
      line-height: inherit; }
      .form2 .form-row.height-auto input.baseInput {
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        height: 30px;
        line-height: inherit;
        width: 100%; }
    .form2 .form-row.h-auto {
      height: auto; }
      .form2 .form-row.h-auto .un-block-1, .form2 .form-row.h-auto .un-block-2, .form2 .form-row.h-auto .un-block-3 {
        line-height: 1; }
    .form2 .form-row .un-block-1 {
      text-align: right;
      padding-right: 15px; }
  .form2 input[type=submit] {
    background: #218ad5;
    color: #fff;
    height: 40px;
    width: 340px;
    font-weight: bold;
    font-size: inherit; }

.ca_table {
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 150px; }
  .ca_table .one {
    width: 12.55814%; }
  .ca_table .two {
    width: 87.44186%; }
  .ca_table .str-inner {
    padding-left: 5px;
    padding-right: 5px; }
  .ca_table td {
    border: 1px solid #ddd;
    padding: 18px 20px; }
  .ca_table .one {
    text-align: center;
    background: #fcfcfc;
    color: #218ad5;
    vertical-align: middle; }

/*# sourceMappingURL=maps/cForm.css.map */
