@charset "UTF-8";
/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
.friendsRow .box img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
  filter: gray; }

/* color end */
.friendsRow .box img {
  display: block;
  width: 100%;
  height: 100%; }

.news-ul09 .newsRow .cl-newsBox .cl-title .cl-p01 {
  display: block;
  *display: inline;
  /*zoom: 1;
  text-align:center;
  max-width: 100%;
  line-height: 100%; */
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

/* clearfix*/
/* 闭合子元素的浮动*/
.phonePicRow .row-block, .relativeAppRow .row-block, .hrh-ul .row-block, .resource-ul .row-block, .hsptBlock .bdvantageRow .row-block, .friendsRow .row-block, .butlerRow .row-block {
  float: left; }

.phonePicRow:before, .phonePicRow .row-block:before, .relativeAppRow:before, .relativeAppRow .row-block:before, .hrh-ul:before, .hrh-ul .row-block:before, .resource-ul:before, .resource-ul .row-block:before, .homeSPtRow:before, .hsptBlock .link:before, .hsptBlock .bdvantageRow:before, .hsptBlock .bdvantageRow .row-block:before, .hsptBlock:hover:before, .hsptBlock.on:before, .friendsRow:before, .friendsRow .row-block:before, .butlerRow:before, .butlerRow .row-block:before, .phonePicRow:after, .phonePicRow .row-block:after, .relativeAppRow:after, .relativeAppRow .row-block:after, .hrh-ul:after, .hrh-ul .row-block:after, .resource-ul:after, .resource-ul .row-block:after, .homeSPtRow:after, .hsptBlock .link:after, .hsptBlock .bdvantageRow:after, .hsptBlock .bdvantageRow .row-block:after, .hsptBlock:hover:after, .hsptBlock.on:after, .friendsRow:after, .friendsRow .row-block:after, .butlerRow:after, .butlerRow .row-block:after {
  content: " ";
  display: table; }

.phonePicRow:after, .phonePicRow .row-block:after, .relativeAppRow:after, .relativeAppRow .row-block:after, .hrh-ul:after, .hrh-ul .row-block:after, .resource-ul:after, .resource-ul .row-block:after, .homeSPtRow:after, .hsptBlock .link:after, .hsptBlock .bdvantageRow:after, .hsptBlock .bdvantageRow .row-block:after, .hsptBlock:hover:after, .hsptBlock.on:after, .friendsRow:after, .friendsRow .row-block:after, .butlerRow:after, .butlerRow .row-block:after {
  clear: both; }

.phonePicRow .row-block, .relativeAppRow .row-block, .hrh-ul .row-block, .resource-ul .row-block, .hsptBlock .bdvantageRow .row-block, .hsptBlock .bdvantageRow .iconfont, .friendsRow .row-block, .butlerRow .row-block, .news-ul08 .newsRow .cl-newsBox .rightPart .wrapper .top .stars, .news-ul08 .newsRow .cl-newsBox .rightPart .wrapper .top .iconfont {
  position: relative; }

.hsptBlock .link .link-inner img {
  position: absolute; }

.hsptBlock .link .link-inner img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.news-ul09 .newsRow .cl-pic img, .news-ul08 .newsRow .cl-pic img, .news-ul07 .newsRow .cl-pic img, .news-ul06 .newsRow .cl-pic img, .news-ul05 .newsRow .cl-pic img, .news-ul04 .newsRow .cl-pic img, .news-ul03 .newsRow .cl-pic img, .news-ul02 .newsRow .cl-pic img, .news-ul01 .newsRow .cl-pic img {
  display: block;
  width: 100%;
  height: 100%; }

.phonePicRow .row-block, .relativeAppRow .row-block, .hrh-ul .row-block, .resource-ul .row-block, .hsptBlock .bdvantageRow .row-block, .friendsRow .row-block, .butlerRow .row-block {
  float: left; }

/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
.friendsRow .box img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
  filter: gray; }

/* color end */
.friendsRow .box img {
  display: block;
  width: 100%;
  height: 100%; }

.news-ul09 .newsRow .cl-newsBox .cl-title .cl-p01 {
  display: block;
  *display: inline;
  /*zoom: 1;
  text-align:center;
  max-width: 100%;
  line-height: 100%; */
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

/* clearfix*/
/* 闭合子元素的浮动*/
.phonePicRow .row-block, .relativeAppRow .row-block, .hrh-ul .row-block, .resource-ul .row-block, .hsptBlock .bdvantageRow .row-block, .friendsRow .row-block, .butlerRow .row-block {
  float: left; }

.phonePicRow:before, .phonePicRow .row-block:before, .relativeAppRow:before, .relativeAppRow .row-block:before, .hrh-ul:before, .hrh-ul .row-block:before, .resource-ul:before, .resource-ul .row-block:before, .homeSPtRow:before, .hsptBlock .link:before, .hsptBlock .bdvantageRow:before, .hsptBlock .bdvantageRow .row-block:before, .hsptBlock:hover:before, .hsptBlock.on:before, .friendsRow:before, .friendsRow .row-block:before, .butlerRow:before, .butlerRow .row-block:before, .phonePicRow:after, .phonePicRow .row-block:after, .relativeAppRow:after, .relativeAppRow .row-block:after, .hrh-ul:after, .hrh-ul .row-block:after, .resource-ul:after, .resource-ul .row-block:after, .homeSPtRow:after, .hsptBlock .link:after, .hsptBlock .bdvantageRow:after, .hsptBlock .bdvantageRow .row-block:after, .hsptBlock:hover:after, .hsptBlock.on:after, .friendsRow:after, .friendsRow .row-block:after, .butlerRow:after, .butlerRow .row-block:after {
  content: " ";
  display: table; }

.phonePicRow:after, .phonePicRow .row-block:after, .relativeAppRow:after, .relativeAppRow .row-block:after, .hrh-ul:after, .hrh-ul .row-block:after, .resource-ul:after, .resource-ul .row-block:after, .homeSPtRow:after, .hsptBlock .link:after, .hsptBlock .bdvantageRow:after, .hsptBlock .bdvantageRow .row-block:after, .hsptBlock:hover:after, .hsptBlock.on:after, .friendsRow:after, .friendsRow .row-block:after, .butlerRow:after, .butlerRow .row-block:after {
  clear: both; }

.phonePicRow .row-block, .relativeAppRow .row-block, .hrh-ul .row-block, .resource-ul .row-block, .hsptBlock .bdvantageRow .row-block, .hsptBlock .bdvantageRow .iconfont, .friendsRow .row-block, .butlerRow .row-block, .news-ul08 .newsRow .cl-newsBox .rightPart .wrapper .top .stars, .news-ul08 .newsRow .cl-newsBox .rightPart .wrapper .top .iconfont {
  position: relative; }

.hsptBlock .link .link-inner img {
  position: absolute; }

.hsptBlock .link .link-inner img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.news-ul09 .newsRow .cl-pic img, .news-ul08 .newsRow .cl-pic img, .news-ul07 .newsRow .cl-pic img, .news-ul06 .newsRow .cl-pic img, .news-ul05 .newsRow .cl-pic img, .news-ul04 .newsRow .cl-pic img, .news-ul03 .newsRow .cl-pic img, .news-ul02 .newsRow .cl-pic img, .news-ul01 .newsRow .cl-pic img {
  display: block;
  width: 100%;
  height: 100%; }

.phonePicRow .row-block, .relativeAppRow .row-block, .hrh-ul .row-block, .resource-ul .row-block, .hsptBlock .bdvantageRow .row-block, .friendsRow .row-block, .butlerRow .row-block {
  float: left; }

.phonePicRow {
  margin-left: -15px;
  margin-right: -15px;
  padding: 65px 16px 30px; }
  .phonePicRow .row-block {
    width: 33.33333%;
    min-height: 1px; }
    .phonePicRow .row-block .inner {
      padding: 0 15px; }
  .phonePicRow .inner {
    text-align: center; }
  .phonePicRow .imgBox {
    position: relative;
    display: inline-block; }
    .phonePicRow .imgBox .bg {
      z-index: 999;
      position: relative; }
    .phonePicRow .imgBox .imgZone {
      position: absolute;
      left: 17px;
      top: 70px;
      width: 247px;
      height: 434px;
      overflow: hidden; }
      .phonePicRow .imgBox .imgZone .imgFloat img {
        width: 100%; }
    .phonePicRow .imgBox img {
      display: block; }

.relativeAppRow {
  margin-left: -15px;
  margin-right: -15px;
  padding: 75px 0; }
  .relativeAppRow .row-block {
    width: 25%;
    min-height: 1px; }
    .relativeAppRow .row-block .inner {
      padding: 0 15px; }

.hrh-wrapper {
  border-top: 1px solid #ddd; }

.hrh-ul {
  margin-left: -15px;
  margin-right: -15px; }
  .hrh-ul .row-block {
    width: 50%;
    min-height: 1px; }
    .hrh-ul .row-block .inner {
      padding: 0 15px; }

.resource-ul {
  overflow: hidden; }
  .resource-ul .row-block {
    width: 50%;
    min-height: 1px; }
    .resource-ul .row-block .inner {
      padding: 0 15px;
      padding-left: 0;
      border-bottom: 1px dotted #ddd; }

.hrjs-wrapper {
  padding-top: 10px; }

.productIntroduceBox {
  border: 1px solid #999;
  padding: 23px 30px; }

.homeSPtRow {
  margin-left: -31px;
  margin-right: -31px;
  padding-bottom: 120px; }
  .homeSPtRow .hspt {
    width: 33.33333%;
    float: left;
    min-height: 1px; }
  .homeSPtRow .str-inner {
    padding-left: 31px;
    padding-right: 31px; }

.hsptBlock {
  -webkit-box-shadow: 0 0 20px #999;
  box-shadow: 0 0 20px #999;
  width: 100%;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s; }
  .hsptBlock .img {
    position: relative; }
    .hsptBlock .img img {
      display: block;
      width: 100%;
      height: 190px; }
    .hsptBlock .img .info-hover {
      background: rgba(135, 173, 109, 0.7);
      color: #fff;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 15px 0 15px; }
      .hsptBlock .img .info-hover .ih-title {
        padding: 30px 0 37.5px;
        font-size: 18.72px; }
      .hsptBlock .img .info-hover .ih-text {
        height: 90px;
        overflow: hidden; }
  .hsptBlock .hspt-bottom {
    padding: 0 45px;
    padding-bottom: 10px;
    background: #fff; }
  .hsptBlock .text .hspt_title {
    color: #64963c;
    padding: 20px 0;
    font-size: 20.592px;
    text-align: center; }
  .hsptBlock .text .hspt_text {
    padding-bottom: 35px; }
  .hsptBlock .hspt-p {
    color: #218ad5;
    padding-bottom: 10px;
    display: none; }
  .hsptBlock .link {
    margin-left: -5px;
    margin-right: -5px; }
    .hsptBlock .link .linkBlock {
      width: 50%;
      float: left;
      min-height: 1px;
      margin-bottom: 10px; }
    .hsptBlock .link .str-inner {
      padding-left: 5px;
      padding-right: 5px; }
    .hsptBlock .link .link-inner {
      border: 1px solid #ddd;
      text-align: center;
      height: 36px;
      position: relative; }
  .hsptBlock .bdvantageRow {
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    padding: 30px 0 25px;
    display: none; }
    .hsptBlock .bdvantageRow .row-block {
      width: 25%;
      min-height: 1px; }
      .hsptBlock .bdvantageRow .row-block .inner {
        padding: 0 15px; }
    .hsptBlock .bdvantageRow .iconfont {
      font-size: 56.16px;
      color: #64963c;
      top: 33px;
      line-height: 1;
      top: 40px; }
    .hsptBlock .bdvantageRow .title {
      height: 55px;
      color: #64963c;
      font-size: 15.6px;
      position: relative;
      z-index: 999; }
    .hsptBlock .bdvantageRow .bdText {
      color: #999;
      padding-top: 10px;
      position: relative;
      z-index: 999; }
  .hsptBlock:hover, .hsptBlock.on {
    margin-left: -5px;
    margin-right: -5px;
    width: 150%;
    z-index: 999;
    position: relative;
    margin-left: -20%;
    margin-top: -20%; }
    .hsptBlock:hover .linkBlock, .hsptBlock.on .linkBlock {
      width: 25%;
      float: left;
      min-height: 1px; }
    .hsptBlock:hover .str-inner, .hsptBlock.on .str-inner {
      padding-left: 5px;
      padding-right: 5px; }
    .hsptBlock:hover .hspt-bottom, .hsptBlock.on .hspt-bottom {
      padding: 0 15px; }
      .hsptBlock:hover .hspt-bottom .text, .hsptBlock.on .hspt-bottom .text {
        display: none; }
    .hsptBlock:hover .hspt-p, .hsptBlock:hover .img .info-hover, .hsptBlock:hover .bdvantageRow, .hsptBlock.on .hspt-p, .hsptBlock.on .img .info-hover, .hsptBlock.on .bdvantageRow {
      display: block; }

.friendsRow {
  padding-bottom: 60px;
  margin-left: -4px;
  margin-right: -4px; }
  .friendsRow .row-block {
    width: 25%;
    min-height: 1px; }
    .friendsRow .row-block .inner {
      padding: 0 4px; }
  .friendsRow .box {
    height: 160px;
    padding-bottom: 8px; }
    .friendsRow .box img {
      position: relative; }
      .friendsRow .box img:hover {
        -webkit-filter: none;
        filter: none;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        z-index: 999;
        border: 2px solid #a6d2f2;
        -webkit-box-shadow: 0 0 10px #999;
        box-shadow: 0 0 10px #999; }

.butlerRow {
  margin-left: -15px;
  margin-right: -15px; }
  .butlerRow .row-block {
    width: 33.33333%;
    min-height: 1px; }
    .butlerRow .row-block .inner {
      padding: 0 15px; }
  .butlerRow .inner {
    border-bottom: 15px solid #f0f0f0; }
    .butlerRow .inner:hover {
      background: #6db0e1;
      border-bottom: 15px solid #196296; }
      .butlerRow .inner:hover .header04, .butlerRow .inner:hover .list15 {
        color: #fff; }
  .butlerRow .imgbox {
    height: 125px; }
    .butlerRow .imgbox img {
      display: block;
      width: 100%;
      height: 100%; }

.indInfo {
  padding-top: 16px; }

/* news-ul09 start */
.news-ul09 .newsRow {
  padding: 5px 0px; }
  .news-ul09 .newsRow:hover {
    color: #218ad5; }
  .news-ul09 .newsRow .cl-pic {
    width: 75px;
    height: 75px; }
  .news-ul09 .newsRow .cl-newsBox {
    text-align: left;
    margin-left: 95px; }
    .news-ul09 .newsRow .cl-newsBox .cl-title {
      overflow: hidden; }
      .news-ul09 .newsRow .cl-newsBox .cl-title .cl-p01 {
        font-size: 22.464px;
        margin-top: -6px; }
        .news-ul09 .newsRow .cl-newsBox .cl-title .cl-p01:hover {
          color: #218ad5; }
    .news-ul09 .newsRow .cl-newsBox .cl-text {
      height: 47px;
      overflow: hidden; }

.news-ul09 .newsRow .cl-pic img {
  width: 100%;
  display: block; }

/* news-ul09 end */
/* news-ul08 start */
.news-ul08 .newsRow + .newsRow {
  border-bottom: 1px dotted #ddd; }

.news-ul08 .newsRow .cl-pic {
  /* width: $nuheight08/3*4; */
  width: 64px;
  height: 64px;
  padding: 18px;
  background: #f0f0f0;
  border: 1px solid #ddd;
  -webkit-border-radius: 20px;
  border-radius: 20px; }
  .news-ul08 .newsRow .cl-pic.type2 {
    width: 133.33333px; }

.news-ul08 .newsRow .adr {
  color: #999;
  font-size: 12px;
  padding: 15px 0; }

.news-ul08 .newsRow .cl-newsBox {
  text-align: left;
  margin-left: 135px; }
  .news-ul08 .newsRow .cl-newsBox .view {
    margin-left: 20px; }
  .news-ul08 .newsRow .cl-newsBox .cl-title {
    padding-top: 19px; }
    .news-ul08 .newsRow .cl-newsBox .cl-title .cl-p01 {
      font-size: 28.08px;
      color: #218ad5; }
      .news-ul08 .newsRow .cl-newsBox .cl-title .cl-p01:hover {
        color: #218ad5; }
  .news-ul08 .newsRow .cl-newsBox .cl-type {
    margin-left: 40px; }
    .news-ul08 .newsRow .cl-newsBox .cl-type span {
      padding: 0px 10px;
      border: 1px solid #218ad5;
      color: #218ad5; }
  .news-ul08 .newsRow .cl-newsBox .rightPart {
    float: right;
    padding-top: 10px; }
    .news-ul08 .newsRow .cl-newsBox .rightPart .wrapper {
      display: inline-block; }
      .news-ul08 .newsRow .cl-newsBox .rightPart .wrapper + .wrapper .top {
        border-left: 1px solid black; }
      .news-ul08 .newsRow .cl-newsBox .rightPart .wrapper .top {
        height: 35px;
        text-align: center;
        padding: 0 30px; }
        .news-ul08 .newsRow .cl-newsBox .rightPart .wrapper .top .stars {
          top: 7px; }
        .news-ul08 .newsRow .cl-newsBox .rightPart .wrapper .top .iconfont {
          font-size: 37.44px;
          top: 7px; }
      .news-ul08 .newsRow .cl-newsBox .rightPart .wrapper .p {
        text-align: center;
        padding-top: 5px; }
  .news-ul08 .newsRow .cl-newsBox .cl-text {
    padding-top: 15px;
    height: 40px;
    overflow: hidden;
    line-height: 1.6; }
    .news-ul08 .newsRow .cl-newsBox .cl-text .share {
      overflow: hidden;
      padding-top: 25px; }
    .news-ul08 .newsRow .cl-newsBox .cl-text .p {
      margin-bottom: 10px; }

.news-ul08 .newsRow .cl-pic img {
  width: 100%;
  display: block; }

/* news-ul08 end */
/* news-ul07 start */
.news-ul07 .newsRow .nu07-inner {
  padding: 15px 0px; }

.news-ul07 .newsRow .cl-pic {
  width: 140px;
  height: 105px; }

.news-ul07 .newsRow .cl-newsBox {
  text-align: left;
  margin-left: 160px;
  height: 105px;
  position: relative; }
  .news-ul07 .newsRow .cl-newsBox .cl-title .cl-p01 {
    font-weight: 700;
    font-size: 15.6px;
    color: #000;
    height: 44px;
    overflow: hidden;
    display: inline-block; }
    .news-ul07 .newsRow .cl-newsBox .cl-title .cl-p01:hover {
      color: #218ad5; }
  .news-ul07 .newsRow .cl-newsBox .ul03-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden; }
    .news-ul07 .newsRow .cl-newsBox .ul03-wrapper .g {
      color: #999; }

.news-ul07 .newsRow .cl-pic img {
  width: 100%;
  display: block; }

/* news-ul07 end */
/* news-ul06 start */
.news-ul06 .newsRow {
  padding: 10px 0px; }
  .news-ul06 .newsRow .cl-pic {
    width: 80px;
    height: 80px; }
  .news-ul06 .newsRow .cl-newsBox {
    text-align: left;
    margin-left: 100px;
    height: 80px;
    position: relative; }
    .news-ul06 .newsRow .cl-newsBox .cl-title .cl-p01 {
      font-weight: 700;
      font-size: 15.6px;
      color: #000;
      height: 44px;
      overflow: hidden;
      display: inline-block; }
      .news-ul06 .newsRow .cl-newsBox .cl-title .cl-p01:hover {
        color: #218ad5; }
    .news-ul06 .newsRow .cl-newsBox .ul03-wrapper {
      position: absolute;
      left: 0;
      bottom: 0;
      overflow: hidden; }
      .news-ul06 .newsRow .cl-newsBox .ul03-wrapper .g {
        color: #999; }

.news-ul06 .newsRow .cl-pic img {
  width: 100%;
  display: block; }

/* news-ul06 end */
/* news-ul05 start */
.news-ul05 .newsRow {
  padding-bottom: 5px; }
  .news-ul05 .newsRow + .newsRow {
    border-bottom: 1px dotted #ddd; }
  .news-ul05 .newsRow .cl-pic {
    /* width: $nuheight05/3*4; */
    width: 225px;
    height: 225px;
    border: 1px solid #ddd; }
    .news-ul05 .newsRow .cl-pic.type2 {
      width: 300px; }
  .news-ul05 .newsRow .adr {
    color: #999;
    font-size: 12px;
    padding: 15px 0; }
  .news-ul05 .newsRow .cl-newsBox {
    text-align: left;
    margin-left: 320px; }
    .news-ul05 .newsRow .cl-newsBox .view {
      margin-left: 20px; }
    .news-ul05 .newsRow .cl-newsBox .cl-title .cl-p01 {
      font-weight: 700;
      font-size: 15.6px;
      color: #000; }
      .news-ul05 .newsRow .cl-newsBox .cl-title .cl-p01:hover {
        color: #218ad5; }
    .news-ul05 .newsRow .cl-newsBox .cl-text {
      padding-top: 30px;
      height: 175px;
      overflow: hidden;
      font-size: 15.6px;
      line-height: 1.6; }
      .news-ul05 .newsRow .cl-newsBox .cl-text .share {
        overflow: hidden;
        padding-top: 25px; }
      .news-ul05 .newsRow .cl-newsBox .cl-text .p {
        margin-bottom: 10px; }
      .news-ul05 .newsRow .cl-newsBox .cl-text .g {
        color: #999; }

.news-ul05 .newsRow .cl-pic img {
  width: 100%;
  display: block; }

/* news-ul05 end */
/* news-ul04 start */
.news-ul04 .newsRow {
  padding: 15px 0px; }
  .news-ul04 .newsRow .cl-pic {
    width: 120px;
    height: 90px; }
  .news-ul04 .newsRow .cl-newsBox {
    text-align: left;
    margin-left: 140px;
    height: 90px;
    position: relative; }
    .news-ul04 .newsRow .cl-newsBox .cl-title .cl-p01 {
      font-weight: 700;
      font-size: 15.6px;
      color: #000;
      height: 44px;
      overflow: hidden;
      display: inline-block; }
      .news-ul04 .newsRow .cl-newsBox .cl-title .cl-p01:hover {
        color: #218ad5; }
    .news-ul04 .newsRow .cl-newsBox .ul03-wrapper {
      position: absolute;
      left: 0;
      bottom: 0;
      overflow: hidden; }
      .news-ul04 .newsRow .cl-newsBox .ul03-wrapper .g {
        color: #999; }

.news-ul04 .newsRow .cl-pic img {
  width: 100%;
  display: block; }

/* news-ul04 end */
/* news-ul03 start */
.news-ul03 .newsRow {
  padding: 15px 0px;
  border-bottom: 1px dotted #ddd; }
  .news-ul03 .newsRow .cl-pic {
    width: 160px;
    height: 120px; }
  .news-ul03 .newsRow .cl-newsBox {
    text-align: left;
    margin-left: 180px;
    height: 120px;
    position: relative; }
    .news-ul03 .newsRow .cl-newsBox .cl-title .cl-p01 {
      font-weight: 700;
      font-size: 15.6px;
      color: #000; }
      .news-ul03 .newsRow .cl-newsBox .cl-title .cl-p01:hover {
        color: #218ad5; }
    .news-ul03 .newsRow .cl-newsBox .ul03-wrapper {
      position: absolute;
      left: 0;
      bottom: 0;
      overflow: hidden; }
      .news-ul03 .newsRow .cl-newsBox .ul03-wrapper .g {
        color: #999; }

.news-ul03 .newsRow .cl-pic img {
  width: 100%;
  display: block; }

/* news-ul03 end */
/* news-ul02 start */
.news-ul02 .newsRow {
  padding: 5px 0px; }
  .news-ul02 .newsRow:hover {
    color: #218ad5; }
  .news-ul02 .newsRow .cl-pic {
    width: 66.66667px;
    height: 50px; }
  .news-ul02 .newsRow .cl-newsBox {
    text-align: left;
    margin-left: 76.66667px; }
    .news-ul02 .newsRow .cl-newsBox .view {
      margin-left: 20px; }
    .news-ul02 .newsRow .cl-newsBox .cl-title {
      height: 45px;
      overflow: hidden; }
      .news-ul02 .newsRow .cl-newsBox .cl-title .cl-p02 {
        font-weight: 700;
        font-size: 15.6px;
        color: #000; }
        .news-ul02 .newsRow .cl-newsBox .cl-title .cl-p02:hover {
          color: #218ad5; }
    .news-ul02 .newsRow .cl-newsBox .cl-text {
      height: 47px;
      overflow: hidden; }

.news-ul02 .newsRow .cl-pic img {
  width: 100%;
  display: block; }

/* news-ul02 end */
/* news-ul01 start */
.news-ul01 .newsRow {
  padding: 30px 0px;
  border-bottom: 1px solid #ddd; }

.news-ul01 .newsRow .cl-pic {
  width: 233.33333px;
  height: 175px; }

.news-ul01 .newsRow .cl-newsBox {
  text-align: left;
  margin-left: 253.33333px; }
  .news-ul01 .newsRow .cl-newsBox .view {
    margin-left: 20px; }

.news-ul01 .newsRow .cl-pic img {
  width: 100%;
  display: block; }

.news-ul01 .newsRow .cl-newsBox .cl-title .cl-p01 {
  font-weight: 700;
  font-size: 15.6px;
  padding: 8px 0;
  color: #eb6326; }

.news-ul01 .newsRow .cl-newsBox .cl-text {
  margin: 24px 0;
  height: 65px;
  overflow: hidden; }

/* news-ul01 end */

/*# sourceMappingURL=maps/cPicText.css.map */
