div.step_context{height:37px; margin-top:15px; margin-bottom:15px; border-left:solid 1px #d17a00;}

.step_context ul{  height:37px; width:auto; list-style:none; margin:0px; padding:0px; float:left; }
.step_context li{ 
background-image: url(../images/step1.png);
 background-repeat:no-repeat;
border:none;
height:37px;width:200px; 
float:left;
list-style:none;
line-height:37px;position:relative;  }
.step_context li span {
    background-color: #993600;
    color: #ffffff;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 20px;
    left: 16px;
    line-height: 19px;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 20px;
}.step_context li a{ 
background-image:  url(../images/step1.png); background-repeat:repeat-x;border:none;height:37px;width:188px; float:left;color:#003300; text-decoration:none; font-size:12px;list-style:none; text-align:center;  }
/*已经完成的步骤的样式*/
li.finshStep{
 background-position: 188px 0px;
}
li.finshStep a{
 background-position: 188px -237px;
}
/*第一步完成的步骤的样式*/
li.firstFinshStep{
 background-position: 188px 0px;
}
li.firstFinshStep a{
 background-position: 188px -237px;
}
/*只进行到第一步*/
li.firstFinshStep_curr1{
 background-position: 188px -79px;
}
li.firstFinshStep_curr1 a{
 background-position: 188px -237px;
}

/*下一步未完成的步骤样式*/
li.coressStep{
 background-position: 188px -79px;
  background-color:#77BB77;
}
li.coressStep a{
 background-position: 188px -237px;
}
/*等待完成的步骤样式*/
li.loadStep{
 background-position: 188px -118px;
 
}
li.loadStep a{
 background-position: 188px -198px;
}
li.loadStep  span{
background:#515751;}
/*最后一个步骤完成后的样式*/
li.finshlast{
 background-position: 188px -39px;
 
}
li.finshlast a{
 background-position: 188px -237px;
}
/*最后一个步骤的样式*/
li.last{
 background-position: 188px -158px;
 }
 li.last a{
 background-position: 188px -198px;
}
li.last  span{
background:#515751;}
