@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑", "宋体"; position:relative
}
a {
	text-decoration: none;
	color: #333;
	outline: none;
	cursor: pointer;
bblr:expression(this.onFocus=this.blur());
}
a:hover {
	color: #0068de;
	text-decoration:underline
}
* {
	padding: 0px;
	margin: 0px;
}
ul, li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
img {
	border: none;
}
.hidden {
	display: none;
}
.red {
	color:#F00
}
.clear {
	clear: both;
}
.clear10 {
	clear: both;
	height: 10px;
}
.clear12 {
	clear: both;
	height: 4px;
}
.clear44 {
	clear:both;
	height:44px;
}
.clear20 {
	clear: both;
	height: 35px;
}


*{margin:0;padding: 0;}
	body,html{width:100%;height: 100%;}
	body{background: url(../img/bg.png) no-repeat;font-size: 14px;color:rgb(239,231,184);}
	body>div{margin-left: 100px;}
	.try{width:661px;height:241px;background: url(../img/have_a_try.png) no-repeat;background-size: 100% 100%;}
	.content{position: relative;float: left;}
	.pc_activity{float:left;width:840px;height: 451px;background: url(../img/pc_activity_bg.png) no-repeat;background-size: 100% 100%;}
	.wheel{
		
		position: relative; margin-left:-190px;margin-top:-120px;float:left;width:574px;height: 568px;background: url(../img/wheel.png) no-repeat;background-size: 100% 100%;}
	.text{width: 274px;height: 316px;margin-left: 60px;margin-top: 50px;}

.title{font-size: 1.3em;margin-bottom: 5px;font-weight: 700;}

.pc_activity>div{float: left;position: relative;}
.text table,.text td{border:1px solid #fff;border-collapse: collapse;text-align: center;}
	.text table{margin-top: 10px;}
	.text td{padding:1px 18px; font-size:13px;}

.list{width:256px;height: 306px;}
.list >div{text-align:center;}
.prize_border{height: 5px ;background-color:rgb(185,68,13);border-radius: 3px;}	
.list_box{color: #000;padding:8px;width:90%;background-color: #fff;margin: 0 auto;}
	.list_box ul.box_header{display: block;width: 100%;height: 30px;list-style: none;border-bottom: 2px solid rgb(244,160,178)}
	.list_box ul.box_header li,.list_box .box_body span{display: block;float:left;width: 33%;text-align: center;margin-bottom: 10px;}
	.list_box .box_body{list-style: none;}
	.list_box .wrapper{width: 100%;height: 85%;}
.list{margin-top:50px;margin-left: 20px;}	
.gift{z-index:99;position: absolute;bottom: 0px;right:-35px;width:228px;height:181px;background: url(../img/pc_gift.png) no-repeat;background-size: 100% 100%;}

.zp_main{ width:1227px; margin:150px auto 0; overflow:hidden}

.wheel{background:url(../img/wheel.png);background-size: 100% 100%;display: table;}
	.wheel_wrapper{display: table-cell;vertical-align: middle;}
	.wheel #start{margin:0 auto;width:33%;height:auto;}
	.wheel #start img{width:100%;height: 100%;}