@charset "utf-8";
*,body,li,ul{padding:0;margin:0}
.headerbox,.homepage{background:#fff}
.collapse h2 a:hover,.epages a,.epages a:hover,.expand h2 a:hover,.font-bt2,.font5,.mainNav .mn_list li a.on,.nc_con_left p a:hover,.nc_subNav ul li a:hover,.successstory,a{text-decoration:none}
.promo-button,a{cursor:pointer;outline:0}
.clear,.clear10,.clear12,.clear20,.clear44,.infonav,.xs_pagination{clear:both}
.anli_name a,.hezuo li p,.leftLoop .bd ul li p,.news_sgl .right h1 a,.overview-ad .ad-search-query,.wd_news li a{text-overflow:ellipsis}
body{font-family:"微软雅黑","宋体";min-width:1170px}
#Contact_erweihover .txt,#Contact_erweihover01 .txt{text-align:center;font-family:"微软雅黑"}
a{color:#333;bblr:expression(this.onFocus=this.blur())}
.blue,a:hover{color:#0c8fe1}
li,ul{list-style:none}
.hidden{display:none}
.clear10{height:10px}
.clear12{height:12px}
.clear44{height:44px}
.clear20{height:25px}
.headerbox{height:112px;z-index:9999}
.header{width:1180px;position:relative;margin:0 auto;z-index:9999}
#chinese a,#english a{color:#666;z-index:9999999999;font-size:12px}
.logoimg,.logoimg2{display:block;float:left;height:95px;margin-top:8px}
#english a{background:url(../images/english.png) left no-repeat;padding-left:24px}
#chinese a{position:absolute;right:28px;top:10px;background:url(../images/chinese.png) left no-repeat;padding-left:34px}
.logo{float:left}
.logoimg{background:url(../images/logo.png) no-repeat;width:220px}
.logoimg2{background:url(../images/logo01.png) no-repeat;width:219px}
.cp_list{float:left;border-left:solid 1px #5f5f5f;padding-left:14px;margin-left:14px;margin-top:46px;background:url(../images/logo_list.png) 168px 12px no-repeat;padding-right:30px;position:relative;width:144px}
.cp_list h1{font-size:20px;font-weight:400}
.platform-select{position:absolute;left:-1px;border:1px solid #ddd;background:#fff;border-top:none;z-index:999}
.platform-select .deflaut.select-hover{background:#eee}
.platform-select .deflaut a{color:#333!important;display:block;width:178px;background:0 0;height:auto;font-size:16px;text-align:center;margin-top:0;line-height:50px}
.platform-select .deflaut a:hover{background:#eee}
.hot_icon{background:url(../images/hot_icon.png) no-repeat;width:28px;height:17px;display:block;position:absolute;right:0;top:30px}
.menubox ul li a,.nav_all{display:block;width:104px}
.menubox{float:right;z-index:99999}
.menubox ul li{float:left;text-align:center;line-height:130px;position:relative;z-index:9999999}
.nav_all,.nav_all ul{z-index:9999}
.menubox ul li a{height:110px;font-size:16px}
.menubox ul li a:hover{color:#0063b4}
.menubox ul li a.on{color:#0063b4;font-size:16px;border-bottom:solid 2px #0063b4}
.nav_all{background:url(../images/black_bg.png);position:absolute;top:108px}
.banner,.nav_t{position:relative}
.banner{ /*margin-top:112px;*/}
.nav_t{background:url(../images/nav_all_bg.png) no-repeat;width:118px;height:4px;display:block;top:-4px}
.nav_all li a{border-bottom:dotted 1px #2c4462;height:40px!important;line-height:40px;display:block;font-size:12px!important;color:#fff}
.banner .hd,.dianji_abc{height:13px;margin:0 auto}
.nav_all li a:hover{border-bottom:dotted 1px #fff!important;color:#fff!important}
.dianji_abc{position:absolute;top:475px;width:100%;z-index:1}
.banner .hd{width:130px}
.banner .hd ul{float:right;overflow:hidden}
.banner .hd ul li{background:#fff;border-radius:10px;cursor:pointer;float:left;height:12px;margin-right:14px;width:12px}
.banner .bd,.banner .bd img{height:526px;width:100%}
.banner .hd ul li.on{background:#ffa800;color:#fff}
.banner .bd{overflow:hidden}
.banner01{height:526px;transition:all .5s ease 0s}
.banner a{display:block;height:456px;width:100%}
.bg01{width:1180px;margin:46px auto;background:url(../images/bg01.png) no-repeat;height:30px}
.yw_list{width:1180px;margin:0 auto}
.info,.name,.pic{width:228px}
.yw_list ul li{float:left}
.yw_list ul li a{float:left;width:228px;border-bottom:solid 3px #b4b3b3;display:inline-block;margin-right:8px;overflow:hidden}
.info,.name,.price{display:block}
.pic{height:316px;overflow:hidden;zoom:1}
.info{height:70px;background:#fff;overflow:hidden;zoom:1}
.name{text-align:center;font-size:16px;color:#0086c5;margin-top:12px}
.price{text-align:center;margin:8px auto 0;color:#666;position:relative;font-size:12px}
.w01{width:118px}
.w02,.w03,.w04{width:100px}
.w05{width:132px}
.yw_list ul li a:hover{border-bottom:solid 3px #0086c5}
.arrow{position:absolute;background:url(../images/ball_icon.png) no-repeat;width:11px;height:11px;right:-18px;top:3px}
.newsbox{background:#f9f9f9;overflow:hidden;zoom:1;padding-bottom:44px}
.news{margin:0 auto;width:1180px}
.dianji li a,.more{display:block;margin-right:14px;margin-top:14px}
.news .left{float:left;width:580px;position:relative}
.news_pic{height:391px}
.news_pic li a,.news_pic li a img{width:580px;display:block;overflow:hidden;zoom:1;height:391px}
.news_roll{position:absolute;left:0;bottom:0;background:url(../images/black_bg.png);width:580px;height:40px;line-height:40px}
.news_name{float:left;width:446px;padding-left:14px}
.news_name li a{color:#fff;font-size:14px;width:466px;overflow:hidden;zoom:1;display:block}
.dianji{float:right;width:114px}
.dianji li a{float:left;width:14px;height:14px;background:#fff;border-radius:14px}
.dianji li a.on,.dianji li a:hover{background:#ffa800}
.news .right{float:right;width:600px;background:#fff}
.news_top{height:50px;line-height:50px;background:url(../images/right_top_bg.png) repeat-x}
.news_top .left,.news_top li{float:left}
.news_top li a{float:left;width:134px;text-align:center;font-size:20px}
.news_top li a.on,.news_top li a:hover{background:#fff;border-top:solid 2px #0063b4;color:#0063b4;height:52px}
.more{float:right;background:url(../images/more_bg.png) no-repeat;width:64px;height:26px}
.news_list{padding:16px 14px 10px}
.news_sgl{padding-bottom:7px;overflow:hidden;margin-top:10px}
.news_sgl .left{float:left;width:152px}
.news_sgl .left a,.news_sgl .left a img{height:74px;display:block;overflow:hidden;width:152px}
.news_sgl .right{float:right;width:400px}
.news_sgl .right h1 a{font-size:16px;color:#0086c5;font-weight:400;width:380px;overflow:hidden;display:block;white-space:nowrap}
.news_sgl .right h1 a:hover{color:#FC611F}
.news_sgl .right p{margin-top:6px;color:#666;line-height:20px;font-size:12px}
.concur{margin-top:14px;width:1180px;margin-left:auto;margin-right:auto;overflow:hidden;zoom:1}
.concur .left{float:left;width:179px}
.concur .left a{background:url(../images/concur_bg.png) no-repeat;width:179px;height:88px;display:block}
.concur .right{float:right;width:976px}
.left_btn a,.right_btn a{overflow:hidden;width:15px;height:37px;display:block;margin-top:28px}
.left_btn{float:left}
.left_btn a{background:url(../images/left_btn.png) no-repeat}
.right_btn{float:right}
.middle,.middle li{float:left}
.right_btn a{background:url(../images/right_btn.png) no-repeat}
.middle{margin-left:14px;width:918px;margin-top:14px}
.middle li a{width:139px;height:62px;display:inline-block;border:1px solid #4d4d4d;overflow:hidden;zoom:1;margin-right:6px;margin-left:6px}
.links{margin:15px auto;width:1170px;font-size:13px;overflow:hidden}
.links a,.links ul li{margin-right:15px}
.links span{font-weight:700;float:left;display:#000}
.links ul{float:right;width:94%}
.links ul li{float:left;display:inline-block}
.footer_nav{background:#30323a;padding-bottom:0/*30px*/;min-width:1180px;position:relative}
.footer{margin:0 auto;width:1180px;overflow:hidden;background:url(../images/footerBG.png) top center no-repeat;}
.map_index{background:url(../images/map.png) no-repeat; width:401px; height:228px; float:left; margin-top:15px; background-size:88%; margin-left:60px; margin-right:100px;}
/*.white_logo{background:url(../images/white_logo.png) no-repeat; width:240px; height:70px; float:left; background-size:80%; margin-top:50px; }*/


.fnav_box{/*background:url(../images/footer_bg.png) left top no-repeat;padding-left:16px;*/float:left;width:210px; margin-top:20px;}
.fnav_box h2{color:#fff;font-size:16px;font-weight:400;padding-top:34px}
.fnav_box ul li,.fnav_box ul li a{color:#fff;font-size:14px;font-weight:400}
.fnav_box ul{margin-top:14px}
.fnav_box ul li{line-height:30px;background:url(../images/fnav_bg.png) left no-repeat;padding-left:14px}
#email,#gsjt,#tel{padding-left:22px}
.fnav_box ul li a:hover{color:#0086c5}
#gsjt{background:url(../images/fnav_icon01.png) 0 6px no-repeat}
#tel{background:url(../images/fnav_icon02.png) left no-repeat}
#email{background:url(../images/fnav_icon03.png) left no-repeat}

.f_right{float:right;width:150px;margin-top:30px}
.gzwx{margin-right:8px;float:right;width:119px;padding:3px;background:#27282d;border:1px solid #3f4147;height:119px}
.sns{height:42px;float:right;margin-top:6px}
.sns a,.sns a.wz{margin:0 5px;float:right}
.sns a{display:block}
.sns a.wz{height:36px}
.sns a.ico{width:36px;height:36px;text-indent:-9999px;background-image:url(../images/yy_icon.png);float:left}
.sns a.sina{background-position:2px 0}
.sns a.weixin{position:relative;text-indent:0;background-position:90px 0}
.sns .weixin #weixin_cy_img{width:119px;height:150px;position:absolute;z-index:111;right:-43px;bottom:53px;display:none}
.sns a.qq{background-position:44px 0}
#Contact_erweihover .erwei_pic{height:172px;width:172px;margin:0 auto}
#Contact_erweihover .txt{height:20px;font-size:17px;color:#f65f5f}
#Contact_erweihover .erwei_pic img{height:172px;width:172px;text-align:center}
#Contact_erweihover01{width:140px;height:140px;background:#fff;top:-164px;padding:10px;left:-66px;position:absolute}
#Contact_erweihover01 .erwei_pic{height:120px;width:120px;margin:0 auto}
#Contact_erweihover01 .txt{height:20px;font-size:15px;color:#0063b4}
#Contact_erweihover01 .erwei_pic img{height:120px;width:120px;text-align:center}
#Contact_erweihover{width:224px;height:192px;background:#fff;top:-220px;padding:14px;left:-231px;position:absolute}
.bottombox{background:#24252a;border-top:1px solid #151515;min-width:1180px;overflow:hidden}
.bottom{margin:-1px auto 0;width:1180px}
.bottom .about{line-height:28px;color:#909090;font-size:13px;padding:14px 0;border-bottom:dashed 1px #1e1e21}
.bottom .left,.bottom .right{color:#bebebe;font-size:14px;line-height:60px}
.bottom .left{float:left;/*background:url(../images/f_logo.png) left no-repeat;padding-left:130px*/}
.bottom .right{float:right}
.bottom .right a{color:#bebebe}
.bottom .right a:hover{color:#0086c5}
.ad_by,.chinese,.english{display:block;color:#fff}
.fengmian{width:100%;height:280px; /*margin-top:115px;*/}
.w1180{margin:0 auto;width:980px}
.ad_by,.blue_bg,.chinese,.english{width:244px}
.blue_bg{float:left;background:url(../images/blue_bg.png) no-repeat;height:252px;padding:14px}
.english{font-size:40px;font-family:Arial,Helvetica,sans-serif;margin-top:30px}
.chinese{font-size:30px}
.ad_by{border-top:solid 1px #fff;padding-top:10px;margin-top:20px;font-size:12px}
.address,.mainbox{overflow:hidden;width:980px}
.address{margin:24px auto 0;border-bottom:dotted 1px #dedede;padding-bottom:10px}
.address .left{float:left;color:#888;background:url(../images/address_bg.png) left no-repeat;padding-left:20px;font-size:12px}
.address .right{float:right}
.address .left a{color:#0c8fe1}
.address .right a{background:url(../images/back_bg.png) left no-repeat;padding-left:22px;color:#666}
.mainbox{margin:30px auto 0;zoom:1;background:url(../images/main_bg.png) repeat-y;min-height:600px}
.mainbox .left{float:left;width:270px}
.sort{height:50px;border-bottom:solid 1px #0c8fe1}
.sort_list dd,.sort_list dt{border-bottom:1px dotted #ccc}
.sort span{background:url(../images/sort_bg.png) 0 8px no-repeat;padding-left:30px;line-height:50px;font-size:20px;color:#0c8fe1;margin-left:24px}
.bp01{background-position:0 -42px!important}
.sort_list dl{width:270px}
.sort_list dt{font-size:15px;height:52px;line-height:52px;text-indent:66px;background:url(../images/icon03.png) left no-repeat}
.sort_list dt a{width:270px;display:block}
.sort_list dt a.on,.sort_list dt a:hover{background:url(../images/sort_li_active.png) no-repeat;color:#0c8fe1}
.sort_list dd{height:52px;line-height:52px;padding-left:80px}
.sort_list dd a{display:block;float:left;height:52px;font-size:15px;background:url(../images/sort_li.png) left no-repeat;padding-left:20px}
.sort_list dd a img{line-height:52px;vertical-align:middle}
.sort_list dd a.on,.sort_list dd a:hover{color:#0c8fe1;float:left;height:52px}
.mainbox .right{float:right;width:688px}
.mainbox .right .top{line-height:52px;height:52px;color:#0c8fe1;font-size:20px;border-bottom:dotted 1px #ddd}
.detailsbox{margin:26px 0;overflow:hidden;color:#555;font-size:15px}
.detailsbox div,.detailsbox p{line-height:200%}
.product_list{border-bottom:solid 1px #e0e0e0;padding-bottom:18px;overflow:hidden;margin-top:18px}
.product_list .left{float:left;width:282px}
.product_list .left a{border:1px solid #ddd;padding:4px;width:276px;overflow:hidden;display:block}
.product_list .left a img{width:276px;height:142px;display:block}
.product_list .right{float:right;width:390px}
.product_list .right .h1{font-size:24px;color:#0c8fe1;width:390px;display:block;overflow:hidden}
.product_list .right .h1 a{color:#0c8fe1}
.product_list .right .txt_p{line-height:200%;color:#666;margin-top:10px;font-size:13px;display:block}
.anli_name a,.product_list .right .txt_p a{color:#0c8fe1}
.anli_list{border-bottom:dotted 1px #ddd;padding-bottom:14px;margin-top:14px;overflow:hidden;zoom:1}
.anli_list .left{float:left;width:190px}
.anli_list .right{float:right;width:480px}
.anli_list .left a{border:1px solid #ddd;padding:3px;width:184px;display:block;overflow:hidden}
.anli_list .left a img{width:184px;height:106px;display:block}
.anli_name a{font-size:15px;font-weight:700;width:480px;display:block;overflow:hidden;white-space:nowrap}
.anli_name a:hover{color:#FC611F}
.biaoqian{margin-top:6px;color:#999;font-size:12px}
.anli_jj,.anli_time{margin-top:6px;font-size:13px!important}
.anli_jj{line-height:170%;color:#666}
.anli_time span{color:#999;float:left}
.anli_time a{float:left;margin-left:20px;color:#fc611f}
.xs_pagination{overflow:hidden;padding-top:34px;text-align:right}
.detailsbox h1,.wd_img,.wd_info{text-align:center}
.xs_pagination a,.xs_pagination i{border:1px solid #ddd;color:#555;display:inline-block;height:24px;line-height:24px;margin:0 1px;min-width:20px;padding:0 5px;text-align:center;white-space:nowrap}
.xs_pagination a:hover{color:#0087c5}
.xs_pagination a.xs_c{background-color:#fff;border:none;color:#0087c5}
.xs_pagination i{background-color:transparent;border:transparent;color:#111;font-style:normal;min-width:10px;padding:0}
.detailsbox h1{font-size:24px;color:#0c8fe1;overflow:hidden;font-weight:400}
.culture_content{height:180px}
.wd_info{color:#999;font-size:12px;line-height:30px;margin:20px;border-bottom:dotted 1px #ddd;padding-bottom:14px}
.news_vdcon,.share span,.wd_jj{line-height:180%}
.wd_info span{margin-right:14px}
.wd_jj{padding:14px;background:#f5f5f5;margin-top:14px;font-size:14px;color:#777}
.news_vdcon{font-size:15px;min-height:600px;padding:40px 0 0}
.share{overflow:hidden;border-top:dotted 1px #ddd;padding-top:14px}
.share span{float:left;font-size:14px;margin-right:4px}
.share .left{float:left;color:#999;width:200px}
.share .right{float:left;width:138px}
.page_up{background:#fbfbfb;border:1px dashed #e5e5e5;height:50px;margin-bottom:20px;margin-top:30px;padding:10px;color:#666}
.page_up p{font-size:15px;height:25px;line-height:25px}
.page_up p a{color:#0c8fe1}
.wd_news li{border-bottom:dotted 1px #ddd;line-height:46px;height:42px;overflow:hidden}
.wd_news li a{background:url(../images/square.png) left no-repeat;padding-left:20px;float:left;width:540px;display:block;overflow:hidden;color:#555;font-size:15px;white-space:nowrap}
.wd_news li a:hover{color:#0086c5}
.wd_news li span{float:right;color:#999}
.ad_roll li a,.webdesign3 li{text-align:center;color:#fff}
.container{width:100%;margin:0 auto;min-width:1180px}
.yy_roll{position:fixed;left:30px;top:400px}
.yy_roll li a{width:14px;height:14px;background:#fff;border-radius:14px;display:block}
.webdesign1{background:url(../images/webdesign1.png) center no-repeat;height:382px;width:100%}
.webdesign19{background:url(../images/webdesign19.jpg) center no-repeat;height:360px;width:100%}
.webdesign2{background:url(../images/webdesign2.jpg) center no-repeat;width:100%;height:126px}
.webdesign3{width:1180px;margin:36px auto;overflow:hidden}
.webdesign3 li{float:left;display:inline-block;width:216px;height:30px;font-size:18px;padding-top:128px;margin-right:20px}
.jz_icona{background:url(../images/design_zf.png) no-repeat}
.jz_iconb{background:url(../images/design_qy.png) no-repeat}
.jz_iconc{background:url(../images/design_sc.png) no-repeat}
.jz_icond{background:url(../images/design_xw.png) no-repeat}
.jz_icone{background:url(../images/design_cp.png) no-repeat;float:right!important}
.webdesign4{background:url(../images/webdesign3.jpg) center no-repeat;width:100%;height:155px;position:relative}
.jz_tiaozhuan{width:1180px;margin:0 auto}
.jz_tiaozhuan a{background:url(../images/design_a.png) no-repeat;width:111px;height:31px;display:block;float:right;margin-top:98px;margin-right:200px}
.webdesign5{background:#1eca8c}
.designbox{width:1180px;margin:0 auto;overflow:hidden}
.ad_jz{margin-top:20px}
.ad_jz li a,.ad_jz li a img{width:1180px;height:456px;display:block}
.ad_roll{height:56px;line-height:56px;background:url(../images/design_c.png) no-repeat}
.ad_roll li a{float:left;width:590px;display:block;font-size:28px}
.ad_roll li a.on,.ad_roll li a:hover{color:#006440}
.webdesign6{background:url(../images/webdesign5.jpg) center no-repeat;width:100%;height:749px}
.webdesign7{background:url(../images/webdesign6.jpg) center no-repeat;width:100%;height:458px}
.webdesign8{background:url(../images/webdesign7.jpg) center no-repeat;width:100%;height:138px}
.webdesign9{width:1180px;margin:28px auto}
.jz_left a,.jz_right a{width:77px;height:77px;display:block}
.jz_left{float:left;margin-top:100px}
.jz_left a{background:url(../images/jz_left.png) no-repeat}
.jz_left a:hover{background:url(../images/jz_left_active.png) no-repeat}
.jz_right{float:right;margin-top:100px}
.jz_right a{background:url(../images/jz_right.png) no-repeat}
.jz_right a:hover{background:url(../images/jz_right_active.png) no-repeat}
.jz_middle{float:left;margin-left:28px;width:980px}
.jz_middle li{position:relative;float:left}
.jz_middle li span{background:url(../images/pic_bottom_bg01.png) no-repeat;left:12px;bottom:-22px;position:absolute;width:228px;height:23px}
.jz_middle li a{float:left;margin-left:6px;margin-right:6px;display:inline-block;padding:5px;background:#fff;border:1px solid #009a99;width:218px;overflow:hidden;z-index:999;position:relative}
.jz_middle li a img{width:218px;height:316px;display:block}
.jz_erwei{background:url(../images/black_bg.png);width:218px;height:316px;display:block;position:absolute;left:5px;bottom:5px}
.jz_erwei img{width:120px!important;height:120px!important;display:block;overflow:hidden;margin-top:70px;margin-left:52px}
.jz_erwei p{text-align:center;color:#fff;font-size:14px;margin-top:10px}
.operations1{background:url(../images/operations1.jpg) center no-repeat;width:100%;height:610px;position:relative}
.xiala a{background:url(../images/xiala_btn.png) no-repeat;width:300px;height:116px;position:absolute;left:50%;margin-left:-150px;bottom:-33px;z-index:9999}
.operations2,.operations3,.operations4,.yy_middle li{position:relative}
.color1{background-position:0 0!important}
.color2{background-position:0 -162px!important}
.color3{background-position:0 -336px!important}
.color4{background-position:0 -519px!important}
.yy_btn{width:1180px;margin:0 auto}
.yy_btn a{background:url(../images/design_b.png) no-repeat;width:167px;height:50px;display:block;float:right;margin-top:222px;margin-right:84px}
.operations2{background:url(../images/operations2.jpg) center no-repeat;width:100%;height:630px}
.yy_wbox{width:1180px;margin:0 auto;overflow:hidden;padding-bottom:20px}
.yy_wbox h1{font-size:56px;text-align:center;margin:56px 0 40px;color:#fff}
.yy_goods1{float:left;width:237px;margin-right:230px}
.yy_goods2{float:right;width:237px}
.goods{background:url(../images/goods_bg.png) no-repeat;width:237px;height:61px;line-height:51px;text-align:center;font-size:26px;color:#fff;font-weight:700}
.goods_txt{margin-top:20px;line-height:30px;font-size:16px;color:#fff}
.operations3{background:url(../images/operations3.jpg) center no-repeat;width:100%;height:630px}
.yy_table{background:url(../images/write_bg.png);width:1152px;height:318px;padding:14px;border-radius:16px}
.font5,.font5 td,.font5 th{border:1px solid #efbed3}
.font5{color:#2e95cb;font-weight:both;font-size:16px;height:34px;line-height:34px;background:#fff}
.font-bt2{color:#434343;font-weight:100;text-align:center;line-height:30px;padding:10px}
.operations4{background:#009c5e;width:100%}
.yy_fw{margin-bottom:60px;overflow:hidden}
.yy_fw li{display:block;width:272px;margin:30px 59px;float:left;height:204px}
.yy_fw li img{width:100px;margin:0 auto 10px;display:block}
.yy_fw li h2,.yy_fw li p{text-align:center;color:#fff;margin-top:10px}
.yy_fw li h2{font-size:28px;font-weight:400}
.yy_fw li p{font-size:16px}
.operations5{background:#80f6f5;width:100%;height:600px}
.yy_anli{width:1180px;margin:0 auto}
.yy_left a,.yy_right a{width:122px;height:122px;display:block}
.yy_left{float:left;margin-top:100px}
.yy_left a{background:url(../images/yy_left_btn.png) no-repeat}
.yy_left a:hover{background-position:0 -135px}
.yy_right{float:right;margin-top:100px}
.yy_right a{background:url(../images/yy_left_btn.png) 0 -270px no-repeat}
.yy_right a:hover{background-position:0 -405px}
.yy_middle{float:left;margin-left:24px;width:890px}
.yy_middle li{float:left}
.yy_middle li span{background:url(../images/pic_bottom_bg.png) no-repeat;left:12px;bottom:-22px;position:absolute;width:196px;height:23px}
.yy_middle li a{float:left;margin-left:12px;margin-right:12px;display:inline-block;padding:5px;background:#fff;border:1px solid #009a99;width:186px;overflow:hidden;z-index:999;position:relative}
.yy_middle li a img{width:186px;height:316px;display:block}
.yy_erwei{background:url(../images/black_bg.png);width:186px;height:316px;display:block;position:absolute;left:5px;bottom:5px}
.yy_erwei img{width:120px!important;height:120px!important;display:block;overflow:hidden;margin-top:70px;margin-left:34px}
.yy_erwei p{text-align:center;color:#fff;font-size:14px;margin-top:10px}
.out1{background:url(../images/out1.jpg) center no-repeat;width:100%;height:496px}
.out2{width:1180px;margin:30px auto 0}
.liucheng,.out_p,.out_p p{margin-top:20px}
.out2 .left{float:left;width:626px}
.out2 .left .title{background:url(../images/out_bg.png) no-repeat;width:400px;height:37px;line-height:35px;color:#fff;padding-left:7px;font-size:22px}
.out_p p{float:left;width:300px;font-size:18px;color:#636363;line-height:36px}
.out_p img{float:right}
.out2 .right{float:right;width:520px}
.out2 .right .title{background:url(../images/out_bg.png) 0 -54px no-repeat;height:37px;width:400px;line-height:35px;color:#fff;font-size:22px;padding-left:7px}
.liucheng{background:url(../images/liucheng_bg.jpg) no-repeat;width:520px;height:207px}
.liucheng1{float:left;width:254px}
.liucheng2,.liucheng3{float:right;width:200px}
.liucheng3{margin-right:40px;margin-top:36px}
.liucheng4{float:left;width:254px;margin-top:36px}
.liucheng .left{float:left;background:url(../images/out_lc_bg.png) no-repeat;height:49px;width:36px;font-size:28px;font-weight:700;color:#fff;line-height:40px;text-align:center;margin-right:6px}
.liucheng .right{float:right;width:205px}
.liucheng .right h1{font-size:16px;width:210px}
.liucheng .right p{line-height:20px;color:#666;margin-top:10px}
.out3{background:#d9effc;margin-top:30px}
.out_anli{background:url(../images/out_anli_bg.jpg) no-repeat;width:1180px;height:532px;margin:0 auto;overflow:hidden}
.out_anli .title{text-align:center;margin-top:40px;color:#0c8fe1;font-size:30px}
.out4{width:1180px;margin:30px auto 0}
.out_jj{float:left;width:380px}
.out_jj .left{float:left;padding:5px;width:166px;height:109px;background:#e7e7e7}
.out_jj .left a{border:1px solid #fff;width:165px;height:108px;display:block;overflow:hidden}
.out_jj .right{float:right;width:186px}
.out_jj .right h2,.out_jj .right h2 a{font-size:18px;color:#0c8fe1;font-weight:400;width:166px;display:block;overflow:hidden;margin-top:10px}
.out_jj .right p{width:186px;margin-top:6px;font-size:13px;color:#666;line-height:180%}
.contact{background:#fbfbfb;border:1px solid #e9e9e9;padding:14px;overflow:hidden;margin-bottom:24px}
.contact img{float:left;width:377px;height:175px}
.contact .right{float:right;width:260px;padding-top:20px}
.contact .right span{font-size:20px;color:#c10000}
.contact .right ul{margin-top:10px}
.contact .right ul li{font-size:15px;line-height:30px;background:url(../images/icon.png) left no-repeat;padding-left:24px}
.icon1{background-position:0 7px!important}
.icon2{background-position:0 -24px!important}
.font20px{font-size:20px;color:#0c8fe1;margin-bottom:14px;display:block}
.joinbox{margin-bottom:30px}
.joinbox .title{background:#f7f7f7;line-height:44px;height:44px;border-top:solid 2px #e7e7e7;margin-bottom:14px}
.joinbox .title span{float:left;width:500px;margin-left:14px;font-size:16px;color:#0c8fe1}
.joinbox .title a{background:url(../images/join_btn.png) no-repeat;width:74px;height:25px;display:block;float:right;margin-top:8px;margin-right:14px}
.linian,.think_top{margin-top:20px}
.joinbox p{font-size:15px;color:#555}
.linian{height:58px;line-height:58px;background:#f6f6f6}
.linian span{background:url(../images/linian_bg.png) left no-repeat #fff;padding-left:50px;display:block;width:300px}
.linian .left{float:left;width:100px;background:url(../images/line.png) right no-repeat;font-size:20px;color:#0c8fe1;text-align:center}
.linian .right{width:100px;float:right;font-size:16px;color:#666}
.about p,.aboutme p,.think_txt{font-size:14px;line-height:200%}
.think_txt{float:left;padding:20px 0 0 30px;width:410px;color:#666;margin-bottom:20px}
.think_photo{float:right;margin:25px 0 0}
.a_dsj_2,.a_dsj_3{margin-right:auto}
.a_dsj{padding:15px 0 10px;width:688px}
.a_dsj_1{background:url(../images/bg33.gif) no-repeat;height:32px;width:688px}
.a_dsj_1 ul{height:15px;padding-left:24px;padding-top:9px;width:688px}
.a_dsj_1 ul li{display:block;float:left;height:15px;line-height:15px;text-align:center;width:52px;font-size:12px}
.a_dsj_1 ul .a_dsj_tb{height:15px;width:5px}
.a_dsj_1 ul li a,.a_dsj_1 ul li a.curr,.a_dsj_1 ul li a:hover{display:block;height:15px;width:52px}
.a_dsj_1 ul li a{color:#828282}
.a_dsj_1 ul li a:hover{background:#0a99e0;color:#fff}
.a_dsj_1 ul li a.curr{background:#0a99e0;color:#fff;font-siz:12px}
.a_dsj_2{border-bottom:1px solid #d9d9d9;color:#fff;font-size:18px;font-weight:700;height:57px;margin-top:34px;width:640px;padding-bottom:14px;margin-left:auto}
.a_dsj_2 span{background:url(../images/bg35.png) no-repeat;display:block;float:left;height:45px;padding:6px;text-align:center;color:#fff;font-size:17px;width:42px}
.a_dsj_2 p{float:left;margin-left:14px;font-size:26px;color:#0c8fe1;margin-top:16px}
.a_dsj_3{line-height:200%;padding-top:15px;width:640px;font-size:15px;margin-left:auto}
.fz_zi{background:url(../images/fazhan_zt.png) no-repeat;width:150px;line-height:50px;height:50px;margin-top:24px;text-align:center;color:#0c8fe1;font-size:30px}
.contactbox{margin-top:10px;padding:0 20px}
.contactbox p{line-height:200%;font-size:15px}
.map{margin:30px 0 0 10px;width:600px;border:1px solid #ddd;padding:1px}
.bz_top1{background:url(../images/proxy-titlebg.png) no-repeat;color:#147ab5;font-size:30px;height:50px;line-height:50px;padding-left:75px;margin-top:20px}
.bz_part1{background-position:0 -50px;color:#6b62bf}
.bz_part2{background-position:0 -100px;color:#37ad96}
.bz_part3{background-position:0 -150px;color:#f17b44}
.bz_part4{background-position:0 -200px;color:#ca0002}
.bz_txt .left,.bz_txt .right{line-height:260%;font-size:16px;color:#666}
.bzbox{width:1180px;margin:0 auto}
.bz_txt{margin-top:14px;overflow:hidden}
.bz_txt .left{float:left;width:490px;margin-top:20px}
.bz_txt .right{float:right;max-width:640px}
.bz_list{background:#f3f3f3;border-radius:50px;padding:14px 24px;color:#f17b44;font-size:18px}
.byt_jj{font-size:15px;line-height:220%}
.byt_jj p{text-indent:2em;color:#555}
.byt_jj span{background:url(../images/icon.jpg) left no-repeat;padding-left:20px;font-size:22px}
.ys01{background:url(../images/icon01.jpg) left no-repeat;padding-left:16px;font-size:18px!important;color:#0c8fe1}
.six_bg{margin-top:25px}
.six_bg li{float:left;width:200px;display:inline-block;margin-left:15px;margin-right:14px}
.six_bg h2{background:url(../images/six_bg.jpg) no-repeat;padding-left:51px;height:36px;font-weight:400;padding-top:14px;margin-bottom:10px}
.culture_main{width:688px;margin:0 auto}
.culture_list{overflow:hidden;background:#f4f6f6}
.culture_list li{float:left;width:208px;height:73px;display:inline;margin-left:20px}
.culture_list li a{float:left;width:208px;height:73px;background:url(../images/list_title.png) no-repeat;text-indent:-999em}
.culture_list li .t1{background-position:0 0}
.culture_list li .t2{background-position:-210px 0}
.culture_list li .t3{background-position:-420px 0}
.img05_main{background:url(../images/img05.png) no-repeat;color:#8a8a8a;font-size:14px;height:140px}
.wenhua_pic li,.wenhua_pic li img{width:210px;height:160px}
.img05_main p{line-height:26px;padding-left:318px;padding-top:32px;padding-right:14px;text-indent:0!important}
.img07_main{background:url(../images/img07.png) no-repeat}
.img07_main p{padding-left:342px;padding-top:45px}
.img06_main{background:url(../images/img06.png) no-repeat}
.img06_main p{padding-bottom:53px;padding-left:216px;padding-top:54px}
.wenhua_pic{margin-top:40px}
.wenhua_pic li{float:left;display:inline-block;overflow:hidden;margin-left:10px;margin-right:8px}
.callbox{margin-top:20px}
.callbox tr{margin-bottom:14px;display:block}
.f_email{color:#333;float:left;font-size:14px;line-height:44px;margin-right:10px;text-align:right;width:120px}
.user_text{border:1px solid #ddd;border-radius:4px;padding:12px 10px;width:249px}
.select{padding:12px 10px;border-radius:4px}
.select,.textarea{border:1px solid #ddd}
.textarea{width:400px;height:200px;border-radius:4px}
.tijiao{margin-left:130px;background:url(../images/tijiao_btn.png) no-repeat;width:143px;height:49px;cursor:pointer;border:none;margin-top:16px}
.hezuo li p,.honor li p{text-align:center;font-size:14px;margin-top:10px}
.rightbox{position:fixed;right:0;top:200px;z-index:99}
.on_line{background:url(../images/youceicon.png) no-repeat;width:46px;height:42px}
.rightbox li a{display:block;margin-bottom:2px;float:left}
.qqicon{background-position:0 0!important}
.tellicon{background-position:0 -44px!important}
.timeicon{background-position:0 -88px!important}
.emailicon{background-position:0 -132px!important}
.active{width:200px;height:42px;position:relative}
.active_q{background:url(../images/youceicon_active.png) no-repeat!important}
.active_c{background:url(../images/youceicon_active.png) 0 -44px no-repeat!important}
.active_t{background:url(../images/youceicon_active.png) 0 -88px no-repeat!important}
.active_e{background:url(../images/youceicon_active.png) 0 -132px no-repeat!important}
.active span{line-height:42px;color:#fff;padding-left:56px;display:block;width:140px}
.qqcall{position:absolute;left:0;top:41px;width:160px;background:#ddd;padding:20px 20px 0;z-index:9999}
.qqcall a{background:url(../images/qq.png) no-repeat;width:148px!important;height:34px!important;display:block;float:left!important;margin-left:8px;margin-bottom:20px!important}
.hezuo li,.honor li{overflow:hidden;margin-bottom:40px}
.hezuo li{display:inline-block;margin-left:10px;margin-right:10px;width:148px}
.hezuo li img{width:140px;display:block;padding:3px;border:1px solid #ddd}
.hezuo li p{width:140px;overflow:hidden;white-space:nowrap}
.honor ul{overflow:hidden}
.honor li{float:left;display:inline-block;margin-left:15px;margin-right:14px;width:315px}
.honor li img{width:315px;display:block}
.honor li p{width:315px;overflow:hidden}
.csw_content_text_6{background:url(../images/content/content_10.jpg) left center no-repeat;padding-left:20px;font-size:14px;font-family:"微软雅黑";height:25px;line-height:25px}
.csw_content_text_6 a{-webkit-background-clip:border-box;-webkit-background-origin:padding-box;-webkit-background-size:auto;-webkit-border-image:none;-webkit-box-shadow:#d3d3d3 2px 3px 5px 0;background-attachment:scroll;background-clip:border-box;background-color:#c3c3c3;background-image:-webkit-gradient(linear,0 0,0 100%,from(#FEFEFE),to(#E0E0E2));background-origin:padding-box;background-size:auto;box-shadow:#d3d3d3 2px 3px 5px 0;padding:0 5px;overflow-x:hidden;overflow-y:hidden;position:relative;zoom:1;font-size:12px;color:#000;margin:0 5px;border-color:#E1E1E3;border-radius:5px;border-style:solid;border-width:1px}
.csw_content_text_6 a:hover{color:#fff;background:#d70c19;height:25px;line-height:25px}
.ul_li{float:right;width:360px}
.ul_li li i{float:left;background:url(../images/ball_icon.png) no-repeat;width:11px;height:11px;display:block;margin-top:12px;margin-right:6px}
.showpage .epages{text-align:center}
.epages{margin:40px 0;font:11px/12px Tahoma;text-align:right}
.epages b{padding:4px 12px;border:1px solid #0c8fe1;background:#0c8fe1;color:#fff}
.epages a{padding:4px 12px;border:1px solid #ddd;margin:0 1px 0 0;text-align:center;font:400 12px/14px verdana}
.epages a:hover{border:1px solid #659B28;background:#f3f8ef;color:#004c7d}
.epages input{margin-bottom:0;border:1px solid #659B28;height:15px;font:700 12px/15px Verdana;padding-bottom:1px;padding-left:1px;margin-right:1px;color:#659B28}
.epages .pagetotal{background:0 0;border:none;color:#0c8fe1;font-weight:700;padding:2px;text-align:center;text-decoration:none;font-size:12px}
.epages span{font-size:12px}
.showhide{cursor:pointer;background:url(../images/zhankai.png) no-repeat;width:32px;height:32px;padding-bottom:10px;line-height:30px;color:#fff;text-align:center;margin-top:-20px;z-index:1111111;position:absolute;margin-left:0}
.online_icon{height:156px;overflow:hidden;width:36px}
.online_icon a{background:url(../images/online_bg.png) no-repeat;display:block;height:156px;width:36px}
.online_windows{width:160px}
.online_w_top{background:url(../images/online_bg.png) -36px 0 no-repeat;height:10px}
.online_w_c{background:url(../images/online_bg.png) 0 -185px repeat-y;padding:0 5px}
.online_w_bottom{background:url(../images/online_bg.png) -36px -35px repeat-y;height:29px}
.online_content{background:url(../images/online_bg.png) -165px -185px no-repeat;padding-top:11px}
.online_content a.qq_icon{background:url(../images/online_bg.png) -37px -130px no-repeat;cursor:pointer;display:block;font-size:12px;height:25px;line-height:23px;margin:0 auto;text-indent:30px;width:121px}
.online_content a.qq_icon:hover{background-position:-159px -130px;color:#fff}
.online_bar h2{background:url(../images/online_bg.png) 0 -156px repeat-x;color:#666;font-size:12px;height:29px;line-height:27px;text-align:left}
.online_bar h2 a{cursor:pointer;display:block;margin-left:6px;padding-left:14px}
.expand h2 a{background:url(../images/online_bg.png) -36px -69px no-repeat}
.collapse h2 a{background:url(../images/online_bg.png) -36px -96px no-repeat}
.collapse h2 a:hover,.expand h2 a:hover{color:#c81d04}
.online_content{border-bottom:1px solid #d0d0d0;margin-bottom:1px;text-align:center}
.online_content ul li{font-size:12px;height:24px;line-height:24px;margin-bottom:4px}
.online_content ul li a:hover{color:#c81d04}
.right_shear{padding:10px 0 8px 10px}
#online_qq_layer{position:fixed;right:-1px;top:120px;z-index:200}
#online_qq_tab{float:left;margin-top:50px}
#onlineService{display:none;float:left;margin-left:-3px}
#onlineType1,#onlineType2,#onlineType3,#onlineType4,#onlineType5,#onlineType6{display:none}
#onlineType1{display:block}
.erweima_right{background:url(../images/erwma.png) no-repeat;height:190px;width:160px}
.ewm_boxmp{font-size:12px;height:20px;position:relative;text-align:center;width:50px}
.ewm_mingpian{position:absolute}
.ewm_box{height:175px;overflow:hidden;padding:4px 12px 0;position:relative;width:138px}
.ewm_box .hd{bottom:2px;height:20px;overflow:hidden;position:absolute;right:7px;z-index:1}
.ewm_box .hd ul{float:left;height:20px;overflow:hidden}
.ewm_box .hd ul li{background:#22bdef;color:#fff;cursor:pointer;display:block;float:left;font-size:12px;height:20px;line-height:20px;text-align:center;width:66px}
.mainNav,.mainNav .mn_list{float:right}
.ewm_box .hd ul li.on{background:#9b59b6;color:#fff;height:20px;line-height:20px}
.ewm_box .bd{height:100%;position:relative;z-index:0}
.ewm_box .bd p{font-size:12px;height:28px;line-height:28px;text-align:center}
.ewm_box .bd img{height:138px;width:138px}
.mainNav{position:relative;z-index:10}
.mainNav .logo{position:absolute;left:0;top:0}
.mainNav .mn_list li{float:left}
.mainNav .mn_list li.no_bg{background:0}
.mainNav .mn_list li a{display:block;width:95px;text-align:center;color:#333;font-size:16px;margin:0 5px;height:112px;line-height:112px}
.nav_con,.nav_con .nc_con_dis,.nav_con .nc_dis{display:none}
.mainNav .mn_list li a.on{background:url(../images/nav_all_bg.png) center bottom no-repeat;transition:1s;-moz-transition:1s;-webkit-transition:1s;color:#008ac6}
.nav_con{width:728px;overflow:hidden;color:#fff;font-size:14px;position:absolute;top:112px;opacity:.9;border-radius:5px;background:#008ac6;border:1px solid #fff;border-top:none}
#english a,.leftLoop,.licheng_box,.rollBox{position:relative}
.nc_subNav{height:180px;float:left;margin-left:25px;padding-right:25px;margin-top:10px;background:url(../images/nav_line2.jpg) right 10px no-repeat}
.hd3_imgDis,.hd3_imgDis2,.hd3_imgDis3{overflow:hidden;float:left;text-align:center;margin-top:20px}
.nc_subNav ul li{padding:5px;border-bottom:1px solid #4fc7fb;color:#fff}
.nc_subNav ul li a{display:block;width:100px;text-align:center;line-height:30px;font-size:16px;color:#fff}
.hd3_imgDis a,.hd3_imgDis2 a,.hd3_imgDis3 a{display:none}
.nc_subNav .current,.nc_subNav ul li a:hover{background:#fff;border-radius:2px;color:#000}
.nc_subNav ul li.current_cc a,.nc_subNav ul li.currentt{background:#b1967e}
.nc_con{float:left;padding:10px 0 0 25px}
.hd3_imgDis img,.hd3_imgDis2 img,.hd3_imgDis3 img{border:1px solid #4fc7fb;padding:3px}
.list .list_bt{background:url(../images/ja_news_btbg.jpg) no-repeat;text-align:center;color:#fff}
.list .list_se{font-size:14px;color:#af9154;text-align:left;padding:0 7px;margin-bottom:5px}
.list .list_nei{text-align:left;padding:0 7px;font-size:13px;color:#797878}
.list img{margin:7px}
.list{margin-bottom:18px}
.nc_con_left{float:left;width:308px;padding-right:46px}
.header_img_border{float:left;border:1px solid #4fc7fb;margin-top:26px;padding:3px}
.nc_con_left h2{font-size:16px;border-bottom:1px dashed #ccc;padding-bottom:15px;width:270px;margin-top:5px}
.nc_con_left p{line-height:24px;font-size:13px;padding-top:6px;width:280px}
.nc_con2_left li,.nc_con_left .nr_line{line-height:25px}
.nc_con_left strong{font-weight:400}
.nc_con_left p a{color:#fff}
.lj_more{background:#fff;height:21px;width:74px;display:block;color:#000;opacity:.9;filter:alpha(opacity=90);-moz-opacity:.9;cursor:pointer;border:0;float:right;margin-top:18px;text-align:center;border-radius:2px;margin-right:30px}
.nr a{display:block;float:left;width:298px}
.nc_con1_left{padding-right:20px;width:372px;margin-left:14px;margin-top:10px}
.nc_con1_left p{width:384px}
.header_img2_border{margin-top:30px}
.nc_con2_left{float:left;width:240px;padding-left:50px;padding-top:18px;margin-right:22px}
.nc_con2_left li,.nc_con2_left li a{text-align:center;display:block;width:120px}
.nc_con2_left li{height:25px;border:1px dashed #fff;font-size:14px;float:left;margin-bottom:11px}
.nc_con2_left li a{color:#fff}
.nc_con2_left .current a,.nc_con2_left li a:hover{background:#fff;color:#000}
.header_img3_border{margin-top:20px}
.nc_con4_left{padding-right:10px}
.topbox{height:32px;line-height:32px;background:#f1f1f1;border-bottom:solid 1px #e3e3e3}
.topbox_tp{width:1180px;margin:0 auto;height:32px;overflow:hidden}
.topbox_tp .topbox_tp_left{float:left;color:#707070;font-size:12px}
.topbox_tp .topbox_tp_right{float:right;color:#707070;font-size:12px}
.topbox_tp .topbox_tp_right li{float:left}
.topbox_tp .topbox_tp_right li a{float:left;color:#666}
#english a{top:0;right:18px}
.licheng_box{margin-top:15px;background:url(../image/yandex/year_bg.png) no-repeat;width:687px;height:314px;margin-bottom:15px}
.infonav{height:100%;font-size:14px;line-height:22px;overflow:hidden;padding:0;margin-top:15px}
.infonav p{margin:0;padding:0}
.infonav_hidden{height:180px}
.down{background:url(../image/yandex/jtjs_down.jpg) no-repeat}
.infonav_more{color:#86A5C4;border-bottom:dashed 1px #ddd;padding-bottom:10px;margin-bottom:15px;display:block;overflow:hidden;width:100%}
.infonav_more a{float:right}
.slideTxtBox_1 .hd{height:30px;line-height:30px;position:relative}
.slideTxtBox_1 .hd ul{float:left;height:32px;padding:0 0 0 33px}
.slideTxtBox_1 .hd ul li{float:left;margin-right:38px}
.slideTxtBox_1 .hd ul li.on{height:30px;cursor:pointer}
.slideTxtBox_1 .hd ul li a{color:#0c8fe1;font-size:12px}
.slideTxtBox_1 .hd ul li a:hover{font-weight:700;font-size:13px}
.slideTxtBox_1 .bd h1{font-size:20px}
.slideTxtBox_1 .bd p{line-height:22px;color:#666;font-size:14px}
.slideTxtBox_1 .bd ul{padding:80px 100px 0;height:188px}
.slideTxtBox_1 .tempWrap{margin:15px}
.rollBox{margin-top:15px;overflow:hidden}
.leftLoop,.leftLoop .hd{overflow:hidden}
.leftLoop .hd .next,.leftLoop .hd .prev{display:block;width:30px;height:78px;margin-top:19px;overflow:hidden;position:absolute;z-index:99;cursor:pointer;background:url(../image/yandex/sl.png) no-repeat}
.leftLoop .hd .next{background:url(../image/yandex/sr.png) no-repeat}
.leftLoop .bd ul{overflow:hidden;zoom:1;width:105%}
.leftLoop .bd ul li{width:158px;float:left;text-align:center;margin-right:19px;display:block}
.leftLoop .bd ul li img{display:block;width:158px;height:118px}
.leftLoop .bd ul li p{height:30px;line-height:30px;width:148px;overflow:hidden;text-align:center;font-size:13px;white-space:nowrap;padding:0 5px}
.figures__item,.products__title{font-size:17px;line-height:24px}
.yandex_one{background-image:url(../image/yandex/background_type_space.jpg);background-position:50% 50%;background-size:cover}
.promo-page__section{margin:0 auto;max-width:1024px;position:relative}
.figures__wrap{padding:45px 0 146px 40px}
.page-name_color_white{color:#fff}
.page-name{font-size:30px;font-weight:400;margin:0;padding:34px 0 20px;text-align:center}
.figures{margin:21px 0 0 -100px}
.figures__item_type_visitors{background:url(../image/yandex/figures__item_type_visitors.png) 86px 50px no-repeat}
.figures__item{color:#fff;display:inline-block;margin:0 0 0 100px;padding:150px 0 0;vertical-align:top;width:238px}
.figures__item_type_users{background:url(../image/yandex/figures__item_type_users.png) 87px 50px no-repeat}
.figures__item_type_total{background:url(../image/yandex/figures__item_type_total.png) 76px 50px no-repeat}
.products{padding:50px 0 0}
.products__title{padding:0 0 29px}
.slideTxtBox .hd{height:40px;line-height:40px;position:relative}
.slideTxtBox .hd ul{float:left;position:absolute;left:0;top:0;height:40px}
.slideTxtBox .hd ul li,.slideTxtBox .hd ul li a{float:left;width:256px;background:#f6f6f6;text-align:center;font-size:17px}
.slideTxtBox .hd ul li a.on{height:40px;cursor:pointer;background:#0c8fe1;color:#fff}
.slideTxtBox .bd{padding:15px}
.slideTxtBox .bd ul{margin-top:40px}
.slideTxtBox .tempWrap{margin:15px}
.screen__container{display:inline-block;height:500px;margin:0 auto;position:relative;vertical-align:middle;width:918px}
.screen__base{margin:0 0 67px;overflow:hidden;padding:0 0 0 76px;text-align:left}
.screen__picture_type_base,.screen__picture_type_float{float:left;margin:0 40px 0 0}
.screen__title{margin:10px 0 12px}
.screen__text_size_l{font-size:36px;line-height:44px}
.screen__text_size_xl{font-size:50px;line-height:58px}
.screen__text_size_m{font-size:22px;line-height:28px}
.screen__text_color_gray{color:#b2b2b2}
.screen__text_size_s{font-size:14px;line-height:19px}
.screen__column{display:inline-block;vertical-align:top}
.screen__column_size_s{width:23%}
.screen__picture_type_icon{height:65px;margin:0 0 36px;overflow:hidden;text-align:center}
.screen__picture_type_icon .image{vertical-align:middle}
.screen__list ul{padding-left:22px}
.screen__list ul li{list-style:outside}
.screen__column_size_xl{width:65%}
.screen__column_size_m{text-align:center;width:31%}
.screen__string{margin:0 0 40px;overflow:hidden}
.background_type_gray{background:#f6f5f3}
.successstory__header{font-size:30px;font-weight:400;margin:60px 0 20px;text-align:center}
.successstory__wrap{margin:0 0 0 -15px;padding:1px 0 35px}
.successstory{color:#000;display:inline-block;margin:0 0 0 53px;text-align:left;vertical-align:top;width:295px}
.successstory__images{line-height:0;position:relative}
.successstory__text{background:linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 95%);bottom:0;color:#fff;font-size:15px;left:0;line-height:20px;margin:0;opacity:0;padding:10px 30px 10px 10px;position:absolute;right:0;text-shadow:1px 1px 1px #000;transition:all .5s ease 0s}
.invitation__column,.invitation__text,.promo-button{display:inline-block;position:relative}
.google-js.typing-complete .ad-search-results,.successstory:hover .successstory__text{opacity:1}
.successstory__category{font-size:24px;font-weight:400;margin:10px 0 0}
.successstory__name{color:#000;font-size:14px;line-height:24px;margin:0}
.invitation__text{font-size:17px;margin:0 12px 30px 0;top:-4px;text-align:center;width:100%;overflow:hidden}
.invitation{margin:60px 0 34px -20px}
.invitation__column{margin:0 20px 0 0;vertical-align:top;width:100%}
.promo-button{-moz-user-select:none;background:linear-gradient(to bottom,#ffe025 0,#f9c400 92%,#be8c05 100%) #f9c400;border:none;font-family:Arial,sans-serif;text-align:center;text-decoration:none!important;text-shadow:0 1px 0 rgba(255,255,255,.36)}
.promo-button_size_m{font-size:24px;height:50px;line-height:48px;width:160px;display:block;margin:0 auto;border-radius:4px}
.promo-button_size_m2{font-size:24px;height:50px;line-height:150px;width:160px;display:inline;padding:15px;margin:50px auto;border-radius:4px}
.promo-button::before{background:linear-gradient(to bottom,#ffe34a 0,#ffdb03 100%);bottom:1px;box-shadow:0 -.085em 0 0 rgba(102,52,0,.2) inset,0 0 3px 0 rgba(254,255,187,.5) inset;content:"";left:1px;position:absolute;right:1px;top:1px}
.overview-hero,.promo-button__text{position:relative}
.promo-button_size_m,a.promo-button_size_m.promo-button_hovered_yes{color:#473e09!important}
.overview-hero{background:linear-gradient(to bottom,#fff,#fbfcfb);border-bottom:1px solid #ebebeb;min-height:542px;overflow:hidden}
.maia-stage .maia-aux{padding:30px 15px 0}
#maia-main,.maia-aux{margin:auto;max-width:1180px}
.maia-cols::after{clear:both;content:" ";display:block;height:0;visibility:hidden}
.ad-search-query::after,.icon::before{content:""}
.maia-cols{margin:0 -1.53374%;width:103.067%}
.overview-hero .maia-col-5{padding:40px 0}
.maia-col-1,.maia-col-10,.maia-col-11,.maia-col-12,.maia-col-2,.maia-col-3,.maia-col-4,.maia-col-5,.maia-col-6,.maia-col-7,.maia-col-8,.maia-col-9{float:left;margin:0 1.4881% 20px}
.maia-col-5{width:38.6905%}
.overview-hero h1{margin-bottom:18px}
.overview-hero h1+p{font-family:"Open Sans",sans-serif;font-size:16px;font-weight:400;margin-bottom:18px}
.overview-hero-media{bottom:-62px;left:48.6%;position:absolute}
figcaption,figure,section{display:block}
figure{margin:0;padding:0;width:100%}
figure img{vertical-align:middle}
fieldset,iframe,img{border:0}
.overview-ad{left:0;position:absolute;top:0}
.ad-search-query::after{animation:1s step-end 0s normal none infinite running cursor-blink;border-left:1px solid #000;height:1em;padding-left:3px;width:1px}
.google-js .ad-search-query{display:none}
.overview-ad .ad-search-query{font-size:16px;left:142px;overflow:hidden;position:relative;top:66px;white-space:nowrap;width:550px;z-index:90}
.google-js .ad-search-results{opacity:0;transition:opacity .5s ease-in 0s}
.overview-ad .ad-search-results{background:url(../image/yandex/overview-search-results.png) 0 -27px no-repeat;height:283px;left:129px;position:relative;top:156px;width:786px;z-index:90}
.overview-ad .ad-search-container{background:#fff;left:0;padding:3px 6px 8px 4px;position:relative;top:3px;width:510px;z-index:90}
.ad-content{background:#fff;margin:0}
.overview-ad .ad-headline{font-size:18px}
.ads-badge{background-color:#edb802;border-radius:2px;color:#fff;display:inline-block;font-size:13px;line-height:15px;padding:0 3px;vertical-align:baseline}
.ad-url{color:#00802a}
.overview-benefits h2{margin-top:60px}
.maia-col-6{width:47.0238%}
.overview-benefits .maia-col-6:nth-child(2n-1){clear:left}
.icon::before{background:url(../image/yandex/icons-sprite.png) 0 0/248px 93px no-repeat;display:block;height:31px;left:0;overflow:hidden;position:absolute;top:4px;width:31px}
.icon{padding:0 0 10px 45px;position:relative}
.icon-magnifier::before{background-position:-217px -31px}
.icon-clock::before{background-position:-186px 0}
.icon-globe::before{background-position:-93px 0}
.icon-phone::before{background-position:-31px 0}
.overview-costs{min-height:670px;position:relative}
.maia-stage{overflow-x:hidden}
.icon-click::before{background-position:0 0}
.icon-cash::before{background-position:-93px -31px}
.overview-costs .costs-graphic{left:48.6%;position:absolute;top:50px}
figure figcaption{color:#5d5d5d;font-size:11px;margin-top:9px;width:48%}
.costs-graphic .chart-legend{left:231px;position:absolute;top:117px}
.costs-graphic .chart-legend .blue span{background:#0091c9}
.costs-graphic .chart-legend .blue span,.costs-graphic .chart-legend .orange span{display:inline-block;height:10px;margin-right:6px;position:relative;top:4px;width:10px}
.costs-graphic .chart-legend .orange{margin-left:24px}
.costs-graphic .table-headings,.costs-graphic .table-values{white-space:nowrap;left:292px;margin:7px 0;position:absolute}
.costs-graphic .table-headings{font-size:11px;font-weight:600;top:357px}
.costs-graphic .table-values{font-size:12px;top:394px}
.costs-graphic .table-headings span,.costs-graphic .table-values span{display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.costs-graphic .table-headings .keyword{width:224px}
.costs-graphic .table-headings .keyword,.costs-graphic .table-values .keyword{padding:0 13px}
.costs-graphic .table-headings .clicks,.costs-graphic .table-values .clicks{padding:0 16px;width:82px}
.costs-graphic .table-headings .costs,.costs-graphic .table-values .costs{padding:0 14px;width:74px}
.costs-graphic .table-headings .ave-cpc,.costs-graphic .table-values .ave-cpc{padding:0 14px;width:249px}
.ad-headline{color:#2518b5;font-size:medium}
#maia-footer{background:#f5f5f5;clear:both}
#maia-footer-local{background:#f9f9f9;border-top:1px solid #f5f5f5;min-height:24px}
#maia-footer-global,#maia-footer-local{padding:10px 15px}
#ads-footer-site h2{margin:35px 0 25px}
.icon-sign::before{background-position:-217px 0}
.item h3{margin:15px 0 9px}
a.maia-button{color:#fff!important;text-decoration:none}
.maia-button{background-color:#4173c9;background-image:-moz-linear-gradient(center top,#5e8ee4,#4173c9);border:0;border-radius:2px;color:#fff;cursor:pointer;display:inline-block;font-family:arial,sans-serif;font-size:13px;font-weight:700;line-height:1.54;padding:7px 12px;text-align:center;text-shadow:0 -1px 0 rgba(0,0,0,.08)}
.six_center{float:left;margin-left:12px;margin-top:33px;overflow:hidden;width:200px;border-left:solid 1px #eee;padding-left:12px}
.six_center ul li a{line-height:20px;color:#494949;font-size:15px}
.topLoop .bd ul{overflow:hidden;zoom:1}
.wydl { background: #e8274b none repeat scroll 0 0; border-radius: 50px; color: #fff; cursor: pointer; display: block; font-size: 20px; height: 60px; line-height: 60px; margin: 0 auto; text-align: center; width: 242px; }
