@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑", "宋体";
	font-size: 12px; position:relative
}
a {
	text-decoration: none;
	color: #333;
	outline: none;
	cursor: pointer;
bblr:expression(this.onFocus=this.blur());
}
a:hover {
	color: #0070d9;
}
* {
	padding: 0px;
	margin: 0px;
}
ul, li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
img {
	border: none;
}
.clear {
	clear:both
}
.red{ color:red}
.blue{ color:#0065cb !important}


.slideBox{ width:100%; height:1080px; overflow:hidden; position:relative;    } 
.slideBox .bd{ position:relative; height:100%; z-index:0;   } 
.slideBox .bd img{ width:100%; height:1080px; }
.menu{ position:absolute; left:0; top:0; background:url(../images/menu_bg.png) no-repeat; height:1080px; width:800px;}
.menu ul{ margin:70px 0;}
.menu ul li a{ background:url(../images/nav_bg.png) no-repeat; width:157px; height:102px; display:block; font-size:22px; color:#6e1f00; padding-left:110px; line-height:102px; margin-bottom:34px;}
.nav_one{ background-position:0 0 !important; margin-left:230px;}
.nav_two{ background-position:0 -128px !important; margin-left:190px;}
.nav_three{ background-position:0 -256px !important; margin-left:177px;}
.nav_four{ background-position:0 -384px !important; margin-left:192px;}
.nav_five{ background-position:0 -512px !important; margin-left:236px;}
.nav_six{ background-position:0 -640px !important; margin-left:304px;}
.nav_seven{ background-position:0 -768px !important; margin-left:424px;}
.welcome{ position:absolute; right:7%; top:10%; background:url(../images/home_bg.png) no-repeat; width:587px; height:158px;}
.footer{ position:absolute; right:3%; bottom:5%; font-size:15px; color:#fff;}


.page_box{ background:url(../images/page_bg.jpg) no-repeat; width:100%; height:1080px;}
.page_box .left{ float:left; margin-left:147px; margin-top:238px;}
.page_box .left ul li a{ width:154px; height:64px; background:url(../images/icon.png) no-repeat; display:block; font-size:17px; color:#fff; text-align:center; padding-top:88px; margin-bottom:30px;word-wrap: break-word;}
.left_one{ background-position:0 0 !important;}
.left_one:hover,.left_one.on{ background-position:0 -177px !important;}

.left_two{ background-position:0 -354px !important;}
.left_two:hover,.left_two.on{ background-position:0 -531px !important;}

.left_three{ background-position:0 -708px !important;}
.left_three:hover,.left_three.on{ background-position:0 -885px !important;}

.left_four{ background-position:0 -1062px !important;}
.left_four:hover,.left_four.on{ background-position:0 -1239px !important;}

.left_five{ background-position:0 -1414px !important;}
.left_five:hover,.left_five.on{ background-position:0 -1591px !important;}

.left_six{ background-position:0 -1768px !important;}
.left_six:hover,.left_six.on{ background-position:0 -1945px !important;}

.left_seven{ background-position:0 -2122px !important;}
.left_seven:hover,.left_seven.on{ background-position:0 -2299px !important;}

.left_eight{ background-position:0 -2476px !important;}
.left_eight:hover,.left_eight.on{ background-position:0 -2653px !important;}

.left_nine{ background-position:0 -2835px !important;}
.left_nine:hover,.left_nine.on{ background-position:0 -3006px !important;}

.left_ten{ background-position:0 -5318px !important; font-size:14px !important; line-height:14px;}
.left_ten:hover,.left_ten.on{ background-position:0 -5488px !important; font-size:14px !important;}

.left_eleven{ background-position:0 -5664px !important;  font-size:14px !important; line-height:14px;}
.left_eleven:hover,.left_eleven.on{ background-position:0 -5838px !important;font-size:14px !important;}

.left_twelve{ background-position:0 -3179px !important; font-size:14px !important; line-height:14px;}
.left_twelve:hover,.left_twelve.on{ background-position:0 -3356px !important;}

.left_thirteen{ background-position:0 -3533px !important; font-size:14px !important; line-height:14px;}
.left_thirteen:hover,.left_thirteen.on{ background-position:0 -3721px !important;}

.left_fourteen{ background-position:0 -3908px !important; font-size:14px !important; line-height:14px;}
.left_fourteen:hover,.left_fourteen.on{ background-position:0 -4098px !important;}

.left_fifteen{ background-position:0 -6009px !important; font-size:16px !important;}
.left_fifteen:hover,.left_fifteen.on{ background-position:0 -6186px !important;}

.left_sixteen{ background-position:0 -4281px !important; font-size:16px !important;}
.left_sixteen:hover,.left_sixteen.on{ background-position:0 -4447px !important;}

.left_seventeen{ background-position:0 -4618px !important; font-size:15px !important;}
.left_seventeen:hover,.left_seventeen.on{ background-position:0 -4795px !important;}

.left_nineteen{ background-position:0 -4976px !important; }
.left_nineteen:hover,.left_nineteen.on{ background-position:0 -5152px !important;}

.page_box .right{ float:right; width:1398px; margin-right:100px; margin-top:218px;}
.page_box .right .top{ border-bottom:solid 1px #a7c9ec; font-size:28px; color:#0065cb; padding-bottom:10px;}
.main_box{ margin-top:20px; height:584px; overflow-y:auto;}
.page_btn{ margin-top:30px;}
.page_btn .home{ background:url(../images/home_btn.png) no-repeat; width:153px; height:45px; display:block; float: left; margin-right:90px;}
.page_btn .home:hover{ background-position:0 -52px !important;}
.page_btn .page{ background: url(../images/page_btn.png) no-repeat; width:127px; height:47px; display:block; line-height:47px; color:#333; text-align:center; font-size:18px;float: left; margin-left:20px;}
.page_btn .page:hover{ background-position:0 -48px !important; color:#fff}
.main_box p{ font-size:20px; line-height:200%; color:#333}

.half_left{ float:left; width:48%;}
.half_right{ float:right; width:49%;}

.h1_icon{ background:url(../images/icon01.png) left no-repeat; padding-left:25px; font-size:24px; margin-bottom:15px;}

.clear20px{ clear:both; height:15px;} 


.project_list{  margin-top:20px; height:584px; overflow:hidden}
.project_list ul{ float:left; width:46%;  margin-right:48px;}
.project_list ul li a{  background:url(../images/white_bg.png) repeat; height:46px; line-height:46px; border-radius:4px; font-size:18px; margin-bottom:15px; padding-left:20px; margin-bottom:15px; display:block}
.project_list h1{ text-align:center; margin-top:30px; font-size:30px; color:#007df5; margin-bottom:30px; padding-bottom:20px; border-bottom: solid 1px #caddf0}
.project_list p{ line-height:200%; font-size:20px; text-indent:2em; color:#333}

.span_line{ display:block; border-bottom:solid 1px #0658a0; font-size:24px; font-weight:bold; width:120px; padding-bottom:10px; margin-bottom:20px; overflow:hidden; margin-top:20px;}


.industry_table{ margin-top:30px; height:580px; overflow-y:auto}
.industry_table tr th{ font-size:18px; background:#0065cb;  padding:10px 0; border: solid 1px #c4d4e5;color:#fff;}
.industry_table tr td{ font-size:16px; background:#fff;  padding:15px; border: solid 1px #c4d4e5;color:#333; border-top:none; line-height:200%}

.font24px{ font-size:26px !important; color:#0065cb !important; margin-bottom:15px;}
.font22px{ font-size:22px !important; color:#0065cb !important; margin-bottom:15px;}













