@charset "utf-8";

@import "mySassWare/_variable";
@import "mySassWare/_mixin";
@import "mySassWare/_function";
@import "mySassWare/_media";
@import "mySassWare/_component";


/* slide start */
      
    .slideBox01 {
          width: 100%;
          overflow: hidden;
          position: relative; 
         .hd {
              @include slideNav($bg:#605751,$size:10px,$onColor:$blue){
                  width: 12px;
                  height: 12px;
                  top: -1px;
              };
              bottom: 5px;
         }
          $direction_size:45px;  
          .direction{
              display: block;
              width: $direction_size;
              height: $direction_size;
              position: absolute;
              top: 45%;
              z-index: 999;
              cursor: pointer;
              display: none;
          }
          @include min-screen(1445px){
              .direction{display:block;}
          };
          .direction.prev{background:url(../img/left.png) no-repeat center center;left: -$direction_size;}
          .direction.next{background:url(../img/right.png) no-repeat center center;right: -$direction_size;}
    }
    
     
    .slideBox01 .bd li{height: 410px;}
 
/* slide end */


/* navbar start */
    $navbar_num:6;
    $navbar_bg:#005daf;
    $navbar_to:#0073c2;
    
    
    .navBar_wrapper{
        
        background: -webkit-gradient(linear,left top, left bottom,from($navbar_to),color-stop($navbar_bg),to($navbar_to));
        
        background: -webkit-linear-gradient($navbar_to,$navbar_bg,$navbar_to);
        
        background: linear-gradient($navbar_to,$navbar_bg,$navbar_to);
        background:#{$navbar_bg}\0;
    }
    .navbar-line02 .navbar-block{
        float: left;
        min-height: 1px;
        cursor: pointer;
        padding: 4px 0;
        position: relative;
        display: block; 
        width:percentage(1/$navbar_num);
        color:#fff;
        font-weight: 700;
        @extend %uppercase;
    }

    $centerYellow:#ff9500;
    $centerActiveY:darken($centerYellow, 15%);
    $activeYellow:darken($yellow, 5%); 
    .navbar-line02 .navbar-block:hover {
        background: -webkit-radial-gradient($centerYellow,$yellow);
        background: radial-gradient($centerYellow,$yellow);
        background:#{$yellow}\0;
    }
    .navbar-line02 .navbar-block.on{
        background: -webkit-radial-gradient(#ff9500,$yellow);
        background: radial-gradient(#ff9500,$yellow);
        background:#{$yellow}\0;
    }
    .navbar-line02 .navbar-block.on,
    .navbar-line02 .navbar-block:hover {
        color:#fff;
        z-index: 99;  
        a.navLink {
            &.divider{
                @include persudo($color:none,$content:"",$position:before,$bg:none); 
            }
        }
        & + .navbar-block{
            .divider{
                
                @include persudo($color:none,$content:"",$position:before,$bg:none);
            }
        }     
    }
    .navbar-line02 .navbar-block a.navLink {
        display: block;
        text-align: center;
        font-size: $mediumSize;
        @extend %relative;
        padding:10px 0;
        &.divider{
            @include persudo($color:#dbdbdb,$content:"|",$position:before,$bg:"ndivider.png");
            &:before{width: 2px;height: 40px;top: -1px;}
        }
    }   
      
    .navbar-line02 .navbar-block{ 
    
    }
    
/* navbar end */      

.naver_0 {
    display: none;
    position: absolute;
    z-index: 99;
    top: 100%;
    min-width: 100%;
    max-width:200%;
    .nav_erc{
        @extend %bg-white;
        @extend %align-left;
        @include border();
       
        @include persudo($color:none,$content:"",$position:before,$bg:none); 
        &:before{
           @include caret($color:$yellow,$position:top,$width:6px);
           top: 0;
           left:100px;
           -webkit-transform: translateX(-50%);
               -ms-transform: translateX(-50%);
                   transform: translateX(-50%);
        };
        padding:15px 0;
        border-top:none;
        li{
            font-size: $smallSize*1.2;
            font-weight: normal;
            @extend %capitalize;
            &:hover{ 
                background:#f5f5f5;                        
                .link{color: $mainColor;}
            }
            $link_h:22px;
            
            .link{
                white-space: nowrap;
                color:$baseFontColor;
                padding: 5px 18px;
                @extend %block;
                .inner{@extend %ellipsis;}
                &,.inner{@include lheightM($height:$link_h);}
                i.fa{
                    margin-right: 8px;
                    top: -1px;
                    position: relative;
                }
                span{@extend %ellipsis;line-height:1;}
                
            }    
        }
    }
}


  
.q_content{ 
    @include f_pictext_row($width:375px,$height:auto,$fpos:"right",$mar-gutter:15px);
        
    padding-top:23px;
    padding-bottom:40px;
    background: $contentBgColor;
} 
       
$rw_p:15px;
$bd_h:65px;

.slidewrapper{ 
    height: 215px;
    @include bg($white);
    .swinner{padding:$rw_p;}
    
}
#slideBd{
    @include f_pictext_row($width:$bd_h,$height:$bd_h,$fpos:"left",$mar-gutter:$rw_p);
    padding-bottom:$rw_p;
    .slideBd_right{margin-left:0;height:auto;}
    .news_intro,.slideBd_left{display:none;}
    $arr:".ellipsis",".title";
    @include csstransition($parr:$arr,$property:all,$time:0.2s);
    li{
        /* @include lheightM($height:30px); */
        & + li{@include border($position:"top",$width:1px,$color:#eee);}
    }
    
    li.on{ 
        @include border($position:"top",$width:1px,$color:none);
        .news_intro,.slideBd_left{display:block;}
        .news_intro{height:44px;@extend %overflow;}
        .ellipsis{font-size:$baseSize;width:100%;}
        .slideBd_right{ 
            margin-left:($bd_h + $rw_p);
            height:$bd_h;
            padding-bottom:$rw_p;
            .title{
                @include persudo($color:none,$content:none,$position:before,$bg:none); 
                @extend %font-weight;
                padding-left:0px;
            }
            .date{display:none} 
        }  
    }
    .slideBd_left{
        @extend %relative;
        .date{
            @extend %align-center;@extend %absfull;
            color:#fff;
            padding-top:8px;
            .day{font-size:$bigSize*1.5;}
        }
        .ym{font-size:13px;}
    }
    .slideBd_right{ 
        /* &,h3{font-size:$baseSize;} */
        .title{
           
            /* @extend %baseTitleColor; */

            @extend %smallSize;
            @include lheightM($height:26px);
            @include persudo($color:$gray,$content:"\25aa",$position:before,$bg:none); 
            padding-left:15px;
            
            line-height:inherit;
            @extend %block;
            @extend %ellipsis;

            .ellipsis{width: 75%;@extend %float-l;line-height:inherit;@extend %baseTitleColor;}
            .date{width:25%;display:block;@extend %float-r;@extend %align-right;color:$gray;}
            
           
           
        }
        p{color:$gray} 
    }  
}  

$rw_p2:10px;
$bd_h2:75px;
$sb02_p:26px;

#slideBd2{
    @include f_pictext_row($width:$bd_h2,$height:$bd_h2,$fpos:"left",$mar-gutter:$rw_p2);
    $arr:".ellipsis",".title";
    @include csstransition($parr:$arr,$property:all,$time:0.2s);
    li{
        border-bottom:1px dashed $baseBorderColor;
        padding:$sb02_p 0 $sb02_p $sb02_p/1.2;
        &:first-child{}
        &:hover{
            .slideBd2_right{ 
                .title{color:$blue;}
                .arrow{background:url(#{$baseImgUrl}blueArrow.png);}
            }
            background:#f3f3f3;
        }
    }
    .slideBd2_left{
        @extend %relative;
        .date{
            @extend %align-center;@extend %absfull;
            color:#fff;
            padding-top:14px;
            .day{font-size:$bigSize*1.5;}
        }
        .ym{font-size:13px;}
    }
    .slideBd2_right{  
        font-size:$smallSize*1.1;
        @extend %relative;
        .title{
            @include lheightM($height:26px);
            line-height:inherit;
            @extend %block;
            @extend %ellipsis;
            .ellipsis{@extend %float-l;line-height:inherit;}
        }
        .news_intro{color:$gray;@extend %word-break;} 
        .title,.news_intro{width:75%;}
        .arrow{
            background:url(#{$baseImgUrl}grayArrow.png);
            width:30px;
            height:30px;
            @extend %abs;
            right: 50px;
            top:50%;
            margin-top: -15px;
           /*  margin-right:50px;
            margin-top:-($bd_h2/2 - 30px/2) */
        }
    }  
}   



/* list start */
.news-list01 {
        li{
            padding-left:15px;
            position:relative;
            cursor: pointer;
            &:hover{.ellipsis{color:$blue;}.date{display:none;}}
            
            @extend %smallSize;
            @include lheightM($height:26px);
            @include persudo($color:$gray,$content:"\25aa",$position:before,$bg:none); 
            &.on{&:before{color:$blue}}
            a{
              width:100%;
              line-height:inherit;
              @extend %block;
              @extend %ellipsis;
            }
            .ellipsis{width: 75%;line-height:inherit;@extend %baseTitleColor;}
            .date{width:25%;display:block;@extend %float-r;@extend %align-right;color:$gray;}
        }
}
/* list end */
 

$gallary_h:157px; 
$gallary_dw:32px;
$gallary_r:20px;
.q_content_left{.swinner{padding-left:0;padding-right:0;}}
.gallaryWrapper{
    @extend %relative;
    padding: 0 $gallary_dw; 
    .prev,.next{
        @extend %abs;
        @extend %align-center;
        z-index: 99; 
        top:32%;
        width:$gallary_dw;
 
        i{font-size:$bigSize*2;color:lighten($gray,20%);}
        &:hover{i{color:$blue;}}
    }  

    .prev{left:0;} 
    .next{right:0;} 
    

    .swiper-container {
        height: 190px;

    }
    .pagination{
            $pagination_size:10px;
            $oncolor:#345fad;
            $pBg:$gray;
            @extend %align-center;
            @extend %abs;
            width: 100%;
            overflow: hidden;
            z-index: 1; 
            bottom: 0px;
            .swiper-pagination-switch{
               
                @extend %relative;
                zoom: 1;
                display: inline-block; 
                margin-right: 12px;
                width: $pagination_size;
                height: $pagination_size;
                border-radius: 50%;
                line-height: 14px;
                background: $gray;
                cursor: pointer;
                &.visible{
                    
                    background:$oncolor;
                }
            }
    }                  
}

/*我们的能力标题 不换行 */
.ability_wrapper{
    #gallary .inner .info h3{
        overflow: visible;
        white-space: normal;
        @extend %word-break;
    }
}
#gallary{  
        /* height:$gallary_h; */
        @include rowBeta($num:3,$outer_gutter:6px,$plusM:true,$height:false);
        .inner{ 
                height:$gallary_h /* 180px*/;
                img{
                    @extend %full;@extend %block;
                    -webkit-transition: all 0.2s;
                    transition:all 0.2s;
                    border-radius:0;
                } 
                .innerWrapper{
                    @extend %full-height;
                    @extend %relative;
                    @extend %overflow;
                    border-radius:$gallary_r 0 $gallary_r 0;
                    -webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);
                    &:hover{
                        border-radius:$gallary_r 0 $gallary_r 0;
                        img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
                        .info{
                            h3{color:$yellow;}
                            .outer{
                                height:auto;p{height:36px;}
                            }
                        }
                    }
                } 
                $info_p:10px;
                .info{
                    background:rgba(0,0,0,0.6);@extend %absBottom;color:$white;
                    padding:0 15px;
                    border-radius:$gallary_r 0 $gallary_r 0;
                    
                    h3{padding:$info_p 0 $info_p/2;@extend %ellipsis;-webkit-transition: 0.2s;transition:0.2s;}
                    .outer{
                            height: 0;
                            p{
                                @extend %smallSize;
                                height:0;
                                line-height: $baseLineHeight/1.2;
                                -webkit-transition: 0.2s;
                                transition:0.2s;
                                margin-bottom: 15px;
                                white-space: normal;
                                overflow: hidden;
                                @extend %word-break;
                            }
                    }
                    &:hover{
                        /* h3{color:$yellow;}
                        .outer{height:auto;p{height:36px;}} */
                    }
                }
            } 
}

.center_innerWrapper{
    #gallary .inner{
        padding-top:6px;padding-bottom:6px;
        height: 210px;
    }
}
$logoRow_p:15px;
.logoRow{
    padding:$logoRow_p 0;
    .topbar_link{

        @extend %relative;
        padding: 0 $logoRow_p*2/3;
        &:last-child {
            padding-right: 0;
        }
        & + .topbar_link{
            @include persudo($color:#dbdbdb,$content:"|",$position:before,$bg:none){
                left:-4px;
            };    
        }
    }
    .input-set02 {margin-top: $logoRow_p*2/3;}
 
}

.innerbanner{
    height:320px;
    .iText{
        @extend %white;
        font-size: $bigSize*1.5;
        @extend %uppercase;
        padding-top:75px;
        padding-left:115px;
    }
}


$leftSide_w:242px;
$leftContent_w:935px;
$sideBarBtn_h:60px;
$leftBack:#f7f7f7;
$leftSide_gutter:10px; 
.centerMiddle{
    @extend %relative;
    @extend %clear;
    @include _shadow($blur:3px,$color:#e8e2e2);
    background:$white;
    margin-top: -140px;
    margin-bottom: 35px;
    .center_innerWrapper{padding:20px;@extend %clear;}
    .leftSide{
        @include ftextTab($width:$leftSide_w,$height:auto,$position:"left");
    }
    .rightContent{
        @include newsTab_img($height:auto,$margin:$leftSide_w + 30px,$position:"left");
    }
}
 
$sideBar02_p:20px;

$sb_btn_p:8px;
$sb_btn_ph:30px;
$sb_bg:#f7f7f7;
$sb_pl:20px;
$sb_brand_h:65px;
.sideBar03{
        .sb_brand{
            padding-left:$sb_pl;
            @include lheightM($height:$sb_brand_h);
            color:$white;
            font-size: $bigSize;
            @extend %uppercase;
            background:url(#{$baseImgUrl}logoBg01.png)
        }
        .sideBar_ul{
            
             
            @include cursor($cursor:pointer);
        }
        .level1{
            font-size: $mediumSize*0.9;
            &>.sideBar_li{
                background:$contentBgColor;
                @include border($position:top,$width:2px,$color:$white);
                &>.sideBar_a{
                    background:url(#{$baseImgUrl}icon05.png) ($leftSide_w - 25px) center no-repeat;
                    padding:$sb_btn_p $sb_pl;
                }
                &.on>.sideBar_a{
                    background:url(#{$baseImgUrl}icon06.png) ($leftSide_w - 25px) center no-repeat;         
                }
                &.on,&:hover{
                    background:$blue;
                    color:$white;
                }
            }
        }
        .level2{.sideBar_a{
            padding:($sb_btn_p - 5px) $sb_pl;
            .icontext{padding-left:15px;}
            }
        }
        .level2{
            font-size: $mediumSize*0.8;
            @include border($position:false,$width:1px,$color:$baseBorderColor);
            @include border($position:top,$width:1px,$color:none);
            &>.sideBar_li{
                background:$white;
                color:$baseFontColor;
                @include border($position:top,$width:1px,$color:$baseBorderColor);
                &>.sideBar_a{
                    background:url(#{$baseImgUrl}dgrayArrow.png) ($leftSide_w - 25px) center no-repeat;
                    
                    @include border($position:right,$width:2px,$color:$white,$type:solid);
                    .icontext{
                        @include persudo($color:#d5d5d5,$content:"·",$position:before,$bg:none){
                            left:0px;
                            top:-2px;
                            font-size: 30px;
                        }; 
                        
                    }
                }
                &.on>.sideBar_a,&:hover>.sideBar_a{
                    background:url(#{$baseImgUrl}dblueArrow.png) ($leftSide_w - 25px) center no-repeat;         
                    color:$blue;
                    @include border($position:right,$width:2px,$color:$blue,$type:solid);
                    @extend %font-weight;
                    .icontext{
                        @include persudo($color:$blue,$content:"·",$position:before,$bg:none){
                            left:0px;
                            top:-2px;
                            font-size: 30px;
                            font-weight:normal
                        };
                    }
                }
                &.on,&:hover{
                    background:$contentBgColor;
                }   
            }
        }
        .level3{
            font-size: $mediumSize*0.9;
            &>.sideBar_li{
                background:$white;
                @include border($position:top,$width:2px,$color:$white);
                &>.sideBar_a{
                   padding:($sb_btn_p - 10px) $sb_pl;
                   .icontext{
                        color:#848484;    
                        @include persudo($color:inherit,$content:"-",$position:before,$bg:none){
                            left:0px;
                            top:-2px;
                            font-size: 20px;
                        }; 
                    }
                }
                
                &.on,&:hover{
                    .icontext{
                        color:$blue;
                        text-decoration:underline;    
                    }    
                    
                }
            }
        }
        .sideBar_li{
            &.childList{
                .sideBar_ul{display:none;}
            }
            .sideBar_a{
                .icontext{@extend %ellipsis;padding-right:10px;}
            }
            
        }
        .sideBar_a{
            
            @extend %block;
            p{ 
                @extend %relative;
                @include lheightM($height:$sb_btn_ph);
            }
        }
         
} 

 
.news_h02{ 
    @include header_hBeta($height:$sb_brand_h);
    line-height: $sb_brand_h*1.5; 
    .tips{
        margin-left:20px;
        color:#666;
        font-size: $smallSize;
        @extend %float-l;
    }
} 
 

$content_p:20px;
$cpp:10px;
.contentPart {
    padding-bottom:100px;
    
    padding-left:$cpp;
    padding-right:$cpp;
    @extend %overflow;
    @extend %word-break;
    
    .text{
        padding:0 0 $content_p 0;
        @extend %word-break;
        
    }
    .text,.ability_wrapper,.brand_link_wrapper,
    .commonPic,.commonWrapper{padding-top:$content_p;}
    .news_wrapper{
        margin-left: -$cpp;
        margin-right: -$cpp;
    } 
}
.commonWrapper{padding-top:$content_p;}


.brand_link_wrapper{.brand_link + .brand_link{
        padding-top:$content_p*2/3;
    }
}
.brand_link{
    $brand_link_h:300px;
    width:800px;
    @extend %mar-center;
    @extend %clear;
    @extend %mar-center;
    .t,.i{@extend %float-l;height:$brand_link_h;}
    .t.blueBg{background:$blue;}
    .t.orangeBg{background:$orange;}
    .t.grayBg{background:#a9a096;}
    .t{
        width:29%;
        
        color:$white;
        @include persudo($color:none,$content:" ",$position:after,$bg:"logoBg2.png"){
            @extend %absfull;
            background-position:-30px $brand_link_h/2 - 10px;
        };
        $b_innerPl:23px;
        $b_innerPt:42px;
        .title{
            padding-top:$b_innerPt;font-size:$bigSize*1.1;@extend %font-weight;
        }
        .small{
            padding-top:2px;
            padding-bottom:$b_innerPt/2;
            @include persudo($color:none,$content:" ",$position:after,$bg:none){
               @include makeBorder($width:56px,$height:1px,$color:$white);
               left:0;
               bottom:0;                 
            }  
        }
        .title,.small{
            margin-left:$b_innerPl;
        }
      }  
    .i{
        width:71%;
    }
}

.commonPic{
    
    @extend %align-center;
    @extend %relative;
    img{}
}

.qualification_row{
    @extend %clear;
    padding:20px 0;
    & + .qualification_row{border-top:1px dashed $baseBorderColor;}
    .img,.titleLink{@extend %float-l;}
    .img{
        width:173px;height:237px;
        background:#f3f3f3;
        @extend %relative;
        img{@extend %absCenter;width:100%}
    }
    .titleLink{
        padding-left:25px;
        .head{height:75px;@extend %overflow;}
        .date{color:$gray;margin-right:50px;}
    }
} 


$pagi_size:20px;
.pagination02 {
    padding: 30px 0px 0px;
    ul {
        display: inline-block;
        li {
            cursor: pointer;
            display: block;
            float: left;
            margin: 0px 5px;
            @extend %align-center;
            color: $gray;
            font-size: $smallSize;
            a {
                display: block;
                width: $pagi_size;
                @include lheightM($height:$pagi_size);
                border: 1px solid rgb(221, 221, 221);
                @extend %bg-white;
            }
            &.left a,&.right a,&.last a{
                width: 65px;
                
                @extend %uppercase;
            }
            &.on a{
                color: white;
                background: $mainColor;
            }
        }
    }
}

.news_title{
    @extend %align-center;
$t1p:26px;
    .t1{
        padding:$t1p 0 ($t1p - 6px) ;
        font-size: $bigSize;
    }
    .t2{
        color:$gray;
        padding-top:$t1p/3;
        @include border($position:top,$width:1px,$color:$baseBorderColor,$type:dashed);
        .info{margin-left:15px;}
    }
}

$warr:510,380;
$lipt:4px;
$lipt2:6px;
.department {
    padding-top:35px;
    @include un_row($rateArr:$warr,$padding:false,$string:"un-block")
    li{
            padding:$lipt 40px $lipt 0;
    }
    span,p{
        @extend %block;
    }
    span{
        background:#ff9500;
        color:$white;
        padding:0 12px;
        @include radius(5px);
        @include ftextTab($width:auto,$height:auto,$position:"left");
    }
    p{
       &:last-child{@include newsTab_img($height:auto,$margin:50px,$position:"left"); } 
    }
    .d1{
       @extend %ellipsis;
    }
    .d2{
        li{   padding:$lipt2 40px $lipt2 0;    }
    }
}
 
#addRow{
    @include rowBeta($num:3,$outer_gutter:5px,$plusM:true,$height:false){
        
    };
    @extend %overflow;
    padding-bottom:12px;
    &>div{
        &>div{
            &>div{
                @include border();
                height: 235px;
                font-size: $mediumSize*0.9;
                @include cursor();
                $activeC:#e4f3fb;
                &.active{
                    background:$activeC;
                    @include border($color:$activeC);
                    @include persudo($color:none,$content:"",$position:before,$bg:none){
                        $csize:10px;
                        @include caret($color:$activeC,$position:top,$width:$csize){
                            bottom:-$csize;
                            left: 50%;
                            margin-left: -$csize;
                        };
                    };
                    i,em{color:$blue;&+p{color:$blue;}}
                    .addInfo{color:darken($baseFontColor,40%) }
                }
                @extend %align-center;
                i,em{
                    padding-top:30px;
                    font-size: $bigSize*2;
                    & + p{
                        font-size: $mediumSize;
                        padding:10px 0 10px;
                        @extend %font-weight;
                    }
                }
                .addInfo{
                    @extend %align-left;
                    padding:0 20px;
                    line-height:$baseLineHeight*1.2;
                }
            }
        }
    }
}

.map_wrapper{
    
}

$drow_h:60px;

$drow_pl:25px;
.drow_wrapper{
    @include persudo($color:none,$content:" ",$position:before,$bg:none){
       width:1px ;
       background: #ddd;
       top: 30px;
       bottom: 30px;
       left: $drow_pl + 5px; 
    }
}
.drow{
    padding:0 $drow_pl;
    & + .drow{
        padding-top:30px;
    }
    @include f_pictext_row($width:110px,$height:auto,$fpos:"left",$mar-gutter:15px + $drow_pl);
    .drow_left{
        background:url(#{$baseImgUrl}icon07.png) 0 center no-repeat;
        padding-left:$drow_pl;
        @include lheightM($height:$drow_h);
        @extend %font-weight;
        font-size: $bigSize*1.15;
        color:$baseTitleColor;
    }
    $dsize:10px;
    $bgC:#f3f3f3;
    .drow_right{
        & + .drow_right{margin-top:10px;}
        .p{
            padding:19px $drow_pl;
            background:$bgC;
            @include radius(5px);  
            @extend %iBlock;  
            @extend %word-break;
        }
        
        @include persudo($color:none,$content:"",$position:before,$bg:none){
            
            @include caret($color:$bgC,$position:right,$width:$dsize){
                left:-$dsize;
                top: 50%;
                margin-top: -$dsize;
            }
        }
    }
}
  
.productRow{
    @include rowBeta($num:4,$outer_gutter:10px,$plusM:true,$height:false){
        padding-top:10px;
        padding-bottom:10px;
    };
    .wrap{
        @include border();
        &:hover,&.on{
            .t{background:$blue;color:$white;}
        }
    }
    .p{ 
        height:150px;
        img{@extend %full;}
    }
    .t{
        @include lheightM($height:50px);
        @extend %align-center;
        @extend %ellipsis;
        padding: 0 10px;
    }
}

.epTitle{
    .ep{
        padding:25px 0;
        @extend %align-center;
        font-size: $bigSize*1.1;
        color:$baseTitleColor;
        .backToList{color: $gray;}
        @at-root .backToList{
            @extend %float-r;
            color:$white;
            font-size: $smallSize*1.2;
            i{margin-right:8px;}
        }
        @include border($position:bottom,$width:1px,$color:$baseBorderColor,$type:dashed);
    }
}

.epImg{
    @extend %align-center;
    padding-top:20px;
}


.epTable_t{
    font-size:$mediumSize;@extend %uppercase;color:$baseTitleColor;
    padding:15px 0 5px;
}


$wr:180,180,370;
#show_newsTW table{
    @extend %word-break;
   @include nth_un_width($rateArr:$wr,$string:"td"){
            vertical-align: middle;
            padding:35px 25px;
            text-align: center;
            /* &.name{@extend %align-left;} */
            color:$baseTitleColor;
   }; 
   tr:nth-child(1){
       td{
            padding:5px 25px;
            color:$white;
        } 
        background:#ff9500; 
        & + tr{
            background:#f3f3f3;
            td:last-child{@extend %align-left;}        
        }
   }
   
   border-spacing: 2px;
}

.resultTable02{
    @include un_width($rateArr:$wr,$string:"un-block");
    border-spacing: 2px;
    .col{
            vertical-align: middle;
            padding:35px 25px;
            text-align: center;
            &.name{@extend %align-left;}
            color:$baseTitleColor;
        }
    .b_title{
        .col{
            padding:5px 25px;
            color:$white;
        }
        background:#ff9500;
        
    }
    .bf_wrapper{background:#f3f3f3;} 
   
}

.cbtnW{@extend %align-center;
    padding-top: 45px;
    .contactBtn{
        @extend %iBlock;
        color:$white;
        font-size: $bigSize;
        background:$blue;
        padding:15px 55px;
        @include radius(10px);
        @include cursor();
    }
}




/* modalBox start */

        .modalBox {
            position: fixed;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            z-index: 1050;
            display: none;
            overflow: hidden;
            outline: 0px;
            &.fade .modalBox-dialog {
                -webkit-transition: -webkit-transform 0.3s ease-out;
                transition: -webkit-transform 0.3s ease-out;
                transition: transform 0.3s ease-out;
                transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
                -webkit-transform: translate(0px, -25%);
                    -ms-transform: translate(0px, -25%);
                        transform: translate(0px, -25%);
            }
            .modalBox-dialog {
                position: relative;
                width: auto;
                margin: 10px;
                .modalBox-header {
                    padding: 8px;
                    background:#f3f3f3;
                    .close {
                        float: right;
                        font-size: 21px;
                        font-weight: bold;
                        line-height: 1;
                        color: rgb(0, 0, 0);
                        text-shadow: rgb(255, 255, 255) 0px 1px 0px;
                        opacity: 0.2;
                        margin-top: -2px;
                    }
                    .close:hover,
                    .close:focus {
                      color: #000;
                      text-decoration: none;
                      cursor: pointer;
                      filter: alpha(opacity=50);
                      opacity: .5;
                    }
                    button.close {
                        -webkit-appearance: none;
                        padding: 0px;
                        cursor: pointer;
                        background: transparent;
                        border: 0px;
                    }
                }
            }
            .modalBox-content {
                position: relative;
                background-color: rgb(255, 255, 255);
                background-clip: padding-box;
                border: 1px solid rgba(0, 0, 0, 0.2);
                width: 415px;
                outline: 0px;
                color:$baseTitleColor;
                -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 3px 9px;
                        box-shadow: rgba(0, 0, 0, 0.498039) 0px 3px 9px;
            } 
            .modalBox-title {
                margin: 0px;
                line-height: 1.42857;
                margin: 0px;
                line-height: 1.42857;
                font-size: $bigSize;
                text-align: center;
               
            }
            .modalBox-body {
                position: relative;
                padding: 15px;
            }
        }

        .modalBox-open {
          overflow: hidden;
        }
        .modalBox.fade .modalBox-dialog {
          -webkit-transition: -webkit-transform .3s ease-out;
                  transition: -webkit-transform .3s ease-out;
                  transition: transform .3s ease-out;
                  transition:         transform .3s ease-out, -webkit-transform .3s ease-out;
          -webkit-transform: translate(0, -25%);
              -ms-transform: translate(0, -25%);
                  transform: translate(0, -25%);
        }
        .modalBox.in .modalBox-dialog {
          -webkit-transform: translate(0, 0);
              -ms-transform: translate(0, 0);
                  transform: translate(0, 0);
        }
        .modalBox-open .modalBox {
          overflow-x: hidden;
          overflow-y: auto;
        }
        .modalBox-dialog {
          position: relative;
          width: auto;
          margin: 10px;
        }

        .modalBox-backdrop {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1040;
          background-color: #000;
        }
        .modalBox-backdrop.fade {
          filter: alpha(opacity=0);
          opacity: 0;
        }
        .modalBox-backdrop.in {
          filter: alpha(opacity=50);
          opacity: .5;
        }
        
        
        .modalBox-body {
          position: relative;
          padding: 15px;
        }
        .modalBox-footer {
          padding: 15px;
          text-align: right;
          border-top: 1px solid #e5e5e5;
        }
        .modalBox-footer .btn + .btn {
          margin-bottom: 0;
          margin-left: 5px;
        }
        .modalBox-footer .btn-group .btn + .btn {
          margin-left: -1px;
        }
        .modalBox-footer .btn-block + .btn-block {
          margin-left: 0;
        }
        .modalBox-scrollbar-measure {
          position: absolute;
          top: -9999px;
          width: 50px;
          height: 50px;
          overflow: scroll;
        }
        @media (min-width: 768px) {
          .modalBox-dialog {
            width: 600px;
            margin: 30px auto;
          }
          .modalBox-content {
            -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
                    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
          }
          .modalBox-sm {
            width: 300px;
          }
        }
        @media (min-width: 992px) {
          .modalBox-lg {
            width: 900px;
          }
        }


        /*modalBox01 start*/
        @media (min-width: 768px) {
            .modalBox01 .modalBox-dialog {
                width: auto;
                margin: 30px auto;
            }
        }

        
        
       
/*modalBox01 end*/

#modalBox01{
    p{@extend %relative;}
    .iconW{
        @include ftextTab($width:auto,$height:auto,$position:"left");
        i{}
    }
    .t{
        
        @include newsTab_img($height:auto,$margin:25px,$position:"left")
    }
    .fa{color:$mainYellow;}
    
}

#ptRow{
    $ptsize:6px;
    @include rowBeta($num:6,$outer_gutter:3px,$plusM:true,$height:false){
        
    };
    @extend %overflow;
    padding-bottom:$ptsize;
    .border{
         background:$contentBgColor;
         height: 57px;
          
         width: 100%;
         @extend %align-center;
         @include cursor();
         .mp{padding:0 5px;@extend %iBlock;@extend %align-left;}

         &:hover,&.on{
            background:$blue;
            color:$white;
            @include persudo($color:none,$content:"",$position:before,$bg:none){
                
                @include caret($color:$blue,$position:top,$width:$ptsize){
                    bottom:-$ptsize;
                    left: 50%;
                    margin-left: -$ptsize;
                };
            }; 
         }
    }
}

.ptSection{
    color:$baseTitleColor;
    padding-bottom:25px;
    & + .ptSection{
        @include border($position:top,$type:dashed);
    }
    p{@extend %word-break;}
    .t{     
        @extend %align-center;padding-top:45px;color:$blue;font-size:$bigSize*1.3;
        @extend %uppercase;
    }
    .b{
        @include makeBorder($width:56px,$height:2px,$color:#e1e1e1){
            
            margin:15px auto 30px;
        };
    }
    .contentW{padding:0 23px}
    .ptText{padding-bottom:18px;}
    .ptImg{@extend %align-center;}
    .stWrapper{
        border-spacing:8px;
        @extend %align-center;
         
        tr{
            td{padding:10px 0;width:50%;vertical-align:middle;}
            &:nth-child(odd){td{background:#e4f3fb;}}
            &:nth-child(even){td{background:$contentBgColor;}}
        }
    }
    .techWrapper{padding:0 12%;} 
}

#idRow{
    padding-top:20px;
    @include rowBeta($num:5,$outer_gutter:3px,$plusM:true,$height:false){
        @extend %align-center;
    };
    @extend %overflow;
}


.cbWrapper{
    width:80%;
    @extend %mar-center;
}
#cbRow{
    @extend %relative;

    @include rowBeta($num:3,$outer_gutter:35px,$plusM:true,$height:false){
        @extend %align-center;
    };
    .border{
        img{@extend %full;}
        @extend %relative;
    }
    .linearBg{
        @extend %abs;
        bottom:0;
        left: 0;
        right: 0;
        color:$white;
        padding-bottom:30px;
    }
}

.tWrapper{
    width:71%;
    @extend %mar-center;
    padding-top:20px;
}
#tRow{
    @include rowBeta($num:3,$outer_gutter:35px,$plusM:true,$height:false){
        @extend %align-center;
        .border{
            background:url(#{$baseImgUrl}diamond.png);
            width:136px;
            height: 158px;
            color:$white;  
            display: table-cell;
            vertical-align: middle;  
            p{padding:0 10px}
        }
        
    };
}

.eNav{
    height: 158px;
    background: url(../img/ei01.png) 50% 60%;
    color: $white;
    @extend %relative;
    .tleft{
        padding-top:30px;
        padding-left:40px;
        font-size: $bigSize*1.2;
        line-height: 1.25;
        width: 350px;
        word-break: break-word;
    }
    
    .backToList{
        @extend %abs;
        top: 33%;
        right: 36px;
    }
    .navBar{
        @extend %absBottom;
        &>div{
            @extend %align-center;
            padding:12px 0;
            background:rgba(255,255,255,0.1);
            @include cursor();
            &.on{color:$mainYellow;}
        }
    }
}


.epiWrapper{
    .epiTitle{
        @extend %font-weight;
        font-size: $bigSize*0.9;
        padding-left:15px;
        @include persudo($color:inherit,$content:">",$position:before,$bg:none);
    }
    table{
        border-spacing: 20px;
        margin-left:-20px;
        @extend %word-break;
    } 
    td{
        vertical-align:middle;

        &>div{&+div{padding-top:25px}}
    }
    td:nth-child(1){
        background:$contentBgColor;
        color:$blue;
        /* padding:0 30px; */
        @extend %align-center;


        white-space: normal;
        word-break: normal;
        width: 138px;
    }
    td:nth-child(2){
        padding-left:10px;
        padding-right:10px;

    }
}
                
/*h_slide start*/


    .picBtnTop{ position:relative;  overflow:hidden;  zoom:1;  }
    .picBtnTop02{ position:relative;  overflow:hidden;  zoom:1;  background-color: #fff;padding: 25px 15px 16px;}
    .picBtnTop02 .left_show{
        width: 100%;
        }
    .picBtnTop02 .left_show .pic{
        width: 100%;
        height: 323px;
        @extend %align-center;
    }
    .picBtnTop02 .left_show .pic img {
        height: 100%;
        width:430px;    
    }

    $plsw:40px;
    .picBtnTop02 .left_show .slide_wrapper{
        margin-top: $plsw;
        padding: 15px $plsw - 5px;
        position: relative;
        background:#f3f3f3;
    }
    .h_slide .prev{left: $plsw/2;background: url(../img/upArrow_gray.png)no-repeat 50% 50%;}
    .h_slide .prev:hover{background: url(../img/upArrow_red.png)no-repeat 50% 50%;}

    .h_slide .next{right: $plsw/2;background: url(../img/downArrow_gray.png)no-repeat 50% 50%;}
    .h_slide .next:hover{background: url(../img/downArrow_red.png)no-repeat 50% 50%;}
    .h_slide{
        width: 100%;
    }
    .h_slide .bd{
        height: 100%;
        overflow: hidden;
        margin-left: -3px;
        margin-right: -3px; 
        ul{white-space: nowrap;}
    }
    .h_slide .prev,.h_slide .next{
        top: 0;
        width: 10px;
        height: 100%;
        display: block;
        text-align: center;
        position: absolute;
    }

    .h_slide .bd ul li{
        text-align: center;
        display: block;
        width: percentage(1/7);
        float: left;
        div.inner{
            padding:0 3px;
            .border{
                
                height:78px;
                @include border($color:$baseBorderColor);
                img{@extend %full;display:block;}
                &:hover{
                     background:red; 
                     @include border($color:red);
                }
            }
        }
    }


/*h_slide end*/

.epiWrapper{
    .news_h{padding-top:20px}
}

.prevNext{
    padding:22px 20px;
    margin-bottom: 20px;
    background:$contentBgColor;
    a{&:hover{color:$blue;}}
    .icon{padding-left:25px;padding-right:5px;}
    .iconPrev{
        @include persudo($color:inherit,$content:"<<",$position:before,$bg:none){
                            left:0px;
                            top:-2px;
                            
        }; 
    }
    .iconNext{
        @include persudo($color:inherit,$content:">>",$position:before,$bg:none){
                            left:0px;
                            top:-2px;
                            
        }; 
    }
}
 
.search_wrapper{
    width:890px;
    @extend %mar-center;
}

.cv_img{
    width:868px;
    height: 722px;
    background:url(#{$baseImgUrl}cvbg.png);
    #cv_table{
        width:665px;
        padding-top:10px;
        border-spacing:17px;
        @extend %word-break;
        @extend %mar-center;
        td{
            @extend %align-left;
            vertical-align: middle;
            color:$white;
            &:nth-child(2){
                padding-left:20px;
            }
        }
    }
}

.share{
    @include border($position:top,$type:dashed,$color:$baseBorderColor);
    
    @extend %clear;

    padding: 17px 0;
    
    margin-top: 20px;
}

.introductionw{
    $b_innerPl:23px;
    $b_innerPt:42px;
    padding:30px 25px 100px;
    .introduceInner{
        background: #e7f8ff;
        padding:0px 50px;
        /* @extend %overflow; */
        @include persudo($color:none,$content:" ",$position:after,$bg:"logoBg02.png"){
            width:277px;
            height: 277px;
            right: 0;
            bottom:0;
            background-position:center 87px;
        };
        .text{padding:30px 0 110px}
        .t{
            width:29%;
            
            color:$blue;
            @include persudo($color:none,$content:" ",$position:after,$bg:"logoBg2.png"){
                @extend %absfull;
                background-position:-30px 10px;
            };
            .title{
                padding-top:$b_innerPt;font-size:$bigSize*1.1;@extend %font-weight;
            }
            .small{
                padding-top:2px;
                padding-bottom:$b_innerPt/2;
                @include persudo($color:none,$content:" ",$position:after,$bg:none){
                   @include makeBorder($width:56px,$height:1px,$color:$blue);
                   left:0;
                   bottom:0;                 
                }  
            }
            
        }  
    
    }
}









    


            

   