@charset "utf-8";

@import "mySassWare/_variable";
@import "mySassWare/_mixin";
@import "mySassWare/_function";
@import "mySassWare/_media";
@import "mySassWare/_component";
      
  
.q_content{ 
    @include f_pictext_row($width:375px,$height:auto,$fpos:"right",$mar-gutter:15px);
        
    padding-top:23px;
    padding-bottom:40px;
    background: $contentBgColor;
} 
       
$rw_p:15px;
$bd_h:65px;

.slidewrapper{ 
    height: 215px;
    @include bg($white);
    .swinner{padding:$rw_p;}
    #slideBd{
        @include f_pictext_row($width:$bd_h,$height:$bd_h,$fpos:"left",$mar-gutter:$rw_p);
        padding-bottom:$rw_p;
        .slideBd_right{margin-left:0;height:auto;}
        .news_intro,.slideBd_left{display:none;}
        $arr:".ellipsis",".title";
        @include csstransition($parr:$arr,$property:all,$time:0.2s);
        li{
            /* @include lheightM($height:30px); */
            & + li{@include border($position:"top",$width:1px,$color:#eee);}
        }
        
        li.on{ 
            @include border($position:"top",$width:1px,$color:none);
            .news_intro,.slideBd_left{display:block;}
            .ellipsis{font-size:$baseSize;width:100%;}
            .slideBd_right{ 
                margin-left:($bd_h + $rw_p);
                height:$bd_h;
                padding-bottom:$rw_p;
                .title{
                    @include persudo($color:none,$content:none,$position:before,$bg:none); 
                    @extend %font-weight;
                    padding-left:0px;
                } 
            }  
        }  
    }  
   
    .slideBd_left{
        @extend %relative;
        .date{
            @extend %align-center;@extend %absfull;
            color:#fff;
            padding-top:8px;
            .day{font-size:$bigSize*1.5;}
        }
        .ym{font-size:13px;}
    }
    .slideBd_right{ 
        /* &,h3{font-size:$baseSize;} */
        .title{
           
            /* @extend %baseTitleColor; */

            @extend %smallSize;
            @include lheightM($height:26px);
            @include persudo($color:$gray,$content:"\25aa",$position:before,$bg:none); 
            padding-left:15px;
            
            line-height:inherit;
            @extend %block;
            @extend %ellipsis;

            .ellipsis{width: 75%;@extend %float-l;line-height:inherit;@extend %baseTitleColor;}
            .date{width:25%;display:block;@extend %float-r;@extend %align-right;color:$gray;}
            
           
           
        }
        p{color:$gray} 
    }
}

/* list start */
.news-list01 {
        li{
            padding-left:15px;
            position:relative;
            cursor: pointer;
            &:hover{.ellipsis{color:$blue;}.date{display:none;}}
            
            @extend %smallSize;
            @include lheightM($height:26px);
            @include persudo($color:$gray,$content:"\25aa",$position:before,$bg:none); 
            &.on{&:before{color:$blue}}
            a{
              width:100%;
              line-height:inherit;
              @extend %block;
              @extend %ellipsis;
            }
            .ellipsis{width: 75%;line-height:inherit;@extend %baseTitleColor;}
            .date{width:25%;display:block;@extend %float-r;@extend %align-right;color:$gray;}
        }
}
/* list end */


$gallary_h:157px; 
$gallary_dw:32px;
$gallary_r:20px;
.q_content_left{.swinner{padding-left:0;padding-right:0;}}
.gallaryWrapper{
    @extend %relative;
    padding: 0 $gallary_dw; 
    .prev,.next{
        @extend %abs;
        @extend %align-center;
        z-index: 99; 
        top:32%;
        width:$gallary_dw;
 
        i{font-size:$bigSize*2;color:lighten($gray,20%);}
        &:hover{i{color:$blue;}}
    }  

    .prev{left:0;} 
    .next{right:0;} 
    #gallary{  
        /* height:$gallary_h; */
        @include rowBeta($num:3,$outer_gutter:6px,$plusM:true,$height:false);
        .inner{ 
                height:$gallary_h;
                img{
                    @extend %full;@extend %block;
                    -webkit-transition:all 0.2s;
                    transition:all 0.2s;
                    border-radius:0;
                } 
                .innerWrapper{
                    @extend %full-height;
                    @extend %relative;
                    @extend %overflow;
                    border-radius:$gallary_r 0 $gallary_r 0;
                    -webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);
                    &:hover{
                        border-radius:$gallary_r 0 $gallary_r 0;
                        img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
                        .info{
                            h3{color:$yellow;}
                            .outer{
                                height:auto;p{height:36px;}
                            }
                        }
                    }
                } 
                $info_p:10px;
                .info{
                    background:rgba(0,0,0,0.6);@extend %absBottom;color:$white;
                    padding:0 15px;
                    border-radius:$gallary_r 0 $gallary_r 0;
                    
                    h3{padding:$info_p 0 $info_p/2;@extend %ellipsis;-webkit-transition:0.2s;transition:0.2s;}
                    .outer{
                            height: 0;
                            p{
                                @extend %smallSize;
                                height:0;
                                line-height: $baseLineHeight/1.2;
                                -webkit-transition:0.2s;
                                transition:0.2s;
                                margin-bottom: 15px;
                                white-space: normal;
                                overflow: hidden;
                                word-break: break-all;
                            }
                    }
                    &:hover{
                        /* h3{color:$yellow;}
                        .outer{height:auto;p{height:36px;}} */
                    }
                }
            } 
    }

    .swiper-container {
        height: 190px;

    }
    .pagination{
            $pagination_size:10px;
            $oncolor:#345fad;
            $pBg:$gray;
            @extend %align-center;
            @extend %abs;
            width: 100%;
            overflow: hidden;
            z-index: 1; 
            bottom: 0px;
            .swiper-pagination-switch{
               
                @extend %relative;
                zoom: 1;
                display: inline-block; 
                margin-right: 12px;
                width: $pagination_size;
                height: $pagination_size;
                border-radius: 50%;
                line-height: 14px;
                background: $gray;
                cursor: pointer;
                &.visible{
                    
                    background:$oncolor;
                }
            }
    }                  
}







    


            

   