@charset "utf-8";

@import "mySassWare/_variable";
@import "mySassWare/_mixin";
@import "mySassWare/_function";
$sb02_p:48px;

.header03{
  
  font-size: $bigTitle;
  position:relative;
  /* @include lheightM($sb02_p); */
  padding:40px 0;
  text-align: center;
  color:$blue;
  .h-title01 {
    
    display: inline-block;
    border-bottom: 3px solid $blue;
    padding:25px 10px;
    .text {
      color: $blue;
      font-size:$bigSize*1.2; 
    } 
  }
}

.header02{
  border-bottom: 2px solid #c5c5c5;
  position:relative;
  @include lheightM($sb02_p);
  .h-title01 {
    height: $sb02_p;
    
    .text {
      color: $blue;
      font-size:$bigSize*1.2; 
      
    } 
  }
}


.news_h02 {
  border-bottom: 2px solid #c5c5c5;
  position:relative;
  @include lheightM($sb02_p);
  .h-title01 {
    height: $sb02_p;
    border-bottom: 2px solid $blue; 
    .text {
      color: $blue;
      font-size:$bigSize*1.2; 
      padding:0 20px;
    } 
  }
  .r-link{
    position: absolute;
    bottom:0;
    right:0;
    font-size: $mediumSize;
     @include lheightM($sb02_p*2/3);
    a{
        margin-left:20px;
        display: inline-block;
    
        &.on{color:$blue;border-bottom:2px solid $blue}
    }
  }
}
  

