@font-face {
  font-family: 'iconfont';  /* project id 313419 */
  src: url('http://at.alicdn.com/t/font_we6osen5mk4vx6r.eot');
  src: url('http://at.alicdn.com/t/font_we6osen5mk4vx6r.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_we6osen5mk4vx6r.woff') format('woff'),
  url('http://at.alicdn.com/t/font_we6osen5mk4vx6r.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_we6osen5mk4vx6r.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
