@import "_variable";
 


.img-center{position:absolute;top:0;bottom:0;right:0;left:0;max-height:100%;max-width:100%;*height:100%;*width:100%;margin:auto;}
.container-auto{
    padding-right: 15px;
    padding-left: 15px;
}

.info_fail{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.info_success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.info_box>div.info{
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}

.container-p-15{
    padding: 15px;
}
.container1000 {
    width: 1000px;
    margin: 0 auto;
}
.container1100 {
    width: 1100px;
    margin: 0 auto;
}
.container1140{
    width:1140px;margin:0 auto;
    @extend %clear;
}
.container1200{
    width:1200px;margin:0 auto;
    @extend %clear;
}
.line{
    margin:0 -15px;
}
.column{float:left;}

.width66{width:66%;}
.block{
    padding-left:15px;padding-right: 15px;float: left;position: relative;
    min-height: 1px;
}
.block-1{width:100%;}
.block-2{width:50%;}
.block-3{width:33.3333333333%;}
.block-4{width:25%;}
.box{padding:10px;/*text-align: center;*/position: relative;}

.container-auto:before,.container-auto:after,
.container1200:before,.container1200:after,
.column:before,.column:after,
.line:before,.line:after,
.block:before,.block:after{
    content:" ";display:table;  
}

.container-auto:after,
.column:after,
.line:after,
.block:after{
    clear:both;
}

.centerBg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(#{$baseImgUrl}background.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    overflow: hidden;
}

.input-base{
    background-color: #FFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    -webkit-border-radius: 1px;
            border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    -webkit-transition:border-color .15s ease-in-out 0s,-webkit-box-shadow .15s ease-in-out 0s;
    transition:border-color .15s ease-in-out 0s,-webkit-box-shadow .15s ease-in-out 0s;
    -o-transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s,-webkit-box-shadow .15s ease-in-out 0s;
    width: 150px;
    font-size: 14px;
}

.full-width{width:100%;}
.extend-width{margin: 0 -9999px;padding: 0 9999px;}
.mar-center{margin:0 auto;}

.hide{display: none;}

.over-flow {overflow: auto;zoom: 1;}
.clear:before,.clear:after{content:" ";display:table;}
.clear:after{clear:both;}

$rowNum:12;
$row_gutter:15px;
.rows{
    &.minusM{margin:{left:-$row_gutter;right:-$row_gutter;}}
    .innerBlock{padding:{left:$row_gutter;right:$row_gutter;}}
    @extend %clear;
}   
@for $i from 1 through $rowNum {
        .row-block-#{$i},.row-#{$i}-block{
            min-height: 1px;
            @extend %float-l;
            @extend %relative;
            @extend %clear;
        }   
        .row-block-#{$i}{
            width:percentage($i/$rowNum); /* eg:1除以12 */
        }
        .block-pull-l-#{$i}{
            margin-left: percentage($i/$rowNum);
        }
        .block-pull-r-#{$i}{
            margin-right: percentage($i/$rowNum);
        }
        .row-#{$i}-block{
            width:percentage(1/$i);    /* eg:十分之一 */
        }          
}   




