*{margin:0;padding: 0;}
	body,html{width:100%;height: 100%;}
	body{background: url(../../img/bg.png) no-repeat;background-size: 100% 100%;font-size: 14px;color:rgb(239,231,184);}
	body>div{margin-left: 100px;}
	.try{width:661px;height:241px;background: url(../../img/have_a_try.png) no-repeat;background-size: 100% 100%;}
	.content{position: relative;float: left;}
	.pc_activity{float:left;width:840px;height: 451px;background: url(../../img/pc_activity_bg.png) no-repeat;background-size: 100% 100%;}
	.wheel{margin-left:-190px;margin-top:-120px;float:left;width:574px;height: 568px;background: url(../../img/wheel.png) no-repeat;background-size: 100% 100%;}
	.text{width: 274px;height: 316px;margin-left: 60px;margin-top: 50px;}

.title{font-size: 1.3em;margin-bottom: 5px;font-weight: 700;}

.pc_activity>div{float: left;position: relative;}
.text table,.text td{border:1px solid #fff;border-collapse: collapse;text-align: center;}
	.text table{margin-top: 10px;}
	.text td{padding:3px 10px;}

.list{width:256px;height: 306px;}
.list >div{text-align:center;}
.prize_border{height:  5px ;background-color:rgb(185,68,13);border-radius: 3px;}	
.list_box ul li{display: block;float:left;width: 33%;margin-bottom: 10px;}

.list_box{color: #000;padding:8px;height:320px;width:90%;background-color: #fff;margin: 0 auto;}
	.list_box ul.box_header{display: block;width: 100%;height: 30px;list-style: none;border-bottom: 2px solid rgb(185,68,13)}
	.list_box ul li{display: block;float:left;width: 33%;margin-bottom: 10px;}

.list{margin-top:50px;margin-left: 20px;}	
.gift{position: absolute;bottom: -280px;right:-35px;z-index: 999; width:228px;height:181px;background: url(../../img/pc_gift.png) no-repeat;background-size: 100% 100%;}

