@charset "utf-8";
/* CSS Document */

body{ background-color:#FFF;}
.header .logo{ position:relative;}
.header .logo b{ position:absolute; display:block; color:#FFF; font-weight:normal; text-align:center; width:99px; height:25px; right:35px; top:0px; background-position:left -149px;}

.salemanMian{ width:980px; padding:8px 0px 0px; overflow:hidden; margin:0px auto 8px;}
.salemanLeft,.orderinfoRight{ width:755px; float:left; overflow:hidden;}
.salemanRight,.orderinfoLeft{ width:217px; float:right }
.saleman1of2{ width:208px; float:left;}
.saleman2of2{ width:539px; float:right;}
.borderA{ border:1px solid #E6E6E6; }
.borderA h3{ height:27px; line-height:27px; padding:0px 8px; font-size:14px;}
.txtstyle1{ width:110px; height:23px; line-height:23px; padding:0px 5px; border-left:1px solid #2E2E2E; border-top:1px solid #2E2E2E; border-right:1px solid #BBB; border-bottom:1px solid #BBB; color:#666;}
.btnstyle1{ width:51px; height:25px; background-color:#E4393C; color:#FFF; line-height:25px; text-align:center; border:0px; cursor:pointer;}
.txtstyle2,.txtstyle3{ width:126px; height:26px; border:1px solid #CCC; background-color:#FFF; line-height:26px; padding:0px 4px;}
.btnstyle2{ width:140px; height:38px; text-align:center; color:#FFF; background-position:left top; font:bold 16px/36px "微软雅黑"; border:0px; display:block; margin:0px auto 9px;}
.txtstyle3{ border:1px solid #ABABAB; height:25px; line-height:25px; width:140px;}
.mleft3{ margin-left:3px;}
.mtop8{ margin-top:8px;}
.seli{ font:14px "微软雅黑";}

.bonusPoints div ul li,.hotordercont dl dt b,.technology div li,.otherTopic ul li b,.ordershow .ordershowImg .jian,.orderReplyCont .jian,.h2tit{ background-image:url(../img/icon.png); background-repeat:no-repeat;}
.btnstyle2,.nologin p input,.flow ul li,.jsNav a.imgSelected,.header .logo b,.ordershowUser dt,.ordershow .orderTime a,.orderReplyBtn a,.orderForm div input{ background-image:url(../img/btnbg.png); background-repeat:no-repeat;}
.flow{ background-image:url(../img/boxbg.png);}
.ordershow .ordershowImg .smallImg span{ background-image:url(../img/scrollbar.png); background-repeat:no-repeat;}

/* banner */
.banner{ width:100%; overflow:hidden; margin-bottom:8px; height:257px; position:relative;}
.banner img{ width:755px; height:257px;}
.jsNav{ position: absolute; bottom: 0px; font-family: Arial, Helvetica, sans-serif; height: 30px; right: 10px; font-weight: bold }
.jsNav a{ line-height: 20px; width: 22px; float: left; vertical-align: middle;  margin-right:5px;   height:20px; background-color:#EDEDED; border:1px solid #ccc; text-align:center; color:#0066CC;}
.jsNav a.imgSelected { background-position:left -124px; color:#fff;}

/* 最新下单 */
.neworder{ width:206px; border-top:2px solid #aaa; padding-bottom:3px;}
.neworder dl{ background-color:#F6F6F6; padding:6px 8px 7px; border-top:1px solid #E6E6E6; border-bottom:1px solid #E6E6E6;}
.neworder dl dt{ font-weight:bold; color:#666; padding-bottom:2px;}
.neworder dl dd{ display:block; width:100%; vertical-align:top;}
.neworder dl dd input{ vertical-align:middle;}
.neworder ul{ margin:8px 8px 0px; padding-bottom:5px; border-bottom:1px dotted #ccc;}
.neworder ul li{ line-height:14px;}
.neworder ul li span{ color:#999;}
.neworder ul li em{ float:right; color:#009900;}

/* 积分奖励 */
.bonusPoints{ padding-bottom:8px;}
.bonusPoints em{ float:right; font-weight:normal; font-size:12px;}
.bonusPoints em a{ color:#0066CC; text-decoration:underline;}
.bonusPoints em a:hover{ color:#ff5500;}
.bonusPoints div{ padding:0px 8px;}
.bonusPoints div img{ margin-bottom:8px;}
.bonusPoints div ul li{ line-height:18px; background-position:left -9px; padding-left:8px;}

/* pcb打样计价器 */
.fareMeter{ width:537px; border-top:2px solid #aaa;}
.fareMeter h3.fareMeterTit{ font:24px/42px "微软雅黑"; padding:0px 8px; height:42px; color:#474747;}
.fareMeter table{ border-top:1px solid #E6E6E6; background-color:#F7FAFF; width:100%; }
.fareMeter table span{ color:#8B8B8B;}
.fareMeter table input{ vertical-align:middle;}
.fareMeter table td{ padding:11px 0px 0px 0px; }

/* 客户登录 */
.loginbox h3{ height:30px; font:18px/30px "微软雅黑"; color:#FFF; background-color:#666; padding:0px 8px; }
.logincont{ border:1px solid #E6E6E6; background-color:#F6F6F6; width:199px; overflow:hidden; padding:15px 8px; height:195px;}
.nologin dl{ width:100%; overflow:hidden; margin-bottom:10px;}
.nologin dl dt{ width:40px; float:left; text-align:right; line-height:25px;}
.nologin dl dd{ width:150px; float:left;}
.nologin dl dd em{ float:right;}
.nologin dl dd em a{ color:#0066CC;}
.nologin dl dd em a:hover{ color:#ff5500;}
.nologin dl dd input{ vertical-align:middle;}
.nologin p{ text-align:center; color:#666;}
.nologin p input{ width:162px; height:42px;  text-align:center; color:#FFF; border:0px; font:18px/30px "微软雅黑"; background-position:left -40px; cursor:pointer; margin-bottom:12px;}
.nologin p a{ color:#ff5500; text-decoration:underline;}

/* 客服中心 */
.customerCenter{ border-top:2px solid #aaa;}
.customerCenter div{ border-top:1px solid #E6E6E6; padding:10px 8px 0px;}
.customerCenter div dl{ width:142px; overflow:hidden; font:bold 14px/22px "微软雅黑"; padding-left:57px; margin-bottom:13px;}
.customerCenter div dl.tel{ background:url(../img/tel.gif) no-repeat left top;}
.customerCenter div dl dd{ font-size:18px; color:#0066CC;}
.customerCenter div dl.qq{ background:url(../img/qq.gif) no-repeat 5px top;}

/* 常见问题 */
.problem h3,.technology h3{ background-color:#F1F1F1;}
.problem h3 em,.technology h3 em{ float:right; font-size:12px; font-weight:normal;}
.problem h3 em a,.technology h3 em a{ color:#666;}
.problem h3 em a:hover,.technology h3 em a:hover{ color:#ff5500;}

.problem div {height: 272px;overflow-x: hidden; overflow-y: scroll; border:1px solid #ccc; padding:8px;width: 199px;}


.problem div dl{ width:180px;}
.problem div dl dt{ color:#0066CC;}
.problem div dl dd{ color:#666;}

/* 制板流程 */
.flow{ width:978px; margin-top:8px; height:71px; background-position:left top; overflow:hidden;}
.flow h3{ width:26px; border:0px; padding:0px; line-height:16px; background-color:#F1F1F1; height:71px; text-align:center; padding-top:4px; float:left;}
.flow ul{ float:left; margin:19px 0px 0px 11px; width:941px;}
.flow ul li{ display:block; float:left; width:106px; height:34px; padding-right:11px; text-align:center; font:17px/34px "微软雅黑"; background-position:left -86px;}
.flow ul li.lastli{ padding:0px;}

/* 热门晒单 */
.hotorder{ width:753px; float:left;}
.hotorder h3 em{ float:right; font-size:12px; font-weight:normal; color:#0066CC; text-decoration:underline;}
.hotorder h3 em a{ color:#0066CC;}
.hotorder h3 em a:hover{ color:#ff5500;}
.hotorderbox{ border-top:1px solid #E6E6E6; padding:3px 8px 0px; width:737px; overflow:hidden;}
.vidioBox{ width:290px; float:left; margin-top:5px;}
.hotordercont{ width:425px; float:right; margin-right:10px; display:inline;}
.hotordercont dl{ width:100%; overflow:hidden; border-bottom:1px dotted #ccc; padding:5px 0px; background:url(../img/dou.gif) no-repeat right bottom;}
.hotordercont dl dt{ float:left; width:75px; height:55px; position:relative;}
.hotordercont dl dt img{ width:75px; height:55px;}
.hotordercont dl dt b,.otherTopic ul li b{ display:block; position:absolute; right:2px; top:0px; width:17px; height:20px; background-position:left -37px;}
.hotordercont dl dd{ width:340px; float:right; color:#005EA7;}
.hotordercont dl dd a{ color:#005EA7;}
.hotordercont dl dd a:hover{ color:#ff5500;}
.hotordercont dl dd span{ color:#999;}

/* 技术专栏 */
.technology{ width:215px; float:right;}
.technology div{ padding:8px 8px 6px; border-top:1px solid #E6E6E6; }
.technology div li{ background-position:left -63px; width:194px; padding:0px 0px 0px 8px; height:18px;  line-height:18px; margin-bottom:5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

/* 合作伙伴 */
.friendlink{ width:978px; margin:0px auto;}
.friendlink h3{ background-color:#F1F1F1;}
.friendlink ul{ padding:8px 0px 8px 8px; width:970px; overflow:hidden;}
.friendlink li{ width:128px; height:32px; border:1px solid #CBCBCB; float:left; margin-right:8px;}
.friendlink li img{ width:128px; height:32px;}

/* 订单查询 6-13 */
.mainbg{ width:100%; background:url(../img/bodybg.gif) repeat-x left -138px; overflow:hidden;}
.current { padding: 4px 0 12px 8px;}
.h2tit{background-position: 5px -178px; color: #666666; font: 30px/30px "微软雅黑"; margin-bottom: 10px;
  padding: 3px 0 3px 48px;}
.content{ background: url(../img/mainbg.gif) repeat-x scroll left top transparent; overflow: hidden;
    width: 100%}
/* 2013 7 5 */
.searchordertip{ padding:20px 0px 10px; font-size:14px;}
.searchordertip span,.searchordertip a{ color:#ff5500;}
.searchordertip span{ font-family:Arial, Helvetica, sans-serif;}
.searchordertip a{ text-decoration:underline;}
.orderlist{ width:980px; margin:0px auto 10px; border-left:1px solid #E6E6E6; border-top:1px solid #E6E6E6; }
.orderlist th,.orderlist td{ border-right:1px solid #E6E6E6; border-bottom:1px solid #E6E6E6; padding:5px 0px; text-align:center;}
.orderlist th{ text-align:left; padding-left:5px;}
.orderlist th{ background-color:#F7F7F7;}
/* 2013 7 5 */
.orderlist .endbar{ display:inline-block; width:117px; background-color:#E6E6E6; height:16px; line-height:16px; color:#FFF; text-align:left;}
.orderlist .endbar em{ display:inline-block; width:67%; background-color:#E0230F; padding-left:3px;}
.orderlist a{ color:#F72811; text-decoration:underline;}
.orderlist a:hover{ color:#000;}
.mtop20{ margin-top:20px;}
.searchorder{ vertical-align:top; margin-top:20px;}
.searchorder input{ vertical-align:middle;}
.searchorder .txtorder{ width:397px; height:28px; line-height:28px; border:1px solid #ccc; padding:0px 4px; color:#666; font-size:14px;}
.searchorder .btnorder{ width:80px; height:30px; color:#FFF; text-align:center; font-weight:bold; border:0px; background-color:#E72410; margin-left:5px; font-size:14px; cursor:pointer;}

/* 当前位置 */
.currentPosition{ padding-bottom:8px;}

/* 晒单详细页 */
.orderinfoLeft{ float:left;}
.orderinfoRight{ float:right;}
/* 打样计价器 */
.fareMeterSmall{ border-top:2px solid #AAA;}
.fareMeterSmall h3{ font:20px/37px "微软雅黑"; height:37px;}
.fareMeterSmall .fareMeterForm{ background-color:#F7FAFF; padding:8px; overflow:hidden;}
.fareMeterSmall .fareMeterForm dl{ width:100%; overflow:hidden; margin-bottom:7px;}
.fareMeterSmall .fareMeterForm dl dt{ width:60px; float:left; color:#8B8B8B; line-height:28px;}
.fareMeterSmall .fareMeterForm dl dd{ width:139px; float:right; position:relative; line-height:28px;}
.fareMeterSmall .fareMeterForm dl dd input{ vertical-align:middle;}
.fareMeterSmall .fareMeterForm dl dd span input{ width:92px; height:26px; border:1px solid #CCC; line-height:26px; padding:0px 30px 0px 4px;}
.fareMeterSmall .fareMeterForm dl dd span em{ position:absolute; right:15px; color:#999;}
.fareMeterSmall .fareMeterForm p{ padding-top:5px;}

/*其它晒单话题*/
.otherTopic h3{ background-color:#F7F7F7;}
.otherTopic ul{ padding:8px;}
.otherTopic ul li{ border-bottom:1px dotted #CBCBCB; padding-bottom:5px; margin-bottom:5px; position:relative; padding-left:23px;}
.otherTopic ul li b{ left:0px; top:-2px; width:20px; right:inherit; height:17px; background-position:left -95px; _left:-21px;}

/* 晒单详细 */
.orderinfoCont{ padding-bottom:20px;}
.orderinfoCont h3.tit{ background-color:#F7F7F7;}
.orderinfoCont h3 em{ float:right; font-size:12px; font-weight:normal; width:230px; margin-top:5px;} 
.ordershow,.orderReply{ width:721px; padding:20px 8px; overflow:hidden; margin:0px 8px; border-bottom:1px dotted #E6E6E6;}
.ordershowUser{ width:90px; float:left; overflow:hidden; text-align:center;}
.ordershowUser dt{ width:68px; height:68px; background-position:left -183px; margin:0px auto; display:block;}
.ordershowUser dt img{ width:48px; height:48px; border:1px solid #CDCDCD; margin-top:9px;}
.ordershowUser dd span{ color:#005EA7;}
.ordershow .ordershowImg,.orderReplyCont{ width:594px; float:right; border:1px solid #FCE6D8; position:relative; padding:0px 10px;}
.ordershow .ordershowImg .jian,.orderReplyCont .jian{ position:absolute; width:13px; height:30px; background-position:left -126px; top:20px; left:-13px; background-color:#FFF;}
.ordershow .ordershowImg h4{ font-size:14px; font-weight:normal; padding:8px 0px;}
.ordershow .ordershowImg .bigImg{ width:592px; height:560px; overflow:hidden; text-align:center; border:1px solid #E6E6E6; vertical-align:middle; display:table-cell; *display:block; *font-size:560px;}
.ordershow .ordershowImg .bigImg img{ vertical-align:middle;}
.ordershow .ordershowImg .smallImg{ border-bottom:1px solid #E6E6E6; width:100%; overflow:hidden; padding:14px 0px;}
.ordershow .ordershowImg .smallImg span{ display:block; width:15px; height:80px; float:left; background-position:left 13px; cursor:pointer;}
.ordershow .ordershowImg .smallImg span.next{ background-position:right 13px;}
.ordershow .ordershowImg .smallImg ul{ width:563px; float:left; overflow:hidden; margin-left:1px; height:84px;}
.ordershow .ordershowImg .smallImg ul li{ width:102px; height:84px; float:left; text-align:center;margin-left:8px; cursor:pointer;}
.ordershow .ordershowImg .smallImg ul li a{ height:78px; display:block; border:1px solid #E8E8E8; padding:2px 0px;  }
.ordershow .ordershowImg .smallImg ul li a:hover{ border:2px solid #FF5500; padding:1px 0px;}
.ordershow .ordershowImg .smallImg ul li img{ width:96px; height:78px;}
.ordershow .orderTime{ padding:10px;}
.ordershow .orderTime em{ float:right; color:#999;}
.ordershow .orderTime a,.orderReplyBtn a{ width:53px; height:21px; display:inline-block; background-position:-106px -149px; text-align:center; line-height:21px;}
.ordershow .orderTime a:hover,.orderReplyBtn a:hover{ text-decoration:none;}
/* 回复晒单 */
.orderReply{ border-bottom:0px; padding-bottom:0px;}
.orderReplyCont{ padding:10px;}
.orderReplyCont .housenum{ position:absolute; top:10px; right:15px; color:#999;}
.orderReplyCont .orderReplyComment{ font-size:14px;}
.orderQuote{ width:514px; border:1px solid #FCE6D8; padding:8px; margin-bottom:10px;}
.orderQuote p{ color:#999; margin-bottom:3px;}
.orderReplyBtn{ padding:20px 0px 0px; color:#999;}
.orderReplyBtn a{ margin-right:8px;}
/* 回复表单 */
.orderForm h3{ background-color:#F7F7F7;}
.orderForm div dl{ width:100%; overflow:hidden; margin:20px 0px;}
.orderForm div dt{ width:100px; text-align:right; float:left;}
.orderForm div dd{ width:560px; float:left;}
.orderForm div dd .textareaborder{ border:1px solid #ABADB3; padding:8px;}
.orderForm div input{ width:53px; height:25px; line-height:25px; font-weight:bold; color:#FFF; background-position:-74px -183px; border:0px; cursor:pointer;}
.orderForm div textarea{ width:544px; height:125px; border:0px; overflow:hidden; font-size:14px; line-height:20px;}
.close{ display:block; width:7px; height:9px; background-image:url(../img/close.png); font-size:0px; line-height:0px; float:right; cursor:pointer;}


/* 底部样式 */
.salesfooter{ width:980px; margin:15px auto 0px; border-top:2px solid #AAA; text-align:center; padding:10px 0px; line-height:22px;}
.salesfooter a{ margin:0px 8px;}
.CCC{ color:#CCC;}

/* 在线客服 */
.float0831 { position: fixed; top: 180px; right: 1px; _position: absolute;}
.float0831 a {	color: #00a0e9}
.float0831 a:hover {	color: #ff8100; text-decoration:none;}
.float0831 .floatL {	position: relative; width: 28px; float: left}
.float0831 .floatL a {	text-indent: -9999px; display: block; font-size: 0px; }
.float0831 .floatR,.float0831 .tp,.float0831 .cn{	background: url(../img/float_bg.gif)}
.float0831 .floatR {	padding-bottom: 15px; width: 130px; background-repeat:no-repeat; background-position: -131px bottom; float: left; overflow:hidden;}
.float0831 .tp {	background-repeat: no-repeat; background-position: 0% 0%; height: 10px}
.float0831 .cn {	background-repeat: repeat-y; background-position: -262px 0px}
.float0831 .cn h3 {	text-indent: -9999px; height: 36px; font-size: 0px}
.float0831 .cn ul {	padding:0px 14px;}
.float0831 .cn ul li {	border-bottom: #e6e5e4 1px solid; line-height: 36px; word-wrap: break-word; height: 36px; overflow: hidden; word-break: normal}
.float0831 .titZx,.float0831 .titDh,.float0831 .titDc,.float0831 .icoZx,.float0831 .icoTc,.float0831 .icoFf,.float0831 .icoTl,.float0831 .btnOpen,.float0831 .btnOpen_n,.float0831 .btnCtn{ background: url(../img/float_s.gif) no-repeat}
.float0831 .titZx {	background-position: 5px -10px}
.float0831 .titDh {	background-position: 5px -66px}
.float0831 .titDc {	background-position: 5px -124px}
.float0831 .icoZx {	background-position: 2px -154px}
.float0831 .icoTc {	background-position: 0px -323px}
.float0831 .icoFf {	background-position: 2px -213px}
.float0831 .icoTl {	padding-left: 20px; display: block; font-family: "宋体"; background-position: 2px -266px; float: left}
.float0831 .btnOpen {	background-position: -30px -396px}
.float0831 .btnOpen_n {	background-position: 0px -530px}
.float0831 .btnCtn {	background-position: 0px -396px}
.float0831 .icoZx,.float0831 .icoTc,.float0831 .icoFf {	padding-left: 28px; display: block; float: left}
.float0831 .btnOpen,.float0831 .btnOpen_n,.float0831 .btnCtn {	position: relative; width: 28px; height: 118px; top: 118px; left: 2px}
.float0831 .btnOpen_n {	top: 118px; left: 1px}
.float0831 .btnCtn {	top: 118px; left: 2px}
.float0831 ul li h3.titDc a {	width: 80px; display: block; height: 36px}
.float0831 ul li.top {	border-bottom: #ace5f9 1px solid}
.float0831 ul li.bot {	border-bottom-STYLE: none}
.float0831 ul.webZx {	width: 164px; background: url(../img/webZx_bg.jpg) no-repeat; height: 65px; padding:0px;}
.float0831 ul li.webZx-in {	border-bottom-STYLE: none; padding-left: 5px; height: 50px; padding-top: 8px
}

/* 2013 6 18 */
.toporder{ width:290px;}
.toporder dt {  display: block; height: 198px; margin-bottom: 5px; width: 290px;}
.toporder dd { display: block; line-height: 16px; margin-bottom: 3px;}
.toporder dd span { color: #666666;}
.toporder dd em { float: right;}

.sumbitbox{ text-align:center; padding:20px 0px; width:100%; overflow:hidden;}
.sumbitbox input{ width:120px; height:36px; background-position:-164px -869px; line-height:36px; color:#FFF; font-family:"微软雅黑"; font-size:16px; margin-right:8px; border:0px; cursor:pointer; font-weight:bold; background-image:url(../img/basebg.png);}
.sumbitbox input.btnstyle3{ background-position:-164px -912px;}



/* 晒单列表 2013 8 5 */
.orderbox,.showorderlist{ width:100%; overflow:hidden;}
.orderbox .tit{ color: #333333; font-family: "微软雅黑";  height: 34px; line-height: 34px; overflow: hidden;}
.orderbox .tit em{ float: right;  font-size: 14px;}
.orderbox .tit em a{ background-image:url(../img/newindexicon.png); background-position: left -419px;  color: #3366CC;  padding-bottom: 5px;  padding-left: 40px; text-decoration: underline; background-repeat:no-repeat;}
.orderbox .tit em a:hover{ color: #FF5500;}
.orderbox .tit h3{ font-size: 18px;}
.orderbox .tit span{ color: #656565; font-size: 14px; font-weight: normal; margin-left: 8px;}

.showorderlist{ padding-top:10px; color:#666;}
.showorderlist dl{ width:217px; border:1px solid #e6e6e6; padding:8px; margin-bottom:10px;}
.showorderlist dl dt{ width: 217px;}
.showorderlist dl dd{ display:block; padding-top:5px; padding-bottom:3px; width:100%; overflow:hidden;}
.showorderlist dl dd strong{ width:63px; height:21px; text-align:center; display:inline-block; text-align:center; background-image:url(../img/btnbg2.png); line-height:21px;}
.showorderlist dl dd strong a{ color:#fff;}
.c3366cc a{ color:#3366cc;}
#bdshare{ padding-bottom:0px;}
.showorderlist dd.nptop{ padding:0px;}

.w235{ width:235px;}
.mright10{ margin-right:10px;}