@charset "UTF-8";
/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
.dropdown-backdrop {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute; }

.input-set02 .button img {
  position: relative; }

/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
.dropdown-backdrop {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute; }

.input-set02 .button img {
  position: relative; }

/* input-set03 start*/
.input-set03 {
  height: 40px;
  background: #fff;
  border: 1px solid #00732f;
  -webkit-border-radius: 20px;
  border-radius: 20px; }
  .input-set03 input {
    display: inline-block;
    float: left;
    height: 100%;
    font-weight: 500; }
  .input-set03 input.input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 250px;
    padding-left: 20px;
    -webkit-border-image: initial;
    -o-border-image: initial;
    border-image: initial;
    border-right: none;
    -webkit-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px; }
  .input-set03 input.button {
    -webkit-border-radius: 0 20px 20px 0;
    border-radius: 0 20px 20px 0;
    width: 45px;
    background: url(../img/iconSearch.png) no-repeat center center; }

/* input-set03 end*/
.igForm {
  display: inline-block;
  vertical-align: top; }

.input_group {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  cursor: pointer;
  border: 2px solid #00732f; }
  .input_group form {
    display: table; }
  .input_group .dropDownMenu {
    background-color: #fff;
    float: left;
    position: relative;
    width: 96px;
    height: 36px;
    /* border: 2px solid $mainColor; */
    border-right: 1px solid #ddd;
    text-align: left;
    display: table-cell; }
    .input_group .dropDownMenu .dropDownButton {
      padding-left: 10px;
      height: 36px;
      line-height: 36px;
      background: #f9f9f9; }
      .input_group .dropDownMenu .dropDownButton.on {
        background: inherit; }
        .input_group .dropDownMenu .dropDownButton.on .caret {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
      .input_group .dropDownMenu .dropDownButton .caret {
        border-top: 4px dashed #666;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        -webkit-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
        margin-left: 10px; }
    .input_group .dropDownMenu ul {
      float: left;
      display: block;
      position: absolute;
      top: 100%;
      width: 100%;
      list-style: none;
      z-index: 9999;
      background-color: #fff;
      border: 1px solid #ddd;
      margin-left: -1px;
      border-top: none;
      display: none;
      left: 0; }
      .input_group .dropDownMenu ul li {
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px; }
        .input_group .dropDownMenu ul li:hover {
          background: #f8f8f8; }
  .input_group .input-set02 {
    height: 36px;
    display: table-cell; }

.input-set02 .input, .input-set02 .button {
  display: inline-block;
  float: left;
  font-weight: 500;
  position: relative;
  border-left: none; }

.input-set02 .button {
  height: 36px;
  line-height: 36px;
  width: 100px;
  text-align: center;
  font-size: 15.6px; }
  .input-set02 .button img {
    margin-right: 5px;
    top: 2px; }

.input-set02 .input {
  padding: 0 20px;
  outline: none;
  border-right: 2px solid #00732f;
  height: 100%;
  line-height: 36px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.input-set02 .input1 {
  width: 235px; }

.input-set02 .input2 {
  width: 165px; }

/*# sourceMappingURL=maps/cInput.css.map */
