.abs{position: absolute;}
.absCenter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto
}
.font-s{font-size: .85rem;}
.absTopCenter{
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
}
.absBottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.abswidth{
    position: absolute;
    left: 0;right: 0;    
}
.full-wh{display: block;width: 100%;height: 100%;}
.absmiddle{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.middleTable{
    display: table;
}
.middleTable .middleRow {
    display: table-cell;
    vertical-align: middle;
    line-height: 30px;
    height: auto;
}

.ellipsis{
  display:inline-block;*display:inline;zoom:1;/*text-align:center;*/
  max-width:100%;line-height:100%;
  overflow: hidden;white-space: nowrap;
  text-overflow: ellipsis;
}
.img-center{position:absolute;top:0;bottom:0;right:0;left:0;max-height:100%;max-width:100%;*height:100%;*width:100%;margin:auto;}
.container-auto{
    padding-right: 15px;
    padding-left: 15px;
}

.info_fail{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.info_success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.info_box>div.info{
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.container-p-15{
    padding: 15px;
}
.container1000 {
    width: 1000px;
    margin: 0 auto;
}
.container1200{
    width:1200px;margin:0 auto;
    padding-right: 15px;
    padding-left: 15px;    
}
.line{
    margin:0 -15px;
}
.column{float:left;}

.width50{width: 50%;}
.width66{width:66%;}
.block{
    padding-left:15px;padding-right: 15px;float: left;position: relative;
    min-height: 1px;
}
.block-1{width:100%;}
.block-2{width:50%;}
.block-3{width:33.3333333333%;}
.block-4{width:25%;}
.box{padding:10px;/*text-align: center;*/position: relative;}

.container-auto:before,.container-auto:after,
.container1200:before,.container1200:after,
.column:before,.column:after,
.line:before,.line:after,
.block:before,.block:after{
    content:" ";display:table;  
}

.container-auto:after,
.column:after,
.line:after,
.block:after{
    clear:both;
}

.centerBg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/background.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    overflow: hidden;
}

.input-base{
    background-color: #FFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.full-width{width:100%;}
.extend-width{margin: 0 -9999px;padding: 0 9999px;}
.mar-center{margin:0 auto;}
.align-center{text-align: center;}

.hide{display: none;}
.view_hide{visibility: hidden;}

.view_show{visibility: visible;}

.over-flow {overflow: auto;zoom: 1;}
.clear:before,.clear:after{content:" ";display:table;}
.clear:after{clear:both;}

.inner_wrapper{width: 90%;height: 100%;}

img.full-img{display: block;width: 100%;}





