@charset "utf-8";
html,body{ font:12px/1.8 'Microsoft YaHei',Tahoma,Verdana,'Simsun'; color:#333; -webkit-text-size-adjust:none;margin:0; padding:0; min-width:1000px; overflow-x:hidden;}
body {font-family: "微软雅黑","宋体";}
a{ color:#333; text-decoration:none;}
a:hover{text-decoration:none;}
ul { margin:0; padding:0; list-style:none;}
.fl{ float:left;}
.fr{ float:right;}
.editor{word-wrap: break-word;font-family:"simsun"; font-size:14px;}
.editor p,.editor li,.editor div{ margin-bottom:10px; margin-top:10px;}
/*头部*/
.inner, .bound{ width:1000px; margin:0 auto; position:relative;}
header{ background:url(../img/top_bg.gif) repeat-x; width:100%; height:99px;zoom:1}
#web_logo{ margin-left:10px; font-size:0px; position:relative; z-index:999;}
.top-nav{  position:absolute; right:5px; top:8px; height:77px; z-index:1; text-align:right; width:100%;}
.top-nav li.b{ position:absolute;bottom:-8px; right:10px;}
.top-nav li.t span{ padding:0px 5px; font-size:10px;color: #999;}
#productsearch{ float:right; margin-top:10px;position: relative;right: -13px;}
*html #productsearch{ top:-22px; position:relative; left:-8px;}
*+html #productsearch{ top:-22px;position:relative;  left:-8px;}
#productsearch span.navsearch_input input{float:left;border: #e4e4e4 solid 1px;height:20px; line-height:20px;width:195px;margin-top:2px; outline:none;text-indent: 10px;overflow:hidden;}
#productsearch .searchimage{ float:left; background:none; border:none; width:21px; height:22px;margin-top:2px;}
.top-logo{ min-height:90px; _height:90px;}
/*flash*/
.bannner{width:100%; position:relative;overflow:hidden; z-index:5; top:-3px;}		
.bannner .indimg{position: absolute; left:50%; z-index: 1; margin-left:-720px; width:1440px; text-align:center;}	
.bannner.indimg img{}
#banner #ifocus{position: relative; width: 1440px;}
#banner #ifocus_pic{position: relative; width: 1440px; display: inline; float: left; overflow: hidden}
#banner #ifocus_piclist {z-index: 1;width: 1440px; position:relative;}
#banner #ifocus_piclist ul {width: 1440px;  overflow: hidden; position:absolute;}
#banner #ifocus_piclist ul li {width: 1440px;   float:left; position:relative;}
#banner #ifocus_piclist img{width: 1440px; }
#banner #ifocus_btn {z-index:1;position: absolute;padding-left: 3px;width: 1440px;bottom: 5px;height:14px;left: 665px; zoom:1;}
#banner #ifocus_btn li {width: auto;display: block;float: left;height:14px;margin-right: 5px;cursor: pointer;
padding: 0px 7px 0px 10px;background:url(../img/2.gif) no-repeat; zoom:1;filter: alpha(opacity=50);}
*html #banner #ifocus_btn { bottom:-4px;}
#banner #ifocus_btn .current {text-align: left;margin-top: 0px;display: block;float: left;background:url(../img/bg.png) -12px -14px;filter: alpha(opacity=100);}
.tpri{width:100%;height: 30px;}
nav{ background:url(../img/nav_bg.gif) repeat-x;position:relative;z-index: 99; right:0px;zoom:1; height:37px;top: -2px;}
nav li{ float:left; display:inline; white-space:nowrap; height:37px; line-height:37px; text-align:center; position:relative;}
nav li a.nav{font-weight:bold;font-size:14px;display:block;overflow: hidden;}
nav li a.nav span{ display:block;}
nav li.line{ background:url(../img/bg.png) -367px -5px; height:31px; width:3px; overflow:hidden;}
nav li.menu01 dl{ position:absolute;background: #E2E4E4;z-index: 9999999; }
*html nav li.menu01 dl{ left:0px;position:absolute;background: #EEEFEF;}
*+html nav li.menu01 dl{ left:0px;}

nav li.menu01 dl dd a{ height:26px; line-height:26px; padding:10px; zoom:1;}
*html nav li.menu01 dl dd a{padding:5px 8px 5px 8px;}
*+html nav li.menu01 dl dd a{padding:5px 8px 5px 8px;}
nav li dl dd a:hover{background:#A0A1A1;}
.met_flash{ font-size:0px; overflow:hidden;} 
*+html .met_flash{margin-top:8px;}
.met_flash ul{ margin:0px; padding:0px;}

/*首页*/
#myTab0 li{float:left;}
.nTab{float:left;margin-bottom:35px;width:310px;padding:0px 10px 0 15px; margin-top:35px;}
.nTab0{float: left;margin-bottom:35px;padding:0px 10px 0 15px;margin-top:35px; width:310px;border-right: #c5c5c5 dashed 1px; border-left: #c5c5c5 dashed 1px;}
.nTab0 .editor{ font-size:12px; font-family:'Simsun';color:#4E4D4D;padding:7px;}
.nTab0 .editor div{ margin-bottom:2px; margin-top:2px;line-height: 22px;}
.nTab1{float: left;margin-bottom:35px;padding:0px 0 0 15px; width:310px;margin-top:35px;}
.nTab .TabTitle{ background:url(../img/bg.png) -48px -72px;height: 61px;overflow: hidden;}       
.nTab .TabTitle .active a{width: 100px; cursor:pointer; overflow:hidden;height:60px;color:#04469d;font-weight: bold;font-size: 15px;line-height:60px;text-align: center;float: left;}   
.nTab .TabTitle .normal a{width:100px;cursor:pointer; overflow:hidden;height:60px;color: #5c9ef3;font-weight: bold;font-size:15px;line-height:60px;text-align: center;float: left;}   
.nTab .TabContent{font-family: "simsun";width:auto;  margin: 0px auto;padding:10px 0 0 0;}   
.none {display:none;}
.TabContent{font-family:"simsun";}
.nTab .TabContent .img, .nTab1 .TabContent  .img{ float:left; background:url(../img/bg.png) -48px -146px; width:98px; height:79px; display:block; text-align:center; padding-top:5px;margin-bottom:8px;margin-left: 6px; }
 .nTab .TabContent  img, .nTab1 .TabContent  img { width:90px; height:73px;}
.img_right{ float:left; height:80px;overflow:hidden; margin-left:10px; margin-top:3px;}
.TabContent .metlist li img{ width:26px; height:10px;}
#rn_tx{ overflow:hidden; line-height:20px; color:#9E9C9C; width:190px; }
.nTab1  #rn_tx{ width:190px;}
#rn_tx  p.title{ height:70px;}
.TabContent .metlist li{ height:25px; line-height:25px; overflow:hidden; border-bottom:#cfcfcf dashed 1px; float:left; width:280px;margin-left: 9px;}
.TabContent .metlist li a{ background:url(../img/jiantou.gif) center left no-repeat; padding-left:10px;color:#4c4c4c;}
.TabContent .metlist li a:hover{color:#000;}
.right2{ color: #4784d4;font-size: 16px;font-weight: bold;background: url(../img/bg.png) -47px -5px;height:60px; overflow:hidden;padding:0px 0 0 15px; line-height:60px;margin-bottom: 10px;}
.right2 p{ padding-left:5px;font-family: Arial, Helvetica, sans-serif;font-size:12px;color: #a1a1a1;}
a.more{padding: 0px 7px;background:url(../img/bg.png) -364px -51px; width:35px; height:13px; display:block;margin-top: 20px; overflow:hidden;cursor:pointer;}
*html a.more{background:url(../img/bg.png) -364px -50px;}

/*底部*/
footer{text-align: center;color:#726D6D;line-height: 23px; position:relative;}
.renzheng{width: 100%; padding-bottom:20px; }
.xiabottom{background:url(../img/xiabottom.gif) repeat-x; height:30px; width:100%;}
.foot-nav{ top: -26px;height: 5px;text-align:center; position: relative;line-height:25px; zoom:1;}
*html .foot-nav{margin-bottom:-20px;}
.foot-nav span{ font-size:10px; margin:0px 8px; color:#888;}
.foot-text{  position: relative;text-align:center; }
.index-link{word-wrap: break-word;padding: 0px 20px 0px;overflow: hidden;}
.linkx h3.title{font-weight: normal;float: left;min-width: 57px;_width: 57px;display: inline;white-space: nowrap;}
.linkx li{float: left;display: inline;margin-right: 10px;}
.linkx .txt, .linkx  .img{float: left;margin-left: 10px;}
.linkx  .img img{width:100px; height:35px;overflow:hidden;}
.linkx  .txt a, .foot-text a{white-space:nowrap;color:#776E6E;}
/*友情链接*/
.links {text-align: left; font-size: 13px;margin: 15px auto;overflow: hidden;width: 1170px;}
.links span {float: left;font-weight: 700;color:#000;}
.links nobr{margin-left: 16px;}
/*底部滚动*/
.index-product{padding-left:25px;}

.index-product .profld{ position:relative; overflow:hidden; width:946px;right: 4px;zoom:1}
*html .index-product .profld{ margin-right:40px;}
*+html .index-product .profld{ margin-right:40px;}
#trigger{float:left;height:10px; line-height:3px;}

#trigger a{ color:#F5F5F5;cursor:default; }

#trigger a:hover{ color:#F5F5F5;}

.index-product ol{ position: absolute; width: 2012em; }

.index-product ol li{ float:left; text-align:center;}

.index-product ol li a{color:#000;overflow:hidden; }

.index-product ol li a.img{ display:block; text-align:center;position:relative;}

.index-product ol li h3{overflow:hidden; position:absolute;z-index:9999999; color:#fff;}

.index-product .next,.index-product .prev{ width:14px; height:26px; left:6px;display:block; position:absolute;z-index:9999999;cursor:pointer; }

.index-product .next{background:url(../img/bg.png) -376px -78px;left:969px;}

.index-product .prev{background:url(../img/bg.png) -376px -116px;}

*html .index-product .prev{*margin-left:0px;}
.bgltx{filter: Alpha(opacity=40);  -moz-opacity:.4;opacity:0.4; background:#000066; z-index:999999; zoom:1}


/*内页侧栏*/
.sidebar{ padding-top:35px;}
.sidebar .sb_nav{ float:left; width:193px;padding-bottom: 50px;}
.sidebar .sb_nav h3.title{text-align:left; background:url(../img/bg.png) -157px -192px; padding:0px 15px; height:43px; line-height:38px;font-size:14px; color:#fff;}
*html .sidebar .sb_nav h3.title{  width:196px;background:url(../img/bg.png) -156px -192px; position:relative; left:-1px;}
.sidebar .sb_nav h3.line{ margin-top:15px; }
.sidebar .sb_nav .active{border: 1px solid #dddddd;border-top: none;background: #f8f9fa;padding-bottom: 15px; width:191px; margin-bottom:10px;}
.sidebar .editor img{ width:193px; overflow:hidden;}
#sidebar dl, #sidebar li,.editor dl dt,.editor li{width: 164px;margin: 0px auto;border-bottom: 1px dotted #cecece;}
#sidebar dl dt, #sidebar li,.editor dl dt,.editor li{padding: 4px 0px 5px 1px;}

.ddl{ background: url(../img/dt.gif) no-repeat 140px 8px; display:block;}
.zm{ background:none;}
#sidebar dl dt.on {padding:4px 0px 5px 9px;background:url(../img/le_dot.gif) no-repeat 1px 12px;}
#sidebar dl dt.on a:hover{padding-left:0px;}
#sidebar dl dt a:hover{color: #0344a0;}
#sidebar li a:hover{color: #0344a0;}
#sidebar dl dd{ padding:0px 0px 10px 15px;}
#sidebar dl dd h4{ font-weight:normal; padding:5px 0px 0px 10px;}
#sidebar dl dt.on a, #sidebar dl h4.on a,#sidebar dl dd h4 a:hover{color:#1C57C4; }
.sidebar .sb_box{ float:right;overflow:hidden; }
.sidebar .sb_box h3.title{height:35px; line-height:35px; position:relative; border-bottom: 2px solid #3AAFD5;}
.sidebar .sb_box h3.title span{ background: url(../img/ri_dot.jpg) no-repeat 0px 10px;position:absolute;color: #0344a0;font-size:15px;padding:0px 17px;}
.sidebar .sb_box h3.title div.position{ float:right; font-weight:normal; position:relative; top:3px; right:15px;}
.position{border-bottom: 1px dotted #d9d9d9;height: 28px;line-height: 25px;}
.sidebar .sb_box h3.title div.position a{ color:#1C57C4;}
.cu{border: 1px solid #dddddd;border-top: none;padding: 5px 8px;background: #f8f9fa;}
/*文章*/
#newslist li a:hover{ text-decoration:underline;}
#showtext,#shownews .editor, #joblist .editor, #newslist a{ color:#353535;}
#showtext {padding-bottom:40px;}
#newslist li {background: url(../img/dt-0.gif) no-repeat left 16px;}
#newslist li a, #newslist li p{ font-family:"simsun";}
#newslist li p{ color:#777;}
/*搜索*/
.advsearch_class1,.advsearch_class2,.advsearch_class3, select{ width:148px;}
ul.searchnavlist {padding: 0px 10px;}
input.input-text, input.input-file, input.code{width:148px;}
/*产品*/
#productlist li a.img img {border:none;}
#productlist li h3 {padding: 8px 0px 10px;}
#productlist li h3 a:hover{ font-weight:bold;}
#productlist li {margin-bottom: 10px;}
/*top,news小图片*/
*html #newslist .listtop{margin-top:10px;}
*html #newslist  .listnews{ margin-top:10px;}
#showproduct h3.sl-ti{ height:30px; border-bottom:1px solid #ccc; margin-top:13px;zoom:1;}
#showproduct h3.sl-ti a{ float:left; display:inline; cursor:pointer; min-width:70px;_width:70px; white-space:nowrap; text-align:center; height:30px; line-height:30px; background:url(../img/choosehover.gif) repeat-x; margin-right:4px; border-bottom:1px solid #ccc; padding:0px 10px;} 
#showproduct h3.sl-ti a.hover{ background:url(../img/ab_ti.gif) repeat-x; color:#fff;  border-bottom:1px solid #66B6E7;height: 30px;}
/*开启关闭*/
.c1,.c2, .c3, .c4, .c5, .c6{ width:470px; border:0;padding:0px 0px 0 0px;}
.c1 .right2, .c2 .right2, .c4 .right2, .c6 .right2{background: url(../img/bg.png) -441px -16px;margin-top: 4px;}
.c3 .TabTitle, .c5 .TabTitle{background: url(../img/bg.png) -441px -107px;}
.c3 .TabTitle .normal{ width:153px;}
.c3 .TabTitle .active{ width:153px;}
.c5 .TabTitle .normal{ width:153px;}
.c5 .TabTitle .active{ width:153px;}
.c2, .c4, .c6{ margin-left:60px;}
.c2 #rn_tx, .c3 #rn_tx, .c5 #rn_tx, .c4 #rn_tx{ width:345px;}
.c2 .metlist li, .c3 .metlist li, .c4 .metlist li, .c5 .metlist li{width:440px;}
.c7, .c9, .c8{width:1000px;}
.c7 .TabTitle{background: url(../img/bg.png) -6px -340px;}
.c7 .TabTitle .normal{ width:330px;}
.c7 .TabTitle .active{ width:330px;}
.c7 #rn_tx, .c9 #rn_tx{ width:98%;}
.c9 .img_right{ width:880px;}
.c7 .metlist li, .c9 .metlist li{ width:950px;}
.c9 .right2, .c8 .right2{ background:url(../img/bg.png) -8px  -263px;}
.c9 a.more, .c8 a.more{ padding:0px 13px;}
.c8{ border:none;}
.sbbox{ width:100%;}
 .sbbo{ width:755px;}
 .sbbox #imglist{ padding:25px 10px;}
/*页脚*/
.metpager_8 span.current{ background:#3AAFD5; color:#fff;}
.metpager_8 a:hover { border:1px solid #3AAFD5; }