@charset "utf-8";

@import "../mySassWare/_variable";
@import "../mySassWare/_mixin";
@import "../mySassWare/_function";

.cubeNavigationArea .icon-cube {
  font-size: 2rem;
  color: #fff
}

.cubeNavigationArea .cubeLink_text_p {
  font-size: .7rem
}

.form.formStyle31 {
  padding: 0;
  background: transparent;
  border: 0
}

.cubeNavigationArea {
  overflow: hidden;
  min-height: .5rem;
  padding-top: 1.5%
}

.cubeNavigationArea .cubeLink {
  float: left;
  width: 100%;
  height: 4.7rem;
  padding-bottom: 1.5%;
  padding-left: 1.5%
}

.cubeNavigationArea .cubeLink .cubeLink_a {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative
}

.cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_bg {
  width: 100%;
  height: 100%;
  position: absolute
}

.cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_curtain {
  width: 100%;
  height: 100%;
  position: absolute
}

.cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_ico {
  width: 2rem;
  height: 2.1rem;
  margin: auto;
  position: absolute;
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px
}

.cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_text {
  width: 100%;
  position: absolute;
  table-layout: fixed
}

.cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_text .cubeLink_text_p {
  white-space: nowrap;
  overflow: hidden
}

.cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_text .cubeLink_text_p .cubeLink_subText_p {
  display: none
}

.cubeNavigationArea .cubeLink_fixWidth_1 {
  width: 97%!important
}

.cubeNavigationArea .cubeLink_fixWidth_2 {
  width: 47.75%!important
}



.cubeNavigationArea2 .cubeLink {
  width: 31.33%
}

.cubeNavigationArea2 .cubeLink .cubeLink_a .cubeLink_ico {
  left: 0;
  right: 0;
  top: 15%
}

.cubeNavigationArea2 .cubeLink .cubeLink_a .cubeLink_text {
  bottom: 20%;
  text-align: center;
  color: #fff;
  font-size: 16px
}

.cubeNavigationArea2 .cubeLink:nth-child(1) {
  padding-top: 1%
}

.cubeNavigationArea2 .cubeLink:nth-child(2) {
  padding-top: 1%
}

.cubeNavigationArea2 .cubeLink:nth-child(3) {
  padding-top: 1%
}

.cubeNavigationArea2 .cubeLink:nth-child(3n+3) {
  width: 31.34%
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+1) .cubeLink_a .cubeLink_bg {
  background-color: $mainColor;
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+2) .cubeLink_a .cubeLink_bg {
  background-color: #f4b21c;
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+3) .cubeLink_a .cubeLink_bg {
  background-color: #6caede;
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+4) .cubeLink_a .cubeLink_bg {
  background-color: #80b660;
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+5) .cubeLink_a .cubeLink_bg {
  background-color: #e8457f;
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+6) .cubeLink_a .cubeLink_bg {
  background-color: #bc4040;
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+7) .cubeLink_a .cubeLink_bg {
  background-color: #d87570
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+8) .cubeLink_a .cubeLink_bg {
  background-color: #bbd1c4
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+9) .cubeLink_a .cubeLink_bg {
  background-color: #febf02
}

/* .cubeNavigationArea2 .cubeLink:nth-child(9n+1) .icon-cube:before {
  content: "\e641"
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+2) .icon-cube:before {
  content: "\e6a1"
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+3) .icon-cube:before {
  content: "\e66a"
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+4) .icon-cube:before {
  content: "\e637"
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+5) .icon-cube:before {
  content: "\e687"
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+6) .icon-cube:before {
  content: "\e6c1"
} */

.cubeNavigationArea2 .cubeLink:nth-child(9n+7) .icon-cube:before {
  content: "\e6de"
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+8) .icon-cube:before {
  content: "\e682"
}

.cubeNavigationArea2 .cubeLink:nth-child(9n+9) .icon-cube:before {
  content: "\e6e0"
}


