@charset "utf-8";
@import "../mySassWare/_variable";
@import "../mySassWare/_mixin";
@import "../mySassWare/_function";
/*picText3 start*/
.picText3{
  @include rowBeta($num:2,$outer_gutter:5px,$plusM:true,$height:false){
    padding-top:10px;
    padding-bottom:10px;
  };
  .wrap{
    
  }
  .p{
    height:150px;
    position:relative;
    img{@extend %full;}
  }
  .t{
    @include lheightM($height:30px);
    
    @extend %ellipsis;
    font-size: $mediumSize;
    color:$black;
  }
}
/*picText3 end*/

.enRow{
    text-align: center;
    padding:$mainPadding 0 $mainPadding/2;
    li{
        display:inline-block;
        img{display:block;}
        &+li{
            margin-left: $mainPadding/3;
        }
    }
}

/* news-ul01 start */
    $nuheight:100px;
    .news-ul01 .newsRow {
        $padding:15px;
        padding: $padding $padding;
        @include border($position:bottom,$type:dotted);
        .cl-pic{
            width: $nuheight/3*4;
            height: $nuheight;
            img{@extend %full;}
        }
        .text{
            color:$gray;
            font-size: $smallSize;
            padding-top:$padding;
            height: 60%;
            overflow: hidden;
        }
        .cl-newsBox {
            text-align: left;
            height: $nuheight;
            margin-left: $nuheight/3*4 + 10px;
            .cl-title .cl-p01 {
                font-weight: 700;
                font-size: $mediumSize;
                color:#000;
                &:hover{
                    color:$blue;
                }
            }
            
        }
    }  
   
    .news-ul01 .newsRow .cl-pic img{
        width: 100%;
        display: block;
    }

/* news-ul01 end */