@charset "utf-8";

@import "_variable";
@import "_mixin";
@import "_function";
@import "_animate";

.home {
    width: 100%;
    height: 100%;
    text-align: center;
}
#homeBgBox{
    width: 100%;
    height: 504px;
    overflow: hidden;
}   