@charset "utf-8";
@import "../mySassWare/_variable";
@import "../mySassWare/_mixin";
@import "../mySassWare/_function";
 
/* navbar start09 */
.navBar_wrapper09 {
  $navPt:3px;
  $num:6;
  background:$mainColor;


  $navbar_to:#018336;
  $navbar_bg:#015d27;
  background: -webkit-gradient(linear,left top, left bottom,from($navbar_to),to($navbar_bg));
  background: -webkit-linear-gradient($navbar_to,$navbar_bg);
  background: -o-linear-gradient($navbar_to,$navbar_bg);
  background: linear-gradient($navbar_to,$navbar_bg);
  background:#{$navbar_bg}\0;


  padding-top: $navPt;

  .navbar-line09 .navbar-block{
    float: left;
    position: relative;
    min-height: 1px;
    cursor: pointer;
    position: relative;
    display: block;
    width:percentage(1/$num);
    $n09innerp:15px;
    .nbi{
      padding:0px $n09innerp;
      position:relative;

    }
    .navLink{
      display: block;
      text-align: center;
      padding:13px 0px;
      color:#fff;
    }
    &.on,&:hover{
      .navLink{
        background: #fff;color:$mainColor;font-weight: 700;
        $radius09:10px;
        -webkit-border-radius:$radius09 $radius09 0 0;
        border-radius:$radius09 $radius09 0 0;
      }

    }
    .naver-wrapper.position_left{left: $n09innerp;}
    .naver-wrapper.position_right{right: $n09innerp;}
  }


  .navbar-line09 .naver-wrapper{
    $n09width:525px;
    background-color: #fff;
    display: none;
    position: absolute;
    z-index: 9999;
    padding: 20px 0;
    top: 100%;
    width:$n09width;
    @include f_pictext_rowNew($width:280px,$height:130px,$fpos:"left",$mar-gutter:0px);
    .naver-wrapper-left{
      .imgBox{
        height:100%;
        padding:0 30px;
        img{
          display: block;
          height:100%;
          width:100%;
        }
      }
    }
    .naver-wrapper-right{
      overflow: hidden;
      .nwr-ul{

      }
      li{
        float:left;
        width:50%;
        margin-bottom: 15px;
        .liInner{
          $pl:15px;
          padding-left:$pl;
          @include persudo($color:inherit,$content:">",$position:before,$bg:none){
            left:0;
          };
          &:hover{
            color:$mainColor;
          }
        }


      }

    }
  }
}
/* navbar09 end */


