@charset "utf-8";
@import "../mySassWare/_variable";
@import "../mySassWare/_mixin";
@import "../mySassWare/_function";

$size:20px;
$pbg:$blue;
$p03plr:8px;



.pagination03 { 
    
    line-height: 1;
    zoom: 1; 
    background:#e1ebf6;
    padding:15px $content_main_p/2;
    .numWrapper,ul {
        display: inline-block; 
        @include lheightM($size);
        font-size: $smallSize;
    } 
    .numWrapper {.num,.text,.go{float:left}}
    .num{
        width:30px;padding:0 $p03plr;
        text-align:center;@include lheightM($size);
        margin:0 3px;
      }
    .go{
        
        display: inline-block;
        margin-left: 15px;
        background:$pbg;

        color:#fff;
        /* padding: 0px $p03plr; */
        width:45px;
        @include lheightM($size);
        font-size: $smallSize;
      
    }
    .pinfo{
      float:left;
      span{padding:0 8px;}
      .r{color:$red;}
      .b{color:$blue;}
      @include lheightM($size);
    }
    ul li {
        cursor: pointer;
        display: block;
        float: left;
        margin: 0px 3px;
        @extend %align-center;
        &.pgray{
          a{background:#96aac1;}
        }
        a {
            display: block;
            padding: 0px $p03plr;
            @include lheightM($size);
            color:#fff;
            
            background:$pbg;
            
        }
        &.on a {
            color: white;
            background: $blue;
        }
    }
    
}

/* pagination02 start */
    .pagination02 {
        $pagi02Size:23px;    
        padding: 30px 0px 45px;
        overflow: hidden;
        display: inline-block;
        .info{
            @include lheightM($pagi02Size);
        }
         ul li {
            &.disabled{
                display:none;
            } 
            cursor: pointer;
            display: block;
            float: left;
            @extend %align-center;
        
            margin: 0px 5px;
        }

         ul li a {
            display: block;
            width: $pagi02Size;
            height: $pagi02Size;
            line-height: $pagi02Size;
            border: 1px solid rgb(221, 221, 221);
            @extend %bg-white;
            color:$gray;
        }

         ul li.left a,
         ul li.right a,
         ul li.last a {
            width: auto;
            padding: 0px 5px;
        }

         ul li.on a {
            color: white;
            background: $mainColor;
        }
    }
/* pagination02 end */