@charset "utf-8";

@import "../mySassWare/_variable";
@import "../mySassWare/_mixin";
@import "../mySassWare/_function";

$sideHeaderP:28px;
.header08{

    padding: 10px $sideHeaderP;
    display: block;
    height: 26px;
    line-height: 26px;
    background-color: #f6f6f6;

    .h-title01{font-size: $bigSize;color:$mainColor;font-weight:700;}
    .more{color:#333;padding-left: 20px;background:url(../img/iconHome.png) no-repeat 0 50%;}

} 
.leftSideBarWrapper{
    @include f_pictext_rowNew($width:230px,$height:auto,$fpos:"left",$mar-gutter:15px);
    .lsbw-bottom{
        background:#fff;
        padding:0 $sideHeaderP;
        padding-top: 10px;
        @include border($color:#f0f0f0);
        border-top:none;
        min-height: 300px;  
    }
    .leftSideBarWrapper-right{
        padding-top:20px;
    }
}  

/*l-sider01 start*/
.l-sider01{
    margin-top: -80px;
    position: relative;
    z-index: 100;
    .brand{
        .title{
            font-size: $bigTitle;
        }
        .text{
            padding-top: 10px;
            display: inline-block;
            font-size: $smallSize;
            color:#b8cebe;
        }
        text-align: center;
        color:#fff;
        padding:25px 0 20px;
    } 
   
    .floor .link{text-align: center;display: block;}
    .floor .link .p-wrapper{display: inline-block;}
    
    .floor{
        text-align: center;
        display: block;
        background:$super-gray0;   
        .t01{font-size: 13px;height: 30px;line-height: 30px;}
        .t02{text-align: left;color:#b7d99f;}
    }

    .childList.sideBar_a.on{
        .t01{
            background:url(../img/rightA1.png) no-repeat 95% 50%;  
        }
    }
    
    .level1{
        color:#000; 
        &>.sideBar_a{
            $persuLeft:0.08;
            &.on,&.current{
                background-color: $green3;
                .t01{color:#fff;  }
                @include persudo($color:#dbdbdb,$content:"",$position:before,$bg:none){
                    top:0;
                    left:percentage($persuLeft);
                    width:percentage(1 - $persuLeft*2);
                    border-top: 1px solid transparent;    
                };
            }
            padding:15px 0;
            
            @include persudo($color:#dbdbdb,$content:"",$position:before,$bg:none){
                top:0;
                left:percentage($persuLeft);
                width:percentage(1 - $persuLeft*2);
                border-top: 1px solid #dcdcdc;    
            };
            
        }
        .t01{font-size:$mediumSize;}  
    }
    .level2{
        
        .t01{color:$gray}     
    }
    .sideBar_li{
        background:$super-gray0;
        
    }
   
    .border{height: 4px;width: 100%}
    img{
        width: 100%;
        display: block;
    }
} 
/*l-sider01 end*/