@charset "utf-8";

@import "../mySassWare/_variable";
@import "../mySassWare/_mixin";
@import "../mySassWare/_function";

$tth:34px;

.product_gallary{ 
    $product_slide_pl:0.03;
    $height:125px;
    $num:5;
    $gutter:15px;
    
    @extend %relative;
    .direction .directionBtn{
        line-height:$height;
        @extend %abs;
        width:25px;
        height:100%;
        top:0;bottom:0;
        cursor: pointer;
        background:#f4f4f4;
        text-align: center;
        &.sprev{left:0;};
        &.snext{right:0;}
       
    }
    
    i{ 
        color:gray;
        font-size: $bigSize*1.5;
        vertical-align: middle;
    } 
    
    .gallary{
        @extend %mar-center;
        @include rowBeta($num:$num,$outer_gutter:5px,$plusM:false,$height:false)
        width:percentage(1-$product_slide_pl*2)}
        .bd{overflow: hidden;}
        .inner{
            
            img{@extend %full;}
            .gInner{position:relative;height:$height;}
            .text{
                position:absolute;
                left:0;
                bottom:0;
                right:0;
                background:rgba(0,0,0,0.8);
                color:#fff;
                text-align: center;
                padding:2px 0;
                @extend %ellipsis;                
            }
            &:hover{
                opacity:1;
                img{
                    -webkit-transform: scale(1.01, 1.1);
                        -ms-transform: scale(1.01, 1.1);
                            transform: scale(1.01, 1.1);
                    -webkit-transition: .3s transform;
                    -o-transition: .3s transform;
                    transition: .3s transform;
                }
            }
        }
} 


/* activitiesWrapper start */
    .textTab01 {
        height: auto;
        border-bottom: none;
        text-align: left;
        &.marginBottom{
            .hd{margin-bottom:20px;}
        }
        .hd {
            @include border($position:bottom,$width:2px,$color:$mainColor);
            height: $tth;
            position: relative;
            @extend %clear;
            ul {
                float: left;
                li {
                    float: left;
                    height: $tth - 1px;
                    cursor: pointer;
                    font-size: $mediumSize;
                    -webkit-border-radius:$radius09 $radius09 0 0;
                            border-radius:$radius09 $radius09 0 0; 
                    background:#fafafa;
                    @include border();
                    border-bottom:none;
                    & + li{
                        margin-left: 3px;
                    }
                    .hdInner{
                        padding: 6px 20px;

                    }
                    &.on {
                        background:$mainColor;
                        color: #fff;
                        @include border($color:$mainColor);
                        border-bottom:none;
                    }
                }
            }
            .more{
                @include lheightM($tth);
            }
        }
    }
    
    .row3,.row4{
        .textTab01 .bd {
            height: 207px;
            @include border();
            border-top:none;
        
        }
    }
    .textTab01 .bd {
        
        .switch {
            $switchP:13px;
            padding:$switchP;
            .product_gallary{
                margin:0 -$switchP;
            }
        }
    }
    .textTab01 .bd ul.switch {
        padding: 15px 0px;
        zoom: 1;
    }
    
    .textTab01 .bd li .stb-text {
        height: 30px;
        line-height: 23px;
        font-size: 15px;
        font-weight: 600;
    }
    
    
/* activitiesWrapper end */


/* slideBox start  */
    $size:10px;
    $bgColor1:#fff;
    $bgColor2:rgba(0, 0, 0,0.4);
    $sb03height:245px;
    .slideBox03 {
       
        overflow: hidden;
        position: relative;
        text-align: right;
        
        .hd {
            text-align: right;
            right:0;
            overflow: hidden;
            position: absolute;
            bottom: 5px;
            z-index: 1;
        }
        .bd li a img {
            width: 100%;
            height: $sb03height;
            display: block;
        }
    }
    .slideBox03 .hd ul {
        overflow: hidden;
        zoom: 1;
        display: inline-block;
    }
    
    .slideBox03 .hd ul li {
        float: left;
        margin-right: 12px;
        width: $size;
        color:#fff;
        @include lheightM($size);
        -webkit-border-radius:50%;
                border-radius:50%;
        text-align: center;
        background: $bgColor1;
        cursor: pointer;
        font-size: $smallSize;
        position:relative;
        
        &.on {
            background: $mainColor;
            color: white;
        } 
    } 
    .slideBox03 .bd {
        position: relative;
        width: 100%;
        z-index: 0;
    
        li {
            width: 100%;
            display: block;
            vertical-align: middle;
            position:relative;
            .slideTitle{
                position:absolute;left:0;right:0;bottom:0;
                background:$bgColor2;
                color:#fff;
                text-align:left;
                padding:10px 20px;
                .link{width:70%;@extend %ellipsis;}
                
            }
        }
    }
    .slideBox03 .bd li a {
        width: 100%;
        display: block;
    }
   
 

/* slideBox end */
 
/*slideBox02 start*/
$color_a02:#fff,#0e9dae,rgb(255, 255, 255);
    @include slideBox(2,$color_a02,"center",760px){
      width: 10px;
      height: 10px;
      -webkit-border-radius: 10px;
              border-radius: 10px;
    };
    .slideBox02{
      ul{
         margin-left: -250px; 
         img{
            height:249px;
        }
      }  
    } 
    

/*slideBox02 end*/

/*h_slide start*/


    .picBtnTop{ position:relative;  overflow:hidden;  zoom:1;  }
    .picBtnTop02{ position:relative;  overflow:hidden;  zoom:1;  background-color: #fff;padding: 25px 15px 16px;}
    .picBtnTop02 .left_show{
        width: 100%;
        }
    .picBtnTop02 .left_show .pic{
        width: 100%;
        height: 520px;
        @extend %align-center;
    }
    .picBtnTop02 .left_show .pic img {
        height: 100%;
        width:780px;    
    }

    $plsw:40px;
    .picBtnTop02 .left_show .slide_wrapper{
        margin-top: $plsw;
        padding: 15px $plsw - 5px;
        position: relative;
        background:#f3f3f3;
    }
    .h_slide .prev{left: $plsw/2;background: url(../img/upArrow_gray.png)no-repeat 50% 50%;}
    .h_slide .prev:hover{background: url(../img/upArrow_red.png)no-repeat 50% 50%;}

    .h_slide .next{right: $plsw/2;background: url(../img/downArrow_gray.png)no-repeat 50% 50%;}
    .h_slide .next:hover{background: url(../img/downArrow_red.png)no-repeat 50% 50%;}
    .h_slide{
        width: 100%;
    }
    .h_slide .bd{
        height: 100%;
        overflow: hidden;
        margin-left: -3px;
        margin-right: -3px; 
        ul{white-space: nowrap;}
    }
    .h_slide .prev,.h_slide .next{
        top: 0;
        width: 10px;
        height: 100%;
        display: block;
        text-align: center;
        position: absolute;
    }

    .h_slide .bd ul li{
        text-align: center;
        display: block;
        width: percentage(1/7);
        float: left;
        div.inner{
            padding:0 3px;
            .border{
                
                height:78px;
                @include border($color:$baseBorderColor);
                img{@extend %full;display:block;}
                &:hover{
                     background:red; 
                     @include border($color:red);
                }
            }
        }
    }


/*h_slide end*/